Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Add color to log output
  test/helpers/runner.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Address PR review: a11y, safe links, and error/log handling in Kevin support
  app/components-react/agent/KevinSupport.tsx
  app/components-react/root/StudioFooter.m.less
  app/components-react/root/StudioFooter.tsx
  app/services/stream-avatar/kevin-support-service.ts
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Explicitly color logfile errors
  test/helpers/webdriver/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix coloring
  test/helpers/webdriver/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add check for game capture lib signature
  .github/workflows/tests.yml
  scripts/ci/verify_game_signatures.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add missing translation
  app/i18n/en-US/audio.json
Owners: @takuhiro-koyama

Attempt to fix recording tests
  test/performance/tests/performance-tests.ts
  test/regular/highlighter.ts
  test/regular/recording.ts
  test/regular/replay-buffer.ts
  test/regular/selective-recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix path
  test/performance/tests/performance-tests.ts
  test/regular/highlighter.ts
  test/regular/recording.ts
  test/regular/replay-buffer.ts
  test/regular/selective-recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Make test errors verbose
  test/helpers/runner.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add test to verify HEVC encoder is present
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

rename
  app/components-react/highlighter/ImportStream.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/constants.ts
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

account for highlighter migration
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/migration/ModalInstallationFlow.tsx
  app/components-react/highlighter/migration/PageInstallationFlow.tsx
  app/components-react/highlighter/migration/useInstallState.ts
  app/i18n/en-US/highlighter.json
  app/services/highlighter/constants.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/highlighter.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

small tweaks
  app/components-react/highlighter/SettingsView.tsx
  app/components-react/highlighter/migration/MigrationNotice.m.less
  app/components-react/highlighter/migration/PageInstallationFlow.tsx
  app/components-react/pages/Highlighter.tsx
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Update osn: Update obs-studio-node to v0.27.11
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix to use vertical custom destination with YouTube dual stream.
  app/services/restream.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add YouTube dual stream test.
  test/regular/streaming/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OSN 0.27.11
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixed saving non-common encoder settings
  app/services/settings/output/output-settings.ts
  app/services/streaming/enhanced-broadcasting-notifications.ts
  app/services/streaming/streaming.ts
  test/regular/encoder-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Improve Test Debugging (#6160)
  app/i18n/en-US/audio.json
  test/helpers/runner.js
  test/helpers/webdriver/index.ts
  test/performance/tests/performance-tests.ts
  test/regular/highlighter.ts
  test/regular/recording.ts
  test/regular/replay-buffer.ts
  test/regular/selective-recording.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix onboarding test (#6149)
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Standardize component subscriptions to hook. (#6145)
  app/components-react/modals.tsx
  app/components-react/modals/onboarding/Ultra.tsx
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/root/StudioEditor.tsx
  app/components-react/root/TestWidgets.tsx
  app/components-react/shared/PlatformAppPageView.tsx
  app/components-react/windows/AdvancedStatistics.tsx
  app/components-react/windows/EditTransform.tsx
  app/components-react/windows/PlatformAppPopOut.tsx
  app/components-react/windows/SourceFilters.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations audio.json (French)
  app/i18n/fr-FR/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Spanish)
  app/i18n/es-ES/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Arabic)
  app/i18n/ar-SA/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Czech)
  app/i18n/cs-CZ/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Danish)
  app/i18n/da-DK/audio.json
Owners: @takuhiro-koyama

New translations audio.json (German)
  app/i18n/de-DE/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Hungarian)
  app/i18n/hu-HU/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Italian)
  app/i18n/it-IT/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Japanese)
  app/i18n/ja-JP/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Korean)
  app/i18n/ko-KR/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Macedonian)
  app/i18n/mk-MK/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Dutch)
  app/i18n/nl-NL/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Polish)
  app/i18n/pl-PL/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Portuguese)
  app/i18n/pt-PT/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Russian)
  app/i18n/ru-RU/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Slovak)
  app/i18n/sk-SK/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Slovenian)
  app/i18n/sl-SI/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Swedish)
  app/i18n/sv-SE/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Turkish)
  app/i18n/tr-TR/audio.json
Owners: @takuhiro-koyama
