Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @kazuki-yoneda, @yusukess, @kechino

working dual output with 'Both' UI
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/i18n/en-US/streaming.json
  app/services/platforms/youtube.ts
  app/services/settings-v2/video.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani, @kazuki-yoneda

fix: remove forced YT checks that trigger in single output mode
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: move stream creation after platform updates
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore: remove debugger statement
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: youtube horizontal was hardcoded
  app/services/platforms/youtube.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: cleanup extraOutputs everywhere DO does
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: we might be double freeing
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: destroy the stream in addition to stopping
  app/components-react/shared/DisplaySelector.tsx
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: restore disabled multistream check
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

perf: move YT vert creation to check to non-block
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat: add validation for extra output toggle and creation
  app/components-react/shared/DisplaySelector.tsx
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: DO in fake single output mode
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor: remove commented, graceful error on YT creation, types
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat: use stream encoder for extra output
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: encoder name mismatch for x264
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: properly error as try/catch cannot be inside
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: use encoder mappings to fix some naming differences
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

perf: don't really need to fetch YT stream from API after creation
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add 'details' field to be read from latest.json
  updater/bootstrap.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.0-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore: remove logging statements
  app/services/platforms/youtube.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added ui
  app/components-react/highlighter/ExportModal.m.less
  app/components-react/highlighter/ExportModal.tsx
  app/services/highlighter/index.ts
  app/services/highlighter/models/rendering.models.ts
  app/services/highlighter/rendering/start-rendering.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix non subtile export
  app/services/highlighter/rendering/frame-writer.ts
  app/services/highlighter/rendering/start-rendering.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

lintin fix
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

type refactoring and pass style to svgCreator
  app/components-react/highlighter/ExportModal.tsx
  app/services/highlighter/index.ts
  app/services/highlighter/models/rendering.models.ts
  app/services/highlighter/rendering/frame-writer.ts
  app/services/highlighter/rendering/render-subtitle.ts
  app/services/highlighter/rendering/start-rendering.ts
  app/services/highlighter/subtitles/subtitle-styles.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor: strict null checks
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

YouTube dual streaming (#5352)
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/i18n/en-US/streaming.json
  app/services/platforms/youtube.ts
  app/services/settings-v2/video.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani, @kazuki-yoneda

updater tracking
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Removing streamlabs-highlighter folder
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dual yt typechecking
  app/services/dual-output/dual-output.ts
  app/services/settings-v2/video.ts
  app/services/settings/streaming/stream-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

valorant config added
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dual yt typechecking (#5356)
  app/services/dual-output/dual-output.ts
  app/services/settings-v2/video.ts
  app/services/settings/streaming/stream-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

osn udpated with a fix for audio
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

osn update with a fix for scene collection crash
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix subtitle preview and stroke
  app/components-react/highlighter/ExportModal.tsx
  app/services/highlighter/subtitles/svg-creator.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

subtitle styles adjusted
  app/components-react/highlighter/ExportModal.tsx
  app/services/highlighter/subtitles/subtitle-styles.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

isTranscribing loader
  app/components-react/highlighter/ExportModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

all detection flows through modal + tracking
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/StreamView.tsx
  app/components-react/pages/Highlighter.tsx
  app/components-react/pages/RecordingHistory.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/index.ts
  app/services/highlighter/models/game-config.models.ts
  app/services/navigation.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @kazuki-yoneda

lintin fix
  app/services/highlighter/ai-highlighter-utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Removing obs-studio-hook
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @yushinakatani @kazuki-yoneda
replace_rules.json @yushinakatani @kazuki-yoneda
/.github/CODEOWNERS @yushinakatani @kazuki-yoneda

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
