Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Fix chat notifs state sync
  app/components-react/editor/elements/RecentEvents.tsx
  app/services/recent-events.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix chat notifs state sync (#5555)
  app/components-react/editor/elements/RecentEvents.tsx
  app/services/recent-events.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add copy to mobile settings section (#5554)
  app/components-react/windows/settings/Mobile.tsx
  app/i18n/en-US/settings.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

New translations settings.json (French)
  app/i18n/fr-FR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Spanish)
  app/i18n/es-ES/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Czech)
  app/i18n/cs-CZ/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Danish)
  app/i18n/da-DK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (German)
  app/i18n/de-DE/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Italian)
  app/i18n/it-IT/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Japanese)
  app/i18n/ja-JP/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Korean)
  app/i18n/ko-KR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Dutch)
  app/i18n/nl-NL/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Polish)
  app/i18n/pl-PL/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Portuguese)
  app/i18n/pt-PT/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Russian)
  app/i18n/ru-RU/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Turkish)
  app/i18n/tr-TR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Simplified)
  app/i18n/zh-CN/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Traditional)
  app/i18n/zh-TW/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Portuguese, Brazilian)
  app/i18n/pt-BR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Indonesian)
  app/i18n/id-ID/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Arabic)
  app/i18n/ar-SA/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Hungarian)
  app/i18n/hu-HU/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Macedonian)
  app/i18n/mk-MK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Slovak)
  app/i18n/sk-SK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Slovenian)
  app/i18n/sl-SI/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Swedish)
  app/i18n/sv-SE/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Vietnamese)
  app/i18n/vi-VN/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Thai)
  app/i18n/th-TH/settings.json
Owners: @takuhiro-koyama

Release version 1.19.4-preview.2
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(assets): add getAssets method to retrieve asset files
  app/services/platform-apps/api/modules/native-components.ts
  app/services/stream-avatar/stream-avatar-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore(vision): remove logic from the avatar service
  app/services/app/app.ts
  app/services/platform-apps/api/modules/native-components.ts
  app/services/stream-avatar/stream-avatar-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix pkce code exchange for internal auth
  app/services/user/auth-module.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix pkce code exchange for internal auth (#5556)
  app/services/user/auth-module.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.4-preview.3
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

improve logging
  app/services/platform-apps/api/modules/vision.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

rm reactive source from source grid
  app/components-react/windows/source-showcase/SourceGrid.tsx
  app/services/sources/sources-data.ts
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.4
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

eslint and deps
  app/services/platform-apps/api/modules/vision.ts
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/vision/index.ts
  app/services/vision/vision-runner.ts
  app/services/vision/vision-updater.ts
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Vision service tomhancements (#5557)
  app/components-react/windows/settings/Vision.tsx
  app/services/app/app.ts
  app/services/platform-apps/api/modules/native-components.ts
  app/services/platform-apps/api/modules/vision.ts
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/stream-avatar/stream-avatar-service.ts
  app/services/vision/index.ts
  app/services/vision/vision-runner.ts
  app/services/vision/vision-updater.ts
  package.json
  scripts/postinstall.js
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

rm reactive source from source grid (#5558)
  app/components-react/windows/source-showcase/SourceGrid.tsx
  app/services/sources/sources-data.ts
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
