Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Revert "add new icon"
  app/components-react/editor/elements/SourceSelector.tsx
  app/components/windows/settings/Settings.vue.ts
  app/services/sources/sources.ts
  app/styles/custom-icons.less
  media/fonts/icomoon.woff
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

x
  app/services/sources/sources-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

x
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add missing translations
  app/i18n/en-US/sources.json
Owners: @takuhiro-koyama

Vision service (#5569)
  app/app-services.ts
  app/components-react/pages/BrowseOverlays.tsx
  app/components-react/sidebar/NavTools.m.less
  app/components-react/sidebar/NavTools.tsx
  app/components-react/windows/settings/AISettings.tsx
  app/components-react/windows/settings/pages.ts
  app/components/windows/settings/Settings.vue.ts
  app/i18n/en-US/common.json
  app/i18n/en-US/sources.json
  app/services/app/app.ts
  app/services/platform-apps/api/index.ts
  app/services/platform-apps/api/modules/module.ts
  app/services/platform-apps/api/modules/native-components.ts
  app/services/platform-apps/api/modules/vision.ts
  app/services/platform-apps/index.ts
  app/services/scene-collections/nodes/overlays/root.ts
  app/services/scene-collections/nodes/overlays/slots.ts
  app/services/scene-collections/nodes/overlays/smartBrowserSource.ts
  app/services/scene-collections/overlays.ts
  app/services/scene-collections/state.ts
  app/services/server-sent-events.ts
  app/services/settings/settings.ts
  app/services/side-nav/menu-data.ts
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/sources/sources-api.ts
  app/services/sources/sources-data.ts
  app/services/sources/sources.ts
  app/services/stream-avatar/avatar-updater.ts
  app/services/stream-avatar/stream-avatar-service.ts
  app/services/vision/index.ts
  app/services/vision/vision-runner.ts
  app/services/vision/vision-updater.ts
  app/services/websocket.ts
  app/services/widgets/widgets.ts
  app/util/dot-tree.ts
  media/source-demos/day/reactive-overlay-webm.webm
  media/source-demos/night/reactive-overlay-webm.webm
  package.json
  scripts/postinstall.js
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

New translations common.json (French)
  app/i18n/fr-FR/common.json
Owners: @takuhiro-koyama

New translations sources.json (French)
  app/i18n/fr-FR/sources.json
Owners: @takuhiro-koyama

New translations common.json (Spanish)
  app/i18n/es-ES/common.json
Owners: @takuhiro-koyama

New translations sources.json (Spanish)
  app/i18n/es-ES/sources.json
Owners: @takuhiro-koyama

New translations common.json (Arabic)
  app/i18n/ar-SA/common.json
Owners: @takuhiro-koyama

New translations sources.json (Arabic)
  app/i18n/ar-SA/sources.json
Owners: @takuhiro-koyama

New translations common.json (Czech)
  app/i18n/cs-CZ/common.json
Owners: @takuhiro-koyama

New translations sources.json (Czech)
  app/i18n/cs-CZ/sources.json
Owners: @takuhiro-koyama

New translations common.json (Danish)
  app/i18n/da-DK/common.json
Owners: @takuhiro-koyama

New translations sources.json (Danish)
  app/i18n/da-DK/sources.json
Owners: @takuhiro-koyama

New translations common.json (German)
  app/i18n/de-DE/common.json
Owners: @takuhiro-koyama

New translations sources.json (German)
  app/i18n/de-DE/sources.json
Owners: @takuhiro-koyama

New translations common.json (Hungarian)
  app/i18n/hu-HU/common.json
Owners: @takuhiro-koyama

New translations sources.json (Hungarian)
  app/i18n/hu-HU/sources.json
Owners: @takuhiro-koyama

New translations common.json (Italian)
  app/i18n/it-IT/common.json
Owners: @takuhiro-koyama

New translations sources.json (Italian)
  app/i18n/it-IT/sources.json
Owners: @takuhiro-koyama

New translations common.json (Japanese)
  app/i18n/ja-JP/common.json
Owners: @takuhiro-koyama

New translations sources.json (Japanese)
  app/i18n/ja-JP/sources.json
Owners: @takuhiro-koyama

New translations common.json (Korean)
  app/i18n/ko-KR/common.json
Owners: @takuhiro-koyama

New translations sources.json (Korean)
  app/i18n/ko-KR/sources.json
Owners: @takuhiro-koyama

New translations common.json (Macedonian)
  app/i18n/mk-MK/common.json
Owners: @takuhiro-koyama

New translations sources.json (Macedonian)
  app/i18n/mk-MK/sources.json
Owners: @takuhiro-koyama

New translations common.json (Dutch)
  app/i18n/nl-NL/common.json
Owners: @takuhiro-koyama

New translations sources.json (Dutch)
  app/i18n/nl-NL/sources.json
Owners: @takuhiro-koyama

New translations common.json (Polish)
  app/i18n/pl-PL/common.json
Owners: @takuhiro-koyama

New translations sources.json (Polish)
  app/i18n/pl-PL/sources.json
Owners: @takuhiro-koyama

New translations common.json (Portuguese)
  app/i18n/pt-PT/common.json
Owners: @takuhiro-koyama

New translations sources.json (Portuguese)
  app/i18n/pt-PT/sources.json
Owners: @takuhiro-koyama

New translations common.json (Russian)
  app/i18n/ru-RU/common.json
Owners: @takuhiro-koyama

New translations sources.json (Russian)
  app/i18n/ru-RU/sources.json
Owners: @takuhiro-koyama

New translations common.json (Slovak)
  app/i18n/sk-SK/common.json
Owners: @takuhiro-koyama

New translations sources.json (Slovak)
  app/i18n/sk-SK/sources.json
Owners: @takuhiro-koyama

New translations common.json (Slovenian)
  app/i18n/sl-SI/common.json
Owners: @takuhiro-koyama

New translations sources.json (Slovenian)
  app/i18n/sl-SI/sources.json
Owners: @takuhiro-koyama

New translations common.json (Swedish)
  app/i18n/sv-SE/common.json
Owners: @takuhiro-koyama
