Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Test fixes Twitch unprotected mode go live window UI.
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/settings/Stream.tsx
  app/services/streaming/streaming-view.ts
  test/regular/settings/streaming.ts
  test/regular/streaming/multistream.ts
  test/regular/streaming/twitch.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Code review feedback.
  app/services/platforms/base-platform.ts
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Code review.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  test/regular/streaming/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix YouTube error get type from url.
  app/services/platforms/youtube.ts
  app/services/platforms/youtube/errors.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Test fix.
  test/helpers/modules/dual-output.ts
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: update tests
  app/services/onboarding/onboarding-v2.ts
  app/services/utils.ts
  test/helpers/modules/onboarding.ts
  test/helpers/webdriver/index.ts
  test/regular/obs-importer.ts
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: prevent user from skipping login
  app/components-react/modals/onboarding/Splash.tsx
  app/i18n/en-US/onboarding.json
  app/services/onboarding/onboarding-v2.ts
  test/helpers/modules/onboarding.ts
  test/regular/obs-importer.ts
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

ai: update vision status when user logs in/out
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

ai: disable features when not logged in
  app/components-react/pages/AILanding.tsx
  app/components-react/windows/settings/AISettings.tsx
  app/i18n/en-US/ai.json
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

widgets: add X (Twitter) support to widget descriptions
  app/i18n/en-US/sources.json
  app/i18n/en-US/widget-alertbox.json
  app/services/widgets/widgets-data.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.16
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix TikTok game persistence.
  app/components-react/windows/go-live/GameSelector.tsx
  app/services/platforms/tiktok.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Enforce TikTok server url and stream key validation.
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/tiktok.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add handling for error 401
  app/services/platforms/youtube.ts
  app/services/platforms/youtube/errors.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix 401 error message.
  app/services/platforms/youtube/errors.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: prevent user from skipping login (#6181)
  app/components-react/modals/onboarding/Splash.tsx
  app/components-react/pages/AILanding.tsx
  app/components-react/windows/settings/AISettings.tsx
  app/i18n/en-US/ai.json
  app/i18n/en-US/onboarding.json
  app/services/onboarding/onboarding-v2.ts
  app/services/utils.ts
  app/services/vision/index.ts
  test/helpers/modules/onboarding.ts
  test/helpers/webdriver/index.ts
  test/regular/obs-importer.ts
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

YouTube Dual Stream Vertical RTMP, Tooltip, and Multichat Rename. (#6184)
  app/components-react/root/LiveDock.m.less
  app/components-react/root/LiveDock.tsx
  app/components-react/root/StudioEditor.tsx
  app/components-react/shared/DualOutputToggle.m.less
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/windows/settings/Stream.tsx
  app/i18n/en-US/common.json
  app/services/streaming/streaming.ts
  test/helpers/modules/dual-output.ts
  test/helpers/modules/streaming.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix YouTube scheduled stream title and description. (#6185)
  app/components-react/windows/go-live/useGoLiveSettings.ts
  test/regular/streaming/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Unify YouTube Error Handling (#6146)
  app/i18n/en-US/app.json
  app/i18n/en-US/youtube.json
  app/services/platforms/base-platform.ts
  app/services/platforms/index.ts
  app/services/platforms/patreon.ts
  app/services/platforms/youtube.ts
  app/services/platforms/youtube/api.ts
  app/services/platforms/youtube/errors.ts
  app/services/platforms/youtube/index.ts
  app/services/streaming/stream-error.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.16 (#6190)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations onboarding.json (French)
  app/i18n/fr-FR/onboarding.json
Owners: @takuhiro-koyama

New translations widgets.json (French)
  app/i18n/fr-FR/widgets.json
Owners: @takuhiro-koyama

New translations ai.json (French)
  app/i18n/fr-FR/ai.json
Owners: @takuhiro-koyama

New translations onboarding.json (Spanish)
  app/i18n/es-ES/onboarding.json
Owners: @takuhiro-koyama

New translations widgets.json (Spanish)
  app/i18n/es-ES/widgets.json
Owners: @takuhiro-koyama

New translations ai.json (Spanish)
  app/i18n/es-ES/ai.json
Owners: @takuhiro-koyama

New translations onboarding.json (Arabic)
  app/i18n/ar-SA/onboarding.json
Owners: @takuhiro-koyama

New translations widgets.json (Arabic)
  app/i18n/ar-SA/widgets.json
Owners: @takuhiro-koyama

New translations ai.json (Arabic)
  app/i18n/ar-SA/ai.json
Owners: @takuhiro-koyama

New translations onboarding.json (Czech)
  app/i18n/cs-CZ/onboarding.json
Owners: @takuhiro-koyama

New translations widgets.json (Czech)
  app/i18n/cs-CZ/widgets.json
Owners: @takuhiro-koyama

New translations ai.json (Czech)
  app/i18n/cs-CZ/ai.json
Owners: @takuhiro-koyama

New translations onboarding.json (Danish)
  app/i18n/da-DK/onboarding.json
Owners: @takuhiro-koyama

New translations widgets.json (Danish)
  app/i18n/da-DK/widgets.json
Owners: @takuhiro-koyama

New translations ai.json (Danish)
  app/i18n/da-DK/ai.json
Owners: @takuhiro-koyama

New translations onboarding.json (German)
  app/i18n/de-DE/onboarding.json
Owners: @takuhiro-koyama

New translations widgets.json (German)
  app/i18n/de-DE/widgets.json
Owners: @takuhiro-koyama

New translations ai.json (German)
  app/i18n/de-DE/ai.json
Owners: @takuhiro-koyama

New translations onboarding.json (Hungarian)
  app/i18n/hu-HU/onboarding.json
Owners: @takuhiro-koyama

New translations widgets.json (Hungarian)
  app/i18n/hu-HU/widgets.json
Owners: @takuhiro-koyama
