Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Update patreon audience type title.
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.m.less
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.tsx
  app/i18n/en-US/patreon.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add websocket disconnect to shutdown.
  app/services/app/app.ts
  app/services/recent-events.ts
  app/services/websocket.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Using API for obtaining encoder metadata from OSN
  app/services/settings/output/encoder-query.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/settings.ts
  app/services/video-encoding-optimizations/definitions.ts
  app/services/video-encoding-optimizations/video-encoding-optimizations.ts
  test/regular/api/output-encoder-metadata.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Migrated legacy QSV encoder ID before metadata lookup
  app/services/settings/output/encoder-compatibility.ts
  test/regular/api/output-encoder-metadata.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Normalize legacy encoder IDs before metadata lookup
  app/services/settings/output/encoder-compatibility.ts
  app/services/settings/output/encoder-query.ts
  app/services/settings/output/output-settings.ts
  test/regular/api/output-encoder-metadata.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Temporary OSN version: backend-owned-encoder-metadata-v1
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Preserve recording use-stream encoder setting
  app/services/settings/settings.ts
  test/regular/api/output-encoder-metadata.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Preserve legacy encoder selections on settings load
  app/services/settings/output/encoder-compatibility.ts
  app/services/settings/output/index.ts
  app/services/settings/settings.ts
  test/regular/api/output-encoder-metadata.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Added comments
  app/services/settings/output/encoder-compatibility.ts
  app/services/settings/output/encoder-query.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Linter fixes
  app/services/settings/output/encoder-query.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add realm shutdown.
  app/services/app/app.ts
  app/services/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.25
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move virtual camera shutdown to subscription in service.
  app/services/app/app.ts
  app/services/virtual-webcam.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add diagnostics service to shutdown and set flush interval for stats while live.
  app/services/app/app.ts
  app/services/diagnostics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore(ai): enable AI when adding reactive sources
  app/services/sources/sources.ts
  app/services/vision/index.ts
  app/services/widgets/widgets-config.ts
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore(ai): localize ai settings page
  app/components-react/windows/settings/AISettings.tsx
  app/i18n/en-US/ai.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

feat(ai): simplify enabled state
  app/components-react/windows/settings/AISettings.tsx
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

pr: fix lint
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.25 (#5935)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.2-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.26
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.26 (#5938)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.2-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update Patreon title.
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.tsx
  app/i18n/en-US/patreon.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Restore common fields controlled.
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Patreon title persists when updating access rules.
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.tsx
  test/regular/streaming/patreon.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix go live custom title. (#5939)
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.tsx
  app/i18n/en-US/patreon.json
  test/regular/streaming/multistream.ts
  test/regular/streaming/patreon.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

AI highlighter toggle fix and update games. (#5930)
  app/components-react/highlighter/supportedGames/SupportedGames.tsx
  app/components-react/windows/go-live/GameSelector.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  test/regular/performance-metrics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations patreon.json (French)
  app/i18n/fr-FR/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Spanish)
  app/i18n/es-ES/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Arabic)
  app/i18n/ar-SA/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Czech)
  app/i18n/cs-CZ/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Danish)
  app/i18n/da-DK/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (German)
  app/i18n/de-DE/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Hungarian)
  app/i18n/hu-HU/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Italian)
  app/i18n/it-IT/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Japanese)
  app/i18n/ja-JP/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Korean)
  app/i18n/ko-KR/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Macedonian)
  app/i18n/mk-MK/patreon.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
