Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @yushinakatani
replace_rules.json @yushinakatani
/.github/CODEOWNERS @yushinakatani

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

else if を if に分解
  app/services/nicolive-program/NdgrCommentReceiver.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added round metadata for realtime highlighter
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/realtime-highlighter-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

エラーメッセージを改善し、ストリームキーの設定を明確にしました
  app/i18n/en-US/settings.json
  app/i18n/ja-JP/settings.json
Owners: @yushinakatani

realtime indicator cmoponent
  app/components-react/highlighter/RealtimeIndicator.m.less
  app/components-react/highlighter/RealtimeIndicator.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

reworked instant replay widget to make it work with realtime highlighter. think how to support both versions
  app/services/highlighter/realtime-highlighter-service.ts
  app/services/sources/properties-managers/replay-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

comments added
  app/services/sources/properties-managers/replay-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update MixerItem to properly handle a removed device
  app/components-react/editor/elements/mixer/MixerItem.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix obs-importer: シーンアイテムのstretch/fitを反映する
  .vscode/settings.json
  app/services/obs-importer.ts
  app/services/scenes/scene.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

realtime highlights indicator
  app/components-react/highlighter/ClipPreviewInfo.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.m.less
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsIndicator.m.less
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsIndicator.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsItem.tsx
  app/components-react/root/StudioFooter.tsx
  app/services/highlighter/realtime-highlighter-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

strange linebreak linting issue
  app/services/highlighter/subtitles/transcription.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

sharp windows only
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

go live (#5454)
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add restream restrictions.
  app/services/platforms/youtube.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add restream restrictions. (#5465)
  app/services/platforms/youtube.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[Highlighter] remove feature flag + fix long paths (#5463)
  app/components-react/highlighter/ClipsView.tsx
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/SettingsView.tsx
  app/components-react/pages/Highlighter.tsx
  app/components-react/pages/RecordingHistory.tsx
  app/components-react/sidebar/FeaturesNav.tsx
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/services/highlighter/cut-highlight-clips.ts
  app/services/highlighter/index.ts
  app/services/incremental-rollout.ts
  app/services/utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Add restream restrictions. (#5465)"
  app/services/platforms/youtube.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Add restream restrictions. (#5465)" (#5466)
  app/services/platforms/youtube.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add noty.
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/streaming.json
  app/services/platforms/youtube.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

fix audio deduplication bug + added better error handling
  app/services/sources/properties-managers/replay-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

lower volume for obs source to transition between clips smoother without clicking sounds
  app/services/sources/properties-managers/replay-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

changed game order
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

created realtime indicator
  app/components-react/highlighter/RealtimeIndicator.tsx
  app/components-react/highlighter/StreamCard.m.less
  app/components-react/highlighter/StreamCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix solo both.
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added webcam coordinates for realtime highlighter
  app/services/highlighter/realtime-highlighter-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update azure-pipelines.yml to new user pool
  azure-pipelines.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update CI scripts
  scripts/ci/install.ps1
  scripts/ci/register-agent.ps1
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

文言修正
  app/i18n/en-US/settings.json
  app/i18n/ja-JP/settings.json
Owners: @yushinakatani

デザイン変更
  app/components/obs/inputs/GenericFormGroups.vue
  app/components/obs/inputs/GenericFormGroups.vue.ts
  app/components/windows/Settings.vue
  app/styles/mixins.less
  app/theme2.less
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added select/unselect tracking
  app/components-react/highlighter/ClipPreview.tsx
  app/components-react/highlighter/MiniClipPreview.tsx
  app/components-react/highlighter/PreviewModal.tsx
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

ボタンの配置変更＆テスト改修
  app/components/SceneSelector.vue
  app/components/SceneSelector.vue.ts
  app/components/SourceSelector.vue
  test/e2e/mixer.ts
  test/e2e/rtvc.ts
  test/e2e/scenes.ts
  test/e2e/sources.ts
  test/helpers/modules/scenes.ts
  test/helpers/modules/sources.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

ストリームキーを取得するための新しいボタンを追加しました。
  app/components/SubStreamSettings.vue
  app/components/SubStreamSettings.vue.ts
  app/i18n/en-US/settings.json
  app/i18n/ja-JP/settings.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

ストリームキー取得ボタンにアイコンを追加しました
  app/components/SubStreamSettings.vue
Owners: @yusukess, @kechino

styling
  app/components-react/highlighter/RealtimeIndicator.m.less
  app/components-react/highlighter/RealtimeIndicator.tsx
  app/components-react/highlighter/StreamCard.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsIndicator.tsx
  app/components-react/pages/Highlighter.tsx
  app/services/highlighter/models/game-config.models.ts
  app/services/highlighter/realtime-highlighter-service.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added new source type to play highlighter reels
  app/components-react/windows/AddSource.tsx
  app/components-react/windows/source-showcase/SourceGrid.tsx
  app/components-react/windows/source-showcase/useSourceShowcase.tsx
  app/i18n/en-US/sources.json
  app/services/sources/properties-managers/highlight-manager.ts
  app/services/sources/sources-api.ts
  app/services/sources/sources-data.ts
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

Add restream checks in go live flow.
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/streaming.json
  app/services/platforms/youtube.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

Add restream checks in go live flow.
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/streaming.json
  app/services/platforms/youtube.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

reverted changes to instant replay source, should remain intact
  app/services/sources/properties-managers/highlight-manager.ts
  app/services/sources/properties-managers/replay-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added more styling
  app/components-react/highlighter/ClipPreviewInfo.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsItem.m.less
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsItem.tsx
  app/services/highlighter/realtime-highlighter-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

add description to
  app/components-react/highlighter/RealtimeIndicator.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
