Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations widgets.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widgets.json
Owners: @takuhiro-koyama

New translations app.json (Portuguese, Brazilian)
  app/i18n/pt-BR/app.json
Owners: @takuhiro-koyama

New translations tiktok.json (Portuguese, Brazilian)
  app/i18n/pt-BR/tiktok.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Portuguese, Brazilian)
  app/i18n/pt-BR/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations hotkeys.json (Indonesian)
  app/i18n/id-ID/hotkeys.json
Owners: @takuhiro-koyama

New translations sources.json (Indonesian)
  app/i18n/id-ID/sources.json
Owners: @takuhiro-koyama

New translations widgets.json (Indonesian)
  app/i18n/id-ID/widgets.json
Owners: @takuhiro-koyama

New translations app.json (Indonesian)
  app/i18n/id-ID/app.json
Owners: @takuhiro-koyama

New translations tiktok.json (Indonesian)
  app/i18n/id-ID/tiktok.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Indonesian)
  app/i18n/id-ID/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations hotkeys.json (Thai)
  app/i18n/th-TH/hotkeys.json
Owners: @takuhiro-koyama

New translations sources.json (Thai)
  app/i18n/th-TH/sources.json
Owners: @takuhiro-koyama

New translations widgets.json (Thai)
  app/i18n/th-TH/widgets.json
Owners: @takuhiro-koyama

New translations app.json (Thai)
  app/i18n/th-TH/app.json
Owners: @takuhiro-koyama

New translations tiktok.json (Thai)
  app/i18n/th-TH/tiktok.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Thai)
  app/i18n/th-TH/stream-avatar-automations.json
Owners: @takuhiro-koyama

onboarding: update steps layout (#6213)
  app/components-react/modals/onboarding/Common.m.less
  app/components-react/modals/onboarding/ConnectMore.tsx
  app/components-react/modals/onboarding/Devices.tsx
  app/components-react/modals/onboarding/Login.tsx
  app/components-react/modals/onboarding/OBSImport.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/RecordingLogin.tsx
  app/components-react/modals/onboarding/Splash.tsx
  app/components-react/modals/onboarding/Themes.m.less
  app/components-react/modals/onboarding/Themes.tsx
  app/components-react/modals/onboarding/Ultra.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: update platforms step (#6214)
  app/components-react/modals/onboarding/ConnectMore.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

apps: center pop-out from app page toolbar (#6291)
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/pages/PlatformAppMainPage.tsx
  app/services/platform-apps/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav: update test references to use data-testid
  .github/instructions/test-selectors.instructions.md
  app/components-react/nav-menu/NavMenu.tsx
  test/helpers/modules/navigation.ts
  test/regular/obs-importer.ts
  test/regular/settings/hotkeys.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Apply batched suggestions from code review
  .github/instructions/test-selectors.instructions.md
  test/regular/obs-importer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

YouTube dual stream add delay and logging.
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

From code review.
  app/services/platforms/base-platform.ts
  app/services/platforms/youtube.ts
  app/services/platforms/youtube/errors.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Only log image as custom or default.
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add more logging.
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[H1-3780618] Restrict socket to owner
  app/components-react/windows/settings/Developer.tsx
  app/native/secure-pipe/binding.gyp
  app/native/secure-pipe/index.d.ts
  app/native/secure-pipe/index.js
  app/native/secure-pipe/package.json
  app/native/secure-pipe/src/secure_pipe.cc
  app/services/api/tcp-server/tcp-server.ts
  electron-builder/base.config.js
  package.json
  test/helpers/api-client.ts
  test/helpers/webdriver/index.ts
  webpack.base.config.js
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

apps: fix app pop-out state across navigation and App Store reloads
  app/components-react/pages/PlatformAppMainPage.m.less
  app/components-react/pages/PlatformAppMainPage.tsx
  app/services/platform-apps/index.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

apps: fix app pop-out state across navigation and App Store reloads (#6295)
  app/components-react/pages/PlatformAppMainPage.m.less
  app/components-react/pages/PlatformAppMainPage.tsx
  app/services/platform-apps/index.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav: update test references to use data-testid (#6293)
  .github/instructions/test-selectors.instructions.md
  app/components-react/nav-menu/NavMenu.tsx
  test/helpers/modules/navigation.ts
  test/regular/obs-importer.ts
  test/regular/settings/hotkeys.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wip: force test run
  app/app.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: add recording login step back to splash
  app/components-react/modals/onboarding/Common.m.less
  app/components-react/modals/onboarding/RecordingLogin.tsx
  app/components-react/modals/onboarding/Splash.tsx
  app/i18n/en-US/onboarding.json
  app/services/onboarding/onboarding-v2.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

onboarding: force full SL auth flow
  app/components-react/modals/onboarding/ConnectMore.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/i18n/en-US/onboarding.json
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

onboarding: remove ability to exit onboarding
  app/components-react/modals/onboarding/Onboarding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: add recording login step back to splash (#6297)
  app/components-react/modals/onboarding/Common.m.less
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/RecordingLogin.tsx
  app/components-react/modals/onboarding/Splash.tsx
  app/i18n/en-US/onboarding.json
  app/services/onboarding/onboarding-v2.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

onboarding: force full SL auth flow (#6296)
  app/components-react/modals/onboarding/ConnectMore.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/i18n/en-US/onboarding.json
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

New translations onboarding.json (French)
  app/i18n/fr-FR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Spanish)
  app/i18n/es-ES/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Arabic)
  app/i18n/ar-SA/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Czech)
  app/i18n/cs-CZ/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Danish)
  app/i18n/da-DK/onboarding.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
