Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations streaming.json (Swedish)
  app/i18n/sv-SE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Turkish)
  app/i18n/tr-TR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Simplified)
  app/i18n/zh-CN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Traditional)
  app/i18n/zh-TW/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Vietnamese)
  app/i18n/vi-VN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Thai)
  app/i18n/th-TH/streaming.json
Owners: @takuhiro-koyama

Fix YT monetization of ineligible users
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): implement AutomationsElement component and integrate with the editor
  app/components-react/editor/elements/AutomationsElement.m.less
  app/components-react/editor/elements/AutomationsElement.tsx
  app/components-react/editor/elements/index.ts
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/services/layout/layout-data.ts
  app/services/stream-avatar/automations-service.ts
  package.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): update AutomationsElement and EditAutomations for create automation flow
  app/components-react/editor/elements/AutomationsElement.m.less
  app/components-react/editor/elements/AutomationsElement.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/services/stream-avatar/automations-service.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

ai: list all supported games in popup (#5974)
  app/components-react/pages/AILanding.m.less
  app/components-react/pages/AILanding.tsx
  app/i18n/en-US/ai.json
  app/services/hosts.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Update Loader.tsx (#5972)
  app/components-react/pages/Loader.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix YT monetization of ineligible users (#5976)
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations ai.json (French)
  app/i18n/fr-FR/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Spanish)
  app/i18n/es-ES/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Arabic)
  app/i18n/ar-SA/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Czech)
  app/i18n/cs-CZ/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Danish)
  app/i18n/da-DK/ai.json
Owners: @takuhiro-koyama

New translations ai.json (German)
  app/i18n/de-DE/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Hungarian)
  app/i18n/hu-HU/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Italian)
  app/i18n/it-IT/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Japanese)
  app/i18n/ja-JP/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Korean)
  app/i18n/ko-KR/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Macedonian)
  app/i18n/mk-MK/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Dutch)
  app/i18n/nl-NL/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Polish)
  app/i18n/pl-PL/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Portuguese)
  app/i18n/pt-PT/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Russian)
  app/i18n/ru-RU/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Slovak)
  app/i18n/sk-SK/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Slovenian)
  app/i18n/sl-SI/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Swedish)
  app/i18n/sv-SE/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Turkish)
  app/i18n/tr-TR/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Chinese Simplified)
  app/i18n/zh-CN/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Chinese Traditional)
  app/i18n/zh-TW/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Vietnamese)
  app/i18n/vi-VN/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Portuguese, Brazilian)
  app/i18n/pt-BR/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Indonesian)
  app/i18n/id-ID/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Thai)
  app/i18n/th-TH/ai.json
Owners: @takuhiro-koyama

Release version 1.21.4
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
