Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations trovo.json (Vietnamese)
  app/i18n/vi-VN/trovo.json
Owners: @takuhiro-koyama

New translations kick.json (Vietnamese)
  app/i18n/vi-VN/kick.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Vietnamese)
  app/i18n/vi-VN/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Portuguese, Brazilian)
  app/i18n/pt-BR/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Indonesian)
  app/i18n/id-ID/stream-shift.json
Owners: @takuhiro-koyama

New translations twitter.json (Thai)
  app/i18n/th-TH/twitter.json
Owners: @takuhiro-koyama

New translations facebook.json (Thai)
  app/i18n/th-TH/facebook.json
Owners: @takuhiro-koyama

New translations youtube.json (Thai)
  app/i18n/th-TH/youtube.json
Owners: @takuhiro-koyama

New translations twitch.json (Thai)
  app/i18n/th-TH/twitch.json
Owners: @takuhiro-koyama

New translations tiktok.json (Thai)
  app/i18n/th-TH/tiktok.json
Owners: @takuhiro-koyama

New translations trovo.json (Thai)
  app/i18n/th-TH/trovo.json
Owners: @takuhiro-koyama

New translations kick.json (Thai)
  app/i18n/th-TH/kick.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Thai)
  app/i18n/th-TH/stream-shift.json
Owners: @takuhiro-koyama

Fix more tests
  test/helpers/modules/forms/base.ts
  test/regular/selective-recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

increase sleep
  test/helpers/modules/forms/base.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix replay buffer test
  test/helpers/modules/forms/base.ts
  test/helpers/modules/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.65
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add link to guide in streamshift tooltip
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/shared/Tooltip.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

bump osn [get race condition fix]
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix last test
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add link to guide in streamshift tooltip (#5637)
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/shared/Tooltip.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update hotkeys.ts (#5630)
  app/services/hotkeys.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add ultra analytics to magic link.
  app/services/magic-link.ts
  app/services/user/index.ts
  app/services/websocket.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Use refl for ultra component id and make unique.
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/windows/go-live/GoLiveError.tsx
  app/components-react/windows/settings/Multistreaming.tsx
  app/services/magic-link.ts
  app/services/usage-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for go live window height and stream shift toggle beta tag.
  app/components-react/shared/DismissableBadge.tsx
  app/components-react/shared/StreamShiftToggle.m.less
  app/components-react/shared/StreamShiftToggle.tsx
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Bring desktop to front have ultra subscription completed.
  app/services/usage-statistics.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update mobile settings page
  app/components-react/windows/settings/Mobile.tsx
  app/i18n/en-US/promotional-copy.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Update osn to v0.25.66oc1
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Port Troubleshooter to React
  app/components-react/index.ts
  app/components-react/windows/Toubleshooter.tsx
  app/components/obs/inputs/GenericFormGroups.vue
  app/components/obs/inputs/GenericFormGroups.vue.ts
  app/components/shared/DropdownMenu.vue
  app/components/shared/DropdownMenu.vue.ts
  app/components/shared/KevinSvg.tsx
  app/components/shared/PlatformLogo.m.less
  app/components/shared/PlatformLogo.tsx
  app/components/shared/ReactComponentList.tsx
  app/components/shared/SmoothProgressBar.m.less
  app/components/shared/SmoothProgressBar.tsx
  app/components/shared/translate.tsx
  app/components/windows/Troubleshooter.vue
  app/components/windows/Troubleshooter.vue.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix for replay buffer history and UI fixes.
  app/components-react/root/StudioFooter.tsx
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix tests
  app/components-react/windows/go-live/GoLiveWindow.tsx
  test/regular/streaming/tiktok.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix stream shift analytics.
  app/components-react/root/StartStreamingButton.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dual output
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix ts issue
  app/components-react/windows/Settings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dual output (#5642)
  app/components-react/windows/Settings.tsx
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor settings fix
  app/components-react/windows/Settings.tsx
  app/components-react/windows/settings/Developer.tsx
  app/components-react/windows/settings/SceneCollections.tsx
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update auth scheme for cache uploading
  app/services/cache-uploader.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Resolve merge conflict.
  app/services/platforms/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update ultra and stream shift analytics.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/StreamShiftToggle.tsx
  app/services/magic-link.ts
  app/services/restream.ts
  app/services/usage-statistics.ts
  app/services/websocket.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move to presigned url
  app/services/cache-uploader.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
