Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Fix setting primary chat with merge-only platforms.
  app/components-react/root/LiveDock.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/platforms/patreon.ts
  app/services/platforms/twitch.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Realm is already in a write transaction error.
  app/services/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix multistream having wrong stream keys and no targets.
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove prevent set primary platform that prevented chat placeholder from showing.
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Check service offline in live dock.
  app/components-react/root/LiveDock.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update TwitchService to lookup games via Id
  app/components-react/windows/go-live/GameSelector.tsx
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add null check for settings vars
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Platform onboarding.
  app/components-react/pages/onboarding/Connect.tsx
  app/components-react/pages/onboarding/PrimaryPlatformSelect.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add hotkey to upload diag report.
  app/app.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add strings.
  app/i18n/en-US/app.json
Owners: @takuhiro-koyama

Restore TikTok and X chat.
  app/services/platforms/tiktok.ts
  app/services/platforms/twitter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Bundle: Update TwitchService to lookup games using a unique Id (#5921)
  app/components-react/windows/go-live/GameSelector.tsx
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: use obs-31.2 game capture libraries
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: use obs-31.2 game capture libraries (#5924)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added 3 more games
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.1-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Platform rule tags.
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/shared/inputs/TagsInput.tsx
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.m.less
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.tsx
  app/i18n/en-US/patreon.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Fix unrelated fields in Go Live Window clearing when updating form.
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix title and description clearing with form and platform update.
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix platform rules filtering.
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.tsx
  app/i18n/en-US/patreon.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

fix: clear description on logout so it does not persist to new account [Asana: 1214065473908427]
  app/services/settings/streaming/stream-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: prevent Record Stream tooltip from flipping below and clipping [Asana: 1212949187884698]
  app/components-react/windows/go-live/RecordingSwitcher.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: limit YT title to 90 chars when dual output both is active [Asana: 1213798044978296]
  app/components-react/windows/go-live/CommonPlatformFields.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: reactively update Test Widgets when primary platform changes [Asana: 1208810276641586]
  app/components-react/root/TestWidgets.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: show Twitch VOD Track toggle in simple output mode [Asana: 1210368232080676]
  app/components-react/windows/advanced-audio/GlobalSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: persist all transitions and connections on scene overlay export [Asana: 1208553265317640]
  app/services/scene-collections/nodes/overlays/transition.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: enable and start Vision when a reactive overlay source is created [Asana: 1214413270996193]
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: restore overlay assets on startup if cache was wiped [Asana: 1209953975508960]
  app/services/scene-collections/overlays.ts
  app/services/scene-collections/scene-collections-api.ts
  app/services/scene-collections/scene-collections.ts
  app/services/scene-collections/state.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: stream labels statname no longer mutated when switching platforms [Asana: 1211363698580268]
  app/services/sources/properties-managers/streamlabels-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: pre-start overlay process so hotkey works on first press [Asana: 1209237541552410]
  app/services/game-overlay/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: fall back Mic/Aux to default device if persisted device is disconnected [Asana: 1209775652019372]
  app/services/hardware/default-hardware.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: reset volmeter bar count when audio channel setup changes [Asana: 1208022712708873]
  app/components-react/editor/elements/mixer/CanvasVolmeter.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix TikTok chat login.
  app/services/chat.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix onboarding top margin.
  app/components-react/pages/onboarding/Common.m.less
  app/components-react/pages/onboarding/Connect.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Feedback from code review.
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/shared/inputs/TagsInput.tsx
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added 3 more games (#5925)
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: normalize music file sample rate before amix to prevent export error [Asana: 1208013060218940]
  app/services/highlighter/rendering/audio-mixer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restore TikTok and X chat. (#5923)
  app/services/chat.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/twitter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Platform UI fixes. (#5926)
  app/components-react/pages/onboarding/Common.m.less
  app/components-react/pages/onboarding/Connect.tsx
  app/components-react/pages/onboarding/PrimaryPlatformSelect.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/shared/inputs/TagsInput.tsx
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.m.less
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.tsx
  app/i18n/en-US/patreon.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

New translations patreon.json (French)
  app/i18n/fr-FR/patreon.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
