Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

throttle install updates
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix logic for enable/disable platforms for non-ultra users.
  app/components-react/windows/go-live/DestinationSwitchers.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

change carousel item style
  app/components-react/highlighter/migration/MigrationNotice.m.less
Owners: @yusukess, @kechino

build: add `yarn typecheck` for fast type-check feedback
  CLAUDE.md
  package.json
  scripts/typecheck-react.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

tweak install percentage
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wording change
  app/components-react/highlighter/migration/PageInstallationFlow.tsx
  app/i18n/en-US/highlighter.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Filter smart sources before constructing sources.
  app/services/reactive-data/index.ts
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Only check for vision running on login if collection has smart sources, fire-and-forget vision running check.
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove void for already handled promise.
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Consolidate smart source websocket subscriptions.
  app/services/reactive-data/index.ts
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove patreon stream shift limitation.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/shared/inputs/inputs.ts
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/patreon.json
  app/services/platforms/patreon.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix swallowed errors for patreon and kick.
  app/services/platforms/kick.ts
  app/services/platforms/patreon.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Ensure vision running when switching scene collections.
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Twitch dual stream enhanced broadcasting state.
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OSN 0.26.29b17: Allow Enhanced Broadcasting streams as recording parents
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor Go Live window stream shift is live handling to remove race condition.
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  test/helpers/modules/core.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OSN 0.26.29b17: Allow Enhanced Broadcasting streams as recording parents (#6002)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.7-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove AB test of new onboarding (#5990)
  app/services/app/app.ts
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix YouTube disabled notification styling. (#5992)
  app/components-react/root/NotificationsArea.m.less
  app/components-react/root/NotificationsArea.tsx
  app/i18n/en-US/common.json
  app/services/platforms/youtube.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix YouTube monetization unmounted component error. (#5996)
  app/components-react/windows/go-live/platforms/YoutubeEditStreamInfo.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix YouTube dual stream UI race condition.
  app/services/streaming/streaming.ts
  test/helpers/modules/forms/radio.ts
  test/helpers/modules/streaming.ts
  test/regular/streaming/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations common.json (Spanish)
  app/i18n/es-ES/common.json
Owners: @takuhiro-koyama

New translations common.json (Arabic)
  app/i18n/ar-SA/common.json
Owners: @takuhiro-koyama

New translations common.json (Czech)
  app/i18n/cs-CZ/common.json
Owners: @takuhiro-koyama

New translations common.json (Danish)
  app/i18n/da-DK/common.json
Owners: @takuhiro-koyama

New translations common.json (German)
  app/i18n/de-DE/common.json
Owners: @takuhiro-koyama

New translations common.json (Hungarian)
  app/i18n/hu-HU/common.json
Owners: @takuhiro-koyama

New translations common.json (Italian)
  app/i18n/it-IT/common.json
Owners: @takuhiro-koyama

New translations common.json (Japanese)
  app/i18n/ja-JP/common.json
Owners: @takuhiro-koyama

New translations common.json (Korean)
  app/i18n/ko-KR/common.json
Owners: @takuhiro-koyama

New translations common.json (Macedonian)
  app/i18n/mk-MK/common.json
Owners: @takuhiro-koyama

New translations common.json (Dutch)
  app/i18n/nl-NL/common.json
Owners: @takuhiro-koyama

New translations common.json (Polish)
  app/i18n/pl-PL/common.json
Owners: @takuhiro-koyama

New translations common.json (Portuguese)
  app/i18n/pt-PT/common.json
Owners: @takuhiro-koyama

New translations common.json (Russian)
  app/i18n/ru-RU/common.json
Owners: @takuhiro-koyama

New translations common.json (Slovak)
  app/i18n/sk-SK/common.json
Owners: @takuhiro-koyama

New translations common.json (Slovenian)
  app/i18n/sl-SI/common.json
Owners: @takuhiro-koyama

New translations common.json (Swedish)
  app/i18n/sv-SE/common.json
Owners: @takuhiro-koyama

New translations common.json (Turkish)
  app/i18n/tr-TR/common.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
