Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @yusukess, @kechino

export correct orientation
  app/services/highlighter/clip-collections.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wip
  app/components-react/highlighter/ClipCollections/ClipCollection/ClipCollection.m.less
  app/components-react/highlighter/ClipCollections/ClipCollection/ClipCollection.tsx
  app/components-react/highlighter/ClipCollections/ClipCollection/Thumbail.tsx
  app/services/highlighter/clip-collections.ts
  app/services/highlighter/index.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix show controls
  app/components-react/highlighter/ClipCollections/ClipCollection/Thumbail.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update upload url
  app/services/highlighter/clip-collections.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

gam icon
  app/components-react/highlighter/ClipCollections/Header/Header.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Check for undefined error in diag report
  app/components-react/windows/settings/Video.tsx
  app/services/diagnostics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove accidental change.
  app/components-react/windows/settings/Video.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

multiupload
  app/components-react/highlighter/ClipCollections/ClipCollection/ClipCollection.tsx
  app/components-react/highlighter/ClipCollections/ClipCollection/Thumbail.tsx
  app/services/highlighter/clip-collections.ts
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Prevent muted notification from appearing multiple times (#5485)
  app/components-react/root/StudioEditor.tsx
  app/services/notifications/notifications-api.ts
  app/services/notifications/notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update MixerItem to properly handle a removed device (#5464)
  app/components-react/editor/elements/mixer/MixerItem.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added a way to provide background videos for splashscreen renderer
  app/services/highlighter/rendering/splashscreen-frame-source.ts
  app/services/highlighter/rendering/splashscreen-renderer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove logs.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/restream.ts
  app/util/menus/EditMenu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: load
  app/services/dual-output/dual-output.ts
  app/services/scenes/scenes.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

tmp stubbing in vision service
  app/app-services.ts
  app/services/platform-apps/api/modules/module.ts
  app/services/platform-apps/api/modules/vision.ts
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

resolve conflict
  app/app-services.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fixed dynamic background videos for splashscreens - now work with vertical export
  app/components-react/highlighter/EditingControls.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/index.ts
  app/services/highlighter/models/rendering.models.ts
  app/services/highlighter/rendering/splashscreen-frame-source.ts
  app/services/highlighter/rendering/start-rendering.ts
  app/services/highlighter/vertical-export.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

use simpler crop filter for the source video
  app/services/highlighter/vertical-export.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update setVideoSetting to also sync the fps setting
  app/components-react/windows/settings/Video.tsx
  app/services/settings-v2/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update setVideoSetting to also sync the fps setting
  app/components-react/windows/settings/Video.tsx
  app/services/settings-v2/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

keep default behavior in onChange()
  app/components-react/windows/settings/Video.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

combine settings in setFPSType()
  app/components-react/windows/settings/Video.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add documentation for new video settings functions
  app/services/settings-v2/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fetchText: refactor
  app/util/fetchText.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Visual C++ Redistributableのインストール状況をチェック＆スキップ
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

afterPack フックを追加し、不要なローカライズファイルを削除する処理を実装
  electron-builder/stable.config.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update Desktop to support the new mac virtual camera system extension (#5446)
  app/app-services.ts
  app/services/core/signals.ts
  app/services/signals-manager.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
  app/services/virtual-webcam.ts
  electron-builder/afterSign.js
  electron-builder/build-mac-virtualcam.js
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wip
  app/components-react/highlighter/ClipCollections/ClipCollection/ClipCollection.tsx
  app/components-react/highlighter/ClipCollections/Header/Actionbar.tsx
  app/components-react/highlighter/ClipCollections/Header/Header.tsx
  app/components-react/highlighter/ClipCollections/Header/HeaderModal.tsx
  app/components-react/highlighter/ClipCollections/StreamClipSuggestions.tsx
  app/components-react/highlighter/ClipCollections/Upload/CollectionUpload.tsx
  app/components-react/highlighter/Export/Platform.tsx
  app/components-react/highlighter/Export/VideoPreview.tsx
  app/components-react/highlighter/Export/YoutubeUpload.tsx
  app/services/highlighter/clip-collections.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wip
  app/services/highlighter/clip-collections.ts
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update setVideoSetting to also sync the fps setting (#5493)
  app/components-react/windows/settings/Video.tsx
  app/services/settings-v2/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Check for undefined error in diag report. (#5491)
  app/components-react/windows/settings/Video.tsx
  app/services/diagnostics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.29brmsg4
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: logic issues around grandfathering and Ultra
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

override splash screen profile functionality added
  app/components-react/highlighter/EditingControls.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/index.ts
  app/services/highlighter/models/rendering.models.ts
  app/services/highlighter/rendering/start-rendering.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

Check for undefined error in diag report. (#5491)
  app/components-react/windows/settings/Video.tsx
  app/services/diagnostics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(sources): add search to Add Source modal (#5415)
  app/components-react/windows/source-showcase/SourceGrid.tsx
  app/components-react/windows/source-showcase/SourceShowcase.m.less
  app/components-react/windows/source-showcase/index.tsx
  app/i18n/en-US/sources.json
  app/services/sources/sources-api.ts
  app/services/sources/sources-data.ts
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani

インストーラー: Visual C++ Redistributableのインストール状況を--updated引数でチェックする機能を追加
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wip
  app/components-react/highlighter/ClipCollections/ClipCollection/ClipCollection.m.less
  app/components-react/highlighter/ClipCollections/ClipCollection/ClipCollection.tsx
  app/components-react/highlighter/ClipCollections/ClipCollection/Thumbail.tsx
  app/components-react/highlighter/ClipCollections/Upload/CollectionUpload.tsx
  app/components-react/highlighter/Export/CollectionExport.tsx
  app/services/highlighter/clip-collections.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wip
  app/components-react/highlighter/ClipCollections/Header/Actionbar.tsx
  app/components-react/highlighter/ClipsView.tsx
  app/components-react/highlighter/Export/CollectionExport.tsx
  app/services/highlighter/clip-collections.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/highlighter.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

base setup
  app/components-react/highlighter/ClipsView.tsx
  app/components-react/highlighter/TitleGeneration.m.less
  app/components-react/highlighter/TitleGeneration.tsx
  app/services/highlighter/ai-highlighter-updater.ts
  app/services/highlighter/ai-highlighter-utils.ts
  app/services/highlighter/models/ai-highlighter.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

wip
  app/components-react/highlighter/ClipCollections/ClipCollection/Thumbail.tsx
  app/components-react/highlighter/ClipCollections/StreamClipSuggestions.tsx
  app/components-react/highlighter/ClipsView.tsx
  app/services/highlighter/clip-collections.ts
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @yushinakatani
replace_rules.json @yushinakatani
/.github/CODEOWNERS @yushinakatani

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
