Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Fix navigating libraries
  app/components-react/pages/BrowseOverlays.tsx
  app/components-react/shared/BrowserView.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

changes
  app/components-react/sidebar/NavTools.tsx
  app/components-react/windows/settings/AI.tsx
  app/components-react/windows/settings/pages.ts
  app/components/windows/settings/Settings.vue.ts
  app/services/settings/settings.ts
  app/services/side-nav/menu-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix navigation in editor tabs
  app/components-react/pages/Studio.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

converting to just use p-memoize instead of the homebrewed inflight & cache
  app/services/vision/vision-updater.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

attempt to improve category typing
  app/components-react/sidebar/NavTools.tsx
  app/components-react/windows/settings/AI.tsx
  app/components/windows/settings/Settings.vue.ts
  app/i18n/en-US/common.json
  app/services/settings/settings.ts
  app/services/side-nav/menu-data.ts
  app/services/vision/index.ts
  app/services/vision/vision-runner.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

fixing type error
  app/services/vision/vision-updater.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fixing type error
  app/services/vision/index.ts
  app/services/vision/vision-runner.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix hotkeys test
  test/regular/settings/hotkeys.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(avatar-updater): add cache buster to production manifest URL
  app/services/stream-avatar/avatar-updater.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add reactive source to sourcce list
  app/services/sources/sources-data.ts
  app/services/sources/sources.ts
  media/source-demos/day/reactive-overlay-webm.webm
  media/source-demos/night/reactive-overlay-webm.webm
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(platform-apps): update app ID comments for Avatar permissions
  app/services/platform-apps/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

eslint
  app/services/sources/sources-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Vision service chrishancements (#5564)
  app/services/sources/sources-data.ts
  app/services/sources/sources.ts
  media/source-demos/day/reactive-overlay-webm.webm
  media/source-demos/night/reactive-overlay-webm.webm
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OSN 0.25.54test1
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

attempt to improve category typing (#5563)
  app/components-react/sidebar/NavTools.tsx
  app/components-react/windows/settings/AI.tsx
  app/components/windows/settings/Settings.vue.ts
  app/i18n/en-US/common.json
  app/services/settings/settings.ts
  app/services/side-nav/menu-data.ts
  app/services/vision/index.ts
  app/services/vision/vision-runner.ts
  app/services/vision/vision-updater.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

switch to use p-memoize instead of the home-brewed inflight & cache (#5562)
  app/services/vision/vision-updater.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix scene item api
  app/services/platform-apps/api/modules/scenes.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(avatar-updater): add cache buster to file download URL
  app/services/stream-avatar/avatar-updater.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactoring AISettings, adding error notice on failed update
  app/components-react/windows/settings/AI.tsx
  app/components-react/windows/settings/AISettings.tsx
  app/components-react/windows/settings/pages.ts
  app/services/settings/settings.ts
  app/services/vision/index.ts
  app/services/vision/vision-runner.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(avatar-updater): remove cache buster from file download URL
  app/services/stream-avatar/avatar-updater.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Main Window Port Fixes (#5560)
  app/components-react/pages/BrowseOverlays.tsx
  app/components-react/pages/Studio.tsx
  app/components-react/shared/BrowserView.tsx
  test/regular/settings/hotkeys.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix scene item api (#5565)
  app/services/platform-apps/api/modules/scenes.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add guard clause to scene item api
  app/services/platform-apps/api/modules/scenes.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.55
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix fps values in the diagnostic report
  app/services/diagnostics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Begin port of SponsorBanner
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/shared/inputs/ImagePickerInput.m.less
  app/components-react/shared/inputs/ImagePickerInput.tsx
  app/components-react/shared/inputs/inputList.ts
  app/components-react/shared/inputs/inputs.ts
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/SponsorBanner.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Toggle highlighter when toggling off vertical recording.
  app/components-react/highlighter/SettingsView.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update go live card styling.
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/GoLive.m.less
  app/themes.g.less
Owners: @yusukess, @kechino

Update osn to v0.25.55 [fix blurry text, mac fix PNG in Browser source (Chromium updated), mac sentry-crash-handler] (#5566)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Vertical replay buffer and highlighter handling.
  app/components-react/highlighter/SettingsView.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/i18n/en-US/streaming.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fixes for tests.
  test/regular/api/streaming.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.56
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update osn version
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.56 (#5568)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.5-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.5
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

resolve merge (wip)
  app/services/app/app.ts
  app/services/platform-apps/api/modules/native-components.ts
  app/services/sources/sources-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

resolve merge (wip)
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix lint
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add new icon
  app/components-react/editor/elements/SourceSelector.tsx
  app/components/windows/settings/Settings.vue.ts
  app/services/sources/sources.ts
  app/styles/custom-icons.less
  media/fonts/icomoon.woff
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
