Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Update hotkeys.ts
  app/services/hotkeys.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Address CR
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/shared/SearchablePages.tsx
  app/components-react/windows/Settings.tsx
  app/index.d.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix tests on master
  app/components-react/root/StartStreamingButton.tsx
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix selector
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Normalize selector
  app/components-react/windows/go-live/GoLiveWindow.tsx
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Extend wait time for go live window to load
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Further increase timeout
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Correct overlay
  app/services/scene-collections/scene-collections.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update overlay
  app/services/scene-collections/scene-collections.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add check for cloudshift
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Increase timeout
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix helper function
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix window focusing
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(streamshift): add option to force start when stream is detected
  app/components-react/modals.tsx
  app/components-react/root/StartStreamingButton.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(streamshift): same force logic on Go Live window
  app/components-react/windows/go-live/GoLiveWindow.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(streamshift): use state to persist across stream btn -> Go Live win
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(streamshift): set Stream Shift to false when forcing
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore(streamshift): adjust wording and add messaging
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(streamshift): add option to force start when stream is detected (#5635)
  app/components-react/modals.tsx
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/services/restream.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor to skip waiting
  app/components-react/root/StartStreamingButton.tsx
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add missing translations
  app/components-react/root/StartStreamingButton.tsx
  app/i18n/en-US/stream-shift.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix start stream button text
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update product name
  app/components-react/root/StartStreamingButton.tsx
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix tests on master (#5633)
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/i18n/en-US/stream-shift.json
  app/services/restream.ts
  test/helpers/modules/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix enhanced broadcasting toggle.
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix multi checkbox
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/i18n/en-US/streaming.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Disable enhanced broadcasting with more platforms
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.0-preview.5
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations youtube.json (French)
  app/i18n/fr-FR/youtube.json
Owners: @takuhiro-koyama

New translations streaming.json (French)
  app/i18n/fr-FR/streaming.json
Owners: @takuhiro-koyama

New translations twitter.json (French)
  app/i18n/fr-FR/twitter.json
Owners: @takuhiro-koyama

New translations facebook.json (French)
  app/i18n/fr-FR/facebook.json
Owners: @takuhiro-koyama

New translations twitch.json (French)
  app/i18n/fr-FR/twitch.json
Owners: @takuhiro-koyama

New translations tiktok.json (French)
  app/i18n/fr-FR/tiktok.json
Owners: @takuhiro-koyama

New translations trovo.json (French)
  app/i18n/fr-FR/trovo.json
Owners: @takuhiro-koyama

New translations kick.json (French)
  app/i18n/fr-FR/kick.json
Owners: @takuhiro-koyama

New translations youtube.json (Spanish)
  app/i18n/es-ES/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Czech)
  app/i18n/cs-CZ/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Danish)
  app/i18n/da-DK/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (German)
  app/i18n/de-DE/youtube.json
Owners: @takuhiro-koyama
