Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations youtube.json (Spanish)
  app/i18n/es-ES/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Arabic)
  app/i18n/ar-SA/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Czech)
  app/i18n/cs-CZ/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Danish)
  app/i18n/da-DK/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (German)
  app/i18n/de-DE/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Hungarian)
  app/i18n/hu-HU/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Italian)
  app/i18n/it-IT/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Japanese)
  app/i18n/ja-JP/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Korean)
  app/i18n/ko-KR/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Macedonian)
  app/i18n/mk-MK/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Dutch)
  app/i18n/nl-NL/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Polish)
  app/i18n/pl-PL/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Portuguese)
  app/i18n/pt-PT/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Russian)
  app/i18n/ru-RU/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Slovak)
  app/i18n/sk-SK/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Slovenian)
  app/i18n/sl-SI/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Swedish)
  app/i18n/sv-SE/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Turkish)
  app/i18n/tr-TR/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Chinese Simplified)
  app/i18n/zh-CN/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Chinese Traditional)
  app/i18n/zh-TW/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Vietnamese)
  app/i18n/vi-VN/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Portuguese, Brazilian)
  app/i18n/pt-BR/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Indonesian)
  app/i18n/id-ID/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Thai)
  app/i18n/th-TH/youtube.json
Owners: @takuhiro-koyama

Improve handling unknown error with message and allow going live to YouTube with thumbnail failed. (#5583)
  app/i18n/en-US/sources.json
  app/i18n/en-US/youtube.json
  app/services/platforms/youtube.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Begin porting component
  app/components-react/windows/settings/OverlaySettings.tsx
  app/components/windows/settings/OverlaySettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Finish port
  app/components-react/windows/settings/Developer.tsx
  app/components-react/windows/settings/OverlaySettings.tsx
  app/components-react/windows/settings/SceneCollections.tsx
  app/components-react/windows/settings/pages.ts
  app/components/windows/settings/Settings.vue
  app/components/windows/settings/Settings.vue.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix api platform handling.
  app/components-react/root/StartStreamingButton.tsx
  app/services/platforms/facebook.ts
  app/services/platforms/instagram.ts
  app/services/platforms/kick.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/trovo.ts
  app/services/platforms/twitch.ts
  app/services/platforms/twitter.ts
  app/services/platforms/youtube.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix Macos local non-codesign builds
  electron-builder/afterPack.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for replay buffer and selective recording tests.
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
  test/helpers/modules/dual-output.ts
  test/helpers/modules/replay-buffer.ts
  test/regular/replay-buffer.ts
  test/regular/selective-recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix Macos local non-codesign builds (#5586)
  electron-builder/afterPack.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for dual output tests.
  test/helpers/modules/dual-output.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.6-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(ai): enhance process selection for capture cards so users can specify the game
  app/components-react/windows/settings/AISettings.tsx
  app/services/platform-apps/api/modules/vision.ts
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix browser source input issues (missing cursor & cant delete text)
  app/components/windows/BrowserSourceInteraction.tsx
  app/services/sources/source.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix browser source input issues (missing cursor & cant delete text)
  app/components/windows/BrowserSourceInteraction.tsx
  app/services/sources/source.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.6
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update missing dependencies in drop handler.
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix cloud shift multistream chat and add cloud shift test.
  app/components-react/root/LiveDock.tsx
  app/services/streaming/streaming-view.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix browser source input issues (missing cursor & cant delete text) (#5588)
  app/components/windows/BrowserSourceInteraction.tsx
  app/services/sources/source.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
