Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

try fix
  app/components-react/obs/ObsForm.tsx
  test/helpers/modules/forms/base.ts
  test/helpers/modules/settings/settings.ts
  test/regular/recording-path-diagnostics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix text input lag
  app/components-react/obs/ObsForm.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restore Highlighter Settings View from master.
  app/components-react/highlighter/SettingsView.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add class and remove unusued import.
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

more robust signature check
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

improve install flow in manual import
  app/components-react/highlighter/HypeWrapper.m.less
  app/components-react/highlighter/ImportStream.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Keep widget-settings embed BrowserView warm across opens
  app/app-services.ts
  app/components-react/shared/WidgetEmbedWarm.tsx
  app/components-react/windows/WidgetSettingsEmbed.tsx
  app/services/widget-embed-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Implement embed keepalive functionality and update widget components to support hidden state
  app/components-react/hooks/useEmbedKeepalive.ts
  app/components-react/pages/AlertBox.tsx
  app/components-react/pages/Cloudbot.tsx
  app/components-react/pages/Widgets.tsx
  app/components-react/shared/WidgetEmbed.tsx
  app/components-react/windows/Main.tsx
  app/components-react/windows/WidgetSettingsEmbed.tsx
  app/components-react/windows/settings/Appearance.tsx
  app/services/customization.ts
  app/services/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

attempt to speed up first load of embed
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert REALM_SCHEMA_VERSION to 3 to maintain compatibility with existing migrations
  app/services/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove embedDiscardMinutes from CustomizationService and related components; update logging in WidgetEmbedCacheManager for improved clarity.
  app/components-react/windows/settings/Appearance.tsx
  app/services/customization.ts
  app/services/widgets/widget-embed-cache-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update app/services/media-gallery/media-gallery.ts
  app/services/media-gallery/media-gallery.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Feedback from code review.
  app/components-react/pages/stream-scheduler/StreamScheduler.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Add new filters
  app/i18n/en-US/filters.json
  app/services/source-filters.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Bug fix for non-ultra platform + custom destination streaming.
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[7f] Go Live Window UI - Swap Go Live window UI (#6036)
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/SettingsView.tsx
  app/components-react/pages/stream-scheduler/StreamScheduler.tsx
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/AdvancedSettingsSwitch.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/CustomFieldsCheckbox.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GameSelector.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
  app/components-react/windows/go-live/Section.tsx
  app/components-react/windows/go-live/SwitcherCard.tsx
  app/components-react/windows/go-live/Twitter.tsx
  app/components-react/windows/go-live/platforms/FacebookEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/KickEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TikTokEditStreamInfo.m.less
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TwitterEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/YoutubeEditStreamInfo.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/components-react/windows/settings/Stream.tsx
  app/components/windows/ChildWindow.tsx
  app/services/platforms/youtube.ts
  app/services/restream.ts
  app/services/settings/settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Standardize YouTube Error Handling (#5993)
  app/i18n/en-US/youtube.json
  app/services/platforms/youtube.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove dual output toggles.
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/windows/settings/Video.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove dual output logic from components.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/root/StudioEditor.tsx
  app/components-react/sidebar/NavTools.tsx
  app/components-react/windows/Settings.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/components-react/windows/settings/Stream.tsx
  app/i18n/en-US/dual-output.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Test fixes.
  test/helpers/modules/dual-output.ts
  test/regular/recording.ts
  test/regular/settings/hotkeys.ts
  test/regular/streaming/dual-output-end-stream.ts
  test/regular/streaming/dual-output.ts
  test/regular/streaming/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update tests to confirm collection converts correctly on app launch/relaunch
  app/services/api/external-api/resources.ts
  app/services/dual-output/dual-output.ts
  test/helpers/modules/scene-collections.ts
  test/regular/api/dual-output.ts
  test/regular/services/scene-collections/scene-collections.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations highlighter.json (French)
  app/i18n/fr-FR/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Spanish)
  app/i18n/es-ES/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Arabic)
  app/i18n/ar-SA/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Czech)
  app/i18n/cs-CZ/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Danish)
  app/i18n/da-DK/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (German)
  app/i18n/de-DE/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Hungarian)
  app/i18n/hu-HU/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Italian)
  app/i18n/it-IT/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Japanese)
  app/i18n/ja-JP/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Korean)
  app/i18n/ko-KR/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Macedonian)
  app/i18n/mk-MK/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Dutch)
  app/i18n/nl-NL/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Polish)
  app/i18n/pl-PL/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Portuguese)
  app/i18n/pt-PT/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Russian)
  app/i18n/ru-RU/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Slovak)
  app/i18n/sk-SK/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Slovenian)
  app/i18n/sl-SI/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Swedish)
  app/i18n/sv-SE/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Turkish)
  app/i18n/tr-TR/highlighter.json
Owners: @takuhiro-koyama
