Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Update vision icon (#5576)
  app/components-react/editor/elements/SourceSelector.tsx
  app/components/windows/settings/Settings.vue.ts
  app/i18n/en-US/sources.json
  app/services/sources/sources-data.ts
  app/styles/custom-icons.less
  media/fonts/icomoon.woff
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Fix UI issues.
  app/components-react/shared/inputs/ListInput.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

New Crowdin updates (#5578)
  app/i18n/ar-SA/promotional-copy.json
  app/i18n/cs-CZ/promotional-copy.json
  app/i18n/da-DK/promotional-copy.json
  app/i18n/de-DE/promotional-copy.json
  app/i18n/es-ES/promotional-copy.json
  app/i18n/fr-FR/promotional-copy.json
  app/i18n/hu-HU/promotional-copy.json
  app/i18n/id-ID/promotional-copy.json
  app/i18n/it-IT/promotional-copy.json
  app/i18n/ja-JP/promotional-copy.json
  app/i18n/ko-KR/promotional-copy.json
  app/i18n/mk-MK/promotional-copy.json
  app/i18n/nl-NL/promotional-copy.json
  app/i18n/pl-PL/promotional-copy.json
  app/i18n/pt-BR/promotional-copy.json
  app/i18n/pt-PT/promotional-copy.json
  app/i18n/ru-RU/promotional-copy.json
  app/i18n/sk-SK/promotional-copy.json
  app/i18n/sl-SI/promotional-copy.json
  app/i18n/sv-SE/promotional-copy.json
  app/i18n/th-TH/promotional-copy.json
  app/i18n/tr-TR/promotional-copy.json
  app/i18n/vi-VN/promotional-copy.json
  app/i18n/zh-CN/promotional-copy.json
  app/i18n/zh-TW/promotional-copy.json
Owners: @takuhiro-koyama

Release version 1.19.6-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add logs for debugging populating data after switch.
  app/services/platforms/facebook.ts
  app/services/platforms/kick.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/trovo.ts
  app/services/platforms/twitch.ts
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix strictnulls issue.
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations sources.json (French)
  app/i18n/fr-FR/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Spanish)
  app/i18n/es-ES/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Arabic)
  app/i18n/ar-SA/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Czech)
  app/i18n/cs-CZ/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Danish)
  app/i18n/da-DK/sources.json
Owners: @takuhiro-koyama

New translations sources.json (German)
  app/i18n/de-DE/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Hungarian)
  app/i18n/hu-HU/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Italian)
  app/i18n/it-IT/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Japanese)
  app/i18n/ja-JP/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Korean)
  app/i18n/ko-KR/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Macedonian)
  app/i18n/mk-MK/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Dutch)
  app/i18n/nl-NL/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Polish)
  app/i18n/pl-PL/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Portuguese)
  app/i18n/pt-PT/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Russian)
  app/i18n/ru-RU/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Slovak)
  app/i18n/sk-SK/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Slovenian)
  app/i18n/sl-SI/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Swedish)
  app/i18n/sv-SE/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Turkish)
  app/i18n/tr-TR/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Chinese Simplified)
  app/i18n/zh-CN/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Chinese Traditional)
  app/i18n/zh-TW/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Vietnamese)
  app/i18n/vi-VN/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Portuguese, Brazilian)
  app/i18n/pt-BR/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Indonesian)
  app/i18n/id-ID/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Thai)
  app/i18n/th-TH/sources.json
Owners: @takuhiro-koyama

Add free component
  app/components-react/windows/source-filters/BackgroundRemovalFree.tsx
  app/i18n/en-US/filters.json
  app/i18n/en-US/promotional-copy.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix editor scroll for offline YT chat
  app/components-react/root/LiveDock.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix render bug
  app/components-react/root/LiveDock.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix weird chat size
  app/components-react/root/Chat.tsx
  app/components-react/root/LiveDock.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn version.
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update toggle streaming dependencies in button.
  app/components-react/root/StartStreamingButton.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fixed merge conflicts
  app/app-services.ts
  app/components-react/pages/Highlighter.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Validate youtube when prepopulating and add error handling.
  app/components-react/pages/stream-scheduler/useStreamScheduler.tsx
  app/components-react/windows/go-live/GoLiveError.tsx
  app/i18n/en-US/app.json
  app/i18n/en-US/tiktok.json
  app/i18n/en-US/youtube.json
  app/services/platforms/index.ts
  app/services/platforms/youtube.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix YouTube json error.
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
