Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations overlays.json (German)
  app/i18n/de-DE/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Hungarian)
  app/i18n/hu-HU/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Italian)
  app/i18n/it-IT/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Japanese)
  app/i18n/ja-JP/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Korean)
  app/i18n/ko-KR/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Macedonian)
  app/i18n/mk-MK/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Dutch)
  app/i18n/nl-NL/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Polish)
  app/i18n/pl-PL/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Portuguese)
  app/i18n/pt-PT/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Russian)
  app/i18n/ru-RU/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Slovak)
  app/i18n/sk-SK/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Slovenian)
  app/i18n/sl-SI/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Swedish)
  app/i18n/sv-SE/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Turkish)
  app/i18n/tr-TR/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Chinese Simplified)
  app/i18n/zh-CN/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Chinese Traditional)
  app/i18n/zh-TW/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Vietnamese)
  app/i18n/vi-VN/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Portuguese, Brazilian)
  app/i18n/pt-BR/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Indonesian)
  app/i18n/id-ID/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Thai)
  app/i18n/th-TH/overlays.json
Owners: @takuhiro-koyama

Address review: DOM nesting and link accessibility
  app/components-react/shared/ObsRichText.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Render OBS compat-info properties as rich text
  app/components-react/obs/ObsForm.tsx
  app/components-react/shared/ObsRichText.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.3
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Stop the e2e harness wedging on chromedriver's console logging
  test/helpers/webdriver/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add Game Capture e2e tests driven by game-capture-target
  test/helpers/game-capture-target.ts
  test/regular/game-capture.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Address review: scope the missing-translation skip to its own record
  test/helpers/webdriver/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Drive the capture target through its NDJSON event stream (v0.2.0)
  test/helpers/game-capture-target.ts
  test/regular/game-capture.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Bump the capture target to v0.3.0 and surface its warnings
  test/helpers/game-capture-target.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move compat-info styling out of TypeScript into CSS modules
  app/components-react/obs/ObsCompatInfo.m.less
  app/components-react/obs/ObsForm.tsx
  app/components-react/shared/ObsRichText.m.less
  app/components-react/shared/ObsRichText.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Assert severity semantically now that styling lives in CSS modules
  test/regular/game-capture.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Live output editing UI.
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/components-react/windows/go-live/LiveOutputEditingCard.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/StreamShiftCard.tsx
  app/components-react/windows/go-live/SwitcherCard.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/live-output-editing.json
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Hardware encoder testing
  app/components-react/shared/auto-optimizer/presentation.ts
  app/components-react/windows/go-live/GoLiveAutoOptimizer.tsx
  app/i18n/en-US/streaming.json
  app/services/auto-config/index.ts
  app/services/auto-config/output-transaction-policy.ts
  app/services/auto-config/probe-policy.ts
  app/services/auto-config/result-policy.ts
  app/services/auto-config/types.ts
  app/services/settings/output/encoder-settings-policy.ts
  app/services/settings/output/output-settings.ts
  test/regular/auto-optimizer-encoder-settings.ts
  test/regular/auto-optimizer-output-transaction.ts
  test/regular/auto-optimizer-presentation.ts
  test/regular/auto-optimizer-probe-policy.ts
  test/regular/auto-optimizer-result-policy.ts
  test/regular/auto-optimizer-topology.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add sleep to recording without spaces test
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor to streamline and fix strictnulls.
  app/i18n/en-US/live-output-editing.json
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix edit stream left column height.
  app/components-react/windows/go-live/GoLive.m.less
Owners: @yusukess, @kechino

Surface error when failing to set up patreon.
  app/services/platforms/base-platform.ts
  app/services/platforms/index.ts
  app/services/platforms/patreon.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add missing translations
  app/components-react/highlighter/ClipsView.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/pages/onboarding/Connect.tsx
  app/components-react/windows/go-live/OptimizedProfileSwitcher.tsx
  app/components-react/windows/settings/GameOverlay.tsx
  app/components/widgets/WidgetSettings.vue.ts
  app/i18n/en-US/customization.json
  app/i18n/en-US/dual-output.json
  app/i18n/en-US/facebook.json
  app/i18n/en-US/highlighter.json
  app/i18n/en-US/kick.json
  app/i18n/en-US/media-gallery.json
  app/i18n/en-US/onboarding.json
  app/i18n/en-US/overlays.json
  app/i18n/en-US/recording.json
  app/i18n/en-US/settings.json
  app/i18n/en-US/streaming.json
  app/i18n/en-US/tiktok.json
  app/i18n/en-US/troubleshooter.json
  app/i18n/en-US/widget-alertbox.json
  app/i18n/en-US/widget-game-pulse.json
  app/i18n/en-US/widget-tip-jar.json
  app/i18n/en-US/widgets.json
  app/i18n/en-US/youtube.json
  app/i18n/fallback.ts
  app/services/sources/sources-data.ts
  app/services/widgets/settings/alert-box/index.ts
  app/services/widgets/settings/media-share.ts
  stale-i18n-report.txt
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fixes from code review.
  app/services/platforms/base-platform.ts
  app/services/platforms/index.ts
  app/services/platforms/patreon.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): rename Intelligent Streaming Agent to Sidekick across the application
  app/components-react/hooks/useAgentAppInstalled.ts
  app/components-react/pages/AILanding.tsx
  app/components-react/pages/Loader.tsx
  app/components-react/windows/stream-avatar-automations/ActionControls.tsx
  app/components-react/windows/stream-avatar-automations/ActionEditor.tsx
  app/components-react/windows/stream-avatar-automations/AutomationsEmptyState.tsx
  app/i18n/en-US/ai.json
  app/i18n/en-US/stream-avatar-automations.json
  app/services/stream-avatar/engine/validation.ts
  app/services/utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Remove existing dual output toggles.
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/windows/settings/Video.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
