Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations widget-goal.json (Chinese Traditional)
  app/i18n/zh-TW/widget-goal.json
Owners: @takuhiro-koyama

New translations filters.json (Vietnamese)
  app/i18n/vi-VN/filters.json
Owners: @takuhiro-koyama

New translations sources.json (Vietnamese)
  app/i18n/vi-VN/sources.json
Owners: @takuhiro-koyama

New translations streaming.json (Vietnamese)
  app/i18n/vi-VN/streaming.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Vietnamese)
  app/i18n/vi-VN/widget-goal.json
Owners: @takuhiro-koyama

New translations filters.json (Portuguese, Brazilian)
  app/i18n/pt-BR/filters.json
Owners: @takuhiro-koyama

New translations sources.json (Portuguese, Brazilian)
  app/i18n/pt-BR/sources.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widget-goal.json
Owners: @takuhiro-koyama

New translations filters.json (Indonesian)
  app/i18n/id-ID/filters.json
Owners: @takuhiro-koyama

New translations sources.json (Indonesian)
  app/i18n/id-ID/sources.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Indonesian)
  app/i18n/id-ID/widget-goal.json
Owners: @takuhiro-koyama

New translations filters.json (Thai)
  app/i18n/th-TH/filters.json
Owners: @takuhiro-koyama

New translations sources.json (Thai)
  app/i18n/th-TH/sources.json
Owners: @takuhiro-koyama

New translations streaming.json (Thai)
  app/i18n/th-TH/streaming.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Thai)
  app/i18n/th-TH/widget-goal.json
Owners: @takuhiro-koyama

Remove deprecated components
  app/components-react/modals/onboarding/Devices.tsx
  app/components-react/modals/onboarding/ExtraPlatformConnect.m.less
  app/components-react/modals/onboarding/ExtraPlatformConnect.tsx
  app/components-react/modals/onboarding/Login.tsx
  app/components-react/pages/grow/Cards.tsx
  app/components-react/pages/grow/Grow.m.less
  app/components-react/pages/grow/Grow.tsx
  app/components-react/pages/index.ts
  app/components-react/pages/onboarding/Common.m.less
  app/components-react/pages/onboarding/Connect.m.less
  app/components-react/pages/onboarding/Connect.tsx
  app/components-react/pages/onboarding/FreshOrImport.m.less
  app/components-react/pages/onboarding/FreshOrImport.tsx
  app/components-react/pages/onboarding/HardwareSetup.m.less
  app/components-react/pages/onboarding/HardwareSetup.tsx
  app/components-react/pages/onboarding/MacPermissions.tsx
  app/components-react/pages/onboarding/ObsImport.m.less
  app/components-react/pages/onboarding/ObsImport.tsx
  app/components-react/pages/onboarding/ObsSvg.tsx
  app/components-react/pages/onboarding/Onboarding.m.less
  app/components-react/pages/onboarding/Onboarding.tsx
  app/components-react/pages/onboarding/OnboardingContext.ts
  app/components-react/pages/onboarding/Optimize.tsx
  app/components-react/pages/onboarding/PrimaryPlatformSelect.tsx
  app/components-react/pages/onboarding/Prime.m.less
  app/components-react/pages/onboarding/Prime.tsx
  app/components-react/pages/onboarding/Signup.m.less
  app/components-react/pages/onboarding/Signup.tsx
  app/components-react/pages/onboarding/StreamingOrRecording.m.less
  app/components-react/pages/onboarding/StreamingOrRecording.tsx
  app/components-react/pages/onboarding/ThemeSelector.m.less
  app/components-react/pages/onboarding/ThemeSelector.tsx
  app/components-react/pages/onboarding/steps.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Skip Enhanced Broadcasting-covered recording helpers when stopping stream
  app/services/streaming/output-context.ts
  app/services/streaming/streaming.ts
  test/regular/streaming/output-context.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Temporarily skip tests fixed in 352d446.
  test/regular/obs-importer.ts
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Recording from Go Live window test.
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/streaming/streaming.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Skip failing Twitch tests from version mismatch.
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dual output end stream test.
  test/regular/streaming/dual-output-end-stream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix checkbox classname and add missing dependency.
  app/components-react/shared/DualOutputToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(AILanding): update image source for Sidekick feature
  app/components-react/pages/AILanding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restore translations strings.
  app/i18n/en-US/dual-output.json
Owners: @takuhiro-koyama

Update osn: Update obs-studio-node to v0.27.3 (#6071)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Provision the shared graphics hook directory from the installer (#6063)
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add licenses file (#6056)
  .gitignore
  electron-builder/base.config.js
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Skip Enhanced Broadcasting-covered recording helpers when stopping stream (#5998)
  app/services/streaming/output-context.ts
  app/services/streaming/streaming.ts
  test/regular/streaming/output-context.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Using new API for obtaining encoder metadata from OSN (#5931)
  app/components-react/windows/settings/ObsSettings.tsx
  app/services/settings/output/encoder-compatibility.ts
  app/services/settings/output/encoder-query.ts
  app/services/settings/output/index.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/settings.ts
  app/services/video-encoding-optimizations/definitions.ts
  app/services/video-encoding-optimizations/video-encoding-optimizations.ts
  scripts/repositories.json
  test/regular/api/output-encoder-metadata.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.22.0-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Unify getting mode for platform.
  app/services/platforms/base-platform.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show/hide display toggles when output mode changed.
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.4
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.4 (#6081)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix go live window tests and tooltip hover check.
  app/components-react/shared/AnimatedWrapper.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  test/helpers/modules/core.ts
  test/regular/streaming/go-live-window.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.22.0-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update tests with tooltips.
  test/regular/streaming/multistream.ts
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

First pass adding copilot instructions to check translations
  .github/workflows/instructions/translations.instructions.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
