Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations streaming.json (Turkish)
  app/i18n/tr-TR/streaming.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Simplified)
  app/i18n/zh-CN/settings.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Simplified)
  app/i18n/zh-CN/streaming.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Traditional)
  app/i18n/zh-TW/settings.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Traditional)
  app/i18n/zh-TW/streaming.json
Owners: @takuhiro-koyama

New translations settings.json (Vietnamese)
  app/i18n/vi-VN/settings.json
Owners: @takuhiro-koyama

New translations streaming.json (Vietnamese)
  app/i18n/vi-VN/streaming.json
Owners: @takuhiro-koyama

New translations settings.json (Portuguese, Brazilian)
  app/i18n/pt-BR/settings.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations settings.json (Indonesian)
  app/i18n/id-ID/settings.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations settings.json (Thai)
  app/i18n/th-TH/settings.json
Owners: @takuhiro-koyama

New translations streaming.json (Thai)
  app/i18n/th-TH/streaming.json
Owners: @takuhiro-koyama

Fix YouTube Dual Stream + Vertical RTMP (#6162)
  app/components-react/root/LiveDock.tsx
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/Main.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/settings/Stream.tsx
  app/i18n/en-US/dual-output.json
  app/i18n/en-US/streaming.json
  app/services/settings/settings.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  test/regular/settings/streaming.ts
  test/regular/streaming/multistream.ts
  test/regular/streaming/twitch.ts
  test/regular/streaming/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Add retry to request utility server to test if ECONNABORTED issue is from a dead connection.
  test/helpers/runner.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix destination routing and Enhanced Broadcasting in unprotected mode (#6187)
  app/components-react/root/LiveDock.tsx
  app/services/platforms/twitch.ts
  app/services/settings/settings.ts
  app/services/streaming/stream-destination.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  test/regular/settings/streaming.ts
  test/regular/streaming/live-dock.ts
  test/regular/streaming/twitch-stream-destination.ts
  test/regular/streaming/unprotected-display-assignment.ts
  test/regular/streaming/unprotected-mode.ts
  test/regular/streaming/unprotected-upgrade.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Reinstate uncontrolled inputs for obs text fields (#6208)
  app/components-react/obs/ObsForm.tsx
  app/components-react/shared/inputs/inputs.ts
  test/performance/tests/performance-tests.ts
  test/regular/highlighter.ts
  test/regular/recording.ts
  test/regular/replay-buffer.ts
  test/regular/selective-recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: remove ability to skip ultra step when shown
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Enable replay buffer to work with selective recording
  app/components-react/editor/elements/SourceSelector.tsx
  test/regular/selective-recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

marketing: remove product updates API hack
  app/services/announcements.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix highlighter tests.
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update comments.
  test/helpers/runner.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add timeout for displaying onboarding welcome header in onboarding test helper.
  test/helpers/modules/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Don't show feature cards in unprotected mode.
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix open go live window for Twitch unprotected mode.
  app/components-react/root/StartStreamingButton.tsx
  app/services/streaming/stream-destination.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update highlighter save and export selectors.
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

test: Screenshot Output writes a PNG to the recording folder and reports it [Asana: 1216010475168255]
  test/regular/screenshot.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: zero the streaming instance count when a Twitch dual stream ends, even if a display is retained for recording [Asana: 1215986725462801]
  app/services/streaming/streaming.ts
  test/regular/streaming/reconnect-lifecycle.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

test: assert the Screenshot Output success toast in the footer [Asana: 1216010475168255]
  test/regular/screenshot.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Prevent Selective Recording for active vertical replay buffers
  app/components-react/editor/elements/SourceSelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav-menu: update collapsing logic
  app/components-react/nav-menu/FeaturesNav.m.less
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/nav-menu/NavMenu.m.less
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/ToolsNav.m.less
  app/components-react/nav-menu/ToolsNav.tsx
  app/components-react/nav-menu/useNavCollapse.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav-menu: update to top-nav layout
  app/components-react/nav-menu/FeaturesNav.m.less
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/nav-menu/NavMenu.m.less
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/MenuItem.m.less
  app/components-react/shared/MenuItem.tsx
  app/components-react/windows/Main.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav-menu: re-add recordings
  app/components-react/windows/settings/Appearance.m.less
  app/components-react/windows/settings/Appearance.tsx
  app/services/nav-menu/menu-data.ts
  app/services/nav-menu/menu.ts
  app/services/recording-mode.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav-menu: rename side nav references
  app/app-services.ts
  app/app.g.less
  app/components-react/hooks/useAgentAppInstalled.ts
  app/components-react/index.ts
  app/components-react/nav-menu/AppsNav.tsx
  app/components-react/nav-menu/EditorTabs.tsx
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/nav-menu/NavMenu.m.less
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/NavTools.m.less
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/nav-menu/PlatformIndicator.m.less
  app/components-react/nav-menu/PlatformIndicator.tsx
  app/components-react/pages/PlatformAppStore.tsx
  app/components-react/pages/RecordingHistory.tsx
  app/components-react/pages/VisionLanding.tsx
  app/components-react/pages/layout-editor/TopBar.tsx
  app/components-react/shared/MenuItem.m.less
  app/components-react/shared/MenuItem.tsx
  app/components-react/windows/Main.m.less
  app/components-react/windows/Main.tsx
  app/components-react/windows/settings/Appearance.m.less
  app/components-react/windows/settings/Appearance.tsx
  app/components/custom-source-properties/PlatformAppProperties.vue.ts
  app/services/dismissables.ts
  app/services/highlighter/index.ts
  app/services/layout/index.ts
  app/services/nav-menu/index.ts
  app/services/nav-menu/menu-data.ts
  app/services/nav-menu/menu.ts
  app/services/navigation.ts
  app/services/platform-apps/index.ts
  app/services/protocol-links.ts
  app/services/side-nav/menu-data.ts
  docs/typedoc-monkeypatch.js
  test/helpers/modules/navigation.ts
  test/helpers/modules/settings/settings.ts
  test/regular/obs-importer.ts
  test/regular/settings/hotkeys.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

nav-menu: build out tools sub section
  app/components-react/nav-menu/NavTools.m.less
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/nav-menu/PlatformIndicator.m.less
  app/components-react/nav-menu/PlatformIndicator.tsx
  app/components-react/root/NotificationsArea.m.less
  app/components-react/root/NotificationsArea.tsx
  app/components-react/root/StudioEditor.m.less
  app/components-react/root/StudioEditor.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/DualOutputControls.m.less
  app/components-react/shared/DualOutputControls.tsx
  app/components-react/shared/DualOutputToggle.m.less
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/shared/inputs/SwitchInput.tsx
  app/i18n/en-US/common.json
  app/i18n/en-US/streaming.json
  app/services/transitions.ts
  media/images/user.png
  test/regular/streaming/dual-output.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

nav-menu: rename navtools -> toolsnav
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/PlatformIndicator.m.less
  app/components-react/nav-menu/ToolsNav.m.less
  app/components-react/nav-menu/ToolsNav.tsx
  app/components-react/root/NotificationsArea.tsx
  app/services/nav-menu/menu-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

nav-menu: simplify nav menu feature set
  app/components-react/nav-menu/AppsNav.tsx
  app/components-react/nav-menu/EditorTabs.tsx
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/pages/PlatformAppStore.tsx
  app/components-react/pages/VisionLanding.tsx
  app/components-react/pages/layout-editor/TopBar.tsx
  app/components-react/windows/settings/Appearance.tsx
  app/components/custom-source-properties/PlatformAppProperties.vue.ts
  app/services/dismissables.ts
  app/services/layout/index.ts
  app/services/nav-menu/menu-data.ts
  app/services/nav-menu/menu.ts
  app/services/navigation.ts
  app/services/platform-apps/index.ts
  app/services/protocol-links.ts
  app/services/usage-statistics.ts
  media/images/chalk-arrow.png
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Update osn: Update obs-studio-node to v0.27.19cefsand1
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav-menu: remove user profile dropdown
  app/components-react/nav-menu/NavMenu.m.less
  app/components-react/nav-menu/ToolsNav.m.less
  app/components-react/nav-menu/ToolsNav.tsx
  app/components-react/root/NotificationsArea.m.less
  app/components-react/root/NotificationsArea.tsx
  app/components-react/root/StudioFooter.tsx
  app/i18n/en-US/common.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix go live with unprotected mode Twitch after protected mode multistream.
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
