Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

nav-menu: rename navtools -> toolsnav
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/PlatformIndicator.m.less
  app/components-react/nav-menu/ToolsNav.m.less
  app/components-react/nav-menu/ToolsNav.tsx
  app/components-react/root/NotificationsArea.tsx
  app/services/nav-menu/menu-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

nav-menu: build out tools sub section
  app/components-react/nav-menu/NavTools.m.less
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/nav-menu/PlatformIndicator.m.less
  app/components-react/nav-menu/PlatformIndicator.tsx
  app/components-react/root/NotificationsArea.m.less
  app/components-react/root/NotificationsArea.tsx
  app/components-react/root/StudioEditor.m.less
  app/components-react/root/StudioEditor.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/DualOutputControls.m.less
  app/components-react/shared/DualOutputControls.tsx
  app/components-react/shared/DualOutputToggle.m.less
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/shared/inputs/SwitchInput.tsx
  app/i18n/en-US/common.json
  app/i18n/en-US/streaming.json
  app/services/transitions.ts
  media/images/user.png
  test/regular/streaming/dual-output.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

nav-menu: simplify nav menu feature set
  app/components-react/nav-menu/AppsNav.tsx
  app/components-react/nav-menu/EditorTabs.tsx
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/pages/AILanding.tsx
  app/components-react/pages/PlatformAppStore.tsx
  app/components-react/pages/layout-editor/TopBar.tsx
  app/components-react/windows/settings/Appearance.tsx
  app/components/custom-source-properties/PlatformAppProperties.vue.ts
  app/services/dismissables.ts
  app/services/layout/index.ts
  app/services/nav-menu/menu-data.ts
  app/services/nav-menu/menu.ts
  app/services/navigation.ts
  app/services/platform-apps/index.ts
  app/services/protocol-links.ts
  app/services/usage-statistics.ts
  media/images/chalk-arrow.png
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

nav-menu: update to top-nav layout
  app/components-react/nav-menu/FeaturesNav.m.less
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/nav-menu/NavMenu.m.less
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/MenuItem.m.less
  app/components-react/shared/MenuItem.tsx
  app/components-react/windows/Main.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Dual Output folder imports and canvas interactions
  app/components-react/root/StudioEditor.tsx
  app/services/dual-output/dual-output.ts
  app/services/editor.ts
  app/util/DragHandler.ts
  app/util/editor-mouse-move.ts
  test/regular/api/dual-output.ts
  test/regular/editor-drag.ts
  test/regular/editor-mouse-move.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add check for game capture lib signature
  .github/workflows/tests.yml
  scripts/ci/verify_game_signatures.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Allowlist OBS signer certificate
  scripts/ci/verify_game_signatures.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add default failure image title.
  test/helpers/webdriver/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Use thumbprints for OSN binaries
  scripts/ci/verify_game_signatures.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update comment for signer certificates
  .github/workflows/tests.yml
  scripts/ci/verify_game_signatures.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

use actions
  app/components-react/highlighter/ImportStream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix styling
  app/components-react/highlighter/migration/MigrationNotice.m.less
Owners: @yusukess, @kechino

fix styling
  app/components-react/highlighter/migration/PageInstallationFlow.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix install url
  app/services/highlighter/constants.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

open marker location check
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix tooltip placement.
  app/components-react/windows/settings/Stream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.14 (#6177)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dual output source z order (#6158)
  app/services/dual-output/dual-output.ts
  app/services/dual-output/node-order.ts
  app/services/editor-commands/commands/copy-nodes.ts
  app/services/editor-commands/commands/create-folder.ts
  app/services/scenes/scenes.ts
  test/regular/api/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixed saving non-common encoder settings (#6163)
  app/services/settings/output/output-settings.ts
  app/services/streaming/enhanced-broadcasting-notifications.ts
  app/services/streaming/streaming.ts
  test/regular/settings/encoder-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Use js instead of ts
  .github/workflows/tests.yml
  scripts/ci/verify_game_signatures.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[Highlighter] Install origin marker (#6148)
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/migration/MigrationNotice.tsx
  app/components-react/highlighter/migration/ModalInstallationFlow.tsx
  app/components-react/highlighter/migration/useInstallState.ts
  app/services/highlighter/constants.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/highlighter.models.ts
  app/services/utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix widget goals tests. (#6170)
  app/components-react/widgets/ChatBox.tsx
  app/components-react/widgets/Credits.tsx
  app/components-react/widgets/DonationTicker.tsx
  app/components-react/widgets/EmoteWall.tsx
  app/components-react/widgets/EventList.tsx
  app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/Jar.tsx
  app/components-react/widgets/SponsorBanner.tsx
  app/components-react/widgets/ViewerCount.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add timeout for AI Highlighter test. (#6169)
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Tip Jar test and add error handling (#6168)
  app/components-react/shared/inputs/ImagePickerInput.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/i18n/en-US/widgets.json
  app/services/widgets/widgets-data.ts
  test/helpers/modules/forms/form.ts
  test/helpers/modules/sources.ts
  test/regular/widgets/tip-jar.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add test failure screenshot option. (#6171)
  test/helpers/webdriver/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix HackerOne -3045235 by disabling the hyperlink (#6140)
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add Game Capture e2e tests driven by game-capture-target (#6073)
  test/helpers/game-capture-target.ts
  test/regular/game-capture.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor powershell code into a .ps script
  scripts/ci/verify_game_signature.ps1
  scripts/ci/verify_game_signatures.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add check for game capture signatures on the Build machine (#6156)
  .github/workflows/tests.yml
  scripts/ci/verify_game_signature.ps1
  scripts/ci/verify_game_signatures.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update multistream chat name to Multichat
  app/components-react/root/LiveDock.m.less
  app/components-react/root/LiveDock.tsx
  app/i18n/en-US/common.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

onboarding: prevent user from skipping login
  app/components-react/modals/onboarding/Splash.tsx
  app/i18n/en-US/onboarding.json
  app/services/onboarding/onboarding-v2.ts
  test/helpers/modules/onboarding.ts
  test/regular/obs-importer.ts
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix source selection after disabling dual output (#6173)
  app/components-react/editor/elements/SourceSelector.tsx
  app/services/dual-output/dual-output.ts
  app/services/scenes/scene.ts
  test/regular/api/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix unprotected mode show go live window and show/hide live dock.
  app/components-react/root/LiveDock.tsx
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/Main.tsx
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add unprotected mode server url validation and missing stream key error handling.
  app/i18n/en-US/dual-output.json
  app/i18n/en-US/streaming.json
  app/services/settings/settings.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix setting unprotected and protected mode.
  app/components-react/windows/settings/Stream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Dual Output folder imports and canvas interactions (#6180)
  app/components-react/root/StudioEditor.tsx
  app/services/dual-output/dual-output.ts
  app/services/editor.ts
  app/util/DragHandler.ts
  app/util/editor-mouse-move.ts
  test/regular/api/dual-output.ts
  test/regular/editor-drag.ts
  test/regular/editor-mouse-move.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix retained streaming restart lifecycle
  app/services/streaming/streaming-output-lifecycle.ts
  app/services/streaming/streaming.ts
  test/regular/streaming/reconnect-lifecycle.ts
  test/regular/streaming/streaming-output-lifecycle.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Document streaming signal lifecycle contracts
  app/services/streaming/streaming-output-lifecycle.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Preserve companion outputs during reconnect while streaming
  app/services/streaming/streaming-output-lifecycle.ts
  app/services/streaming/streaming.ts
  test/regular/streaming/reconnect-lifecycle.ts
  test/regular/streaming/streaming-output-lifecycle.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Improved comments
  app/services/streaming/streaming-output-lifecycle.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
