Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations streaming.json (Korean)
  app/i18n/ko-KR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Macedonian)
  app/i18n/mk-MK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Dutch)
  app/i18n/nl-NL/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Polish)
  app/i18n/pl-PL/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese)
  app/i18n/pt-PT/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Russian)
  app/i18n/ru-RU/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovak)
  app/i18n/sk-SK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovenian)
  app/i18n/sl-SI/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Swedish)
  app/i18n/sv-SE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Turkish)
  app/i18n/tr-TR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Simplified)
  app/i18n/zh-CN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Traditional)
  app/i18n/zh-TW/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Vietnamese)
  app/i18n/vi-VN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Thai)
  app/i18n/th-TH/streaming.json
Owners: @takuhiro-koyama

Update electron builder
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add new fields to reactive widgets
  app/components-react/widgets/ReactiveWidget.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidget.helpers.ts
  app/components-react/widgets/reactive-widget/ReactiveWidgetCreateTriggerForm.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetTriggerDetails.tsx
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
  app/services/widgets/settings/widget-settings.ts
  app/services/widgets/widgets-config.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add translations
  app/components-react/modals/onboarding/ConnectMore.tsx
  app/components-react/modals/onboarding/OBSImport.tsx
  app/i18n/en-US/onboarding.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Address CR
  app/components-react/modals/onboarding/OBSImport.tsx
  app/components-react/modals/onboarding/RecordingLogin.tsx
  app/components-react/modals/onboarding/Splash.tsx
  app/components-react/modals/onboarding/Themes.tsx
  app/components-react/shared/Translate.tsx
  app/i18n/en-US/onboarding.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Full fix for handling setting default codec to H.264 and updated multistream tests.
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/services/settings/settings.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.75
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add editor commands test for sources.
  app/components-react/editor/elements/DualOutputSourceSelector.tsx
  app/components-react/editor/elements/SourceSelector.tsx
  app/services/api/external-api/scenes/scene-item-folder.ts
  app/services/api/external-api/scenes/scene-item.ts
  test/helpers/modules/sources.ts
  test/helpers/scene-builder.ts
  test/regular/undo.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Dual Output Go Live test fixes.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Multistream test fixes.
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore: rm collectibles from sidenav
  app/services/side-nav/menu-data.ts
  app/services/side-nav/menu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore: rm collectibles from sidenav (#5697)
  app/services/side-nav/menu-data.ts
  app/services/side-nav/menu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore: rm collectibles from sidenav (#5697)
  app/services/side-nav/menu-data.ts
  app/services/side-nav/menu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.75 (#5695)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.3-preview.2
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix tests
  app/services/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix more tests
  app/components-react/modals/onboarding/Onboarding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert to user-configured settings after stream ends
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix notifications icon hover color.
  app/components-react/root/NotificationsArea.m.less
  app/components-react/root/NotificationsArea.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix beta badge styling.
  app/components-react/shared/DismissableBadge.m.less
  app/themes.g.less
Owners: @yusukess, @kechino

Fix styling for checkbox for all themes.
  app/components-react/obs/ObsForm.tsx
  app/styles/antd/day-theme.lazy.less
  app/styles/antd/night-theme.lazy.less
  app/styles/antd/prime-dark.lazy.less
  app/styles/antd/prime-light.lazy.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Test
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix small issues
  app/components-react/editor/elements/SceneSelector.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fallback to Default device when the previous device is missing (#5674)
  app/components-react/windows/advanced-audio/SourceSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Simple dependency updates.
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
