Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations streaming.json (Chinese Simplified)
  app/i18n/zh-CN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Traditional)
  app/i18n/zh-TW/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Vietnamese)
  app/i18n/vi-VN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Thai)
  app/i18n/th-TH/streaming.json
Owners: @takuhiro-koyama

optimize trigger preview handling
  app/components-react/widgets/game-pulse/GamePulse.consts.ts
  app/components-react/widgets/game-pulse/GamePulse.helpers.ts
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update onSubmit type on create trigger form
  app/components-react/widgets/GamePulse.tsx
  app/components-react/widgets/game-pulse/GamePulseCreateTriggerForm.tsx
  app/i18n/en-US/widgets.json
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Use correct encoder on recording
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix product updates appearing multiple times
  app/services/announcements.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

rm inline styles
  app/components-react/widgets/GamePulse.tsx
  app/components-react/widgets/game-pulse/GamePulse.m.less
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

update relative imports
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components-react/widgets/game-pulse/GamePulseTriggerDetails.tsx
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

improve game_pulse_api typing
  app/components-react/widgets/game-pulse/GamePulse.consts.ts
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add missing translations to gamepulse
  app/components-react/widgets/game-pulse/GamePulseGameSettings.m.less
  app/components-react/widgets/game-pulse/GamePulseGameSettings.tsx
  app/components-react/widgets/game-pulse/GamePulseMenu.tsx
  app/i18n/en-US/widget-game-pulse.json
  app/i18n/en-US/widgets.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

fix typo
  app/components-react/widgets/GamePulse.tsx
  app/i18n/en-US/widget-game-pulse.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

merge groupedlist into listinput
  app/components-react/shared/inputs/GroupedListInput.tsx
  app/components-react/shared/inputs/ListInput.tsx
  app/components-react/shared/inputs/inputList.ts
  app/components-react/shared/inputs/inputs.ts
  app/components-react/widgets/game-pulse/GamePulseTriggerDetails.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

lint, move setIsSubmitting to finally block
  app/components-react/shared/inputs/ListInput.tsx
  app/components-react/shared/inputs/inputs.ts
  app/components-react/widgets/game-pulse/GamePulse.helpers.ts
  app/components-react/widgets/game-pulse/GamePulse.types.ts
  app/components-react/widgets/game-pulse/GamePulseCreateTriggerForm.tsx
  app/services/widgets/widgets-config.ts
  app/services/widgets/widgets-data.ts
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

lint
  app/components-react/widgets/game-pulse/GamePulse.consts.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

remove 'satisfies' operator to resolve ESLint parsing error
  app/components-react/widgets/game-pulse/GamePulse.consts.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add GenericGoal.tsx
  app/components-react/shared/inputs/TextInput.tsx
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/goals/GenericGoal.tsx
  app/services/widgets/widgets-config.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

pr updates
  app/components-react/shared/inputs/ListInput.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/game-pulse/GamePulse.m.less
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

replace types, consts, helpers file with model on gamepulse widget
  app/components-react/widgets/GamePulse.tsx
  app/components-react/widgets/game-pulse/GamePulse.consts.ts
  app/components-react/widgets/game-pulse/GamePulse.helpers.ts
  app/components-react/widgets/game-pulse/GamePulse.models.ts
  app/components-react/widgets/game-pulse/GamePulse.types.ts
  app/components-react/widgets/game-pulse/GamePulseCreateTriggerForm.tsx
  app/components-react/widgets/game-pulse/GamePulseGameSettings.tsx
  app/components-react/widgets/game-pulse/GamePulseMenu.tsx
  app/components-react/widgets/game-pulse/GamePulseTriggerDetails.tsx
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Correct and expand settings applied to streaming and recording instances.
  app/services/settings/output/output-settings.ts
  app/services/settings/settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New OSN version.
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add widget-game-pulse to fallback.ts
  app/i18n/fallback.ts
Owners: @takuhiro-koyama

New translations common.json (French)
  app/i18n/fr-FR/common.json
Owners: @takuhiro-koyama

New translations widget-game-pulse.json (French)
  app/i18n/fr-FR/widget-game-pulse.json
Owners: @takuhiro-koyama

New translations common.json (Spanish)
  app/i18n/es-ES/common.json
Owners: @takuhiro-koyama

New translations widget-game-pulse.json (Spanish)
  app/i18n/es-ES/widget-game-pulse.json
Owners: @takuhiro-koyama

New translations common.json (Arabic)
  app/i18n/ar-SA/common.json
Owners: @takuhiro-koyama

New translations widget-game-pulse.json (Arabic)
  app/i18n/ar-SA/widget-game-pulse.json
Owners: @takuhiro-koyama

New translations common.json (Czech)
  app/i18n/cs-CZ/common.json
Owners: @takuhiro-koyama

New translations widget-game-pulse.json (Czech)
  app/i18n/cs-CZ/widget-game-pulse.json
Owners: @takuhiro-koyama

New translations common.json (Danish)
  app/i18n/da-DK/common.json
Owners: @takuhiro-koyama

New translations widget-game-pulse.json (Danish)
  app/i18n/da-DK/widget-game-pulse.json
Owners: @takuhiro-koyama

New translations common.json (German)
  app/i18n/de-DE/common.json
Owners: @takuhiro-koyama

New translations widget-game-pulse.json (German)
  app/i18n/de-DE/widget-game-pulse.json
Owners: @takuhiro-koyama

New translations common.json (Hungarian)
  app/i18n/hu-HU/common.json
Owners: @takuhiro-koyama

New translations widget-game-pulse.json (Hungarian)
  app/i18n/hu-HU/widget-game-pulse.json
Owners: @takuhiro-koyama

New translations common.json (Italian)
  app/i18n/it-IT/common.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
