Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations patreon.json (Dutch)
  app/i18n/nl-NL/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Polish)
  app/i18n/pl-PL/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Portuguese)
  app/i18n/pt-PT/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Russian)
  app/i18n/ru-RU/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Slovak)
  app/i18n/sk-SK/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Slovenian)
  app/i18n/sl-SI/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Swedish)
  app/i18n/sv-SE/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Turkish)
  app/i18n/tr-TR/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Chinese Simplified)
  app/i18n/zh-CN/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Chinese Traditional)
  app/i18n/zh-TW/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Vietnamese)
  app/i18n/vi-VN/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Portuguese, Brazilian)
  app/i18n/pt-BR/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Indonesian)
  app/i18n/id-ID/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Thai)
  app/i18n/th-TH/patreon.json
Owners: @takuhiro-koyama

surface video-context init failures from establishVideoContext
  app/services/settings-v2/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix overlay url regression
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Reset native mediasoup transceiver on Collab Cam teardown
  app/services/guest-cam/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update Loader.tsx
  app/components-react/pages/Loader.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

highlighter staging indicator
  app/components-react/highlighter/migration/PageInstallationFlow.tsx
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix patreon as only enabled platform causing relog on app restart.
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix recording not starting when highlighter is enabled
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

untoggle highlighter when non supported game is selected
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix overlay url regression (#5942)
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix patreon as only enabled platform causing relog on app restart. (#5945)
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.2
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.27
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

test
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

use twitch game_name instead of game id
  app/services/highlighter/index.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Load scene collection from files, load default scene collection, and clear cache on app logout.
  app/components-react/windows/Settings.tsx
  app/services/app/app.ts
  app/services/onboarding.ts
  app/services/onboarding/onboarding-v2.ts
  app/services/scene-collections/nodes/scenes.ts
  app/services/scene-collections/scene-collections.ts
  app/services/settings-v2/default-settings-data.ts
  app/services/settings/settings.ts
  app/services/sources/source.ts
  app/services/user/index.ts
  app/services/utils.ts
  electron-builder/base.config.js
  overlay-resources/README.txt
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added 3 more games
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.27tv1
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add scrollbar to supported games.
  app/components-react/highlighter/supportedGames/SupportedGames.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Automatically enable highlighter.
  app/services/app/app.ts
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update shared components.
  app/components-react/highlighter/Export/ExportModal.tsx
  app/components-react/shared/AddDestinationButton.m.less
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/AnimatedWrapper.m.less
  app/components-react/shared/AnimatedWrapper.tsx
  app/components-react/shared/InfoBadge.m.less
  app/components-react/shared/InfoBadge.tsx
  app/components-react/shared/StreamShiftToggle.m.less
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/shared/Tabs.tsx
  app/components-react/shared/inputs/CheckboxInput.tsx
  app/components-react/shared/inputs/ListInput.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/shared/inputs/SwitchInput.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Install and enable virtual webcam and vision on user login.
  app/services/virtual-webcam.ts
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update go live window platforms.
  app/components-react/windows/go-live/CustomFieldsCheckbox.tsx
  app/components-react/windows/go-live/platforms/FacebookEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/InstagramEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/KickEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TrovoEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TwitchTagsInput.tsx
  app/components-react/windows/go-live/platforms/TwitterEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/YoutubeEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add go live window themes.
  app/components/windows/ChildWindow.tsx
  app/services/customization.ts
  app/styles/antd/go-live.less
  app/styles/antd/golive-day-theme.lazy.less
  app/styles/antd/golive-night-theme.lazy.less
  app/styles/antd/golive-prime-dark.lazy.less
  app/styles/antd/golive-prime-light.less
  app/styles/antd/index.ts
  app/styles/colors.less
  app/themes.g.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Update translations.
  app/i18n/en-US/common.json
  app/i18n/en-US/highlighter.json
  app/i18n/en-US/settings.json
  app/i18n/en-US/streaming.json
  app/i18n/en-US/tiktok.json
Owners: @takuhiro-koyama

Update services.
  app/services/incremental-rollout.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move less files.
  app/styles/antd/golive-prime-light.lazy.less
  app/styles/go-live.less
Owners: @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
