Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Thai)
  app/i18n/th-TH/streaming.json
Owners: @takuhiro-koyama

Fix streaming with custom destinations in dual output and switching from protected mode.
  app/components-react/windows/settings/Stream.tsx
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fixes for strictnulls.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix streaming with custom destinations in dual output and switching from protected mode. (#5808)
  app/components-react/windows/settings/Stream.tsx
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

New translations streaming.json (Spanish)
  app/i18n/es-ES/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Arabic)
  app/i18n/ar-SA/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Czech)
  app/i18n/cs-CZ/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Danish)
  app/i18n/da-DK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (German)
  app/i18n/de-DE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Hungarian)
  app/i18n/hu-HU/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Italian)
  app/i18n/it-IT/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Japanese)
  app/i18n/ja-JP/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Korean)
  app/i18n/ko-KR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Macedonian)
  app/i18n/mk-MK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Dutch)
  app/i18n/nl-NL/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Polish)
  app/i18n/pl-PL/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese)
  app/i18n/pt-PT/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Russian)
  app/i18n/ru-RU/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovak)
  app/i18n/sk-SK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovenian)
  app/i18n/sl-SI/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Swedish)
  app/i18n/sv-SE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Turkish)
  app/i18n/tr-TR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Simplified)
  app/i18n/zh-CN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Traditional)
  app/i18n/zh-TW/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Vietnamese)
  app/i18n/vi-VN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Thai)
  app/i18n/th-TH/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (French)
  app/i18n/fr-FR/streaming.json
Owners: @takuhiro-koyama

Fixes from code review
  app/components-react/highlighter/Export/ExportModal.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/api/external-api/streaming/streaming.ts
  app/services/restream.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix ff
  app/components-react/root/StudioEditor.tsx
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/dual-output/dual-output.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix recording test.
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add unmount to studio footer and start streaming button.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/root/StudioFooter.tsx
  app/services/streaming/streaming.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix recording signals.
  app/services/streaming/streaming.ts
  test/regular/api/streaming.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove log.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix create streaming create service.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix streaming refactor error after code review.
  app/services/streaming/streaming.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

UI optimization, test fixes, and add signal handling test.
  app/components-react/root/LiveDock.tsx
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/root/StudioEditor.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/sidebar/SideNav.tsx
  app/components-react/windows/Main.tsx
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/performance.ts
  app/services/settings-v2/video.ts
  app/services/streaming/streaming.ts
  test/regular/api/streaming.ts
  test/regular/recording.ts
  test/regular/replay-buffer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
