Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Add another missing translation
  app/i18n/en-US/streaming.json
Owners: @takuhiro-koyama

Fix tests target buttons by name.
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/ButtonHighlighted.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes from code review.
  app/components-react/shared/DisplaySelector.tsx
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

media: fix stock media url
  app/services/media-gallery/media-gallery.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[filters] use updated versions of filters
  app/i18n/en-US/filters.json
  app/services/source-filters.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New info modal hook and expand go live and dual output tests.
  app/components-react/modals.tsx
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/Modals.m.less
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/components-react/windows/settings/Stream.tsx
  app/i18n/en-US/streaming.json
  test/helpers/modules/core.ts
  test/helpers/modules/user.ts
  test/helpers/webdriver/user.ts
  test/regular/streaming/dual-output.ts
  test/regular/streaming/go-live-window.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Add message for collection type tests.
  test/regular/services/scene-collections/scene-collections.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add skipping errors in logs for Youtube test failures from accounts.
  test/regular/streaming/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix signal handling for stop dual output streams with vertical recording.
  app/services/streaming/streaming.ts
  test/regular/streaming/dual-output-end-stream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add cleanup and debounce to fetch ingest servers.
  app/components-react/windows/settings/Stream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.7
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

committing workspace for software license work
  scripts/audit-licenses.js
  scripts/build-xlsx.js
  scripts/license-audit.csv
  scripts/license-audit.json
  scripts/license-audit.xlsx
  scripts/native-deps-audit.csv
  scripts/native-license-todo.csv
  scripts/native-license-todo.md
  scripts/stats.build.log
  scripts/~$license-audit.xlsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix TikTok test.
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
  test/helpers/modules/core.ts
  test/regular/streaming/tiktok.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Feedback from code review
  test/helpers/modules/forms/form.ts
  test/regular/streaming/dual-output.ts
  test/regular/streaming/go-live-window.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): refactor to remove AgentSocketService and replace with StreamAvatarApiService for improved API integration
  app/app-services.ts
  app/components-react/editor/elements/AutomationsElement.tsx
  app/components-react/hooks/useAgentAppInstalled.ts
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/services/stream-avatar/agent-socket-service.ts
  app/services/stream-avatar/automations-engine-service.ts
  app/services/stream-avatar/automations-service.ts
  app/services/stream-avatar/stream-avatar-api-service.ts
  app/services/utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): remove AUTOMATIONS_MIGRATION.md and consolidate conditions and instructions into flat files for improved organization
  AUTOMATIONS_MIGRATION.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): implement drag-and-drop reordering and enhance action editor functionality
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/i18n/en-US/stream-avatar-automations.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

feat(automations): add dropdownMatchSelectWidth prop to Select component in AutomationEditor
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor(automations): enhance AutomationEditor with Ant Design components and improve user interactions
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/services/hosts.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): update styles and functionality for automation components
  app/components-react/windows/stream-avatar-automations/AutomationEditor.m.less
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/services/stream-avatar/automations-service.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(sources): add methods to remove and set filter visibility in SourcesModule
  app/services/platform-apps/api/modules/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): add placeholder image for empty automations state
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wip(UX): working on automations UX
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.m.less
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/i18n/en-US/stream-avatar-automations.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

feat(automations): add ResizeObserver to Scrollable for dynamic scrollbar updates
  app/components-react/shared/Scrollable.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): update AutomationsElement and EditAutomations for create automation flow
  app/components-react/editor/elements/AutomationsElement.m.less
  app/components-react/editor/elements/AutomationsElement.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/services/stream-avatar/automations-service.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): implement AutomationsElement component and integrate with the editor
  app/components-react/editor/elements/AutomationsElement.m.less
  app/components-react/editor/elements/AutomationsElement.tsx
  app/components-react/editor/elements/index.ts
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/services/layout/layout-data.ts
  app/services/stream-avatar/automations-service.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): enhance Scrollable component with layout update and integrate AgentSocketService for simulation messaging
  app/components-react/shared/Scrollable.tsx
  app/services/hosts.ts
  app/services/stream-avatar/agent-socket-service.ts
  app/services/stream-avatar/automations-engine-service.ts
  app/services/stream-avatar/engine/actions.ts
  app/services/stream-avatar/engine/instructions.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(automations): update condition type for 'Enemy Eliminated' automation and adjust table styling
  app/components-react/windows/stream-avatar-automations/EditAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): add downloadUrl to sources and update related automation descriptions
  app/components-react/windows/stream-avatar-automations/EditAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): enhance UI layout and functionality for pre-made automations
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/services/stream-avatar/agent-socket-service.ts
  app/services/stream-avatar/automations-service.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): remove brand icon from PreMadeAutomations and add localization for template selection
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/i18n/en-US/stream-avatar-automations.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

feat(automations): add comprehensive migration documentation for Automations system
  AUTOMATIONS_MIGRATION.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): implement analytics tracking for automation actions and events
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/AutomationsAnalytics.ts
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/services/stream-avatar/automations-engine-service.ts
  app/services/usage-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): integrate Intelligent Streaming Agent app detection and installation prompts in automation editor
  app/components-react/hooks/useAgentAppInstalled.ts
  app/components-react/pages/AILanding.tsx
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/services/hosts.ts
  app/services/stream-avatar/engine/validation.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): add branding header to PreMadeAutomations modal with icon and title
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): add ISA app requirements and status messages to automation prompts
  app/i18n/en-US/stream-avatar-automations.json
Owners: @takuhiro-koyama

refactor(automations): streamline agent app detection logic and rename notification function
  app/components-react/hooks/useAgentAppInstalled.ts
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): update cover panel height in PreMadeAutomations for better layout
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
Owners: @yusukess, @kechino

feat(automations): improve localization and dynamic labels in automation components
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/i18n/en-US/stream-avatar-automations.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

feat(automations): filter sources to include only video sources in AutomationEditor
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
