Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

bump electron to 43.7.6 (#6248)
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.19 (#6250)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update Vue sliders to not use util.isString (removed) (#6247)
  app/components/shared/inputs/SliderInput.vue.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix fatal error for missing bundle when fetching source maps (#6246)
  updater/bundle-updater.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Filter stream encoder options by all enabled platforms (#6186)
  app/services/settings/output/encoder-query.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dual output toggle tooltip triggers only on hover.
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/shared/Tooltip.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add safe sync to best effort.
  app/services/app/app.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Trigger dual output toggle tooltip on hover.
  app/components-react/shared/DualOutputToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Adds Electron diagnostic logging
  main.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Wait for both replay clips before selecting them in highlighter test
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

cleanup
  app/components-react/highlighter/ManualCaptureSection.tsx
  app/components-react/highlighter/clips/ClipPreview.m.less
  app/components-react/highlighter/clips/ClipPreview.tsx
  app/components-react/highlighter/clips/ClipsView.tsx
  app/components-react/highlighter/clips/utils.ts
  app/components-react/pages/Highlighter.tsx
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

replay buffer order
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restore CI test run analytics.
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

small ui fixes
  app/components-react/highlighter/ImportStream.m.less
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/ReplaySection.m.less
  app/components-react/highlighter/clips/ClipsView.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Isolate Dual Output services and refresh retained VOD settings
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix ESLint errors in auto optimizer result validation
  app/services/auto-optimizer/result-acceptance.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Isolate Dual Output services and refresh retained VOD settings (#6207)
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.22.0-preview.13
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations onboarding.json (French)
  app/i18n/fr-FR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Spanish)
  app/i18n/es-ES/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Arabic)
  app/i18n/ar-SA/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Czech)
  app/i18n/cs-CZ/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Danish)
  app/i18n/da-DK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (German)
  app/i18n/de-DE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Hungarian)
  app/i18n/hu-HU/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Italian)
  app/i18n/it-IT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Japanese)
  app/i18n/ja-JP/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Korean)
  app/i18n/ko-KR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Macedonian)
  app/i18n/mk-MK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Dutch)
  app/i18n/nl-NL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Polish)
  app/i18n/pl-PL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese)
  app/i18n/pt-PT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Russian)
  app/i18n/ru-RU/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Slovak)
  app/i18n/sk-SK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Slovenian)
  app/i18n/sl-SI/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Swedish)
  app/i18n/sv-SE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Turkish)
  app/i18n/tr-TR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Simplified)
  app/i18n/zh-CN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Traditional)
  app/i18n/zh-TW/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Vietnamese)
  app/i18n/vi-VN/onboarding.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
