Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Optimize mapping update platforms and targets.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.7
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add/remove targets in dual output mode.
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add handling for factory api streaming instances.
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Added a cooldown timer.
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/streaming.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Add check
  app/components-react/windows/SourceProperties.tsx
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Make modal not closable
  app/components-react/modals/onboarding/Onboarding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add deep link
  app/components-react/windows/SourceProperties.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add translation
  app/i18n/en-US/sources.json
Owners: @takuhiro-koyama

Disable updating enhanced broadcasting and adding platform with dual stream.
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add mac source types
  app/components-react/windows/SourceProperties.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move audio to correct window
  app/components-react/windows/SourceProperties.tsx
  app/components-react/windows/advanced-audio/SourceSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

mac-release: validate binaries match ARCH (#5738)
  electron-builder/afterPack.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

crash-handler: Add "Troubleshooting here" hyperlink (#5736)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.7-preview.4
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(controls): add callout control
  app/components-react/shared/Callout.m.less
  app/components-react/shared/Callout.tsx
  app/styles/colors.less
  app/themes.g.less
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(multistream): add ultra features page
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/ButtonHighlighted.m.less
  app/components-react/shared/ButtonHighlighted.tsx
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/settings/Multistreaming.m.less
  app/components-react/windows/settings/Multistreaming.tsx
  app/i18n/en-US/streaming.json
  app/services/magic-link.ts
  media/images/multistreaming.png
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Reorder platforms. (#5737)
  app/services/platforms/index.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(widgets): add "Manage on Web" button (#5734)
  app/components-react/widgets/common/WidgetLayout.m.less
  app/components-react/widgets/common/WidgetLayout.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components/windows/WidgetEditor.vue
  app/components/windows/WidgetEditor.vue.ts
  app/i18n/en-US/widgets.json
  app/services/widgets/settings/alert-box/index.ts
  app/services/widgets/settings/bit-goal.ts
  app/services/widgets/settings/charity-goal.ts
  app/services/widgets/settings/chat-highlight.ts
  app/services/widgets/settings/credits.ts
  app/services/widgets/settings/donation-goal.ts
  app/services/widgets/settings/donation-ticker.ts
  app/services/widgets/settings/emote-wall.ts
  app/services/widgets/settings/event-list.ts
  app/services/widgets/settings/follower-goal.ts
  app/services/widgets/settings/media-share.ts
  app/services/widgets/settings/poll.ts
  app/services/widgets/settings/spin-wheel.ts
  app/services/widgets/settings/stars-goal.ts
  app/services/widgets/settings/stream-boss.ts
  app/services/widgets/settings/sub-goal.ts
  app/services/widgets/settings/subscriber-goal.ts
  app/services/widgets/settings/superchat-goal.ts
  app/services/widgets/settings/supporter-goal.ts
  app/services/widgets/settings/tip-jar.ts
  app/services/widgets/widgets-api.ts
  app/services/widgets/widgets-config.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Make modal not closable (#5739)
  app/components-react/modals/onboarding/Onboarding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations widgets.json (Czech)
  app/i18n/cs-CZ/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Danish)
  app/i18n/da-DK/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Dutch)
  app/i18n/nl-NL/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Chinese Simplified)
  app/i18n/zh-CN/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Chinese Traditional)
  app/i18n/zh-TW/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (French)
  app/i18n/fr-FR/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Spanish)
  app/i18n/es-ES/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (German)
  app/i18n/de-DE/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Italian)
  app/i18n/it-IT/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Japanese)
  app/i18n/ja-JP/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Korean)
  app/i18n/ko-KR/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Polish)
  app/i18n/pl-PL/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Portuguese)
  app/i18n/pt-PT/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Russian)
  app/i18n/ru-RU/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Turkish)
  app/i18n/tr-TR/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Indonesian)
  app/i18n/id-ID/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Arabic)
  app/i18n/ar-SA/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Hungarian)
  app/i18n/hu-HU/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Macedonian)
  app/i18n/mk-MK/widgets.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
