Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations widgets.json (Vietnamese)
  app/i18n/vi-VN/widgets.json
Owners: @takuhiro-koyama

New translations widget-tip-jar.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widget-tip-jar.json
Owners: @takuhiro-koyama

New translations widgets.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widgets.json
Owners: @takuhiro-koyama

New translations widget-tip-jar.json (Indonesian)
  app/i18n/id-ID/widget-tip-jar.json
Owners: @takuhiro-koyama

New translations widgets.json (Indonesian)
  app/i18n/id-ID/widgets.json
Owners: @takuhiro-koyama

New translations widget-tip-jar.json (Thai)
  app/i18n/th-TH/widget-tip-jar.json
Owners: @takuhiro-koyama

New translations widgets.json (Thai)
  app/i18n/th-TH/widgets.json
Owners: @takuhiro-koyama

Add removeFilter method to platform API
  app/services/platform-apps/api/modules/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

remove _ for consistency
  app/services/platform-apps/api/modules/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

widgets: address jar qa feedback
  app/components-react/widgets/Jar.tsx
  app/i18n/en-US/widgets.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

More selectively kick off CI runs
  azure-pipelines.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor to make update target code more DRY and add documentation.
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

widgets: address jar qa feedback (#6090)
  app/components-react/widgets/Jar.tsx
  app/i18n/en-US/widgets.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix jsdoc formatting.
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations widgets.json (French)
  app/i18n/fr-FR/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Spanish)
  app/i18n/es-ES/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Arabic)
  app/i18n/ar-SA/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Czech)
  app/i18n/cs-CZ/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Danish)
  app/i18n/da-DK/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (German)
  app/i18n/de-DE/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Hungarian)
  app/i18n/hu-HU/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Italian)
  app/i18n/it-IT/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Japanese)
  app/i18n/ja-JP/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Korean)
  app/i18n/ko-KR/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Macedonian)
  app/i18n/mk-MK/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Dutch)
  app/i18n/nl-NL/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Polish)
  app/i18n/pl-PL/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Portuguese)
  app/i18n/pt-PT/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Russian)
  app/i18n/ru-RU/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Slovak)
  app/i18n/sk-SK/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Slovenian)
  app/i18n/sl-SI/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Swedish)
  app/i18n/sv-SE/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Turkish)
  app/i18n/tr-TR/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Chinese Simplified)
  app/i18n/zh-CN/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Chinese Traditional)
  app/i18n/zh-TW/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Vietnamese)
  app/i18n/vi-VN/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Indonesian)
  app/i18n/id-ID/widgets.json
Owners: @takuhiro-koyama

New translations widgets.json (Thai)
  app/i18n/th-TH/widgets.json
Owners: @takuhiro-koyama

docs: fix typo in README (essential -> essentially)
  README.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
