Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations recent-events.json (Chinese Traditional)
  app/i18n/zh-TW/recent-events.json
Owners: @takuhiro-koyama

New translations recent-events.json (Vietnamese)
  app/i18n/vi-VN/recent-events.json
Owners: @takuhiro-koyama

New translations recent-events.json (Portuguese, Brazilian)
  app/i18n/pt-BR/recent-events.json
Owners: @takuhiro-koyama

New translations recent-events.json (Indonesian)
  app/i18n/id-ID/recent-events.json
Owners: @takuhiro-koyama

New translations recent-events.json (Thai)
  app/i18n/th-TH/recent-events.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (French)
  app/i18n/fr-FR/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Spanish)
  app/i18n/es-ES/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Czech)
  app/i18n/cs-CZ/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Danish)
  app/i18n/da-DK/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (German)
  app/i18n/de-DE/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Italian)
  app/i18n/it-IT/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Japanese)
  app/i18n/ja-JP/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Korean)
  app/i18n/ko-KR/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Dutch)
  app/i18n/nl-NL/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Polish)
  app/i18n/pl-PL/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Portuguese)
  app/i18n/pt-PT/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Russian)
  app/i18n/ru-RU/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Turkish)
  app/i18n/tr-TR/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Chinese Simplified)
  app/i18n/zh-CN/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Chinese Traditional)
  app/i18n/zh-TW/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Portuguese, Brazilian)
  app/i18n/pt-BR/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Indonesian)
  app/i18n/id-ID/promotional-copy.json
Owners: @takuhiro-koyama

New translations settings.json (Arabic)
  app/i18n/ar-SA/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Hungarian)
  app/i18n/hu-HU/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Macedonian)
  app/i18n/mk-MK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Slovak)
  app/i18n/sk-SK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Slovenian)
  app/i18n/sl-SI/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Swedish)
  app/i18n/sv-SE/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Vietnamese)
  app/i18n/vi-VN/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Thai)
  app/i18n/th-TH/settings.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Arabic)
  app/i18n/ar-SA/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Hungarian)
  app/i18n/hu-HU/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Macedonian)
  app/i18n/mk-MK/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Slovak)
  app/i18n/sk-SK/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Slovenian)
  app/i18n/sl-SI/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Swedish)
  app/i18n/sv-SE/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Vietnamese)
  app/i18n/vi-VN/promotional-copy.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Thai)
  app/i18n/th-TH/promotional-copy.json
Owners: @takuhiro-koyama

Add copy to mobile settings section
  app/components-react/windows/settings/Mobile.tsx
  app/i18n/en-US/settings.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix incorrect chat tabs rendering.
  app/components-react/root/LiveDock.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
