Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

quota bar added
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/tsconfig.json
  app/services/highlighter/highlighter-quota-api.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

hide round info for just chatting streams
  app/components-react/highlighter/ClipPreviewInfo.tsx
  app/components-react/highlighter/StreamCardInfo.tsx
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

updated quota text
  app/components-react/highlighter/ImportStream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added partial export for categories with quota and better labels
  app/components-react/highlighter/ImportStream.tsx
  app/services/highlighter/ai-highlighter-updater.ts
  app/services/highlighter/ai-highlighter-utils.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
  app/services/highlighter/models/highlighter.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update output-settings.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update output-settings.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update output-settings.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

updated just chatting colors
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

show ultra logo next to categories with quota
  app/components-react/highlighter/ImportStream.tsx
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added beta badge
  app/components-react/highlighter/ImportStream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add variable for product updates development.
  app/services/announcements.ts
  app/services/utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add scrollbar to product update cards.
  app/components-react/windows/MarketingModal.m.less
  app/components-react/windows/MarketingModal.tsx
  app/services/announcements.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Handle new reactive data source.
  app/services/sources/properties-managers/smart-browser-source-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove dual output toggle from video settings.
  app/components-react/windows/settings/Video.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove display toggles from scene selector.
  app/components-react/editor/elements/SceneSelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove dual output toggle from source selector.
  app/components-react/editor/elements/SourceSelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add display toggles to editor display header.
  app/components-react/root/StudioEditor.m.less
  app/components-react/root/StudioEditor.tsx
  app/i18n/en-US/dual-output.json
  app/i18n/fallback.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Remove dual output toggle in Go Live window.
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/i18n/en-US/streaming.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Reorganize destination switcher card.
  app/components-react/shared/AddDestinationButton.m.less
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add widget config
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components-react/widgets/goals/GenericGoal.tsx
  app/services/widgets/widgets-config.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix window rendering
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/services/sources/sources.ts
  app/services/widgets/widgets-config.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix FontFamily input
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/shared/inputs/inputs.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove old files
  app/components/widgets/goal/BitGoal.tsx
  app/components/widgets/goal/CharityGoal.tsx
  app/components/widgets/goal/DonationGoal.tsx
  app/components/widgets/goal/FollowerGoal.tsx
  app/components/widgets/goal/GenericGoal.vue
  app/components/widgets/goal/GenericGoal.vue.ts
  app/components/widgets/goal/StarsGoal.tsx
  app/components/widgets/goal/SubGoal.tsx
  app/components/widgets/goal/SubscriberGoal.tsx
  app/components/widgets/goal/SuperchatGoal.tsx
  app/components/widgets/goal/SupporterGoal.tsx
  app/services/widgets/settings/base-goal.ts
  app/services/widgets/settings/bit-goal.ts
  app/services/widgets/settings/charity-goal.ts
  app/services/widgets/settings/donation-goal.ts
  app/services/widgets/settings/follower-goal.ts
  app/services/widgets/settings/generic-goal.ts
  app/services/widgets/settings/stars-goal.ts
  app/services/widgets/settings/sub-goal.ts
  app/services/widgets/settings/subscriber-goal.ts
  app/services/widgets/settings/superchat-goal.ts
  app/services/widgets/settings/supporter-goal.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix compile
  app/app-services.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restore base-goal.ts for StreamBoss
  app/services/widgets/settings/base-goal.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Port EventList to React (#5727)
  app/app-services.ts
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/shared/inputs/inputs.ts
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/EventList.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/EventList.vue
  app/components/widgets/EventList.vue.ts
  app/services/sources/sources.ts
  app/services/widgets/settings/donation-ticker.ts
  app/services/widgets/settings/emote-wall.ts
  app/services/widgets/settings/event-list.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Add scrollbar to product updates modal and enable in dev mode. (#5760)
  app/components-react/windows/MarketingModal.m.less
  app/components-react/windows/MarketingModal.tsx
  app/services/announcements.ts
  app/services/utils.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add translations
  app/i18n/en-US/widget-goal.json
Owners: @takuhiro-koyama

Fix tests
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix normaliz url for both new and existing reactive sources.
  app/services/sources/properties-managers/smart-browser-source-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add game pulse and widget tracking
  app/components-react/widgets/GamePulse.tsx
  app/components-react/widgets/game-pulse/GamePulse.models.ts
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
  app/services/usage-statistics.ts
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add game pulse and widget tracking
  app/components-react/widgets/game-pulse/GamePulse.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove delete cache button
  app/components-react/windows/settings/Support.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Prevent user from toggling off both displays in editor.
  app/components-react/root/StudioEditor.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Adding matte traision support to platform api
  app/services/platform-apps/api/modules/scene-transitions.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixing boolean
  app/services/platform-apps/api/modules/scene-transitions.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Hotkeys.
  app/components-react/windows/settings/HotkeyGroup.tsx
  app/services/dual-output/dual-output.ts
  app/services/editor-commands/commands/create-folder.ts
  app/services/hotkeys.ts
  app/services/scenes/scene.ts
  app/services/scenes/scenes.ts
  app/services/selection/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add game pulse and widget tracking (#5762)
  app/components-react/widgets/GamePulse.tsx
  app/components-react/widgets/game-pulse/GamePulse.models.ts
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
  app/services/usage-statistics.ts
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove delete cache button (#5763)
  app/components-react/windows/settings/Support.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fetch/set reactuve data when user logs out and in.
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
