Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations ai.json (Polish)
  app/i18n/pl-PL/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Portuguese)
  app/i18n/pt-PT/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Russian)
  app/i18n/ru-RU/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Slovak)
  app/i18n/sk-SK/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Slovenian)
  app/i18n/sl-SI/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Swedish)
  app/i18n/sv-SE/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Turkish)
  app/i18n/tr-TR/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Chinese Simplified)
  app/i18n/zh-CN/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Chinese Traditional)
  app/i18n/zh-TW/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Vietnamese)
  app/i18n/vi-VN/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Portuguese, Brazilian)
  app/i18n/pt-BR/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Indonesian)
  app/i18n/id-ID/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Thai)
  app/i18n/th-TH/ai.json
Owners: @takuhiro-koyama

fix Rescale output is not working for advanced recordings
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update recording instance format to current format (#5954)
  app/services/settings/output/encoder-query.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix Rescale output is not working for advanced recordings (#5964)
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move virtual camera shutdown to subscription in service. (#5937)
  app/services/app/app.ts
  app/services/virtual-webcam.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix Unable to generate recording without spaces in Advanced
  app/services/settings/output/output-settings.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.29b2
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add type safety and protect against undefined
  app/services/settings/output/output-settings.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.29b3
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.29b3 (#5968)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.4-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add hotkey to upload diag report. (#5922)
  app/app.ts
  app/i18n/en-US/app.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Update Loader.tsx (#5944)
  app/components-react/pages/Loader.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

widgets: port spin wheel
  app/app-services.ts
  app/components-react/editor/elements/RecentEvents.tsx
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/widgets/SpinWheel.m.less
  app/components-react/widgets/SpinWheel.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/SpinWheel.vue
  app/components/widgets/SpinWheel.vue.ts
  app/i18n/en-US/widget-spin-wheel.json
  app/services/recent-events.ts
  app/services/sources/sources.ts
  app/services/widgets/settings/spin-wheel.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

ai: remove deprecated logic for starting vision service
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations app.json (French)
  app/i18n/fr-FR/app.json
Owners: @takuhiro-koyama

New translations app.json (Spanish)
  app/i18n/es-ES/app.json
Owners: @takuhiro-koyama

New translations app.json (Arabic)
  app/i18n/ar-SA/app.json
Owners: @takuhiro-koyama

New translations app.json (Czech)
  app/i18n/cs-CZ/app.json
Owners: @takuhiro-koyama

New translations app.json (Danish)
  app/i18n/da-DK/app.json
Owners: @takuhiro-koyama

New translations app.json (German)
  app/i18n/de-DE/app.json
Owners: @takuhiro-koyama

New translations app.json (Hungarian)
  app/i18n/hu-HU/app.json
Owners: @takuhiro-koyama

New translations app.json (Italian)
  app/i18n/it-IT/app.json
Owners: @takuhiro-koyama

New translations app.json (Japanese)
  app/i18n/ja-JP/app.json
Owners: @takuhiro-koyama

New translations app.json (Korean)
  app/i18n/ko-KR/app.json
Owners: @takuhiro-koyama

New translations app.json (Macedonian)
  app/i18n/mk-MK/app.json
Owners: @takuhiro-koyama

New translations app.json (Dutch)
  app/i18n/nl-NL/app.json
Owners: @takuhiro-koyama

New translations app.json (Polish)
  app/i18n/pl-PL/app.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
