Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

開発: PRとissueを作成したら自動的にProjectに追加するAction
  .github/workflows/add_project.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Project番号修正
  .github/workflows/add_project.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

修正: プロジェクト追加Actionの権限追加
  .github/workflows/add_project.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

開発: add-project Action: Personal Access Tokenでアクセスする
  .github/workflows/add_project.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

修正: ニコ生の番組作成ウィンドウのの2つ目が作れてしまうと真っ白いウィンドウになっていた
  app/components/nicolive-area/NicoliveArea.vue.ts
  app/components/nicolive-area/ToolBar.vue.ts
  app/services/nicolive-program/NicoliveClient.ts
  app/services/nicolive-program/nicolive-program.test.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

修正: add project actionをpull requestからも使用可能にする
  .github/workflows/add_project.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

branch制限追加
  .github/workflows/add_project.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

change to be able to open correct stream from clip
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
  app/services/highlighter/index.ts
  app/services/highlighter/realtime-highlighter-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Port NavigationService to realm
  app/components/windows/Main.vue.ts
  app/components/windows/settings/Settings.vue
  app/components/windows/settings/Settings.vue.ts
  app/services/navigation.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Remove unused function
  app/services/windows.ts
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix CI error
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wip
  app/components-react/highlighter/ClipPreviewInfo.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsItem.tsx
  app/services/highlighter/realtime-highlighter-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

navigation to clip view fix
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
  app/components-react/pages/Highlighter.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix 0 when no round was detected
  app/components-react/highlighter/ClipPreviewInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix when realtime indicator is visible
  app/components-react/highlighter/StreamCard.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

merge 1
  app/components-react/highlighter/ClipPreviewInfo.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsItem.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

merge 2
  app/components-react/highlighter/StreamCard.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

merge fix
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsItem.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

rm logs + added translations
  app/components-react/highlighter/RealtimeIndicator.tsx
  app/components-react/highlighter/StreamCard.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsItem.tsx
  app/components-react/highlighter/utils.ts
  app/components-react/pages/Highlighter.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/index.ts
  app/services/highlighter/realtime-highlighter-service.ts
  app/services/sources/properties-managers/highlight-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Advanced go live settings styling.
  app/components-react/modals.tsx
  app/components-react/root/LiveDock.tsx
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/GameSelector.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/platforms/BroadcastInput.tsx
  app/components-react/windows/go-live/platforms/FacebookEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/InstagramEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/KickEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TrovoEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TwitchContentClassificationInput.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TwitchTagsInput.tsx
  app/components-react/windows/go-live/platforms/TwitterEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/YoutubeEditStreamInfo.tsx
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Multistream always has switcher enabled. WIP: advanced settings toggle styling.
  app/components-react/modals.tsx
  app/components-react/root/LiveDock.tsx
  app/components-react/shared/StreamSwitcherToggle.tsx
  app/components-react/shared/inputs/SwitchInput.m.less
  app/components-react/shared/inputs/SwitchInput.tsx
  app/components-react/shared/inputs/TagsInput.tsx
  app/components-react/windows/go-live/AdvancedSettingsSwitch.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/platforms/TwitchTagsInput.tsx
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

開発: nicolive-program.test.ts: 型をちゃんと使うように修正
  app/services/nicolive-program/nicolive-program.test.ts
  app/services/nicolive-program/nicolive-program.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

adjusted realtimeindicator styling
  app/components-react/highlighter/RealtimeIndicator.m.less
  app/components-react/highlighter/RealtimeIndicator.tsx
  app/components-react/highlighter/StreamCard.tsx
  app/components-react/highlighter/realtime-highlights/RealtimeHighlightsFeed.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Highlighter/export markers (#5478)
  app/components-react/highlighter/ClipsView.tsx
  app/components-react/highlighter/ClipsViewModal.tsx
  app/components-react/highlighter/ExportMarkersModal.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/cut-highlight-clips.ts
  app/services/highlighter/index.ts
  app/services/highlighter/markers-exporters.ts
  app/services/highlighter/models/highlighter.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Merge branch 'master' into mw_factory_api
  app/app-services.ts
  app/components-react/highlighter/ClipsView.tsx
  app/components-react/highlighter/ClipsViewModal.tsx
  app/components-react/highlighter/ExportMarkersModal.tsx
  app/components-react/root/StudioEditor.tsx
  app/components-react/windows/settings/Video.tsx
  app/components-react/windows/source-showcase/SourceGrid.tsx
  app/components-react/windows/source-showcase/SourceShowcase.m.less
  app/components-react/windows/source-showcase/index.tsx
  app/i18n/en-US/highlighter.json
  app/i18n/en-US/sources.json
  app/services/core/signals.ts
  app/services/diagnostics.ts
  app/services/highlighter/cut-highlight-clips.ts
  app/services/highlighter/index.ts
  app/services/highlighter/markers-exporters.ts
  app/services/highlighter/models/game-config.models.ts
  app/services/highlighter/models/highlighter.models.ts
  app/services/platforms/instagram.ts
  app/services/restream.ts
  app/services/settings-v2/video.ts
  app/services/settings/settings.ts
  app/services/signals-manager.ts
  app/services/sources/sources-api.ts
  app/services/sources/sources-data.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  app/services/virtual-webcam.ts
  electron-builder/afterSign.js
  electron-builder/build-mac-virtualcam.js
  package.json
  scripts/ci/install.ps1
  scripts/ci/register-agent.ps1
  test/data/dummy-accounts.ts
  test/regular/settings/output.ts
  test/regular/streaming/multistream.ts
  test/regular/streaming/tiktok.ts
  test/regular/streaming/twitter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Update osn to v0.25.45
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Use OBSForm for Video Settings. Form updates, need to match style and add custom options.
  app/components-react/windows/settings/Video.tsx
  app/services/settings-v2/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Polishes and logging.
  app/components-react/root/StudioFooter.tsx
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.45 (#5515)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.2-preview.9
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for strictnulls test.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix theme not applying
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dragging loader
  app/components/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

log uninstaller error reason
  app/services/virtual-webcam.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

use the developer provisioning profile
  electron-builder/base.config.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

display localized message for virtual camera error codes
  app/i18n/en-US/settings.json
  app/services/virtual-webcam.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

bump electron/notarize to 2.3.2
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add try/catch exception for OBS_service_startVirtualCam
  app/services/virtual-webcam.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

copy entitlements from parent app
  electron-builder/afterPack.js
  electron-builder/entitlements.plist
  electron-builder/mac-virtual-cam-entitlements.plist
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

bump OSN to 0.25.46
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
