Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations onboarding.json (Vietnamese)
  app/i18n/vi-VN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese, Brazilian)
  app/i18n/pt-BR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Indonesian)
  app/i18n/id-ID/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Thai)
  app/i18n/th-TH/onboarding.json
Owners: @takuhiro-koyama

chore(widgets): port credits to react
  app/app-services.ts
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/Credits.tsx
  app/components-react/widgets/EventList.tsx
  app/components-react/widgets/SponsorBanner.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/Credits.vue
  app/components/widgets/Credits.vue.ts
  app/services/sources/sources.ts
  app/services/widgets/settings/credits.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix formatting on Ultra onboarding
  app/components-react/modals/onboarding/OBSImport.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/Ultra.tsx
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix more css
  app/components-react/modals/onboarding/OBSImport.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/Ultra.m.less
  app/i18n/en-US/onboarding.json
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Comment out debug assist
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix spacing
  app/components-react/modals/onboarding/Common.m.less
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/Ultra.m.less
  app/services/onboarding/onboarding-v2.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations onboarding.json (French)
  app/i18n/fr-FR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Spanish)
  app/i18n/es-ES/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Arabic)
  app/i18n/ar-SA/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Czech)
  app/i18n/cs-CZ/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Danish)
  app/i18n/da-DK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (German)
  app/i18n/de-DE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Hungarian)
  app/i18n/hu-HU/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Italian)
  app/i18n/it-IT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Japanese)
  app/i18n/ja-JP/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Korean)
  app/i18n/ko-KR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Macedonian)
  app/i18n/mk-MK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Dutch)
  app/i18n/nl-NL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Polish)
  app/i18n/pl-PL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese)
  app/i18n/pt-PT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Russian)
  app/i18n/ru-RU/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Slovak)
  app/i18n/sk-SK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Slovenian)
  app/i18n/sl-SI/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Swedish)
  app/i18n/sv-SE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Turkish)
  app/i18n/tr-TR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Simplified)
  app/i18n/zh-CN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Traditional)
  app/i18n/zh-TW/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Vietnamese)
  app/i18n/vi-VN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese, Brazilian)
  app/i18n/pt-BR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Indonesian)
  app/i18n/id-ID/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Thai)
  app/i18n/th-TH/onboarding.json
Owners: @takuhiro-koyama

Restore prime light comments and classes.
  app/styles/antd/prime-light.lazy.less
Owners: @yusukess, @kechino

Remove comment.
  app/components-react/shared/inputs/RadioInput.m.less
Owners: @yusukess, @kechino

Fix missing bracket.
  app/components-react/shared/inputs/RadioInput.m.less
Owners: @yusukess, @kechino

Fixes for tests.
  app/components-react/shared/StreamShiftToggle.m.less
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  test/regular/streaming/dual-output.ts
  test/regular/streaming/multistream.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix non-ultra stream shift toggle.
  app/components-react/shared/StreamShiftToggle.m.less
  app/components-react/shared/StreamShiftToggle.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

use stage8 env if SLOBS_USE_STAGE8_HOST is set
  app/services/hosts.ts
  app/services/utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
