Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations promotional-copy.json (Slovak)
  app/i18n/sk-SK/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Slovak)
  app/i18n/sk-SK/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Slovenian)
  app/i18n/sl-SI/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Slovenian)
  app/i18n/sl-SI/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Swedish)
  app/i18n/sv-SE/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Swedish)
  app/i18n/sv-SE/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Turkish)
  app/i18n/tr-TR/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Turkish)
  app/i18n/tr-TR/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Chinese Simplified)
  app/i18n/zh-CN/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Chinese Simplified)
  app/i18n/zh-CN/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Chinese Traditional)
  app/i18n/zh-TW/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Chinese Traditional)
  app/i18n/zh-TW/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Vietnamese)
  app/i18n/vi-VN/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Vietnamese)
  app/i18n/vi-VN/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Portuguese, Brazilian)
  app/i18n/pt-BR/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Portuguese, Brazilian)
  app/i18n/pt-BR/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Indonesian)
  app/i18n/id-ID/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Indonesian)
  app/i18n/id-ID/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Thai)
  app/i18n/th-TH/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Thai)
  app/i18n/th-TH/stream-shift.json
Owners: @takuhiro-koyama

WIP: Enhanced broadcast multistream. Basic setup, filters Twitch.
  app/services/platforms/twitch.ts
  app/services/restream.ts
  app/services/settings-v2/video.ts
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Enhanced broadcast multistream. Twitch goes live with factory api without enhanced broadcasting.
  app/services/platforms/twitch.ts
  app/services/settings-v2/video.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Multistream with enhanced broadcasting. Use api migration streaming instance setup.
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add enhanced broadcasting to diag report.
  app/services/diagnostics.ts
  app/services/dual-output/dual-output.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix number in selection count for deleting items from dual output scene collection.
  app/services/selection/global-selection.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Restream enhanced broadcasting horizontal restream uses Factory API.
  app/services/restream.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Multistream enhanced broadcasting single output mode and dual output horizontal display.
  app/i18n/en-US/streaming.json
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Logging for enhanced broadcasting vertical display.
  app/services/platforms/twitch.ts
  app/services/restream.ts
  app/services/settings-v2/video.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Vertical highlighter clips preview correctly.
  app/services/highlighter/index.ts
  app/services/highlighter/models/highlighter.models.ts
  app/services/highlighter/rendering/frame-source.ts
  app/services/highlighter/rendering/rendering-clip.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix audio encoder naming when creating instances.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

initial work on reactive data editor
  app/app-services.ts
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/index.ts
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.less
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.tsx
  app/components-react/windows/reactive-data-editor/ReactiveDataEditorWindow.tsx
  app/components-react/windows/reactive-data-editor/types.ts
  app/components/shared/ReactComponentList.tsx
  app/i18n/en-US/common.json
  app/services/hosts.ts
  app/services/scene-collections/nodes/overlays/slots.ts
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/sources/sources.ts
  app/services/user-state/index.ts
  app/services/vision/index.ts
  app/services/windows.ts
  app/util/dot-tree.ts
  app/util/menus/EditMenu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Update osn version.
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix name
  app/components-react/index.ts
  app/components-react/windows/Troubleshooter.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Log diag issue for enhanced broadcasting setting enabled but enhanced broadcasting not live.
  app/services/diagnostics.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add debug logging for stream shift and device checks
  app/components-react/root/StartStreamingButton.tsx
  app/services/restream.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Always set restream enabled to allow stream shift to update status.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add stream and platform info to streaming error alert.
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Port Troubleshooter to React (#5640)
  app/components-react/index.ts
  app/components-react/windows/Troubleshooter.tsx
  app/components/obs/inputs/GenericFormGroups.vue
  app/components/obs/inputs/GenericFormGroups.vue.ts
  app/components/shared/DropdownMenu.vue
  app/components/shared/DropdownMenu.vue.ts
  app/components/shared/KevinSvg.tsx
  app/components/shared/PlatformLogo.m.less
  app/components/shared/PlatformLogo.tsx
  app/components/shared/ReactComponentList.tsx
  app/components/shared/SmoothProgressBar.m.less
  app/components/shared/SmoothProgressBar.tsx
  app/components/shared/translate.tsx
  app/components/windows/Troubleshooter.vue
  app/components/windows/Troubleshooter.vue.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Add enhanced broadcasting to diag report. (#5648)
  app/services/diagnostics.ts
  app/services/dual-output/dual-output.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Always set restream enabled to allow stream shift to update status. (#5650)
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
