Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Show vertical replays in highlighter clips.
  app/components-react/highlighter/ClipPreview.m.less
  app/components-react/highlighter/ClipPreview.tsx
  app/components-react/highlighter/ClipTrimmer.tsx
  app/services/highlighter/constants.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/highlighter.models.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Highlighter
  app/components-react/highlighter/ClipTrimmer.tsx
  app/components-react/highlighter/Export/ExportModal.tsx
  app/components-react/highlighter/MiniClipPreview.tsx
  app/components-react/highlighter/RemoveModal.tsx
  app/components-react/obs/ObsForm.tsx
  app/services/highlighter/models/rendering.models.ts
  test/helpers/modules/replay-buffer.ts
  test/helpers/modules/streaming.ts
  test/regular/selective-recording.ts
  test/regular/settings/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.66 [mac ipc shutdown fix, mac obs-source creation optimization, fix mac-crashpad sentry dumps, win/mac scene load race condition fix] (#5636)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update mobile settings page (#5638)
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/settings/Mobile.tsx
  app/i18n/en-US/promotional-copy.json
  test/regular/streaming/tiktok.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Resolve merge conflict. (#5645)
  app/services/platforms/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Enhanced broadcasting with multistream.
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor settings fix (#5643)
  app/components-react/windows/Settings.tsx
  app/components-react/windows/settings/Developer.tsx
  app/components-react/windows/settings/SceneCollections.tsx
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update analytics. (#5646)
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/DismissableBadge.tsx
  app/components-react/shared/StreamShiftToggle.m.less
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/go-live/GoLiveError.tsx
  app/components-react/windows/settings/Multistreaming.tsx
  app/services/magic-link.ts
  app/services/restream.ts
  app/services/streaming/streaming.ts
  app/services/usage-statistics.ts
  app/services/user/index.ts
  app/services/websocket.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Add missing translation
  app/i18n/en-US/stream-shift.json
Owners: @takuhiro-koyama

Update auth scheme for cache uploading (#5644)
  app/i18n/en-US/stream-shift.json
  app/services/cache-uploader.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations promotional-copy.json (French)
  app/i18n/fr-FR/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (French)
  app/i18n/fr-FR/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Spanish)
  app/i18n/es-ES/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Spanish)
  app/i18n/es-ES/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Arabic)
  app/i18n/ar-SA/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Arabic)
  app/i18n/ar-SA/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Czech)
  app/i18n/cs-CZ/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Czech)
  app/i18n/cs-CZ/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Danish)
  app/i18n/da-DK/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Danish)
  app/i18n/da-DK/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (German)
  app/i18n/de-DE/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (German)
  app/i18n/de-DE/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Hungarian)
  app/i18n/hu-HU/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Hungarian)
  app/i18n/hu-HU/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Italian)
  app/i18n/it-IT/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Italian)
  app/i18n/it-IT/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Japanese)
  app/i18n/ja-JP/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Japanese)
  app/i18n/ja-JP/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Korean)
  app/i18n/ko-KR/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Korean)
  app/i18n/ko-KR/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Macedonian)
  app/i18n/mk-MK/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Macedonian)
  app/i18n/mk-MK/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Dutch)
  app/i18n/nl-NL/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Dutch)
  app/i18n/nl-NL/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Polish)
  app/i18n/pl-PL/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Polish)
  app/i18n/pl-PL/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Portuguese)
  app/i18n/pt-PT/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Portuguese)
  app/i18n/pt-PT/stream-shift.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Russian)
  app/i18n/ru-RU/promotional-copy.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Russian)
  app/i18n/ru-RU/stream-shift.json
Owners: @takuhiro-koyama
