Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Fix recording size split settings mapping
  app/services/settings/output/output-settings.ts
  test/regular/api/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor(automations): streamline agent app detection logic and rename notification function
  app/components-react/hooks/useAgentAppInstalled.ts
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): add ISA app requirements and status messages to automation prompts
  app/i18n/en-US/stream-avatar-automations.json
Owners: @takuhiro-koyama

feat(automations): enhance error handling and retry logic in automation services and components
  app/components-react/editor/elements/AutomationsElement.tsx
  app/components-react/editor/elements/SceneSelector.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/i18n/en-US/stream-avatar-automations.json
  app/services/stream-avatar/agent-socket-service.ts
  app/services/stream-avatar/automations-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

powerups,recentevents: add power-ups recent events support (#6008)
  app/components-react/editor/elements/RecentEvents.tsx
  app/services/recent-events.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): implement analytics tracking for automation actions and events
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/AutomationsAnalytics.ts
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/services/stream-avatar/automations-engine-service.ts
  app/services/usage-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): enhance UI layout and functionality for pre-made automations
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/services/stream-avatar/agent-socket-service.ts
  app/services/stream-avatar/automations-service.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): improve localization and dynamic labels in automation components
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/i18n/en-US/stream-avatar-automations.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

media-gallery: use new stock media API (#6005)
  app/services/media-gallery/media-gallery.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

robust sentry error handling (#6007)
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[Highlighter] Highlighter settings update (#6000)
  app/components-react/highlighter/SettingsView.tsx
  app/components-react/highlighter/migration/MigrationNotice.m.less
  app/components-react/highlighter/migration/PageInstallationFlow.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

build: add `yarn typecheck` for fast type-check feedback (#6001)
  CLAUDE.md
  package.json
  scripts/typecheck-react.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix recording size split settings mapping (#6009)
  app/services/settings/output/output-settings.ts
  test/regular/api/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations highlighter.json (French)
  app/i18n/fr-FR/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Spanish)
  app/i18n/es-ES/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Arabic)
  app/i18n/ar-SA/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Czech)
  app/i18n/cs-CZ/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Danish)
  app/i18n/da-DK/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (German)
  app/i18n/de-DE/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Hungarian)
  app/i18n/hu-HU/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Italian)
  app/i18n/it-IT/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Japanese)
  app/i18n/ja-JP/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Korean)
  app/i18n/ko-KR/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Macedonian)
  app/i18n/mk-MK/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Dutch)
  app/i18n/nl-NL/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Polish)
  app/i18n/pl-PL/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Portuguese)
  app/i18n/pt-PT/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Russian)
  app/i18n/ru-RU/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Slovak)
  app/i18n/sk-SK/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Slovenian)
  app/i18n/sl-SI/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Swedish)
  app/i18n/sv-SE/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Turkish)
  app/i18n/tr-TR/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Chinese Simplified)
  app/i18n/zh-CN/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Chinese Traditional)
  app/i18n/zh-TW/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Vietnamese)
  app/i18n/vi-VN/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Portuguese, Brazilian)
  app/i18n/pt-BR/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Indonesian)
  app/i18n/id-ID/highlighter.json
Owners: @takuhiro-koyama

New translations highlighter.json (Thai)
  app/i18n/th-TH/highlighter.json
Owners: @takuhiro-koyama

add preferred multistream ingest dropdown
  app/components-react/windows/settings/Stream.tsx
  app/components/widgets/TipJar.vue.ts
  app/services/restream.ts
  app/services/widgets/widgets-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update OSN: Fix NDI 6 runtime loading & fix scene filter black texture
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
