Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

fix(automations): update condition type for 'Enemy Eliminated' automation and adjust table styling
  app/components-react/windows/stream-avatar-automations/EditAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show per-display bitrate in dual output mode during streaming
  app/components-react/shared/PerformanceMetrics.tsx
  app/components-react/shared/performance-metrics.ts
  app/services/performance.ts
  app/services/streaming/streaming-statistics.ts
  app/services/streaming/streaming.ts
  scripts/repositories.json
  test/regular/components-react/performance-metrics.ts
  test/regular/streaming/streaming-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix stream shift tooltip.
  app/components-react/shared/Tooltip.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/SwitcherCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Add toggling live output editing.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/live-outputs.json
  app/i18n/fallback.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Address performance metrics review feedback
  app/components-react/shared/PerformanceMetrics.tsx
  app/components-react/shared/performance-metrics.ts
  app/services/streaming/streaming.ts
  test/regular/components-react/performance-metrics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Capitalized first letters in tests
  test/regular/platform-apps-source-url.ts
  test/regular/streaming/streaming-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): add placeholder image for empty automations state
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix YouTube monetization unmounted component error.
  app/components-react/windows/go-live/platforms/YoutubeEditStreamInfo.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): filter sources to include only video sources in AutomationEditor
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix img icons on Login.
  app/components-react/shared/PlatformButton.m.less
Owners: @yusukess, @kechino

Styling fixes.
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/SwitcherCard.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/streaming/streaming-view.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.30cef1
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations common.json (French)
  app/i18n/fr-FR/common.json
Owners: @takuhiro-koyama

New translations sources.json (French)
  app/i18n/fr-FR/sources.json
Owners: @takuhiro-koyama

New translations widget-alertbox.json (French)
  app/i18n/fr-FR/widget-alertbox.json
Owners: @takuhiro-koyama

New translations widget-goal.json (French)
  app/i18n/fr-FR/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-viewer-count.json (French)
  app/i18n/fr-FR/widget-viewer-count.json
Owners: @takuhiro-koyama

New translations loader.json (French)
  app/i18n/fr-FR/loader.json
Owners: @takuhiro-koyama

New translations common.json (Spanish)
  app/i18n/es-ES/common.json
Owners: @takuhiro-koyama

New translations sources.json (Spanish)
  app/i18n/es-ES/sources.json
Owners: @takuhiro-koyama

New translations widget-alertbox.json (Spanish)
  app/i18n/es-ES/widget-alertbox.json
Owners: @takuhiro-koyama

New translations widget-viewer-count.json (Spanish)
  app/i18n/es-ES/widget-viewer-count.json
Owners: @takuhiro-koyama

New translations loader.json (Spanish)
  app/i18n/es-ES/loader.json
Owners: @takuhiro-koyama

New translations common.json (Arabic)
  app/i18n/ar-SA/common.json
Owners: @takuhiro-koyama

New translations sources.json (Arabic)
  app/i18n/ar-SA/sources.json
Owners: @takuhiro-koyama

New translations widget-alertbox.json (Arabic)
  app/i18n/ar-SA/widget-alertbox.json
Owners: @takuhiro-koyama

New translations widget-viewer-count.json (Arabic)
  app/i18n/ar-SA/widget-viewer-count.json
Owners: @takuhiro-koyama

New translations loader.json (Arabic)
  app/i18n/ar-SA/loader.json
Owners: @takuhiro-koyama

New translations common.json (Czech)
  app/i18n/cs-CZ/common.json
Owners: @takuhiro-koyama

New translations sources.json (Czech)
  app/i18n/cs-CZ/sources.json
Owners: @takuhiro-koyama

New translations widget-alertbox.json (Czech)
  app/i18n/cs-CZ/widget-alertbox.json
Owners: @takuhiro-koyama

New translations widget-viewer-count.json (Czech)
  app/i18n/cs-CZ/widget-viewer-count.json
Owners: @takuhiro-koyama

New translations loader.json (Czech)
  app/i18n/cs-CZ/loader.json
Owners: @takuhiro-koyama

New translations common.json (Danish)
  app/i18n/da-DK/common.json
Owners: @takuhiro-koyama

New translations sources.json (Danish)
  app/i18n/da-DK/sources.json
Owners: @takuhiro-koyama

New translations widget-alertbox.json (Danish)
  app/i18n/da-DK/widget-alertbox.json
Owners: @takuhiro-koyama

New translations widget-viewer-count.json (Danish)
  app/i18n/da-DK/widget-viewer-count.json
Owners: @takuhiro-koyama

New translations loader.json (Danish)
  app/i18n/da-DK/loader.json
Owners: @takuhiro-koyama

New translations common.json (German)
  app/i18n/de-DE/common.json
Owners: @takuhiro-koyama

New translations sources.json (German)
  app/i18n/de-DE/sources.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
