Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Update osn: Update obs-studio-node to v0.26.29b19
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add check for missing fallbacks
  .github/workflows/instructions/instructions.instructions.md
  .github/workflows/instructions/translations.instructions.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move instructions to correct directory
  .github/instructions/instructions.instructions.md
  .github/instructions/translations.instructions.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.29b19
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix go live window test custom destinations.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  test/regular/streaming/go-live-window.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Clarify instruction instructions
  .github/instructions/instructions.instructions.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for dual output tests.
  app/components-react/root/StudioEditor.tsx
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show NDI runtime module load notifications
  app/app-services.ts
  app/services/app/app.ts
  app/services/notifications/notifications-api.ts
  app/services/notifications/notifications.ts
  app/services/obs-module-load-notifications-service.ts
  app/services/obs-module-load-notifications.ts
  test/regular/obs-module-load-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixed eslint
  app/services/obs-module-load-notifications.ts
  test/regular/obs-module-load-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Dual output enforce minimum one target per display.
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/services/streaming/streaming-view.ts
  test/regular/streaming/go-live-window.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show enhanced broadcasting forced resolution change message
  app/services/enhanced-broadcasting-notifications.ts
  app/services/streaming/streaming.ts
  test/regular/enhanced-broadcasting-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Improving code shape, refactoring notifications
  app/services/enhanced-broadcasting-notifications.ts
  app/services/streaming/enhanced-broadcasting-notifications.ts
  app/services/streaming/streaming.ts
  test/regular/enhanced-broadcasting-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.9
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Bump the capture target to v0.3.2
  test/helpers/game-capture-target.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Cover title-prefix and class-only compatibility matching
  test/regular/game-capture.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Bump the capture target to v0.4.1 and cover device-recreate churn
  test/helpers/game-capture-target.ts
  test/regular/game-capture.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Bump the capture target to v0.4.2
  test/helpers/game-capture-target.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add logging for test account failures for automated tests.
  test/helpers/runner.js
  test/helpers/webdriver/index.ts
  test/helpers/webdriver/runner-utils.ts
  test/helpers/webdriver/user.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix inverted get mode.
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.5
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Expose NVIDIA Audio Effects and blur filters
  app/i18n/en-US/filters.json
  app/services/source-filters.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

powerups,recentevents: add power-ups recent events support
  app/services/recent-events.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

widgets: port streamboss to react
  app/app-services.ts
  app/components-react/widgets/StreamBoss.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/StreamBoss.vue
  app/components/widgets/StreamBoss.vue.ts
  app/i18n/en-US/widget-stream-boss.json
  app/services/sources/sources.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

widgets: port spin wheel
  app/app-services.ts
  app/components-react/editor/elements/RecentEvents.tsx
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/widgets/SpinWheel.m.less
  app/components-react/widgets/SpinWheel.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/SpinWheel.vue
  app/components/widgets/SpinWheel.vue.ts
  app/i18n/en-US/widget-spin-wheel.json
  app/services/recent-events.ts
  app/services/sources/sources.ts
  app/services/widgets/settings/spin-wheel.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

widgets: port jar to react
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/Jar.tsx
  app/components-react/widgets/SponsorBanner.tsx
  app/i18n/en-US/widget-tip-jar.json
  app/i18n/en-US/widgets.json
  app/index.d.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

widgets: update settings type and add guards
  app/components-react/widgets/ChatBox.tsx
  app/components-react/widgets/Credits.tsx
  app/components-react/widgets/DonationTicker.tsx
  app/components-react/widgets/EmoteWall.tsx
  app/components-react/widgets/EventList.tsx
  app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/SponsorBanner.tsx
  app/components-react/widgets/ViewerCount.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

widgets: remove old jar
  app/app-services.ts
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/TipJar.vue
  app/components/windows/WidgetEditor.vue.ts
  app/services/sources/sources.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

widgets: port credits to react
  app/app-services.ts
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/Credits.tsx
  app/components-react/widgets/EventList.tsx
  app/components-react/widgets/SponsorBanner.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/Credits.vue
  app/services/sources/sources.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

feat(widgets): port jar to react (#5957)
  app/app-services.ts
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/ChatBox.tsx
  app/components-react/widgets/Credits.tsx
  app/components-react/widgets/DonationTicker.tsx
  app/components-react/widgets/EmoteWall.tsx
  app/components-react/widgets/EventList.tsx
  app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/Jar.tsx
  app/components-react/widgets/SponsorBanner.tsx
  app/components-react/widgets/ViewerCount.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
  app/components/widgets/TipJar.vue
  app/components/windows/WidgetEditor.vue.ts
  app/i18n/en-US/widget-tip-jar.json
  app/i18n/en-US/widgets.json
  app/index.d.ts
  app/services/sources/sources.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Potential fix for pull request finding
  app/services/widgets/widgets-config.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Potential fix for pull request finding
  app/services/widgets/widgets-config.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Potential fix for pull request finding
  app/components-react/widgets/Credits.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Potential fix for pull request finding
  app/components-react/widgets/Credits.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore(widgets): port credits to react (#5822)
  app/app-services.ts
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/ChatBox.tsx
  app/components-react/widgets/Credits.tsx
  app/components-react/widgets/DonationTicker.tsx
  app/components-react/widgets/EmoteWall.tsx
  app/components-react/widgets/EventList.tsx
  app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/Jar.tsx
  app/components-react/widgets/SponsorBanner.tsx
  app/components-react/widgets/ViewerCount.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
  app/components/widgets/Credits.vue
  app/components/widgets/TipJar.vue
  app/components/windows/WidgetEditor.vue.ts
  app/i18n/en-US/widget-tip-jar.json
  app/i18n/en-US/widgets.json
  app/index.d.ts
  app/services/recent-events.ts
  app/services/sources/sources.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Expose NVIDIA Audio Effects and blur filters
  app/i18n/en-US/filters.json
  app/services/source-filters.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixed eslint
  app/services/obs-module-load-notifications.ts
  test/regular/obs-module-load-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show NDI runtime module load notifications
  app/app-services.ts
  app/services/app/app.ts
  app/services/notifications/notifications-api.ts
  app/services/notifications/notifications.ts
  app/services/obs-module-load-notifications-service.ts
  app/services/obs-module-load-notifications.ts
  test/regular/obs-module-load-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations widget-tip-jar.json (French)
  app/i18n/fr-FR/widget-tip-jar.json
Owners: @takuhiro-koyama

New translations widgets.json (French)
  app/i18n/fr-FR/widgets.json
Owners: @takuhiro-koyama

New translations widget-tip-jar.json (Spanish)
  app/i18n/es-ES/widget-tip-jar.json
Owners: @takuhiro-koyama
