Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @kazuki-yoneda, @yusukess, @kechino

Minor typo fix
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

translation + key fixes
  app/components-react/highlighter/StreamCard.tsx
  app/components-react/highlighter/supportedGames/SupportedGames.tsx
  app/i18n/en-US/highlighter.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @kazuki-yoneda

fixed rerendering of everything issue with updater modal
  app/components-react/highlighter/UpdateModal.tsx
  app/components-react/pages/Highlighter.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Fix dual yt typechecking (#5356)"
  app/services/dual-output/dual-output.ts
  app/services/settings-v2/video.ts
  app/services/settings/streaming/stream-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Fix dual yt typechecking (#5356)" (#5358)
  app/services/dual-output/dual-output.ts
  app/services/settings-v2/video.ts
  app/services/settings/streaming/stream-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "YouTube dual streaming (#5352)"
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/i18n/en-US/streaming.json
  app/services/platforms/youtube.ts
  app/services/settings-v2/video.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani, @kazuki-yoneda

Revert "YouTube dual streaming (#5352)" (#5359)
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/i18n/en-US/streaming.json
  app/services/platforms/youtube.ts
  app/services/settings-v2/video.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani, @kazuki-yoneda

osn update with a fix for scene collection crash (#5357)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.0-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix highlighter test
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Revert "YouTube dual streaming (#5352)" (#5359)"
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/i18n/en-US/streaming.json
  app/services/platforms/youtube.ts
  app/services/settings-v2/video.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani, @kazuki-yoneda

Fis TS5 issue
  app/services/settings-v2/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

translation, style renaming, save to store
  app/components-react/highlighter/ExportModal.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/index.ts
  app/services/highlighter/subtitles/subtitle-styles.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @kazuki-yoneda

useMemo for environment
  app/components-react/highlighter/ExportModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

cleanup
  app/services/highlighter/constants.ts
  app/services/highlighter/rendering/frame-writer.ts
  app/services/highlighter/rendering/render-subtitle.ts
  app/services/highlighter/subtitles/font-loader.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

cleanup
  app/services/highlighter/ai-highlighter-utils.ts
  app/services/highlighter/index.ts
  app/services/highlighter/subtitles/subtitle-clip.ts
  app/services/highlighter/subtitles/transcription.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

small css adjustment
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fixed missing key
  app/components-react/highlighter/ClipPreviewInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[Highlighter] - updated publish flow (#5337)
  app/components-react/highlighter/ClipsViewModal.tsx
  app/components-react/highlighter/Export/ExportModal.m.less
  app/components-react/highlighter/Export/ExportModal.tsx
  app/components-react/highlighter/Export/Platform.tsx
  app/components-react/highlighter/Export/StorageUpload.tsx
  app/components-react/highlighter/Export/UploadProgress.tsx
  app/components-react/highlighter/Export/VideoPreview.tsx
  app/components-react/highlighter/Export/YoutubeUpload.tsx
  app/components-react/highlighter/StreamView.tsx
  app/components-react/highlighter/UploadProgress.tsx
  app/components-react/highlighter/VideoPreview.tsx
  app/components-react/highlighter/YoutubeUpload.tsx
  app/components-react/pages/RecordingHistory.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/highlighter-views.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/highlighter.models.ts
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani, @kazuki-yoneda

start/stop for avatar and vision updater
  app/services/platform-apps/api/modules/native-components.ts
  app/services/stream-avatar/avatar-updater.ts
  app/services/stream-avatar/vision-updater.ts
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

thumbs down button added
  app/components-react/highlighter/StreamCard.m.less
  app/components-react/highlighter/StreamCard.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

send feedback thumbs up/down events
  app/components-react/highlighter/StreamCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: PoC for horizontal fake fix
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

修正: 左下のログインアイコンをクリックしたときに開くリンクが旧マイページだったのでガレージに修正
  app/services/hosts.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fontSize adjustment
  app/components-react/highlighter/ExportModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

prevent main view rerenders
  app/components-react/pages/Highlighter.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(avatar-updater): enhance file update process with progress tracking
  app/services/platform-apps/index.ts
  app/services/stream-avatar/avatar-updater.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

first sweep
  app/components-react/highlighter/ClipPreview.tsx
  app/components-react/highlighter/ClipsView.tsx
  app/components-react/highlighter/ClipsViewModal.tsx
  app/components-react/highlighter/Export/ExportModal.tsx
  app/components-react/highlighter/PreviewModal.tsx
  app/components-react/highlighter/StreamCard.tsx
  app/components-react/highlighter/StreamView.tsx
  app/components-react/pages/Highlighter.tsx
  app/services/highlighter/highlighter-views.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/highlighter.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(avatar-updater): add methods to check and kill avatar process
  app/services/stream-avatar/avatar-updater.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added feedback storage mechanism
  app/components-react/highlighter/StreamCard.tsx
  app/services/highlighter/models/highlighter.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

early return
  app/components-react/highlighter/StreamCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix linter issue with undefined
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

右側パネル開閉矢印の改修
  app/components/nicolive-area/NicoliveArea.vue
Owners: @yusukess, @kechino

ストリーミングバルーンの位置を修正
  app/components/shared/HelpTip.vue
Owners: @yusukess, @kechino

WIP 文言を更新したがこれだとレイアウトが崩れている
  app/i18n/ja-JP/common.json
Owners: @yushinakatani, @kazuki-yoneda

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @yushinakatani @kazuki-yoneda
replace_rules.json @yushinakatani @kazuki-yoneda
/.github/CODEOWNERS @yushinakatani @kazuki-yoneda

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
