Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations twitter.json (Slovenian)
  app/i18n/sl-SI/twitter.json
Owners: @takuhiro-koyama

New translations twitch.json (Slovenian)
  app/i18n/sl-SI/twitch.json
Owners: @takuhiro-koyama

New translations streaming.json (Swedish)
  app/i18n/sv-SE/streaming.json
Owners: @takuhiro-koyama

New translations twitter.json (Swedish)
  app/i18n/sv-SE/twitter.json
Owners: @takuhiro-koyama

New translations twitch.json (Swedish)
  app/i18n/sv-SE/twitch.json
Owners: @takuhiro-koyama

New translations streaming.json (Turkish)
  app/i18n/tr-TR/streaming.json
Owners: @takuhiro-koyama

New translations twitter.json (Turkish)
  app/i18n/tr-TR/twitter.json
Owners: @takuhiro-koyama

New translations twitch.json (Turkish)
  app/i18n/tr-TR/twitch.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Simplified)
  app/i18n/zh-CN/streaming.json
Owners: @takuhiro-koyama

New translations twitter.json (Chinese Simplified)
  app/i18n/zh-CN/twitter.json
Owners: @takuhiro-koyama

New translations twitch.json (Chinese Simplified)
  app/i18n/zh-CN/twitch.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Traditional)
  app/i18n/zh-TW/streaming.json
Owners: @takuhiro-koyama

New translations twitter.json (Chinese Traditional)
  app/i18n/zh-TW/twitter.json
Owners: @takuhiro-koyama

New translations twitch.json (Chinese Traditional)
  app/i18n/zh-TW/twitch.json
Owners: @takuhiro-koyama

New translations streaming.json (Vietnamese)
  app/i18n/vi-VN/streaming.json
Owners: @takuhiro-koyama

New translations twitter.json (Vietnamese)
  app/i18n/vi-VN/twitter.json
Owners: @takuhiro-koyama

New translations twitch.json (Vietnamese)
  app/i18n/vi-VN/twitch.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations twitter.json (Portuguese, Brazilian)
  app/i18n/pt-BR/twitter.json
Owners: @takuhiro-koyama

New translations twitch.json (Portuguese, Brazilian)
  app/i18n/pt-BR/twitch.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations twitter.json (Indonesian)
  app/i18n/id-ID/twitter.json
Owners: @takuhiro-koyama

New translations twitch.json (Indonesian)
  app/i18n/id-ID/twitch.json
Owners: @takuhiro-koyama

New translations streaming.json (Thai)
  app/i18n/th-TH/streaming.json
Owners: @takuhiro-koyama

New translations twitter.json (Thai)
  app/i18n/th-TH/twitter.json
Owners: @takuhiro-koyama

New translations twitch.json (Thai)
  app/i18n/th-TH/twitch.json
Owners: @takuhiro-koyama

Fix vertical source z-order in dual output
  app/services/dual-output/dual-output.ts
  app/services/dual-output/node-order.ts
  app/services/editor-commands/commands/copy-nodes.ts
  app/services/editor-commands/commands/create-folder.ts
  app/services/scenes/scenes.ts
  test/regular/api/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Repair dual output node order on collection load
  app/services/dual-output/dual-output.ts
  app/services/dual-output/node-order.ts
  test/regular/api/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix single-display dual output folder grouping
  app/services/editor-commands/commands/create-folder.ts
  test/regular/api/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Make dual output hierarchy validation linear
  app/services/dual-output/node-order.ts
  test/regular/api/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(support): add Kevin AI support chat to the studio footer
  app/app-services.ts
  app/components-react/agent/KevinSupport.m.less
  app/components-react/agent/KevinSupport.tsx
  app/components-react/index.ts
  app/components-react/root/StudioFooter.m.less
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/icons/KevinChatIcon.tsx
  app/components-react/shared/icons/index.ts
  app/components/shared/ReactComponentList.tsx
  app/i18n/en-US/ai.json
  app/services/stream-avatar/kevin-support-service.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

style(v2): let Prettier own the local protocol.ts copy
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(v2): update tool protocol version to 3 with poll management enhancements
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show the interaction quota in support chat, and offer Ultra at the limit
  app/components-react/agent/KevinSupport.m.less
  app/components-react/agent/KevinSupport.tsx
  app/components-react/agent/support-limits.tsx
  app/i18n/en-US/ai.json
  app/services/stream-avatar/kevin-support-service.ts
  app/services/usage-statistics.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

feat(v2): point Kevin support at /v2 and expose OBS tools to the agent
  app/app-services.ts
  app/components-react/agent/KevinSupport.m.less
  app/components-react/agent/KevinSupport.tsx
  app/i18n/en-US/stream-avatar-agent.json
  app/i18n/fallback.ts
  app/services/stream-avatar/kevin-support-service.ts
  app/services/stream-avatar/v2/agent-tools.ts
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Add the agent's support tools: mic filters, health, diagnostics, ticket
  app/services/stream-avatar/v2/agent-tools.ts
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(support): render the knowledge-source link footer
  app/services/stream-avatar/kevin-support-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore(v2): sync protocol contract to tool version 2
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Redesign Kevin support chat to match Figma: reposition footer icon, restyle bubbles, add agent avatar and send icon, update suggested prompts
  app/components-react/agent/KevinSupport.m.less
  app/components-react/agent/KevinSupport.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/icons/SendIcon.tsx
  app/components-react/shared/icons/index.ts
  app/i18n/en-US/ai.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

refactor: remove unused sendTrigger method from StreamAvatarApiService
  app/services/stream-avatar/stream-avatar-api-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
