Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Remove log.
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add small and inline Spinner variants.
  app/components-react/shared/Spinner.m.less
  app/components-react/shared/Spinner.tsx
  app/styles/loader.less
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add disabled radio button styling.
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Radio button disabled variant unchecked.
  app/components-react/shared/inputs/RadioInput.m.less
Owners: @yusukess, @kechino

Add manage stream button to studio footer.
  app/components-react/root/StudioFooter.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Auto Optimizer: apply tested resolution and encoder recommendations
  app/components-react/shared/auto-optimizer/AutoOptimizerResults.tsx
  app/components-react/shared/auto-optimizer/presentation.ts
  app/components-react/windows/go-live/GoLiveAutoOptimizer.tsx
  app/i18n/en-US/streaming.json
  app/services/auto-config/index.ts
  app/services/auto-config/probe-policy.ts
  app/services/auto-config/resolution-policy.ts
  app/services/auto-config/result-policy.ts
  app/services/auto-config/types.ts
  test/regular/auto-optimizer-presentation.ts
  test/regular/auto-optimizer-probe-policy.ts
  test/regular/auto-optimizer-resolution-policy.ts
  test/regular/auto-optimizer-result-policy.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add string to translations.
  app/i18n/en-US/live-outputs.json
Owners: @takuhiro-koyama

Fix typo.
  app/i18n/en-US/live-outputs.json
Owners: @takuhiro-koyama

Fix tooltip wrapping.
  app/components-react/windows/go-live/DestinationSwitchers.m.less
Owners: @yusukess, @kechino

Move switchercard tooltip hover to toggle.
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/SwitcherCard.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add go live info banner.
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveInfoBanner.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update go live checklist.
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/restream.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes from code review.
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Custom destination fixes.
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/i18n/en-US/live-outputs.json
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

dev install path
  app/services/highlighter/constants.ts
  app/services/highlighter/index.ts
  app/services/utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for display validation, custom destination checklist item.
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Edit stream window.
  app/components-react/root/LiveDock.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLiveError.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add live output editing display selector handling.
  app/components-react/shared/DisplaySelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Disable enhanced broadcasting when live output editing is enabled
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/i18n/en-US/twitch.json
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Display selector both option fixes.
  app/components-react/shared/DisplaySelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Address CR
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/windows/settings/Support.tsx
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove references to old onboarding service (#6109)
  app/app-services.ts
  app/components-react/highlighter/Export/StorageUpload.tsx
  app/components-react/modals/onboarding/Themes.tsx
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/windows/go-live/platforms/TwitchTagsInput.tsx
  app/components-react/windows/settings/General.tsx
  app/components-react/windows/settings/Support.tsx
  app/components/widgets/Poll.tsx
  app/services/app/app.ts
  app/services/onboarding/onboarding-v2.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add display selector target validation and live output editing display coercion comments.
  app/components-react/shared/DisplaySelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix comment placement in go live window.
  app/components-react/windows/go-live/GoLiveWindow.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix stream shift. (#6110)
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/stream-shift.json
  app/services/diagnostics.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Fix show both display option with live output editing.
  app/components-react/shared/DisplaySelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add string and fix custom destination item showing.
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/i18n/en-US/live-outputs.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add runner name argument
  scripts/ci/install.ps1
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix pwsh call
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.6
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Increase live output editing cooldown timer.
  app/components-react/windows/go-live/EditStreamWindow.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update script to include adding bash to PATH
  scripts/ci/install.ps1
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove log
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Split frontend test build from self-hosted runners
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Split frontend test build from self-hosted runners (#6124)
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Package frontend test artifact before upload
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Separate frontend test execution step
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Temporarily run frontend tests on fix branch
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add workflow_dispatch
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Fix stream shift. (#6110)"
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/stream-shift.json
  app/services/diagnostics.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama
