Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Remove duplicate code in streaming service.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove test changes.
  test/regular/filters.ts
  test/regular/widgets/alertbox.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Upgrade libraries to Electron 43 (#6129)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show enhanced broadcasting forced resolution change message
  app/services/enhanced-broadcasting-notifications.ts
  app/services/streaming/streaming.ts
  test/regular/enhanced-broadcasting-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Improving code shape, refactoring notifications
  app/services/enhanced-broadcasting-notifications.ts
  app/services/streaming/enhanced-broadcasting-notifications.ts
  app/services/streaming/streaming.ts
  test/regular/enhanced-broadcasting-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show enhanced broadcasting forced resolution change notification (#6006)
  app/services/streaming/enhanced-broadcasting-notifications.ts
  app/services/streaming/streaming.ts
  test/regular/enhanced-broadcasting-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Multistream Toggle Fixes and Error Handling (#6141)
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveError.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/LiveOutputEditingCard.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/StreamShiftCard.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/live-output-editing.json
  app/i18n/en-US/live-outputs.json
  app/i18n/en-US/streaming.json
  app/i18n/fallback.ts
  app/services/restream.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  test/regular/filters.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Revert "Multistream Toggle Fixes and Error Handling (#6141)"
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveError.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/LiveOutputEditingCard.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/StreamShiftCard.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/live-output-editing.json
  app/i18n/en-US/live-outputs.json
  app/i18n/en-US/streaming.json
  app/i18n/fallback.ts
  app/services/restream.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  test/regular/filters.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Revert "Disable enhanced broadcasting when live output editing is enabled. (#6121)"
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/i18n/en-US/twitch.json
  app/services/platforms/twitch.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Revert "Add live output editing display selector handling. (#6120)"
  app/components-react/shared/DisplaySelector.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Add dismissable to AI Highlighter toggle in Edit Stream window. (#6128)"
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/i18n/en-US/highlighter.json
  app/services/dismissables.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Revert "Edit stream window. (#6119)"
  app/components-react/root/LiveDock.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLiveError.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix padding on live output editing toggles.
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLive.m.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix padding on live output editing toggles. (#6143)
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLive.m.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Pin paths-filter to a safe commit SHA (security)
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Auto Optimizer: support and safely configure mixed Enhanced Broadcasting
  app/components-react/shared/auto-optimizer/AutoOptimizer.m.less
  app/components-react/shared/auto-optimizer/AutoOptimizerResults.tsx
  app/components-react/shared/auto-optimizer/presentation.ts
  app/components-react/windows/go-live/GoLiveAutoOptimizer.tsx
  app/i18n/en-US/streaming.json
  app/services/auto-config/bitrate-policy.ts
  app/services/auto-config/index.ts
  app/services/auto-config/output-transaction-policy.ts
  app/services/auto-config/probe-policy.ts
  app/services/auto-config/result-policy.ts
  app/services/auto-config/topology.ts
  app/services/auto-config/types.ts
  app/services/incremental-rollout.ts
  app/services/streaming/auto-optimizer-profile-policy.ts
  app/services/streaming/streaming.ts
  test/regular/auto-optimizer-bitrate-policy.ts
  test/regular/auto-optimizer-dual-output-apply.ts
  test/regular/auto-optimizer-output-transaction.ts
  test/regular/auto-optimizer-presentation.ts
  test/regular/auto-optimizer-probe-policy.ts
  test/regular/auto-optimizer-result-policy.ts
  test/regular/auto-optimizer-topology.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Auto Optimizer: Add settings control to rerun optimization
  app/components-react/windows/settings/Stream.tsx
  app/i18n/en-US/streaming.json
  app/services/auto-config/index.ts
  test/regular/auto-optimizer-prompt-state.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Allow click on disabled switcher card toggle.
  app/components-react/windows/go-live/SwitcherCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix HackerOne-3045235 by removing the hyperlink
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Auto Optimizer: prevent first-run prompt reset during lazy initialization
  app/services/auto-config/index.ts
  test/regular/auto-optimizer-prompt-state.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix typo
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update comment.
  app/components-react/windows/go-live/SwitcherCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update comment.
  app/components-react/windows/go-live/SwitcherCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add YouTube error reason.
  app/services/platforms/youtube.ts
  app/services/platforms/youtube/api.ts
  app/services/platforms/youtube/errors.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix handle validate YouTube account.
  app/services/platforms/youtube.ts
  app/services/platforms/youtube/errors.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Fix padding on live output editing toggles. (#6143)"
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLive.m.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Revert "Multistream Toggle Fixes and Error Handling (#6141)"
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveError.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/LiveOutputEditingCard.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/StreamShiftCard.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/live-output-editing.json
  app/i18n/en-US/live-outputs.json
  app/i18n/en-US/streaming.json
  app/i18n/fallback.ts
  app/services/restream.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  test/regular/filters.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Revert "Disable enhanced broadcasting when live output editing is enabled. (#6121)"
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/i18n/en-US/twitch.json
  app/services/platforms/twitch.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Revert "Add live output editing display selector handling. (#6120)"
  app/components-react/shared/DisplaySelector.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Add dismissable to AI Highlighter toggle in Edit Stream window. (#6128)"
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/i18n/en-US/highlighter.json
  app/services/dismissables.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Revert "Edit stream window. (#6119)"
  app/components-react/root/LiveDock.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLiveError.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Update go live checklist. (#6118)"
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/live-outputs.json
  app/services/restream.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Revert "Fix Kick game persistence. (#6139)"
  app/components-react/windows/go-live/GameSelector.tsx
  app/services/platforms/kick.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Add go live info banner. (#6116)"
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveInfoBanner.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Move SwitcherCard tooltip hover to toggle. (#6115)"
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/SwitcherCard.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Fix tooltip wrapping. (#6114)"
  app/components-react/windows/go-live/DestinationSwitchers.m.less
Owners: @yusukess, @kechino

Revert "Add button to footer. (#6113)"
  app/components-react/root/StudioFooter.tsx
  app/i18n/en-US/live-outputs.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Revert "Add disabled radio button styling. (#6112)"
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/stream-shift.json
  app/services/diagnostics.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Revert "Fix onboarding test (#6132)"
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Add small and inline Spinner variants. (#6111)"
  app/components-react/shared/Spinner.m.less
  app/components-react/shared/Spinner.tsx
  app/styles/loader.less
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
