Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Optimize side nav, live dock, and chat. (#5654)
  app/components-react/root/Chat.tsx
  app/components-react/shared/AuthModal.tsx
  app/components-react/shared/TitleBar.tsx
  app/components-react/sidebar/NavTools.tsx
  app/components-react/sidebar/SideNav.tsx
  app/components-react/windows/Main.m.less
  app/components-react/windows/Main.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
  test/helpers/modules/streaming.ts
  test/regular/streaming/dual-output.ts
  test/regular/streaming/instagram.ts
  test/regular/streaming/kick.ts
  test/regular/streaming/multistream.ts
  test/regular/streaming/tiktok.ts
  test/regular/streaming/twitter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Update go live ultra info banner copy.
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/i18n/en-US/stream-shift.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fixes for chat resizing.
  app/components-react/root/Chat.tsx
  app/components-react/root/LiveDock.m.less
  app/components-react/root/LiveDock.tsx
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Update copy and fix translation.
  app/components-react/shared/AddDestinationButton.m.less
  app/components-react/shared/AddDestinationButton.tsx
  app/i18n/en-US/stream-shift.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix for dual output ultra test.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add try catch for dual output test.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix set state error in Nav Tools.
  app/components-react/sidebar/NavTools.tsx
  app/components-react/sidebar/PlatformIndicator.tsx
  app/components-react/sidebar/SideNav.tsx
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show error if YouTube vertical dual stream fails.
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for chat resizing. (#5662)
  app/components-react/root/Chat.tsx
  app/components-react/root/LiveDock.m.less
  app/components-react/root/LiveDock.tsx
  app/components-react/sidebar/NavTools.tsx
  app/components-react/sidebar/PlatformIndicator.tsx
  app/components-react/sidebar/SideNav.tsx
  app/components-react/windows/Main.tsx
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Show error if YouTube vertical dual stream fails.
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Skip checking errors for dual output chat status.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor auth functions into a hook
  app/components-react/modals/onboarding/ConnectMore.tsx
  app/components-react/modals/onboarding/Login.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/RecordingLogin.tsx
  app/components-react/modals/onboarding/Splash.tsx
  app/components-react/modals/onboarding/steps.ts
  app/services/platforms/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(reactive_widgets): add reactive widget source bp, link apis, UI (wip)
  app/components-react/widgets/ReactiveWidget.tsx
  app/components-react/widgets/common/WidgetLayout.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetCreateTriggerForm.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetGameSettings.m.less
  app/components-react/widgets/reactive-widget/ReactiveWidgetGameSettings.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.tsx
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
  app/services/diagnostics.ts
  app/services/sources/sources.ts
  app/services/widgets/widgets-config.ts
  app/services/widgets/widgets-data.ts
  app/services/widgets/widgets.ts
  app/styles/custom-icons.less
  test/helpers/widget-helpers.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Revert "Fixes for chat resizing. (#5662)"
  app/components-react/root/Chat.tsx
  app/components-react/root/LiveDock.m.less
  app/components-react/root/LiveDock.tsx
  app/components-react/sidebar/NavTools.tsx
  app/components-react/sidebar/PlatformIndicator.tsx
  app/components-react/sidebar/SideNav.tsx
  app/components-react/windows/Main.tsx
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Revert "Optimize side nav, live dock, and chat. (#5654)"
  app/components-react/root/Chat.tsx
  app/components-react/shared/AuthModal.tsx
  app/components-react/shared/TitleBar.tsx
  app/components-react/sidebar/NavTools.tsx
  app/components-react/sidebar/SideNav.tsx
  app/components-react/windows/Main.m.less
  app/components-react/windows/Main.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
  test/helpers/modules/streaming.ts
  test/regular/streaming/dual-output.ts
  test/regular/streaming/instagram.ts
  test/regular/streaming/kick.ts
  test/regular/streaming/multistream.ts
  test/regular/streaming/tiktok.ts
  test/regular/streaming/twitter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Add some chat fixes from 47def3b.
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
  test/helpers/modules/streaming.ts
  test/regular/streaming/instagram.ts
  test/regular/streaming/kick.ts
  test/regular/streaming/multistream.ts
  test/regular/streaming/twitter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix bad set state between Main and NavTools by managing vision icon color from Main component.
  app/components-react/sidebar/NavTools.tsx
  app/components-react/sidebar/SideNav.tsx
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

reactive widget menu, add trigger settings, WIP
  app/components-react/widgets/ReactiveWidget.tsx
  app/components-react/widgets/common/WidgetLayout.m.less
  app/components-react/widgets/reactive-widget/ReactiveWidgetGameSettings.m.less
  app/components-react/widgets/reactive-widget/ReactiveWidgetGameSettings.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

reactive widget menu, add trigger settings, WIP
  app/components-react/widgets/reactive-widget/ReactiveWidget.m.less
  app/components-react/widgets/reactive-widget/ReactiveWidgetTriggerDetails.m.less
  app/components-react/widgets/reactive-widget/ReactiveWidgetTriggerDetails.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for dual output ultra test.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert commits e036633 and 47def3b. (#5665)
  app/components-react/root/Chat.tsx
  app/components-react/root/LiveDock.m.less
  app/components-react/root/LiveDock.tsx
  app/components-react/shared/AuthModal.tsx
  app/components-react/shared/TitleBar.tsx
  app/components-react/sidebar/NavTools.tsx
  app/components-react/sidebar/PlatformIndicator.tsx
  app/components-react/sidebar/SideNav.tsx
  app/components-react/windows/Main.m.less
  app/components-react/windows/Main.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
  test/helpers/modules/streaming.ts
  test/regular/streaming/dual-output.ts
  test/regular/streaming/tiktok.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

DRY up layout components
  app/components-react/modals/onboarding/ConnectMore.tsx
  app/components-react/modals/onboarding/Devices.tsx
  app/components-react/modals/onboarding/Login.tsx
  app/components-react/modals/onboarding/OBSImport.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/RecordingLogin.tsx
  app/components-react/modals/onboarding/Themes.tsx
  app/components-react/modals/onboarding/Ultra.tsx
  app/components-react/modals/onboarding/steps.ts
  app/services/usage-statistics.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add timeout for starting multistream and return YouTube errors.
  app/services/platforms/youtube.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add analytics
  app/components-react/modals/onboarding/Devices.tsx
  app/components-react/pages/onboarding/HardwareSetup.tsx
  app/services/onboarding/onboarding-v2.ts
  app/services/usage-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

commenting, a bit of extra cleanup
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.less
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.tsx
  app/components-react/windows/reactive-data-editor/ReactiveDataEditorWindow.tsx
  app/services/sources/properties-managers/smart-browser-source-manager.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

moving some constants around
  app/services/hosts.ts
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/user-state/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Build out themes
  app/components-react/modals/onboarding/OBSImport.tsx
  app/components-react/modals/onboarding/Themes.tsx
  app/components-react/modals/onboarding/steps.ts
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Put twitch dual stream behind a feature flag
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/incremental-rollout.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add feature check to streaming view, Twitch service, and update default display.
  app/components-react/shared/DisplaySelector.tsx
  app/services/platforms/twitch.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add data binding to reactive widgets (WIP)
  app/components-react/widgets/ReactiveWidget.tsx
  app/components-react/widgets/common/WidgetLayout.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetTriggerDetails.tsx
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
  app/services/scene-collections/nodes/overlays/widget.ts
  app/services/sources/properties-managers/widget-manager.ts
  app/services/widgets/settings/alert-box/index.ts
  app/services/widgets/settings/widget-settings.ts
  app/services/widgets/widget-source.ts
  app/services/widgets/widgets-config.ts
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add factory api functions for streaming.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add shutdown to streaming service.
  app/services/app/app.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Enhanced broadcasting with multistream.
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP
  app/services/platforms/twitch.ts
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Reduce dual output ultra go live test.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Enhanced broadcasting UI changes and restream setup changes.
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/i18n/en-US/streaming.json
  app/services/platforms/twitch.ts
  app/services/restream.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Skip dual output test.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix unhandled promise rejection.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

reactive widgets submit new trigger binding (WIP)
  app/components-react/widgets/ReactiveWidget.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetCreateTriggerForm.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.tsx
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

reactive widgete settings bindings, (WIP)
  app/components-react/widgets/ReactiveWidget.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetGameSettings.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.m.less
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
