Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

refactor reactive widgets, WIP
  app/components-react/widgets/ReactiveWidget.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidget.helpers.ts
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetTriggerDetails.tsx
  app/components-react/widgets/reactive-widget/reactiveWidgetRouting.ts
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixing OBS Importer tests
  test/regular/obs-importer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Streamline platform error notys.
  app/services/platforms/base-platform.ts
  app/services/platforms/facebook.ts
  app/services/platforms/index.ts
  app/services/platforms/kick.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/trovo.ts
  app/services/platforms/twitch.ts
  app/services/platforms/twitter.ts
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Handle rethrowing errors after catching to update go live checklist.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add types, sanitize triggers, WIP
  app/components-react/widgets/ReactiveWidget.tsx
  app/components-react/widgets/common/WidgetLayout.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidget.helpers.ts
  app/components-react/widgets/reactive-widget/ReactiveWidgetCreateTriggerForm.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetGameSettings.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetTriggerDetails.tsx
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
  app/services/widgets/widgets-config.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove logs.
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Switch to production twitch dual stream variable
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Switch to production twitch dual stream variable (#5690)
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.1-preview.3
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Dynamically change twitch dual stream var when in preview
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add reactive widget typings
  app/components-react/widgets/reactive-widget/ReactiveWidget.helpers.ts
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

reactive widget types and safe checks
  app/components-react/widgets/ReactiveWidget.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetGameSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.2
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Dynamically change twitch dual stream var when in preview (#5691)
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.3-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

rm console logs
  app/components-react/widgets/common/useWidget.tsx
  app/services/scene-collections/nodes/overlays/widget.ts
  app/services/sources/properties-managers/widget-manager.ts
  app/services/widgets/settings/alert-box/index.ts
  app/services/widgets/settings/widget-settings.ts
  app/services/widgets/widget-source.ts
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OSN 0.26.1test3. Pulled latest changes
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

reactive widget typings and refactor, WIP
  app/components-react/widgets/reactive-widget/ReactiveWidget.helpers.ts
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.tsx
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

improving some typings
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.tsx
  app/components-react/windows/reactive-data-editor/ReactiveDataEditorWindow.tsx
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

updating reactive source base url handling
  app/services/sources/properties-managers/smart-browser-source-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

remove source list quick button
  app/components-react/editor/elements/SourceSelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

removing tom stylings to try to use the built-ins
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

removing custom version
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

moving styles out, moving utility type out
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.m.less
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.tsx
  app/index.d.ts
  app/util/dot-tree.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Allow user to go live in dual output mode if there is a recording/replay buffer error when starting stream.
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix updating enhanced broadcasting status with dual stream and multistream. (#5676)
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Allow user to go live in dual output mode if there is a recording/replay buffer error when starting stream. (#5692)
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix go live window error handling for checklist. (#5689)
  app/services/platforms/base-platform.ts
  app/services/platforms/facebook.ts
  app/services/platforms/index.ts
  app/services/platforms/kick.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/trovo.ts
  app/services/platforms/twitch.ts
  app/services/platforms/twitter.ts
  app/services/platforms/youtube.ts
  app/services/streaming/streaming.ts
  app/util/requests.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.3-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Prompt user to use H.264 codec if incompatible codec is used with restream.
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/i18n/en-US/settings.json
  app/services/settings/settings.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

New translations streaming.json (French)
  app/i18n/fr-FR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Spanish)
  app/i18n/es-ES/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Arabic)
  app/i18n/ar-SA/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Czech)
  app/i18n/cs-CZ/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Danish)
  app/i18n/da-DK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (German)
  app/i18n/de-DE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Hungarian)
  app/i18n/hu-HU/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Italian)
  app/i18n/it-IT/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Japanese)
  app/i18n/ja-JP/streaming.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
