Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Track dual stream and enhanced broadcasting. (#5714)
  app/services/streaming/streaming.ts
  test/regular/highlighter.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Membership test widget updates sponsors. (#5681)
  app/services/widgets/widgets-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Disable enhanced broadcasting checkbox when live.
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Prompt user to use H.264 codec if incompatible codec is used with restream. (#5693)
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/settings.json
  app/services/settings/output/output-settings.ts
  app/services/settings/settings.ts
  app/services/streaming/streaming-view.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Update osn: Update osn:
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations settings.json (French)
  app/i18n/fr-FR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Spanish)
  app/i18n/es-ES/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Arabic)
  app/i18n/ar-SA/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Czech)
  app/i18n/cs-CZ/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Danish)
  app/i18n/da-DK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (German)
  app/i18n/de-DE/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Hungarian)
  app/i18n/hu-HU/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Italian)
  app/i18n/it-IT/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Japanese)
  app/i18n/ja-JP/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Korean)
  app/i18n/ko-KR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Macedonian)
  app/i18n/mk-MK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Dutch)
  app/i18n/nl-NL/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Polish)
  app/i18n/pl-PL/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Portuguese)
  app/i18n/pt-PT/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Russian)
  app/i18n/ru-RU/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Slovak)
  app/i18n/sk-SK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Slovenian)
  app/i18n/sl-SI/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Swedish)
  app/i18n/sv-SE/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Turkish)
  app/i18n/tr-TR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Simplified)
  app/i18n/zh-CN/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Traditional)
  app/i18n/zh-TW/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Vietnamese)
  app/i18n/vi-VN/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Portuguese, Brazilian)
  app/i18n/pt-BR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Indonesian)
  app/i18n/id-ID/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Thai)
  app/i18n/th-TH/settings.json
Owners: @takuhiro-koyama

Add EventList component
  app/components-react/widgets/EventList.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add animation and fontFamily metadata
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/shared/inputs/inputs.ts
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/EventList.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add infra
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/EventList.vue
  app/components/widgets/EventList.vue.ts
  app/services/sources/sources.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix rendering error
  app/components-react/widgets/EventList.tsx
  app/services/widgets/widgets-config.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update osn: (#5725)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New Crowdin updates (#5726)
  app/i18n/ar-SA/settings.json
  app/i18n/cs-CZ/settings.json
  app/i18n/da-DK/settings.json
  app/i18n/de-DE/settings.json
  app/i18n/es-ES/settings.json
  app/i18n/fr-FR/settings.json
  app/i18n/hu-HU/settings.json
  app/i18n/id-ID/settings.json
  app/i18n/it-IT/settings.json
  app/i18n/ja-JP/settings.json
  app/i18n/ko-KR/settings.json
  app/i18n/mk-MK/settings.json
  app/i18n/nl-NL/settings.json
  app/i18n/pl-PL/settings.json
  app/i18n/pt-BR/settings.json
  app/i18n/pt-PT/settings.json
  app/i18n/ru-RU/settings.json
  app/i18n/sk-SK/settings.json
  app/i18n/sl-SI/settings.json
  app/i18n/sv-SE/settings.json
  app/i18n/th-TH/settings.json
  app/i18n/tr-TR/settings.json
  app/i18n/vi-VN/settings.json
  app/i18n/zh-CN/settings.json
  app/i18n/zh-TW/settings.json
Owners: @takuhiro-koyama

Release version 1.20.7-preview.2
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

use ARCH env variable
  scripts/install-native-deps.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update osn:
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Test osn release tool
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
