Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations streaming.json (Turkish)
  app/i18n/tr-TR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Simplified)
  app/i18n/zh-CN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Traditional)
  app/i18n/zh-TW/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Vietnamese)
  app/i18n/vi-VN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Thai)
  app/i18n/th-TH/streaming.json
Owners: @takuhiro-koyama

Fix goal change settings tests
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dropdown labels
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.6
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix tests again
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Comment out color input changes
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add proper assertions
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.6 (#5811)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New Crowdin updates (#5810)
  app/i18n/ar-SA/streaming.json
  app/i18n/cs-CZ/streaming.json
  app/i18n/da-DK/streaming.json
  app/i18n/de-DE/streaming.json
  app/i18n/fr-FR/streaming.json
  app/i18n/hu-HU/streaming.json
  app/i18n/id-ID/streaming.json
  app/i18n/it-IT/streaming.json
  app/i18n/ja-JP/streaming.json
  app/i18n/ko-KR/streaming.json
  app/i18n/mk-MK/streaming.json
  app/i18n/nl-NL/streaming.json
  app/i18n/pl-PL/streaming.json
  app/i18n/pt-BR/streaming.json
  app/i18n/pt-PT/streaming.json
  app/i18n/ru-RU/streaming.json
  app/i18n/sk-SK/streaming.json
  app/i18n/sl-SI/streaming.json
  app/i18n/sv-SE/streaming.json
  app/i18n/th-TH/streaming.json
  app/i18n/tr-TR/streaming.json
  app/i18n/vi-VN/streaming.json
  app/i18n/zh-CN/streaming.json
  app/i18n/zh-TW/streaming.json
Owners: @takuhiro-koyama

Release version 1.21.0-preview.4
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix pass condition
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Name form
  app/components-react/widgets/GenericGoal.tsx
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

pr: update agent app handling
  app/components-react/pages/AILanding.tsx
  app/services/platform-apps/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update Ultra page for Onboarding
  app/components-react/modals/onboarding/Ultra.m.less
  app/components-react/modals/onboarding/Ultra.tsx
  app/i18n/en-US/onboarding.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Update osn: Update obs-studio-node to v0.26.7
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added deadlock config
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Port Goal Widgets to React (#5761)
  app/app-services.ts
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/shared/inputs/TextInput.tsx
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components/widgets/goal/BitGoal.tsx
  app/components/widgets/goal/CharityGoal.tsx
  app/components/widgets/goal/DonationGoal.tsx
  app/components/widgets/goal/FollowerGoal.tsx
  app/components/widgets/goal/GenericGoal.vue
  app/components/widgets/goal/GenericGoal.vue.ts
  app/components/widgets/goal/StarsGoal.tsx
  app/components/widgets/goal/SubGoal.tsx
  app/components/widgets/goal/SubscriberGoal.tsx
  app/components/widgets/goal/SuperchatGoal.tsx
  app/components/widgets/goal/SupporterGoal.tsx
  app/i18n/en-US/widget-goal.json
  app/services/sources/sources.ts
  app/services/widgets/settings/bit-goal.ts
  app/services/widgets/settings/charity-goal.ts
  app/services/widgets/settings/donation-goal.ts
  app/services/widgets/settings/follower-goal.ts
  app/services/widgets/settings/generic-goal.ts
  app/services/widgets/settings/stars-goal.ts
  app/services/widgets/settings/sub-goal.ts
  app/services/widgets/settings/subscriber-goal.ts
  app/services/widgets/settings/superchat-goal.ts
  app/services/widgets/settings/supporter-goal.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Update osn: Update obs-studio-node to v0.26.8
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix widget tests
  test/helpers/modules/forms/color.ts
  test/helpers/modules/forms/inputs.ts
  test/regular/widgets/chat-box.ts
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations widget-goal.json (Spanish)
  app/i18n/es-ES/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Arabic)
  app/i18n/ar-SA/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Czech)
  app/i18n/cs-CZ/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Danish)
  app/i18n/da-DK/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (German)
  app/i18n/de-DE/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Hungarian)
  app/i18n/hu-HU/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Italian)
  app/i18n/it-IT/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Japanese)
  app/i18n/ja-JP/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Korean)
  app/i18n/ko-KR/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Macedonian)
  app/i18n/mk-MK/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Dutch)
  app/i18n/nl-NL/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Polish)
  app/i18n/pl-PL/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Portuguese)
  app/i18n/pt-PT/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Russian)
  app/i18n/ru-RU/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Slovak)
  app/i18n/sk-SK/widget-goal.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
