Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Remove strings.
  app/i18n/en-US/common.json
  app/i18n/en-US/loader.json
  app/i18n/en-US/sources.json
  app/i18n/en-US/widget-alertbox.json
  app/i18n/en-US/widget-viewer-count.json
Owners: @takuhiro-koyama

Completely remove Trovo-specifc styling.
  app/components-react/shared/PlatformButton.m.less
Owners: @yusukess, @kechino

WIP desktop mcp
  .claude/commands/sld-live-session.md
  .claude/settings.json
  .gitignore
  .mcp.json
  package.json
  test-main-standalone.js
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Changes from code review.
  app/components-react/windows/Main.tsx
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Correctly handle platform filtering.
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove whitespace and fix property check.
  app/services/app/app.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove AB test of new onboarding
  app/services/app/app.ts
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Handle updating primary platform if Trovo was primary.
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove log, fix redirect, and fix styling.
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Clear YouTube monetization on broadcast change without updating state on an unmounted component.
  app/components-react/windows/go-live/platforms/YoutubeEditStreamInfo.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add conditional for performance metrics.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

stub in v0 - waiting for finalized design
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/YouTubeWelcome.tsx
  app/components-react/modals/onboarding/steps.ts
  app/services/app/app.ts
  app/services/onboarding/onboarding-v2.ts
  app/services/usage-statistics.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

in progress CLAUDE and ARCHITECTURE files
  CLAUDE.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.6-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

changed logos to default logos
  app/components-react/highlighter/HypeWrapper.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix translation
  app/components-react/highlighter/migration/ModalInstallationFlow.tsx
  app/i18n/en-US/highlighter.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

new carousel approach
  app/components-react/highlighter/migration/FeatureCarousel.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

carousel translation
  app/components-react/highlighter/migration/FeatureCarousel.tsx
  app/i18n/en-US/highlighter.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

working demo - lots of hacks
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/YouTubeDualOutput.tsx
  app/components-react/modals/onboarding/steps.ts
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix YouTube live error notification styling.
  app/components-react/root/NotificationsArea.m.less
Owners: @yusukess, @kechino

Fixes for YouTube disabled notification.
  app/components-react/root/NotificationsArea.m.less
  app/components-react/root/NotificationsArea.tsx
  app/i18n/en-US/common.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Release version 1.21.6
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Highlighter/jk replay integration (#5847)
  app/components-react/highlighter/ClipsView.m.less
  app/components-react/highlighter/ClipsView.tsx
  app/components-react/highlighter/HypeWrapper.m.less
  app/components-react/highlighter/HypeWrapper.tsx
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/StreamView.tsx
  app/components-react/highlighter/migration/FeatureCarousel.tsx
  app/components-react/highlighter/migration/FeatureItemCard.m.less
  app/components-react/highlighter/migration/FeatureItemCard.tsx
  app/components-react/highlighter/migration/MigrationNotice.m.less
  app/components-react/highlighter/migration/MigrationNotice.tsx
  app/components-react/highlighter/migration/ModalInstallationFlow.tsx
  app/components-react/highlighter/migration/PageInstallationFlow.tsx
  app/components-react/highlighter/migration/SectionHeader.tsx
  app/components-react/highlighter/migration/useInstallState.ts
  app/components-react/pages/Highlighter.m.less
  app/components-react/pages/Highlighter.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/constants.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/highlighter.models.ts
  app/services/incremental-rollout.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

New translations stream-shift.json (French)
  app/i18n/fr-FR/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Spanish)
  app/i18n/es-ES/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Arabic)
  app/i18n/ar-SA/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Czech)
  app/i18n/cs-CZ/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Danish)
  app/i18n/da-DK/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (German)
  app/i18n/de-DE/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Hungarian)
  app/i18n/hu-HU/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Italian)
  app/i18n/it-IT/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Japanese)
  app/i18n/ja-JP/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Korean)
  app/i18n/ko-KR/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Macedonian)
  app/i18n/mk-MK/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Dutch)
  app/i18n/nl-NL/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Polish)
  app/i18n/pl-PL/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Portuguese)
  app/i18n/pt-PT/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Russian)
  app/i18n/ru-RU/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Slovak)
  app/i18n/sk-SK/stream-shift.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Slovenian)
  app/i18n/sl-SI/stream-shift.json
Owners: @takuhiro-koyama
