Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Make chat collapse hitzone larger
  app/components-react/windows/Main.m.less
Owners: @yusukess, @kechino

only codesign the installer
  electron-builder/afterPack.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix messed up themes
  app/components-react/windows/Main.m.less
Owners: @yusukess, @kechino

remove the old embedded provisioning profile
  electron-builder/build-mac-virtualcam.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add unknown to error & fix formatting
  app/services/virtual-webcam.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

スタジオコントロールのアイコン回転スタイルを修正
  app/components/StudioControls.vue
Owners: @yusukess, @kechino

bump @types/node to 18.19.121
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix inconsistent go live experiences with custom stream settings and … (#5500)
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/sidebar/NavTools.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/settings/Hotkeys.tsx
  app/components-react/windows/settings/Stream.tsx
  app/components-react/windows/settings/Video.tsx
  app/components/windows/Main.vue.ts
  app/components/windows/settings/Settings.vue
  app/components/windows/settings/Settings.vue.ts
  app/i18n/en-US/settings.json
  app/services/app/app.ts
  app/services/dual-output/dual-output.ts
  app/services/navigation.ts
  app/services/scene-collections/scene-collections.ts
  app/services/settings/settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Add toggle to disable muted notifications
  app/components-react/root/StudioEditor.tsx
  app/components-react/windows/advanced-audio/GlobalSettings.tsx
  app/i18n/en-US/audio.json
  app/services/hardware/default-hardware.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

overlay bug and update OSN
  app/services/scene-collections/nodes/overlays/smartBrowserSource.ts
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

bump to OSN 0.25.47
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: 削除した番組作成中フラグの参照が残っていた
  app/components/nicolive-area/NicoliveArea.vue
  app/components/nicolive-area/ToolBar.vue
Owners: @yusukess, @kechino

virtual cam messaging / mac provisioning profile / fix notarization error feedback (#5516)
  app/i18n/en-US/settings.json
  app/services/virtual-webcam.ts
  electron-builder/afterPack.js
  electron-builder/base.config.js
  electron-builder/build-mac-virtualcam.js
  electron-builder/entitlements.plist
  electron-builder/mac-virtual-cam-entitlements.plist
  package.json
  scripts/repositories.json
  yarn.lock
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Styling polishes.
  app/components-react/shared/AddDestinationButton.m.less
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/StreamSwitcherToggle.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
  app/i18n/en-US/streaming.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Release version 1.19.2-preview.10
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

moving the source message callback up a level, so it doesn't get replaced for each smart source
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/vision/index.ts
  app/util/dot-tree.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add toggle to disable muted notifications (#5517)
  app/components-react/root/StudioEditor.tsx
  app/components-react/windows/advanced-audio/GlobalSettings.tsx
  app/i18n/en-US/audio.json
  app/services/hardware/default-hardware.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix for simple factory instances not destroying.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix recording switcher visibility.
  app/components-react/windows/go-live/RecordingSwitcher.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: お知らせダイアログのデザインを修正
  app/components/windows/Informations.vue
  app/components/windows/Informations.vue.ts
  app/styles/_variables.less
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update multichat strings.
  app/components-react/root/LiveDock.tsx
  app/i18n/en-US/streaming.json
  app/services/chat.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

WIP
  app/components-react/editor/elements/hooks.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/sidebar/SideNav.tsx
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  scripts/repositories.json
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix codesign issue / refactor vcam code
  electron-builder/afterPack.js
  electron-builder/build-mac-virtualcam.js
  electron-builder/extension-entitlements.plist
  electron-builder/installer-entitlements.plist
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

use notarytool which is substantially (10x) faster then legacy
  electron-builder/afterSign.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

set fields for notarytool only (do not use legacy fields)
  electron-builder/afterSign.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix codesign issue / refactor vcam code (#5519)
  electron-builder/afterPack.js
  electron-builder/build-mac-virtualcam.js
  electron-builder/extension-entitlements.plist
  electron-builder/installer-entitlements.plist
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.2-preview.11
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations apps.json (French)
  app/i18n/fr-FR/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Spanish)
  app/i18n/es-ES/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Arabic)
  app/i18n/ar-SA/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Czech)
  app/i18n/cs-CZ/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Danish)
  app/i18n/da-DK/apps.json
Owners: @takuhiro-koyama

New translations apps.json (German)
  app/i18n/de-DE/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Hungarian)
  app/i18n/hu-HU/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Italian)
  app/i18n/it-IT/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Japanese)
  app/i18n/ja-JP/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Korean)
  app/i18n/ko-KR/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Macedonian)
  app/i18n/mk-MK/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Dutch)
  app/i18n/nl-NL/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Polish)
  app/i18n/pl-PL/apps.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
