Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @yushinakatani
replace_rules.json @yushinakatani
/.github/CODEOWNERS @yushinakatani

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Add debounce to recording button. (#5427)
  app/components-react/root/StudioFooter.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix error from undefined stream start time. (#5428)
  app/services/performance.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert Display to 6dcdf30 to fix flash on resize.
  app/components-react/shared/Display.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

strange linebreak linting issue
  app/services/highlighter/subtitles/transcription.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor: remove debugging, testing controls
  app/components-react/windows/source-showcase/SourceGrid.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add viewcount to kick
  app/services/platforms/kick.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Correct api call
  app/services/platforms/kick.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for strictnulls.
  app/services/settings/streaming/stream-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor getting mode and display. (#5430)
  app/services/dual-output/dual-output.ts
  app/services/platforms/base-platform.ts
  app/services/restream.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add display to recording noty. (#5429)
  app/i18n/en-US/notifications.json
  app/services/recording-mode.ts
Owners: @yushinakatani, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Not optional context before go live.
  app/services/platforms/facebook.ts
  app/services/platforms/instagram.ts
  app/services/platforms/kick.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/trovo.ts
  app/services/platforms/twitter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor getting mode and display.
  app/services/settings/streaming/stream-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add both as display output option and refactor display selector.
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/platforms/index.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Migrate single output dual stream YouTube to generic.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/diagnostics.ts
  app/services/dual-output/dual-output.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/youtube.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor display rendering to handle its own style blocking
  app/components-react/editor/elements/RecordingPreview.tsx
  app/components-react/editor/elements/StreamPreview.tsx
  app/components-react/root/StudioEditor.tsx
  app/components-react/shared/Display.tsx
  app/components-react/windows/Projector.tsx
  app/components-react/windows/SourceProperties.tsx
  app/components/windows/SourceProperties.vue
  app/components/windows/SourceProperties.vue.ts
  app/components/windows/WidgetEditor.vue
  app/components/windows/WidgetEditor.vue.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Update osn to v0.25.31
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix strict nulls
  app/services/platforms/kick.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.31 (#5435)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.0-preview.12
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore: add component about filtering 3x
  app/components-react/windows/source-showcase/SourceGrid.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore(package): remove trailing newline
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for strictnulls and remove comment.
  app/services/platforms/youtube.ts
  app/services/settings/streaming/stream-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add viewcount to Kick (#5432)
  app/services/platforms/kick.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add dual output recording icons.
  app/components-react/root/StudioEditor.m.less
  app/components-react/root/StudioEditor.tsx
  app/services/streaming/streaming-view.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add commented out incremental rollout.
  app/components-react/root/StudioEditor.tsx
  app/services/incremental-rollout.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Highlighter/remove feature flag (#5431)
  app/services/incremental-rollout.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Dual stream setup in platforms service. (#5433)
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/diagnostics.ts
  app/services/dual-output/dual-output.ts
  app/services/platforms/facebook.ts
  app/services/platforms/index.ts
  app/services/platforms/instagram.ts
  app/services/platforms/kick.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/trovo.ts
  app/services/platforms/twitter.ts
  app/services/platforms/youtube.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fixed bug with default video preset + optimized size of video files
  app/components-react/highlighter/Export/ExportModal.tsx
  app/services/highlighter/models/rendering.models.ts
  app/services/highlighter/rendering/frame-writer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.32
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix kick viewcount response
  app/services/platforms/kick.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

changed default to match a preset
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

show modal if path gets updated
  app/components-react/highlighter/StreamView.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

adjusted supportedGames
  app/components-react/highlighter/supportedGames/SupportedGames.m.less
  app/components-react/highlighter/supportedGames/SupportedGames.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added option to show more games
  app/components-react/highlighter/SettingsView.tsx
  app/components-react/highlighter/supportedGames/SupportedGames.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

click on thumbnail opens stream view from settings
  app/components-react/highlighter/SettingsView.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added cursor pointer
  app/components-react/highlighter/supportedGames/SupportedGames.m.less
Owners: @yusukess, @kechino

UI behind flag.
  app/components-react/root/StudioEditor.tsx
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/incremental-rollout.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

marked warzone, blops, apex for release
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
