Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations onboarding.json (Spanish)
  app/i18n/es-ES/onboarding.json
Owners: @takuhiro-koyama

New translations streaming.json (Spanish)
  app/i18n/es-ES/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (German)
  app/i18n/de-DE/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Italian)
  app/i18n/it-IT/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Italian)
  app/i18n/it-IT/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Japanese)
  app/i18n/ja-JP/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Japanese)
  app/i18n/ja-JP/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Korean)
  app/i18n/ko-KR/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Korean)
  app/i18n/ko-KR/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Polish)
  app/i18n/pl-PL/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Polish)
  app/i18n/pl-PL/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Portuguese)
  app/i18n/pt-PT/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese)
  app/i18n/pt-PT/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Russian)
  app/i18n/ru-RU/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Russian)
  app/i18n/ru-RU/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Turkish)
  app/i18n/tr-TR/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Turkish)
  app/i18n/tr-TR/streaming.json
Owners: @takuhiro-koyama

New translations onboarding.json (German)
  app/i18n/de-DE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Italian)
  app/i18n/it-IT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Japanese)
  app/i18n/ja-JP/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Korean)
  app/i18n/ko-KR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Polish)
  app/i18n/pl-PL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese)
  app/i18n/pt-PT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Russian)
  app/i18n/ru-RU/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Turkish)
  app/i18n/tr-TR/onboarding.json
Owners: @takuhiro-koyama

New translations common.json (Portuguese, Brazilian)
  app/i18n/pt-BR/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Indonesian)
  app/i18n/id-ID/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese, Brazilian)
  app/i18n/pt-BR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Indonesian)
  app/i18n/id-ID/onboarding.json
Owners: @takuhiro-koyama

game pulse
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/widgets/GamePulse.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components-react/widgets/game-pulse/GamePulse.helpers.ts
  app/components-react/widgets/game-pulse/GamePulse.types.ts
  app/components-react/widgets/game-pulse/GamePulseCreateTriggerForm.tsx
  app/components-react/widgets/game-pulse/GamePulseMenu.tsx
  app/components-react/widgets/game-pulse/GamePulseTriggerDetails.tsx
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
  app/i18n/en-US/common.json
  app/i18n/en-US/widgets.json
  app/services/diagnostics.ts
  app/services/sources/sources.ts
  app/services/vision/index.ts
  app/services/widgets/widgets-config.ts
  app/services/widgets/widgets-data.ts
  app/services/widgets/widgets.ts
  app/styles/custom-icons.less
  test/helpers/widget-helpers.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

apply fix for realm crash on repeted objects recreate (#5731)
  app/components/shared/RealmReactive.ts
  app/services/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.7-preview.3
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

crash-handler: Add "Troubleshooting here" hyperlink
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

pr(widgets): address feedback
  app/components-react/widgets/common/WidgetLayout.m.less
  app/components-react/widgets/common/WidgetLayout.tsx
  app/i18n/en-US/common.json
  app/i18n/en-US/widgets.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

﻿feat: add tutorial and default settings functionality to GamePulse widget
  app/components-react/widgets/GamePulse.tsx
  app/components-react/widgets/game-pulse/GamePulse.types.ts
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
  app/styles/custom-icons.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

pr(widgets): address feedback
  app/components-react/widgets/common/WidgetLayout.m.less
  app/components-react/widgets/common/WidgetLayout.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

mac-release: validate binaries match ARCH
  electron-builder/afterPack.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Add/remove custom destinations. WIP: add error handling.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
