Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Fix number in selection count for deleting items from dual output scene collection. (#5649)
  app/services/selection/global-selection.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Construct service layer
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor enhanced broadcasting in Go Live window and disable when not needed.
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/i18n/en-US/streaming.json
  app/services/api/external-api/streaming/streaming.ts
  app/services/diagnostics.ts
  app/services/platforms/twitch.ts
  app/services/settings/output/output-settings.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix strictnulls.
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert 3da965b.
  app/services/diagnostics.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert 3da965b. (#5653)
  app/services/diagnostics.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove resize observer from side nav.
  app/components-react/sidebar/SideNav.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Live dock uses sider and is resizeable.
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Memoizations in Chat component.
  app/components-react/root/Chat.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove window resize event handler from Chat component.
  app/components-react/root/Chat.tsx
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add check for ui ready for side nav.
  app/components-react/sidebar/SideNav.tsx
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor platform settings use go live module and add tooltip.
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/i18n/en-US/twitch.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add check for ui ready for side nav.
  app/components-react/shared/TitleBar.tsx
  app/components-react/sidebar/SideNav.tsx
  app/components-react/windows/Main.m.less
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Add stream and platform info to streaming error alert. (#5651)
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

few tweaks for race conditions
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.less
  app/components-react/windows/reactive-data-editor/ReactiveDataEditorWindow.tsx
  app/services/user-state/index.ts
  package.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Title bar remove dependency and specify cleanup by window type.
  app/components-react/shared/TitleBar.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.67
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add cleanup to Go Live window.
  app/components-react/windows/go-live/GoLiveWindow.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Memoization in nav tools and auth modal, and fix auth modal hidden on main window.
  app/components-react/shared/AuthModal.tsx
  app/components-react/sidebar/NavTools.tsx
  app/components-react/sidebar/SideNav.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix auth modal undefined primary platform error.
  app/components-react/shared/AuthModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.67 [Fixed selective recording for enhanced broadcasting, setvideocontext fix, improved stability] (#5656)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fixing number inputs to be a bit more helpful with 0s
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.tsx
  app/services/scene-collections/nodes/overlays/slots.ts
  app/services/user-state/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

mac-virtualcam fix log spam
  app/services/signals-manager.ts
  app/services/virtual-webcam.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix stream shift analytics.
  app/components-react/root/StartStreamingButton.tsx
  app/services/restream.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP
  app/components-react/root/StartStreamingButton.tsx
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations streaming.json (French)
  app/i18n/fr-FR/streaming.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (French)
  app/i18n/fr-FR/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations twitter.json (French)
  app/i18n/fr-FR/twitter.json
Owners: @takuhiro-koyama

New translations facebook.json (French)
  app/i18n/fr-FR/facebook.json
Owners: @takuhiro-koyama

New translations youtube.json (French)
  app/i18n/fr-FR/youtube.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (French)
  app/i18n/fr-FR/promotional-copy.json
Owners: @takuhiro-koyama

New translations twitch.json (French)
  app/i18n/fr-FR/twitch.json
Owners: @takuhiro-koyama

New translations tiktok.json (French)
  app/i18n/fr-FR/tiktok.json
Owners: @takuhiro-koyama

New translations trovo.json (French)
  app/i18n/fr-FR/trovo.json
Owners: @takuhiro-koyama

New translations kick.json (French)
  app/i18n/fr-FR/kick.json
Owners: @takuhiro-koyama

New translations developer.json (French)
  app/i18n/fr-FR/developer.json
Owners: @takuhiro-koyama

New translations stream-shift.json (French)
  app/i18n/fr-FR/stream-shift.json
Owners: @takuhiro-koyama

New translations streaming.json (Spanish)
  app/i18n/es-ES/streaming.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Spanish)
  app/i18n/es-ES/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations twitter.json (Spanish)
  app/i18n/es-ES/twitter.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
