Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

﻿feat: improve reactive widget trigger details and media handling
  app/components-react/widgets/reactive-widget/ReactiveWidget.helpers.ts
  app/components-react/widgets/reactive-widget/ReactiveWidgetTriggerDetails.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dual output folder undo/redo. (#5688)
  app/components-react/editor/elements/DualOutputSourceSelector.tsx
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/windows/NameFolder.tsx
  app/services/api/external-api/scenes/scene-item-folder.ts
  app/services/api/external-api/scenes/scene-item.ts
  app/services/dual-output/dual-output.ts
  app/services/editor-commands/commands/copy-nodes.ts
  app/services/editor-commands/commands/create-folder.ts
  app/services/editor-commands/commands/remove-folder.ts
  app/services/editor-commands/commands/remove-nodes.ts
  app/services/platform-apps/api/modules/scenes.ts
  app/services/scene-collections/scene-collections.ts
  app/services/scene-collections/state.ts
  app/services/scenes/scenes.ts
  app/services/selection/global-selection.ts
  app/util/menus/EditMenu.ts
  test/helpers/modules/sources.ts
  test/helpers/scene-builder.ts
  test/regular/streaming/dual-output.ts
  test/regular/undo.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

﻿feat: remove unused flattenAnimationOptions function and replace with mapAnimationGroups
  app/components-react/widgets/reactive-widget/ReactiveWidget.helpers.ts
  app/components-react/widgets/reactive-widget/ReactiveWidgetTriggerDetails.tsx
  app/services/widgets/settings/widget-settings.ts
  app/services/widgets/widget-source.ts
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

move playReactiveAlert to useReactiveWidgets
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidget.types.ts
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor groupedlistinput, refactor reactive tab menu parsing
  app/components-react/shared/inputs/GroupedListInput.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidget.helpers.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Validate the encoder for dual output before going live
  app/services/settings/settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix device reactivity
  app/components-react/modals/onboarding/Devices.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor trigger details, enable searchable input in trigger create form
  app/components-react/shared/inputs/GroupedListInput.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetCreateTriggerForm.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetTriggerDetails.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: restore "Rescale Output" option
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix obs import bug
  app/services/app/app.ts
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

(Mac) update electron-builder to properly bypass codesign (#5670)
  electron-builder/base.config.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: restore "Rescale Output" option (#5708)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.5-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Change input type
  app/components-react/modals/onboarding/Devices.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Handle strings correctly
  app/i18n/en-US/settings.json
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Validate the encoder for dual output before going live
  app/i18n/en-US/settings.json
  app/services/settings/settings.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dismissable zindex
  app/components-react/shared/HelpTip.m.less
Owners: @yusukess, @kechino

Port fixes from qa branch
  app/components-react/shared/HelpTip.m.less
  app/services/app/app.ts
  app/services/onboarding/onboarding-v2.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix styling on ConnectMore
  app/components-react/modals/onboarding/Common.m.less
  app/components-react/modals/onboarding/ConnectMore.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix styling on ConnectMore
  app/components-react/modals/onboarding/Common.m.less
  app/components-react/modals/onboarding/ConnectMore.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added 4 new games: dbd, arc raiders, dota2, rocket league
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix import obs cards
  app/components-react/modals/onboarding/Onboarding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix import obs cards
  app/components-react/modals/onboarding/Onboarding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

rename reactive widget to game pulse
  app/components-react/widgets/GamePulse.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components-react/widgets/game-pulse/GamePulse.helpers.ts
  app/components-react/widgets/game-pulse/GamePulse.m.less
  app/components-react/widgets/game-pulse/GamePulse.types.ts
  app/components-react/widgets/game-pulse/GamePulseCreateTriggerForm.m.less
  app/components-react/widgets/game-pulse/GamePulseCreateTriggerForm.tsx
  app/components-react/widgets/game-pulse/GamePulseGameSettings.m.less
  app/components-react/widgets/game-pulse/GamePulseGameSettings.tsx
  app/components-react/widgets/game-pulse/GamePulseMenu.m.less
  app/components-react/widgets/game-pulse/GamePulseMenu.tsx
  app/components-react/widgets/game-pulse/GamePulseTriggerDetails.m.less
  app/components-react/widgets/game-pulse/GamePulseTriggerDetails.tsx
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Update osn: Test release
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: TEST RELEASE6
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: test release
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: TEST PR
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: TEST RELEASE
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add progressCallback to  installOverlayAndWidgets (#5678)
  app/components-react/pages/BrowseOverlays.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Application Audio Capture plugin: Add field
  app/components-react/windows/advanced-audio/SourceSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add missing incompatible codecs.
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/settings.json
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

added 4 new games: dbd, arc raiders, dota2, rocket league (#5710)
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix opacity and spacing.
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix codec name.
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add missing translation.
  app/i18n/en-US/streaming.json
Owners: @takuhiro-koyama

Track dual stream and enhanced broadcasting.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix custom destination tests.
  test/helpers/modules/streaming.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix notifications icon hover color. (#5698)
  app/components-react/root/NotificationsArea.m.less
  app/components-react/root/NotificationsArea.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix background color for unchecked checkboxes and beta tag. (#5699)
  app/components-react/obs/ObsForm.tsx
  app/components-react/shared/DismissableBadge.m.less
  app/styles/antd/day-theme.lazy.less
  app/styles/antd/night-theme.lazy.less
  app/styles/antd/prime-dark.lazy.less
  app/styles/antd/prime-light.lazy.less
  app/themes.g.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino
