Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations widget-alertbox.json (Vietnamese)
  app/i18n/vi-VN/widget-alertbox.json
Owners: @takuhiro-koyama

New translations widget-viewer-count.json (Vietnamese)
  app/i18n/vi-VN/widget-viewer-count.json
Owners: @takuhiro-koyama

New translations loader.json (Vietnamese)
  app/i18n/vi-VN/loader.json
Owners: @takuhiro-koyama

New translations common.json (Portuguese, Brazilian)
  app/i18n/pt-BR/common.json
Owners: @takuhiro-koyama

New translations sources.json (Portuguese, Brazilian)
  app/i18n/pt-BR/sources.json
Owners: @takuhiro-koyama

New translations widget-alertbox.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widget-alertbox.json
Owners: @takuhiro-koyama

New translations widget-viewer-count.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widget-viewer-count.json
Owners: @takuhiro-koyama

New translations loader.json (Portuguese, Brazilian)
  app/i18n/pt-BR/loader.json
Owners: @takuhiro-koyama

New translations common.json (Indonesian)
  app/i18n/id-ID/common.json
Owners: @takuhiro-koyama

New translations sources.json (Indonesian)
  app/i18n/id-ID/sources.json
Owners: @takuhiro-koyama

New translations widget-alertbox.json (Indonesian)
  app/i18n/id-ID/widget-alertbox.json
Owners: @takuhiro-koyama

New translations widget-viewer-count.json (Indonesian)
  app/i18n/id-ID/widget-viewer-count.json
Owners: @takuhiro-koyama

New translations loader.json (Indonesian)
  app/i18n/id-ID/loader.json
Owners: @takuhiro-koyama

New translations common.json (Thai)
  app/i18n/th-TH/common.json
Owners: @takuhiro-koyama

New translations sources.json (Thai)
  app/i18n/th-TH/sources.json
Owners: @takuhiro-koyama

New translations widget-alertbox.json (Thai)
  app/i18n/th-TH/widget-alertbox.json
Owners: @takuhiro-koyama

New translations widget-viewer-count.json (Thai)
  app/i18n/th-TH/widget-viewer-count.json
Owners: @takuhiro-koyama

New translations loader.json (Thai)
  app/i18n/th-TH/loader.json
Owners: @takuhiro-koyama

Edit stream window styling.
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components/windows/ChildWindow.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix PlatformLogo colors in Go Live window.
  app/components-react/windows/go-live/SwitcherCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Skip Enhanced Broadcasting-covered recording helpers when stopping stream
  app/services/streaming/output-context.ts
  app/services/streaming/streaming.ts
  test/regular/streaming/output-context.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Go Live window ultra button styling.
  app/components-react/shared/AddDestinationButton.m.less
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/ButtonHighlighted.m.less
  app/components-react/shared/ButtonHighlighted.tsx
  app/components-react/windows/settings/Stream.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Edit Stream window margin.
  app/components-react/windows/go-live/EditStreamWindow.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Stream Shift non-ultra toggle alignment.
  app/components-react/shared/StreamShiftToggle.m.less
  app/components-react/shared/StreamShiftToggle.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

embed widget pages in desktop
  app/components-react/pages/AlertBox.tsx
  app/components-react/pages/Cloudbot.tsx
  app/components-react/pages/Widgets.tsx
  app/components-react/pages/index.ts
  app/components-react/shared/WidgetEmbed.tsx
  app/components-react/windows/Main.tsx
  app/services/navigation.ts
  app/services/side-nav/menu-data.ts
  app/services/side-nav/menu.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix TikTok form styling.
  app/components-react/windows/go-live/platforms/TikTokEditStreamInfo.m.less
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
  app/styles/go-live.less
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor TikTok tabs to create filled tabs subtype.
  app/components-react/shared/Tabs.m.less
  app/components-react/shared/Tabs.tsx
  app/components-react/windows/go-live/platforms/TikTokEditStreamInfo.m.less
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

AI highlighter switch styling fix and remove recording text.
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/RecordingSwitcher.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Stream ultra banners.
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/windows/settings/Stream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Consolidate getters in go live module and fix styling.
  app/components-react/shared/Tooltip.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/SwitcherCard.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/usage-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Consolidate Stream Shift toggling.
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Temp disable top toggles.
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix show/hide display selector with Patreon and Stream Shift.
  app/components-react/windows/go-live/DestinationSwitchers.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add CLAUDE.md and ARCHITECTURE.md (#5994)
  ARCHITECTURE.md
  CLAUDE.md
  app/services-manager.ts
  app/services/api/internal-api-client.ts
  app/services/api/ipc-server/ipc-server.ts
  app/services/api/rpc-api.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix go live window primary button hover colors.
  app/components-react/windows/go-live/GoLive.m.less
  app/styles/go-live.less
Owners: @yusukess, @kechino

add replay install into highlighter setting
  app/components-react/highlighter/SettingsView.tsx
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

powerups,alertbox: add power-ups alertbox support
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/AlertBox.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/useAlertBox.tsx
  app/i18n/en-US/widget-alertbox.json
  app/services/widgets/alerts-config.ts
  app/services/widgets/settings/alert-box/alert-box-api.ts
  app/services/widgets/settings/alert-box/alert-box-data.ts
  app/services/widgets/settings/alert-box/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

powerups,widgets: add power-ups widget support
  app/components-react/widgets/EventList.tsx
  app/components-react/widgets/GenericGoal.tsx
  app/components/widgets/Credits.vue.ts
  app/components/widgets/TipJar.vue.ts
  app/i18n/en-US/widget-credits.json
  app/i18n/en-US/widget-goal.json
  app/i18n/en-US/widgets.json
  app/services/widgets/settings/credits.ts
  app/services/widgets/settings/stream-boss.ts
  app/services/widgets/settings/tip-jar.ts
  app/services/widgets/widgets-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

powerups,recentevents: add power-ups recent events support
  app/components-react/editor/elements/RecentEvents.tsx
  app/i18n/en-US/recent-events.json
  app/services/recent-events.ts
  app/services/websocket.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add error handling for toggling.
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
