Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Remove display toggles from scene selector.
  app/components-react/editor/elements/SceneSelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Only show display toggles in dual output mode.
  app/components-react/root/StudioEditor.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix support settings ui. (#5767)
  app/components-react/windows/settings/Support.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update output-settings.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update output-settings.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

black ops 7 game added
  app/services/highlighter/index.ts
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update output-settings.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node:
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Ensure valid recording encoder for recording file format.
  app/components-react/windows/settings/ObsSettings.tsx
  app/services/settings/output/output-settings.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Ensure valid recording encoder for recording file format.
  app/components-react/windows/settings/ObsSettings.tsx
  app/services/settings/output/output-settings.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

ensure we reload our reactive data when scene collections change
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

push state to sources on fetch, fixes rare race condition where reactive sources we're not init'd with data
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: OSN factory and enhanced
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update repositories.json
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node:
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added marathon game
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update go live platform settings column UI.
  app/components-react/shared/AddDestinationButton.m.less
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/shared/inputs/SwitchInput.m.less
  app/components-react/shared/inputs/SwitchInput.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/RecordingSwitcher.m.less
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/components-react/windows/go-live/Twitter.tsx
  app/styles/colors.less
  app/themes.g.less
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix flaky widget tests
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Disable rescale output before "go live"
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Guard settings navigation
  app/components-react/windows/Settings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add another guard clause
  app/components-react/windows/Settings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor guard clause
  app/components-react/windows/Settings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add eventType to gamepulse trigger events
  app/components-react/widgets/game-pulse/GamePulse.models.ts
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for radio buttons.
  app/components-react/highlighter/Export/ExportModal.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

WIP: platform settings.
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/Section.tsx
  app/components-react/windows/go-live/platforms/TikTokEditStreamInfo.m.less
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
  app/i18n/en-US/common.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Fix/reactive data collection switch (#5778)
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

black ops 7 game added (#5769)
  app/services/highlighter/index.ts
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.0
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add eventType to gamepulse trigger events (#5777)
  app/components-react/widgets/game-pulse/GamePulse.models.ts
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New Crowdin updates (#5766)
  app/i18n/ar-SA/common.json
  app/i18n/cs-CZ/common.json
  app/i18n/da-DK/common.json
  app/i18n/de-DE/common.json
  app/i18n/es-ES/common.json
  app/i18n/fr-FR/common.json
  app/i18n/hu-HU/common.json
  app/i18n/id-ID/common.json
  app/i18n/it-IT/common.json
  app/i18n/ja-JP/common.json
  app/i18n/ko-KR/common.json
  app/i18n/mk-MK/common.json
  app/i18n/nl-NL/common.json
  app/i18n/pl-PL/common.json
  app/i18n/pt-BR/common.json
  app/i18n/pt-PT/common.json
  app/i18n/ru-RU/common.json
  app/i18n/sk-SK/common.json
  app/i18n/sl-SI/common.json
  app/i18n/sv-SE/common.json
  app/i18n/th-TH/common.json
  app/i18n/tr-TR/common.json
  app/i18n/vi-VN/common.json
  app/i18n/zh-CN/common.json
  app/i18n/zh-TW/common.json
Owners: @takuhiro-koyama

Ensure valid recording encoder for recording file format. (#5772)
  app/components-react/windows/settings/ObsSettings.tsx
  app/services/settings/output/output-settings.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update lodash dependency. (#5754)
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for dependency alerts. (#5700)
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.0 (#5779)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.0-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

f1 25 added
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix flaky widget tests (#5775)
  app/components-react/windows/Settings.tsx
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Disable rescale output before "go live" (#5776)
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for dual output tests.
  app/components-react/root/StudioEditor.tsx
  test/helpers/modules/dual-output.ts
  test/helpers/modules/forms/radio.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: TikTok form changes.
  app/components-react/shared/InfoBadge.m.less
  app/components-react/shared/InfoBadge.tsx
  app/components-react/shared/inputs/ListInput.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/shared/inputs/TextInput.tsx
  app/components-react/windows/go-live/GameSelector.tsx
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
  app/i18n/en-US/tiktok.json
  app/services/platforms/tiktok.ts
  app/themes.g.less
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
