Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @yushinakatani
replace_rules.json @yushinakatani
/.github/CODEOWNERS @yushinakatani

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Fix dual youtube streaming.
  app/services/platforms/youtube.ts
  app/services/restream.ts
  app/services/settings-v2/video.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add entitlement for installing system extension
  app/services/core/signals.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
  app/services/virtual-webcam.ts
  electron-builder/entitlements.plist
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

bump osn lib / format js file
  electron-builder/build-mac-virtualcam.js
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OBSインポート機能の改善: ボタンラベルを変更し、OBS Studioに関する文言を修正
  app/components/pages/onboarding_steps/ObsImport.vue
  app/components/pages/onboarding_steps/ObsImport.vue.ts
  app/components/windows/ManageSceneCollections.vue
  app/components/windows/ManageSceneCollections.vue.ts
  app/components/windows/SceneTransitions.vue
  app/components/windows/SceneTransitions.vue.ts
  app/i18n/en-US/onboarding.json
  app/i18n/ja-JP/onboarding.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

create sbs v0.1
  app/components-react/windows/source-showcase/SourceGrid.tsx
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/sources/sources-api.ts
  app/services/sources/sources-data.ts
  app/services/sources/sources.ts
  app/services/widgets/widgets.ts
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dual stream vertical custom destinations not updating in go live setup.
  app/services/platforms/youtube.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

connect to vision events (WIP)
  app/services/sources/properties-managers/smart-browser-source-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

initialize mac virtual cam when the panel is opened
  app/services/virtual-webcam.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.32 (#5437)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix kick viewcount response (#5438)
  app/services/platforms/kick.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix setup restream and dual output with dual stream. (#5443)
  app/services/platforms/youtube.ts
  app/services/restream.ts
  app/services/settings-v2/video.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wip realtime highlighter
  app/services/highlighter/realtime-highlighter-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added realtime service into highlighter service
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added game to tracking
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

type fix
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

recording wrote tracking
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Call unmount when closing popped out app window and gracefully destroy app browser view.
  app/services/platform-apps/container-manager.ts
  app/services/platform-apps/index.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.0-preview.13
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wip
  app/app-services.ts
  app/services/highlighter/index.ts
  app/services/highlighter/realtime-highlighter-service.ts
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

wip
  app/services/highlighter/realtime-highlighter-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

start fake vision service only after 30 seconds
  app/services/highlighter/realtime-highlighter-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

named pipe client
  app/services/substream/NamedPipeClient.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

仮設置
  app/app-services.ts
  app/components/SubStreamSettings.vue
  app/components/SubStreamSettings.vue.ts
  app/components/windows/CategoryIcons.ts
  app/components/windows/Settings.vue
  app/components/windows/Settings.vue.ts
  app/services/settings/settings.ts
  app/services/substream/NamedPipeClient.ts
  app/services/substream/SubStreamService.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

表示改修
  app/components/SubStreamSettings.vue
  app/components/SubStreamSettings.vue.ts
  app/components/windows/CategoryIcons.ts
  app/i18n/en-US/settings.json
  app/i18n/ja-JP/settings.json
  app/services/streaming/streaming.ts
  app/services/substream/NamedPipeClient.ts
  app/services/substream/SubStreamService.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

パラメタ調整
  app/components/SubStreamSettings.vue
  app/services/substream/NamedPipeClient.ts
  app/services/substream/SubStreamService.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

表示改修
  app/components/SubStreamSettings.vue
  app/components/SubStreamSettings.vue.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

修正
  app/components/SubStreamSettings.vue
  app/components/SubStreamSettings.vue.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

依存関係の更新: obs-studio-nodeのURLを修正
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

多重リクエスト対応
  app/components/SubStreamSettings.vue.ts
  app/services/substream/SubStreamService.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

dll更新に伴いフラグ処理変更
  app/components/SubStreamSettings.vue.ts
  app/services/substream/SubStreamService.ts
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

コマンド実行中フラグの名称を変更
  app/services/substream/SubStreamService.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

obs-studio-nodeのURLを修正
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

use設定を追加
  app/components/SubStreamSettings.vue
  app/components/SubStreamSettings.vue.ts
  app/services/substream/SubStreamService.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

SubStreamServiceのsyncStartおよびsyncStopメソッドのモックを追加
  app/services/streaming/streaming.test.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

event追加
  app/services/streaming/streaming.ts
  app/services/usage-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

ステータス表示追加
  app/components/PerformanceMetricsSubStream.vue
  app/components/PerformanceMetricsSubStream.vue.ts
  app/components/StudioFooter.vue
  app/components/StudioFooter.vue.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

サブストリーム設定の構造を整理
  app/components/PerformanceMetricsSubStream.vue
  app/components/SubStreamSettings.vue
Owners: @yusukess, @kechino

サブストリーム設定のUIを改善し、エンコーダーのフィルタリングを追加
  app/components/PerformanceMetricsSubStream.vue
  app/components/SubStreamSettings.vue
  app/components/SubStreamSettings.vue.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

conflict解消
  app/services/settings/settings-api.ts
  app/services/settings/settings.ts
  app/services/streaming/streaming.test.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

サブストリーム設定の国際化対応を追加し、UIのテキストを翻訳に置き換え
  app/components/PerformanceMetricsSubStream.vue
  app/components/SubStreamSettings.vue
  app/components/SubStreamSettings.vue.ts
  app/i18n/en-US/settings.json
  app/i18n/ja-JP/settings.json
  app/services/substream/SubStreamService.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani
