Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations apps.json (Vietnamese)
  app/i18n/vi-VN/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Portuguese, Brazilian)
  app/i18n/pt-BR/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Indonesian)
  app/i18n/id-ID/apps.json
Owners: @takuhiro-koyama

New translations apps.json (Thai)
  app/i18n/th-TH/apps.json
Owners: @takuhiro-koyama

nav: force ultra display for non-ultra users
  app/components-react/windows/settings/Appearance.tsx
  app/services/nav-menu/menu-data.ts
  app/services/nav-menu/menu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix other go-live-window tests
  .github/instructions/test-selectors.instructions.md
  app/components-react/nav-menu/ToolsNav.tsx
  test/helpers/modules/forms/form.ts
  test/helpers/modules/settings/settings.ts
  test/regular/streaming/go-live-window.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav: force ultra display for non-ultra users (#6276)
  app/components-react/windows/settings/Appearance.tsx
  app/services/nav-menu/menu-data.ts
  app/services/nav-menu/menu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav: stop notifying on dual output -> studio mode transition
  app/components-react/nav-menu/ToolsNav.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav: stop notifying on dual output -> studio mode transition (#6277)
  app/components-react/nav-menu/ToolsNav.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

marketing: support SLD_FORCE_PRODUCT_UPDATES flag in all envs
  app/services/announcements.ts
  app/services/utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix translation file
  app/i18n/en-US/highlighter.json
Owners: @takuhiro-koyama

uninstall legacy highlighter capability
  app/components-react/pages/PlatformAppStore.m.less
  app/components-react/pages/PlatformAppStore.tsx
  app/components-react/windows/settings/InstalledApps.m.less
  app/components-react/windows/settings/InstalledApps.tsx
  app/services/highlighter/index.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

extend highlighter tests
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix nav-menu class for tests
  app/components-react/nav-menu/NavMenu.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update test for uninstalled replay
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

install wording and hover state
  app/components-react/highlighter/ReplaySection.m.less
  app/components-react/highlighter/ReplaySection.tsx
  app/i18n/en-US/highlighter.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add safe sync to best effort.
  app/services/app/app.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Increase delay on platform switching to compensate for CI machines
  test/regular/streaming/go-live-window.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav: add app pop-out mouse shortcuts
  app/components-react/nav-menu/FeaturesNav.tsx
  app/services/nav-menu/menu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): limit automations to a scene (#6243)
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/i18n/en-US/stream-avatar-automations.json
  app/services/stream-avatar/automations-engine-service.ts
  app/services/stream-avatar/automations-service.ts
  app/services/stream-avatar/engine/automations.ts
  app/services/stream-avatar/engine/validation.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add timeout for displaying onboarding welcome header in onboarding test helper. (#6265)
  test/helpers/modules/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

highlighter: fix possible state change after unmount (#6263)
  app/components-react/hooks.ts
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

marketing: remove product updates API hack (#6262)
  app/services/announcements.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Enable replay buffer to work with selective recording (#6258)
  app/components-react/editor/elements/SourceSelector.tsx
  test/regular/selective-recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restore CI test run analytics. (#6256)
  .github/workflows/tests.yml
  test/helpers/runner.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: remove ability to skip ultra step when shown (#6210)
  app/services/onboarding/onboarding-v2.ts
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix incorrect tagging on go live window recording switcher. (#6266)
  app/components-react/windows/go-live/RecordingSwitcher.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Temporarily skip highlighter tests. (#6270)
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add sync to shutdown and shutdown sync loader.
  app/components-react/pages/Loader.tsx
  app/components-react/windows/Main.tsx
  app/i18n/en-US/loader.json
  app/services/app/app.ts
  app/services/scene-collections/scene-collections.ts
  app/services/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

pr: add pr template and review guidelines
  .github/instructions/pr-description.instructions.md
  .github/pull_request_template.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav: update pinned apps display
  app/components-react/nav-menu/FeaturesNav.m.less
Owners: @yusukess, @kechino

nav: add app pop-out mouse shortcuts (#6282)
  app/components-react/nav-menu/FeaturesNav.tsx
  app/services/nav-menu/menu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add popout and back buttons to app pages
  app/components-react/pages/PlatformAppMainPage.tsx
  app/components-react/pages/PlatformAppStore.tsx
  app/i18n/en-US/app.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

add popout and back buttons to app pages
  app/components-react/pages/PlatformAppMainPage.m.less
Owners: @yusukess, @kechino

Added X to Test Widgets.
  app/components-react/widgets/EventList.tsx
  app/i18n/en-US/widgets.json
  app/services/widgets/widgets-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix X stream link url.
  app/services/platforms/twitter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add string
  app/i18n/en-US/sources.json
Owners: @takuhiro-koyama

Fix test widgets reactivity to primary platform change.
  app/components-react/root/TestWidgets.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

deps: update obs-studio-node sandbox test build to cefsand3
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

test: cover browser source workloads and shutdown
  main.js
  test/data/browser-source-stress/README.md
  test/data/browser-source-stress/alertbox.webm
  test/data/browser-source-stress/alerts.html
  test/data/browser-source-stress/app.js
  test/data/browser-source-stress/canvas.html
  test/data/browser-source-stress/chat.html
  test/data/browser-source-stress/combined.html
  test/data/browser-source-stress/goals.html
  test/data/browser-source-stress/index.html
  test/data/browser-source-stress/network.html
  test/data/browser-source-stress/server.js
  test/data/browser-source-stress/style.css
  test/data/browser-source-stress/webgl.html
  test/helpers/browser-source-stress.ts
  test/helpers/webdriver/index.ts
  test/helpers/webdriver/runner-utils.ts
  test/regular/browser-source-sandbox.ts
  test/stress/browser-source-sandbox.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino
