Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Update osn: Update obs-studio-node to v0.27.12
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix source selection after disabling dual output
  app/components-react/editor/elements/SourceSelector.tsx
  app/services/dual-output/dual-output.ts
  app/services/scenes/scene.ts
  test/regular/api/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Tests refactoring
  test/regular/api/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/GenericGoal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.13
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dual stream display coercion and enhanced broadcasting disabling.
  app/services/platforms/index.ts
  app/services/platforms/twitch.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Auto Optimizer: improve progress spacing and Settings navigation
  app/components-react/shared/auto-optimizer/AutoOptimizer.m.less
  app/components-react/shared/auto-optimizer/AutoOptimizer.tsx
  app/components-react/shared/auto-optimizer/AutoOptimizerError.tsx
  app/components-react/shared/auto-optimizer/AutoOptimizerIntro.tsx
  app/components-react/shared/auto-optimizer/AutoOptimizerProgress.tsx
  app/components-react/shared/auto-optimizer/AutoOptimizerResults.tsx
  app/i18n/en-US/streaming.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix title persistence.
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove redundant if
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix LOE bugs. (#6176)
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/platforms/index.ts
  app/services/platforms/twitch.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.14
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

YouTube mirror Twitch dual stream coercion.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/platforms/twitch.ts
  app/services/platforms/youtube.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add missing streaming view changes.
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update youtube.ts
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Document dual output node ordering
  app/services/dual-output/node-order.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move encoder settings tests into settings directory
  test/regular/settings/encoder-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Surface error for missing key or url.
  app/i18n/en-US/streaming.json
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor dual output selection test variants
  test/regular/api/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor: remove unused sendTrigger method from StreamAvatarApiService
  app/services/stream-avatar/stream-avatar-api-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Redesign Kevin support chat to match Figma: reposition footer icon, restyle bubbles, add agent avatar and send icon, update suggested prompts
  app/components-react/agent/KevinSupport.m.less
  app/components-react/agent/KevinSupport.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/icons/SendIcon.tsx
  app/components-react/shared/icons/index.ts
  app/i18n/en-US/ai.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

feat(v2): point Kevin support at /v2 and expose OBS tools to the agent
  app/app-services.ts
  app/components-react/agent/KevinSupport.m.less
  app/components-react/agent/KevinSupport.tsx
  app/i18n/en-US/stream-avatar-agent.json
  app/i18n/fallback.ts
  app/services/stream-avatar/kevin-support-service.ts
  app/services/stream-avatar/v2/agent-tools.ts
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

feat(tool): add watch_replay
  app/components-react/agent/KevinSupport.tsx
  app/services/stream-avatar/automations-service.ts
  app/services/stream-avatar/v2/agent-tools.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Address PR review: a11y, safe links, and error/log handling in Kevin support
  app/components-react/agent/KevinSupport.tsx
  app/components-react/root/StudioFooter.m.less
  app/components-react/root/StudioFooter.tsx
  app/services/stream-avatar/kevin-support-service.ts
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Show the interaction quota in support chat, and offer Ultra at the limit
  app/components-react/agent/KevinSupport.m.less
  app/components-react/agent/KevinSupport.tsx
  app/components-react/agent/support-limits.tsx
  app/i18n/en-US/ai.json
  app/services/stream-avatar/kevin-support-service.ts
  app/services/usage-statistics.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add the agent's support tools: mic filters, health, diagnostics, ticket
  app/services/stream-avatar/v2/agent-tools.ts
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(support): render the knowledge-source link footer
  app/services/stream-avatar/kevin-support-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(v2): update tool protocol version to 3 with poll management enhancements
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore(v2): sync protocol contract to tool version 2
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

style(v2): let Prettier own the local protocol.ts copy
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(support): add Kevin AI support chat to the studio footer
  app/app-services.ts
  app/components-react/agent/KevinSupport.m.less
  app/components-react/agent/KevinSupport.tsx
  app/components-react/index.ts
  app/components-react/root/StudioFooter.m.less
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/icons/KevinChatIcon.tsx
  app/components-react/shared/icons/index.ts
  app/components/shared/ReactComponentList.tsx
  app/i18n/en-US/ai.json
  app/services/stream-avatar/kevin-support-service.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

fix(pr): copilot review fixes
  app/components-react/root/StudioFooter.m.less
  app/components-react/root/StudioFooter.tsx
  app/services/stream-avatar/kevin-support-service.ts
  app/services/stream-avatar/v2/agent-tools.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore(protocol): remove outdated comments and documentation
  app/services/stream-avatar/v2/protocol.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(analytics): track generic events
  app/components-react/agent/KevinApprovalBubble.tsx
  app/components-react/agent/KevinSupport.tsx
  app/components-react/agent/kevin-analytics.ts
  app/components-react/agent/support-limits.tsx
  app/components-react/root/StudioFooter.tsx
  app/services/stream-avatar/kevin-support-service.ts
  app/services/stream-avatar/v2/agent-tools.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(bubble): add kevin bubble when window is not visible for approvals
  app/components-react/agent/KevinApprovalBubble.m.less
  app/components-react/agent/KevinApprovalBubble.tsx
  app/components-react/root/StudioFooter.m.less
  app/components-react/root/StudioFooter.tsx
  app/services/stream-avatar/kevin-support-service.ts
  app/services/windows.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(kevin-support): reset error state on run start
  app/services/stream-avatar/kevin-support-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(pr): comments implemented
  app/components-react/agent/KevinSupport.m.less
  app/components-react/agent/KevinSupport.tsx
  app/components-react/agent/support-limits.tsx
  app/components-react/shared/icons/KevinChatIcon.tsx
  app/components-react/shared/icons/SendIcon.tsx
  app/services/windows.ts
  app/themes.g.less
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(bubble): show a badge when a browser view overlaps.
  app/components-react/agent/KevinApprovalBubble.tsx
  app/components-react/root/StudioFooter.m.less
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/BrowserView.tsx
  app/components-react/shared/PlatformAppPageView.tsx
  app/components-react/shared/browser-view-rects.ts
  app/i18n/en-US/ai.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

fix(kevin-support): enforce maximum message length in input field
  app/components-react/agent/KevinSupport.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Mimic Twitch dual stream display coercion for YouTube dual stream. (#6178)
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/platforms/twitch.ts
  app/services/platforms/youtube.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Surface error for missing key or url. (#6179)
  app/i18n/en-US/streaming.json
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
