Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations filters.json (Czech)
  app/i18n/cs-CZ/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Danish)
  app/i18n/da-DK/filters.json
Owners: @takuhiro-koyama

New translations filters.json (German)
  app/i18n/de-DE/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Hungarian)
  app/i18n/hu-HU/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Italian)
  app/i18n/it-IT/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Japanese)
  app/i18n/ja-JP/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Korean)
  app/i18n/ko-KR/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Macedonian)
  app/i18n/mk-MK/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Dutch)
  app/i18n/nl-NL/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Polish)
  app/i18n/pl-PL/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Portuguese)
  app/i18n/pt-PT/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Russian)
  app/i18n/ru-RU/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Slovak)
  app/i18n/sk-SK/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Slovenian)
  app/i18n/sl-SI/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Swedish)
  app/i18n/sv-SE/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Turkish)
  app/i18n/tr-TR/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Chinese Simplified)
  app/i18n/zh-CN/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Chinese Traditional)
  app/i18n/zh-TW/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Vietnamese)
  app/i18n/vi-VN/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Portuguese, Brazilian)
  app/i18n/pt-BR/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Indonesian)
  app/i18n/id-ID/filters.json
Owners: @takuhiro-koyama

New translations filters.json (Thai)
  app/i18n/th-TH/filters.json
Owners: @takuhiro-koyama

Fix onboarding test
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

remove dual output status comments
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Apply suggestion from @wesrupert
  app/components-react/windows/go-live/GoLive.m.less
Owners: @yusukess, @kechino

Show NDI runtime module load notifications (#5978)
  app/app-services.ts
  app/services/app/app.ts
  app/services/notifications/notifications-api.ts
  app/services/notifications/notifications.ts
  app/services/obs-module-load-notifications-service.ts
  app/services/obs-module-load-notifications.ts
  test/regular/obs-module-load-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fis single output mode display assignment.
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav-menu: rename side nav references
  app/app-services.ts
  app/app.g.less
  app/components-react/hooks/useAgentAppInstalled.ts
  app/components-react/index.ts
  app/components-react/nav-menu/AppsNav.tsx
  app/components-react/nav-menu/EditorTabs.tsx
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/nav-menu/NavMenu.m.less
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/NavTools.m.less
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/nav-menu/PlatformIndicator.m.less
  app/components-react/nav-menu/PlatformIndicator.tsx
  app/components-react/pages/AILanding.tsx
  app/components-react/pages/PlatformAppStore.tsx
  app/components-react/pages/RecordingHistory.tsx
  app/components-react/pages/layout-editor/TopBar.tsx
  app/components-react/shared/MenuItem.m.less
  app/components-react/shared/MenuItem.tsx
  app/components-react/windows/Main.m.less
  app/components-react/windows/Main.tsx
  app/components-react/windows/settings/Appearance.m.less
  app/components-react/windows/settings/Appearance.tsx
  app/components/custom-source-properties/PlatformAppProperties.vue.ts
  app/services/dismissables.ts
  app/services/highlighter/index.ts
  app/services/layout/index.ts
  app/services/nav-menu/index.ts
  app/services/nav-menu/menu-data.ts
  app/services/nav-menu/menu.ts
  app/services/navigation.ts
  app/services/platform-apps/index.ts
  app/services/protocol-links.ts
  app/services/side-nav/menu-data.ts
  docs/typedoc-monkeypatch.js
  test/helpers/modules/navigation.ts
  test/helpers/modules/settings/settings.ts
  test/regular/obs-importer.ts
  test/regular/settings/hotkeys.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix Kick game persistence.
  app/components-react/windows/go-live/GameSelector.tsx
  app/services/platforms/kick.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add small and inline Spinner variants. (#6111)
  app/components-react/shared/Spinner.m.less
  app/components-react/shared/Spinner.tsx
  app/styles/loader.less
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix onboarding test (#6132)
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add disabled radio button styling. (#6112)
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/stream-shift.json
  app/services/diagnostics.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Add button to footer. (#6113)
  app/components-react/root/StudioFooter.tsx
  app/i18n/en-US/live-outputs.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix tooltip wrapping. (#6114)
  app/components-react/windows/go-live/DestinationSwitchers.m.less
Owners: @yusukess, @kechino

Move SwitcherCard tooltip hover to toggle. (#6115)
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/SwitcherCard.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add go live info banner. (#6116)
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveInfoBanner.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Check for saved destinations when getting saved platform settings.
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add guard to kick search games.
  app/services/platforms/kick.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add missing onclick.
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Kick game persistence. (#6139)
  app/components-react/windows/go-live/GameSelector.tsx
  app/services/platforms/kick.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
