Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations patreon.json (Spanish)
  app/i18n/es-ES/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Arabic)
  app/i18n/ar-SA/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Czech)
  app/i18n/cs-CZ/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Danish)
  app/i18n/da-DK/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (German)
  app/i18n/de-DE/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Hungarian)
  app/i18n/hu-HU/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Italian)
  app/i18n/it-IT/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Japanese)
  app/i18n/ja-JP/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Korean)
  app/i18n/ko-KR/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Macedonian)
  app/i18n/mk-MK/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Dutch)
  app/i18n/nl-NL/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Polish)
  app/i18n/pl-PL/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Portuguese)
  app/i18n/pt-PT/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Russian)
  app/i18n/ru-RU/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Slovak)
  app/i18n/sk-SK/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Slovenian)
  app/i18n/sl-SI/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Swedish)
  app/i18n/sv-SE/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Turkish)
  app/i18n/tr-TR/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Chinese Simplified)
  app/i18n/zh-CN/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Chinese Traditional)
  app/i18n/zh-TW/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Vietnamese)
  app/i18n/vi-VN/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Portuguese, Brazilian)
  app/i18n/pt-BR/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Indonesian)
  app/i18n/id-ID/patreon.json
Owners: @takuhiro-koyama

New translations patreon.json (Thai)
  app/i18n/th-TH/patreon.json
Owners: @takuhiro-koyama

fix: collab cam shared source audio and scene-switch reset [Asana: 1207748321223577, 1209018685921835]
  app/services/guest-cam/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: call finishSLAuth after platform connect in new onboarding SLID flow [Asana: 1214788287448000]
  app/components-react/modals/onboarding/Onboarding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: always use format-specific temp instance for recording encoder validation [Asana: 1213456798723043]
  app/services/settings/output/encoder-query.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: use native dialog for overwrite prompt so it appears above the modal overlay [Asana: 1214155283652497]
  app/components-react/highlighter/Export/ExportModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "added 3 more games (#5925)"
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "added 3 more games (#5925)" (#5928)
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New Crowdin updates (#5927)
  app/i18n/ar-SA/patreon.json
  app/i18n/cs-CZ/patreon.json
  app/i18n/da-DK/patreon.json
  app/i18n/de-DE/patreon.json
  app/i18n/es-ES/patreon.json
  app/i18n/fr-FR/patreon.json
  app/i18n/hu-HU/patreon.json
  app/i18n/id-ID/patreon.json
  app/i18n/it-IT/patreon.json
  app/i18n/ja-JP/patreon.json
  app/i18n/ko-KR/patreon.json
  app/i18n/mk-MK/patreon.json
  app/i18n/nl-NL/patreon.json
  app/i18n/pl-PL/patreon.json
  app/i18n/pt-BR/patreon.json
  app/i18n/pt-PT/patreon.json
  app/i18n/ru-RU/patreon.json
  app/i18n/sk-SK/patreon.json
  app/i18n/sl-SI/patreon.json
  app/i18n/sv-SE/patreon.json
  app/i18n/th-TH/patreon.json
  app/i18n/tr-TR/patreon.json
  app/i18n/vi-VN/patreon.json
  app/i18n/zh-CN/patreon.json
  app/i18n/zh-TW/patreon.json
Owners: @takuhiro-koyama

fix: reduce stop AI timeout and show stopping state so app doesn't appear frozen [Asana: 1214759440082727]
  app/components-react/windows/settings/AISettings.tsx
  app/services/vision/index.ts
  app/services/vision/vision-runner.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added 3 more games
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add scrollbar for supported games.
  app/components-react/highlighter/supportedGames/SupportedGames.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Revert "added 3 more games (#5925)" (#5928)"
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Revert "added 3 more games (#5925)" (#5928)" (#5929)
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix AI highlighter toggle.
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Platform UI fixes. (#5926)
  app/components-react/pages/onboarding/Common.m.less
  app/components-react/pages/onboarding/Connect.tsx
  app/components-react/pages/onboarding/PrimaryPlatformSelect.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/shared/inputs/TagsInput.tsx
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.m.less
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.tsx
  app/i18n/en-US/patreon.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add on name change to game selector.
  app/components-react/windows/go-live/GameSelector.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for performance metrics test.
  test/regular/performance-metrics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
