Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Add GPU to SysInfo (#5601)
  app/services/diagnostics.ts
  app/services/usage-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move wmi fetch to util function
  app/services/diagnostics.ts
  app/services/usage-statistics.ts
  app/util/wmi.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Port app dev sections
  app/components-react/windows/settings/DeveloperSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Port DeveloperSettings component
  app/components-react/windows/settings/DeveloperSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add translations and fix styling
  app/components-react/windows/settings/DeveloperSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Begin porting component
  app/components-react/windows/settings/OverlaySettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Port basic component
  app/components-react/index.ts
  app/components-react/windows/Settings.m.less
  app/components-react/windows/Settings.tsx
  app/components-react/windows/settings/Hotkeys.tsx
  app/components/windows/settings/Settings.vue.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Port logic over
  app/components-react/index.ts
  app/components-react/windows/Settings.tsx
  app/components-react/windows/settings/Hotkeys.tsx
  app/components-react/windows/settings/InstalledApps.tsx
  app/components-react/windows/settings/pages.ts
  app/components/windows/settings/Settings.vue.ts
  app/services/navigation.ts
  app/services/settings/settings.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Finish port
  app/components-react/windows/settings/OverlaySettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove Settings.vue
  app/components/windows/settings/Settings.vue
Owners: @yusukess, @kechino

Begin porting SearchablePages
  app/components-react/shared/SearchablePages.tsx
  app/index.d.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Finish non search components
  app/app.ts
  app/components-react/shared/DismissableBadge.tsx
  app/components-react/shared/SearchablePages.m.less
  app/components-react/shared/SearchablePages.tsx
  app/components-react/windows/Settings.tsx
  app/components/shared/SearchablePages.tsx
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Dual output tests test streaming.
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/settings/Stream.tsx
  test/regular/streaming/dual-output.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Port SearchablePages
  app/components-react/shared/SearchablePages.tsx
  app/components-react/windows/Settings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Change to stream shift.
  app/components-react/root/LiveDock.tsx
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/DisplayToggle.tsx
  app/components-react/shared/StreamShiftToggle.m.less
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/shared/ToolTip.m.less
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/cloud-shift.json
  app/services/dual-output/dual-output.ts
  app/services/incremental-rollout.ts
  app/services/platforms/facebook.ts
  app/services/platforms/index.ts
  app/services/platforms/instagram.ts
  app/services/platforms/kick.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/trovo.ts
  app/services/platforms/twitch.ts
  app/services/platforms/twitter.ts
  app/services/platforms/youtube.ts
  app/services/restream.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  app/services/usage-statistics.ts
  app/services/user/index.ts
  app/services/websocket.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Fix typings
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/index.ts
  app/components-react/root/Banner.tsx
  app/components-react/shared/SearchablePages.tsx
  app/components-react/sidebar/NavTools.tsx
  app/components-react/windows/Settings.m.less
  app/components-react/windows/Settings.tsx
  app/components-react/windows/notifications/News.tsx
  app/components/shared/ReactComponentList.tsx
  app/services/navigation.ts
  app/services/protocol-links.ts
  app/services/settings/settings.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Move wmi fetch to util function (#5602)
  app/services/diagnostics.ts
  app/services/usage-statistics.ts
  app/util/wmi.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update intl and fix setup restream.
  app/i18n/en-US/stream-shift.json
  app/i18n/fallback.ts
  app/services/restream.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixed dual output ultra test.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Port Sponsor Banner Widget to React (#5574)
  app/app-services.ts
  app/components-react/shared/inputs/AnimationInput.tsx
  app/components-react/shared/inputs/DurationInput.tsx
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/shared/inputs/ImagePickerInput.m.less
  app/components-react/shared/inputs/ImagePickerInput.tsx
  app/components-react/shared/inputs/ListInput.tsx
  app/components-react/shared/inputs/MediaUrlInput.tsx
  app/components-react/shared/inputs/NumberInput.tsx
  app/components-react/shared/inputs/TimeInput.tsx
  app/components-react/shared/inputs/inputList.ts
  app/components-react/shared/inputs/inputs.ts
  app/components-react/shared/inputs/metadata.ts
  app/components-react/widgets/SponsorBanner.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components/widgets/SponsorBanner.vue
  app/components/widgets/SponsorBanner.vue.ts
  app/i18n/en-US/widget-sponsor-banner.json
  app/services/sources/sources.ts
  app/services/widgets/settings/sponsor-banner.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Fix merge conflict.
  app/components-react/shared/inputs/inputs.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations widget-sponsor-banner.json (French)
  app/i18n/fr-FR/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Spanish)
  app/i18n/es-ES/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Arabic)
  app/i18n/ar-SA/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Czech)
  app/i18n/cs-CZ/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Danish)
  app/i18n/da-DK/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (German)
  app/i18n/de-DE/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Hungarian)
  app/i18n/hu-HU/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Italian)
  app/i18n/it-IT/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Japanese)
  app/i18n/ja-JP/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Korean)
  app/i18n/ko-KR/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Macedonian)
  app/i18n/mk-MK/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Dutch)
  app/i18n/nl-NL/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Polish)
  app/i18n/pl-PL/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Portuguese)
  app/i18n/pt-PT/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Russian)
  app/i18n/ru-RU/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Slovak)
  app/i18n/sk-SK/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Slovenian)
  app/i18n/sl-SI/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Swedish)
  app/i18n/sv-SE/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Turkish)
  app/i18n/tr-TR/widget-sponsor-banner.json
Owners: @takuhiro-koyama
