Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Fixes for tests.
  app/services/settings/settings.ts
  app/services/streaming/streaming.ts
  test/regular/recording.ts
  test/regular/replay-buffer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

More test fixes.
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming.ts
  test/regular/api/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added ea sports FC 26
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.1
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for multistream and dual output tests.
  test/helpers/modules/dual-output.ts
  test/helpers/modules/streaming.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix multistream go live tests.
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Dual Output test fixes.
  test/helpers/modules/dual-output.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.2
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.2 (#5785)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.0-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

More fixes for dual output and multistream tests.
  test/helpers/modules/dual-output.ts
  test/regular/streaming/dual-output.ts
  test/regular/streaming/kick.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Make sure backup settings exist before using
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix sentry error for fb chat
  app/services/chat.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add additional guard
  app/services/chat.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.3
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix hotkeys for single output scene collections.
  app/services/hotkeys.ts
  app/services/scenes/scenes.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add explicit check instead of try catch
  app/services/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Surface platform-specific errors to multistream users
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add multistream test bypass handling and fix dual output radio buttons.
  test/helpers/modules/forms/radio.ts
  test/helpers/modules/streaming.ts
  test/regular/streaming/kick.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix edit context menu.
  app/util/menus/EditMenu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Highlighter/racing games (#5783)
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix sentry error for fb chat (#5786)
  app/services/chat.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix hotkeys for single output scene collections. (#5788)
  app/services/hotkeys.ts
  app/services/scenes/scenes.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Surface platform-specific errors to multistream users (#5789)
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add explicit check instead of try catch (#5790)
  app/services/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix edit context menu. (#5791)
  app/util/menus/EditMenu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix reactive data editor invalid set on logout.
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.3 (#5787)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove automatic theme switch when upgrading to ultra
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nba 2K26 added
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add widget removed event to analytics
  app/services/usage-statistics.ts
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add multistream test bypass handling and fix dual output radio buttons. (#5792)
  app/services/reactive-data/index.ts
  test/helpers/modules/forms/radio.ts
  test/helpers/modules/streaming.ts
  test/regular/streaming/kick.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nba 2K26 added (#5793)
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove automatic theme switch when upgrading to ultra (#5794)
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add widget removed event to analytics (#5795)
  app/services/usage-statistics.ts
  app/services/widgets/widgets.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Platform API - Matte Transitions (#5764)
  app/services/platform-apps/api/modules/scene-transitions.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: cards
  app/components-react/windows/go-live/GameSelector.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/Section.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Add ultra subscribed event for native apps
  app/services/platform-apps/api/modules/native-components.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.4
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.4 (#5803)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
