Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Update OSN: Fix NDI 6 runtime loading & fix scene filter black texture (#6012)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.7-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update azure-pipelines.yml for Azure Pipelines screen res disable
  azure-pipelines.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix lint errors
  app/components/widgets/TipJar.vue.ts
  app/services/widgets/widgets-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): refactor AutomationEditor and EditAutomations components, add PreMadeAutomationsFooter for improved UI and functionality
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.m.less
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomationsFooter.tsx
  app/i18n/en-US/stream-avatar-automations.json
  app/services/stream-avatar/automations-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

feat(automations): enhance PreMadeAutomations component with video support and refactor source handling
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/services/stream-avatar/agent-socket-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): add branding header to PreMadeAutomations modal with icon and title
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): remove brand icon from PreMadeAutomations and add localization for template selection
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/i18n/en-US/stream-avatar-automations.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

add preferred multistream ingest dropdown (#6011)
  app/components-react/windows/settings/Stream.tsx
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

support: update get support modal
  app/components-react/sidebar/NavTools.tsx
  app/components-react/windows/settings/Support.m.less
  app/components-react/windows/settings/Support.tsx
  app/i18n/en-US/settings.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

support: update get support modal (#6010)
  app/components-react/sidebar/NavTools.tsx
  app/components-react/windows/settings/Support.m.less
  app/components-react/windows/settings/Support.tsx
  app/i18n/en-US/settings.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

New translations settings.json (French)
  app/i18n/fr-FR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Spanish)
  app/i18n/es-ES/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Arabic)
  app/i18n/ar-SA/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Czech)
  app/i18n/cs-CZ/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Danish)
  app/i18n/da-DK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (German)
  app/i18n/de-DE/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Hungarian)
  app/i18n/hu-HU/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Italian)
  app/i18n/it-IT/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Japanese)
  app/i18n/ja-JP/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Korean)
  app/i18n/ko-KR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Macedonian)
  app/i18n/mk-MK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Dutch)
  app/i18n/nl-NL/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Polish)
  app/i18n/pl-PL/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Portuguese)
  app/i18n/pt-PT/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Russian)
  app/i18n/ru-RU/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Slovak)
  app/i18n/sk-SK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Slovenian)
  app/i18n/sl-SI/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Swedish)
  app/i18n/sv-SE/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Turkish)
  app/i18n/tr-TR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Simplified)
  app/i18n/zh-CN/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Traditional)
  app/i18n/zh-TW/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Vietnamese)
  app/i18n/vi-VN/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Portuguese, Brazilian)
  app/i18n/pt-BR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Indonesian)
  app/i18n/id-ID/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Thai)
  app/i18n/th-TH/settings.json
Owners: @takuhiro-koyama

Fix tests where the app restarts
  test/helpers/modules/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add missing translation
  app/i18n/en-US/settings.json
Owners: @takuhiro-koyama

feat(automations): update cover panel height in PreMadeAutomations for better layout
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
Owners: @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
