Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

fix 'Adding and removing a Color Correction' filter
  test/regular/filters.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix test/sources.ts 'Source events' test (for MacOS) (#6062)
  test/regular/api/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update 'Adding and removing a LUT filter' test for v2 component
  test/regular/filters.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations onboarding.json (French)
  app/i18n/fr-FR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Spanish)
  app/i18n/es-ES/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Arabic)
  app/i18n/ar-SA/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Czech)
  app/i18n/cs-CZ/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Danish)
  app/i18n/da-DK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (German)
  app/i18n/de-DE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Hungarian)
  app/i18n/hu-HU/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Italian)
  app/i18n/it-IT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Japanese)
  app/i18n/ja-JP/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Korean)
  app/i18n/ko-KR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Macedonian)
  app/i18n/mk-MK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Dutch)
  app/i18n/nl-NL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Polish)
  app/i18n/pl-PL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese)
  app/i18n/pt-PT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Russian)
  app/i18n/ru-RU/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Slovak)
  app/i18n/sk-SK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Slovenian)
  app/i18n/sl-SI/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Swedish)
  app/i18n/sv-SE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Turkish)
  app/i18n/tr-TR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Simplified)
  app/i18n/zh-CN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Traditional)
  app/i18n/zh-TW/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Vietnamese)
  app/i18n/vi-VN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese, Brazilian)
  app/i18n/pt-BR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Indonesian)
  app/i18n/id-ID/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Thai)
  app/i18n/th-TH/onboarding.json
Owners: @takuhiro-koyama

Expand YouTube API error handling.
  app/i18n/en-US/youtube.json
  app/services/platforms/index.ts
  app/services/platforms/youtube.ts
  app/services/platforms/youtube/api.ts
  app/services/platforms/youtube/errors.ts
  app/services/platforms/youtube/index.ts
  app/services/streaming/stream-error.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Route base canvas changes through the resize transaction
  app/components-react/pages/onboarding/Onboarding.tsx
  app/components-react/pages/onboarding/PrimaryPlatformSelect.tsx
  app/components-react/windows/settings/Video.tsx
  app/services/onboarding.ts
  app/services/settings-v2/base-resolutions.ts
  app/services/settings-v2/video.ts
  app/services/settings/output/output-settings.ts
  app/services/ts-importer.ts
  app/services/user/index.ts
  test/regular/api/scene-collections-active-output.ts
  test/regular/api/scene-collections.ts
  test/regular/api/video-base-resolution-boundary.ts
  test/regular/base-resolutions.ts
  test/regular/services/scene-collections/scene-collections.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Preserve legacy data when source creation fails in scene collections
  app/services/scene-collections/coordinate-migration.ts
  app/services/scene-collections/nodes/array-node.ts
  app/services/scene-collections/nodes/load-errors.ts
  app/services/scene-collections/nodes/root.ts
  app/services/scene-collections/nodes/source-creation-errors.ts
  app/services/scene-collections/nodes/sources.ts
  app/services/scene-collections/scene-collections.ts
  test/regular/scene-collection-load-errors.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Preserve nested-scene crops across canvas resizes in scenes
  app/components-react/windows/EditTransform.tsx
  app/services/api/external-api/scenes/scene-item.ts
  app/services/api/external-api/scenes/scenes.ts
  app/services/scenes/scene-item-crop.ts
  app/services/scenes/scene-item.ts
  test/regular/api/scenes.ts
  test/regular/base-resolutions.ts
  test/regular/scenes.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Block base canvas resize during active outputs for scene collections
  app/components-react/windows/settings/Video.tsx
  app/services/scene-collections/scene-collections-api.ts
  app/services/scene-collections/scene-collections.ts
  test/regular/api/base-canvas-resize-active-output.ts
  test/regular/scene-collection-operation-safety.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move dual output toggles to Studio Editor header. (#6076)
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/obs/ObsForm.tsx
  app/components-react/root/StudioEditor.m.less
  app/components-react/root/StudioEditor.tsx
  app/components-react/shared/AnimatedWrapper.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/DualOutputToggle.m.less
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/shared/inputs/SwitchInput.tsx
  app/components-react/shared/inputs/inputs.ts
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/components-react/windows/settings/Video.tsx
  app/i18n/en-US/dual-output.json
  app/services/platforms/base-platform.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  test/helpers/modules/core.ts
  test/helpers/modules/dual-output.ts
  test/regular/filters.ts
  test/regular/recording.ts
  test/regular/settings/hotkeys.ts
  test/regular/streaming/dual-output-end-stream.ts
  test/regular/streaming/dual-output.ts
  test/regular/streaming/go-live-window.ts
  test/regular/streaming/multistream.ts
  test/regular/streaming/twitch.ts
  test/regular/streaming/youtube.ts
  test/regular/undo.ts
  test/regular/widgets/alertbox.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

New translations dual-output.json (French)
  app/i18n/fr-FR/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Spanish)
  app/i18n/es-ES/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Arabic)
  app/i18n/ar-SA/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Czech)
  app/i18n/cs-CZ/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Danish)
  app/i18n/da-DK/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (German)
  app/i18n/de-DE/dual-output.json
Owners: @takuhiro-koyama
