Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Application Audio Capture plugin: Add field (#5709)
  app/components-react/windows/advanced-audio/SourceSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Hide modal for tests
  app/components-react/modals/onboarding/Onboarding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update repositories.json
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for invalid element state in dual output test.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Change non-visibility of new onboarding
  app/components-react/modals/onboarding/Onboarding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Render nothing if not showing onboarding
  app/components-react/modals/onboarding/Onboarding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix alphaGroup test
  app/components-react/modals/onboarding/Onboarding.tsx
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for invalid element state in dual output non-ultra test.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Confirm recording file format for highlighter test.
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Stream Settings and Go Live Window UI updates. (#5703)
  app/components-react/shared/AddDestinationButton.m.less
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/ButtonHighlighted.m.less
  app/components-react/shared/ButtonHighlighted.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/components-react/windows/settings/Stream.tsx
  app/i18n/en-US/common.json
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming.ts
  test/helpers/modules/streaming.ts
  test/regular/streaming/dual-output.ts
  test/regular/streaming/multistream.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Revert test changes.
  test/regular/highlighter.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.5-preview.2
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations common.json (French)
  app/i18n/fr-FR/common.json
Owners: @takuhiro-koyama

New translations streaming.json (French)
  app/i18n/fr-FR/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Spanish)
  app/i18n/es-ES/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Spanish)
  app/i18n/es-ES/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Arabic)
  app/i18n/ar-SA/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Arabic)
  app/i18n/ar-SA/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Czech)
  app/i18n/cs-CZ/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Czech)
  app/i18n/cs-CZ/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Danish)
  app/i18n/da-DK/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Danish)
  app/i18n/da-DK/streaming.json
Owners: @takuhiro-koyama

New translations common.json (German)
  app/i18n/de-DE/common.json
Owners: @takuhiro-koyama

New translations streaming.json (German)
  app/i18n/de-DE/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Hungarian)
  app/i18n/hu-HU/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Hungarian)
  app/i18n/hu-HU/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Italian)
  app/i18n/it-IT/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Italian)
  app/i18n/it-IT/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Japanese)
  app/i18n/ja-JP/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Japanese)
  app/i18n/ja-JP/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Korean)
  app/i18n/ko-KR/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Korean)
  app/i18n/ko-KR/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Macedonian)
  app/i18n/mk-MK/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Macedonian)
  app/i18n/mk-MK/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Dutch)
  app/i18n/nl-NL/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Dutch)
  app/i18n/nl-NL/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Polish)
  app/i18n/pl-PL/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Polish)
  app/i18n/pl-PL/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Portuguese)
  app/i18n/pt-PT/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese)
  app/i18n/pt-PT/streaming.json
Owners: @takuhiro-koyama
