Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

fix obs-importer.ts (new onboarding flow)
  test/regular/obs-importer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

removed extra comment
  test/helpers/webdriver/runner-utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update sources.ts to run on MacOS
  test/regular/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix 'Adding and removing a Noise Suppression filter' test
  test/regular/filters.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update 'Adding and removing a LUT filter' test for v2 component
  test/regular/filters.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[MacOS] Verify Continue button exists before clicking
  test/helpers/webdriver/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Kill stale ChromeDriver process (#6057)
  test/helpers/api-client.ts
  test/helpers/webdriver/index.ts
  test/helpers/webdriver/runner-utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(api-client): match requestSync response by id
  test/helpers/api-client.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix test/sources.ts 'Source events' test (for MacOS) (#6062)
  test/regular/api/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update for new onboarding flow
  test/regular/obs-importer.ts
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix waitForElectronInstancesExist deadline and log elapsed time
  test/helpers/webdriver/runner-utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Onboarding tests- Fix RxJS unsubscribe crash, missing React keys in onboarding, and cherry-pick other test fixes (#6080)
  app/components-react/modals/onboarding/Themes.tsx
  app/components-react/modals/onboarding/Ultra.tsx
  app/components-react/pages/onboarding/MacPermissions.tsx
  app/components-react/windows/EditTransform.tsx
  app/components-react/windows/PlatformAppPopOut.tsx
  app/components-react/windows/Troubleshooter.tsx
  app/services/app/app.ts
  app/services/crash-reporter.ts
  app/services/file-manager.ts
  app/services/scene-collections/scene-collections.ts
  app/services/streaming/streaming.ts
  app/services/usage-statistics.ts
  app/util/shutdown-coordinator.js
  app/util/worker-shutdown.ts
  electron-builder/base.config.js
  main.js
  test/helpers/api-client.ts
  test/helpers/webdriver/index.ts
  test/helpers/webdriver/runner-utils.ts
  test/regular/app-shutdown.ts
  test/regular/file-manager-shutdown.ts
  test/regular/obs-importer.ts
  test/regular/onboarding.ts
  test/regular/worker-shutdown.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Modify Install scripts
  .github/workflows/tests.yml
  scripts/ci/install.ps1
  scripts/ci/register-agent.ps1
  scripts/ci/remove-offline-agents.js
  scripts/ci/shutdown.ps1
  scripts/ci/start-agent.ps1
  scripts/ci/startup.ps1
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix typo in translations instructions.
  .github/instructions/translations.instructions.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add rxjs unsubscribe instructions.
  .github/instructions/rxjs-unsubscribe.instructions.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove azure yml
  azure-pipelines.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fail-closed migration for relative coordinates
  test/regular/services/scene-collections/migrations.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Test: collection switch during recording
  test/regular/relative-coordinates.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix test/filter.js and api-client.js TCP fragmentation on MacOS (#6098)
  test/helpers/api-client.ts
  test/helpers/webdriver/runner-utils.ts
  test/regular/api/sources.ts
  test/regular/filters.ts
  test/regular/obs-importer.ts
  test/regular/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix scripts
  scripts/ci/install.ps1
  scripts/ci/start-agent.ps1
  scripts/ci/startup.ps1
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update the theme mappin
  app/services/platform-apps/api/modules/theme.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Offload eslint test to gh hosting
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add RxJS unsubscribe code review instructions (#6107)
  .github/instructions/rxjs-unsubscribe.instructions.md
  .github/instructions/translations.instructions.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update the theme mappin (#6108)
  app/services/platform-apps/api/modules/theme.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove deprecated components (#6078)
  app/components-react/modals/onboarding/Devices.tsx
  app/components-react/modals/onboarding/ExtraPlatformConnect.m.less
  app/components-react/modals/onboarding/ExtraPlatformConnect.tsx
  app/components-react/modals/onboarding/Login.tsx
  app/components-react/pages/grow/Cards.tsx
  app/components-react/pages/grow/Grow.m.less
  app/components-react/pages/grow/Grow.tsx
  app/components-react/pages/index.ts
  app/components-react/pages/onboarding/Common.m.less
  app/components-react/pages/onboarding/Connect.m.less
  app/components-react/pages/onboarding/Connect.tsx
  app/components-react/pages/onboarding/FreshOrImport.m.less
  app/components-react/pages/onboarding/FreshOrImport.tsx
  app/components-react/pages/onboarding/HardwareSetup.m.less
  app/components-react/pages/onboarding/HardwareSetup.tsx
  app/components-react/pages/onboarding/MacPermissions.tsx
  app/components-react/pages/onboarding/ObsImport.m.less
  app/components-react/pages/onboarding/ObsImport.tsx
  app/components-react/pages/onboarding/ObsSvg.tsx
  app/components-react/pages/onboarding/Onboarding.m.less
  app/components-react/pages/onboarding/Onboarding.tsx
  app/components-react/pages/onboarding/OnboardingContext.ts
  app/components-react/pages/onboarding/Optimize.tsx
  app/components-react/pages/onboarding/PrimaryPlatformSelect.tsx
  app/components-react/pages/onboarding/Prime.m.less
  app/components-react/pages/onboarding/Prime.tsx
  app/components-react/pages/onboarding/Signup.m.less
  app/components-react/pages/onboarding/Signup.tsx
  app/components-react/pages/onboarding/StreamingOrRecording.m.less
  app/components-react/pages/onboarding/StreamingOrRecording.tsx
  app/components-react/pages/onboarding/ThemeSelector.m.less
  app/components-react/pages/onboarding/ThemeSelector.tsx
  app/components-react/pages/onboarding/steps.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix stream shift not generating sid on switch.
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Live output and stream shift card hover and tooltip states.
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/LiveOutputEditingCard.tsx
  app/components-react/windows/go-live/StreamShiftCard.tsx
  app/components-react/windows/go-live/SwitcherCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Stream shift refactor and live output editing delete target error handling.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/diagnostics.ts
  app/services/restream.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP MCP
  .gitignore
  .mcp.json
  mcp/.gitignore
  mcp/README.md
  mcp/package-lock.json
  mcp/package.json
  mcp/scripts/e2e.ts
  mcp/scripts/probe.ts
  mcp/scripts/reconnect-test.ts
  mcp/src/desktop/client.ts
  mcp/src/desktop/events.ts
  mcp/src/desktop/redact.ts
  mcp/src/desktop/resolver.ts
  mcp/src/desktop/snapshot.ts
  mcp/src/desktop/types.ts
  mcp/src/index.ts
  mcp/src/log.ts
  mcp/src/tools/index.ts
  mcp/tsconfig.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix config
  .github/workflows/tests.yml
  scripts/ci/install.ps1
  scripts/ci/start-agent.ps1
  scripts/ci/uninstall.ps1
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for stream shift.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Remove references to old onboarding service
  app/app-services.ts
  app/components-react/highlighter/Export/StorageUpload.tsx
  app/components-react/modals/onboarding/Themes.tsx
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/windows/go-live/platforms/TwitchTagsInput.tsx
  app/components-react/windows/settings/General.tsx
  app/components-react/windows/settings/Support.tsx
  app/components/widgets/Poll.tsx
  app/services/app/app.ts
  app/services/onboarding/onboarding-v2.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add manage stream button.
  app/components-react/root/StudioFooter.tsx
  app/i18n/en-US/live-output-editing.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fixes for stream shift.
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix stream shift display setup.
  app/i18n/en-US/stream-shift.json
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update scripts and test yml
  .github/workflows/tests.yml
  scripts/ci/install.ps1
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Removed unnecessary toggle.
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix stream shift.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/stream-shift.json
  app/services/diagnostics.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Feedback from code review.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/diagnostics.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restore stateful callbacks for toggleStreaming.
  app/components-react/root/StartStreamingButton.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
