Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @yushinakatani
replace_rules.json @yushinakatani
/.github/CODEOWNERS @yushinakatani

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

修正: ニコニコログイン状態で設定の配信タブに表示する警告を分かりやすくしたい
  app/i18n/ja-JP/settings.json
Owners: @yushinakatani

非ログイン時文言追加
  app/components/windows/Settings.vue
  app/components/windows/Settings.vue.ts
  app/i18n/en-US/settings.json
  app/i18n/ja-JP/settings.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

fix export button wronfully disabled
  app/components-react/highlighter/ClipsView.tsx
  app/components-react/highlighter/ClipsViewModal.tsx
  app/components-react/highlighter/PreviewModal.tsx
  app/components-react/highlighter/RemoveModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

more updater tracking
  app/components-react/highlighter/ClipTrimmer.tsx
  app/components-react/highlighter/ClipsViewModal.tsx
  app/components-react/highlighter/StreamCardModal.tsx
  app/services/highlighter/ai-highlighter-updater.ts
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Download and build the mac virtualcam system extension
  electron-builder/afterPack.js
  electron-builder/build-mac-virtualcam.js
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

more updater tracking (#5419)
  app/components-react/highlighter/ClipTrimmer.tsx
  app/components-react/highlighter/ClipsViewModal.tsx
  app/components-react/highlighter/StreamCardModal.tsx
  app/services/highlighter/ai-highlighter-updater.ts
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add settings subject and update error handling. (#5411)
  app/i18n/en-US/streaming.json
  app/services/settings/settings.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @yushinakatani, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show primary chat in dual output mode. (#5410)
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
  test/regular/streaming/dual-output.ts
  test/regular/streaming/multistream.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.30 (#5416)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.0-preview.9
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add record when starting stream to the go live window. (#5403)
  app/components-react/editor/elements/SceneSelector.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/DisplayToggle.m.less
  app/components-react/shared/DisplayToggle.tsx
  app/components-react/shared/DualOutputToggle.m.less
  app/components-react/shared/ToolTip.m.less
  app/components-react/shared/Tooltip.tsx
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/shared/inputs/SwitchInput.m.less
  app/components-react/shared/inputs/SwitchInput.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/RecordingSwitcher.m.less
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/streaming.json
  app/services/dual-output/dual-output.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  test/helpers/modules/core.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani

Adjust settings to make highlighting easier
  app/services/scene-collections/scene-collections.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OBS再インポートモードを実装
  app/components/pages/onboarding_steps/ObsImport.vue
  app/components/pages/onboarding_steps/ObsImport.vue.ts
  app/components/windows/SceneTransitions.vue
  app/components/windows/SceneTransitions.vue.ts
  app/services/onboarding.ts
  app/services/user.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OBSインポート機能の改善: インポート可能かどうかのチェックを追加し、ボタンの有効/無効を制御
  app/components/pages/onboarding_steps/ObsImport.vue.ts
  app/components/windows/SceneTransitions.vue
  app/components/windows/SceneTransitions.vue.ts
  app/services/obs-importer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

(yarn dev時に余計な通信を止める)
  app/services/informations/informations.ts
  app/services/nicolive-program/nicolive-moderators.ts
  app/services/nicolive-program/nicolive-supporters.ts
  app/services/usage-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add NicoliveCommentViewer.deleteComment
  app/components/nicolive-area/CommentViewer.vue.ts
  app/components/nicolive-area/comment/CommonComment.vue
  app/i18n/en-US/nicolive-program.json
  app/i18n/ja-JP/nicolive-program.json
  app/services/nicolive-program/NicoliveClient.test.ts
  app/services/nicolive-program/NicoliveClient.ts
  app/services/nicolive-program/WrappedChat.ts
  app/services/nicolive-program/nicolive-comment-viewer.test.ts
  app/services/nicolive-program/nicolive-comment-viewer.ts
  app/services/nicolive-program/nicolive-program.ts
  app/util/fetchViaMainProcess.ts
  main.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani

chore: deleteComment引数チェック
  app/services/nicolive-program/nicolive-comment-viewer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

DEBUG: デザイン作業用
  app/services/nicolive-program/nicolive-comment-viewer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

ピン留めは維持する
  app/services/nicolive-program/nicolive-comment-viewer.test.ts
  app/services/nicolive-program/nicolive-comment-viewer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

more tracking
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

コメント削除のundo
  app/components/nicolive-area/CommentViewer.vue.ts
  app/services/nicolive-program/NicoliveClient.ts
  app/services/nicolive-program/nicolive-comment-viewer.test.ts
  app/services/nicolive-program/nicolive-comment-viewer.ts
  app/services/nicolive-program/nicolive-program.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor: hardcoding of stream label in DOM messed search results up
  app/components-react/windows/source-showcase/SourceGrid.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add replay buffer recording test.
  test/regular/replay-buffer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add V1 streaming functions.
  app/services/streaming/streaming.ts
  test/helpers/modules/replay-buffer.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix error handling.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix finish start streaming.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[Highlighter] Implement basic subtitle rendering and transcription features (#5361)
  app/components-react/highlighter/Export/ExportModal.m.less
  app/components-react/highlighter/Export/ExportModal.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/ai-highlighter-updater.ts
  app/services/highlighter/ai-highlighter-utils.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/rendering.models.ts
  app/services/highlighter/rendering/frame-writer.ts
  app/services/highlighter/rendering/render-subtitle.ts
  app/services/highlighter/rendering/start-rendering.ts
  app/services/highlighter/subtitles/clip-element.ts
  app/services/highlighter/subtitles/subtitle-clip.ts
  app/services/highlighter/subtitles/subtitle-clips.ts
  app/services/highlighter/subtitles/subtitle-mode.ts
  app/services/highlighter/subtitles/subtitle-styles.ts
  app/services/highlighter/subtitles/subtitle-utils.ts
  app/services/highlighter/subtitles/svg-creator.ts
  app/services/highlighter/subtitles/transcription.ts
  app/services/highlighter/subtitles/word.ts
  electron-builder/base.config.js
  package.json
  webpack.base.config.js
  yarn.lock
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

Release version 1.19.0-preview.10
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix export button wronfully disabled (#5417)
  app/components-react/highlighter/ClipsView.tsx
  app/components-react/highlighter/ClipsViewModal.tsx
  app/components-react/highlighter/PreviewModal.tsx
  app/components-react/highlighter/RemoveModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

more tracking (#5420)
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

ObsImporterServiceとOnboardingServiceのインポートパスを修正
  .vscode/settings.json
  app/components/windows/SceneTransitions.vue.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add temporary toggle to test v1 and factory API streaming.
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/services/dual-output/dual-output.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: dual output with factory API.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/performance.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "[Highlighter] Implement basic subtitle rendering and transcription fe…"
  app/components-react/highlighter/Export/ExportModal.m.less
  app/components-react/highlighter/Export/ExportModal.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/ai-highlighter-updater.ts
  app/services/highlighter/ai-highlighter-utils.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/rendering.models.ts
  app/services/highlighter/rendering/frame-writer.ts
  app/services/highlighter/rendering/render-subtitle.ts
  app/services/highlighter/rendering/start-rendering.ts
  app/services/highlighter/subtitles/clip-element.ts
  app/services/highlighter/subtitles/subtitle-clip.ts
  app/services/highlighter/subtitles/subtitle-clips.ts
  app/services/highlighter/subtitles/subtitle-mode.ts
  app/services/highlighter/subtitles/subtitle-styles.ts
  app/services/highlighter/subtitles/subtitle-utils.ts
  app/services/highlighter/subtitles/svg-creator.ts
  app/services/highlighter/subtitles/transcription.ts
  app/services/highlighter/subtitles/word.ts
  electron-builder/base.config.js
  package.json
  webpack.base.config.js
  yarn.lock
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

Revert "[Highlighter] Implement basic subtitle rendering and transcription fe…" (#5421)
  app/components-react/highlighter/Export/ExportModal.m.less
  app/components-react/highlighter/Export/ExportModal.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/ai-highlighter-updater.ts
  app/services/highlighter/ai-highlighter-utils.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/rendering.models.ts
  app/services/highlighter/rendering/frame-writer.ts
  app/services/highlighter/rendering/render-subtitle.ts
  app/services/highlighter/rendering/start-rendering.ts
  app/services/highlighter/subtitles/clip-element.ts
  app/services/highlighter/subtitles/subtitle-clip.ts
  app/services/highlighter/subtitles/subtitle-clips.ts
  app/services/highlighter/subtitles/subtitle-mode.ts
  app/services/highlighter/subtitles/subtitle-styles.ts
  app/services/highlighter/subtitles/subtitle-utils.ts
  app/services/highlighter/subtitles/svg-creator.ts
  app/services/highlighter/subtitles/transcription.ts
  app/services/highlighter/subtitles/word.ts
  electron-builder/base.config.js
  package.json
  webpack.base.config.js
  yarn.lock
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

Release version 1.19.0-preview.11
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

sharp windows only
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

league of legends added
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Revert "[Highlighter] Implement basic subtitle rendering and transcri…"
  app/components-react/highlighter/Export/ExportModal.m.less
  app/components-react/highlighter/Export/ExportModal.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/ai-highlighter-updater.ts
  app/services/highlighter/ai-highlighter-utils.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/rendering.models.ts
  app/services/highlighter/rendering/frame-writer.ts
  app/services/highlighter/rendering/render-subtitle.ts
  app/services/highlighter/rendering/start-rendering.ts
  app/services/highlighter/subtitles/clip-element.ts
  app/services/highlighter/subtitles/subtitle-clip.ts
  app/services/highlighter/subtitles/subtitle-clips.ts
  app/services/highlighter/subtitles/subtitle-mode.ts
  app/services/highlighter/subtitles/subtitle-styles.ts
  app/services/highlighter/subtitles/subtitle-utils.ts
  app/services/highlighter/subtitles/svg-creator.ts
  app/services/highlighter/subtitles/transcription.ts
  app/services/highlighter/subtitles/word.ts
  electron-builder/base.config.js
  package.json
  webpack.base.config.js
  yarn.lock
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

added tiktok ui
  app/components-react/highlighter/Export/Platform.tsx
  app/components-react/highlighter/Export/TikTokUpload.tsx
  app/services/highlighter/models/highlighter.models.ts
  app/services/platforms/tiktok/api.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
