Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Arabic)
  app/i18n/ar-SA/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Hungarian)
  app/i18n/hu-HU/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Macedonian)
  app/i18n/mk-MK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovak)
  app/i18n/sk-SK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovenian)
  app/i18n/sl-SI/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Swedish)
  app/i18n/sv-SE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Vietnamese)
  app/i18n/vi-VN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Thai)
  app/i18n/th-TH/streaming.json
Owners: @takuhiro-koyama

Add debounce to AI highlighter toggle. (#5604)
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(vision): added onVisionStateChanged & onVisionGameChanged (#5603)
  app/components-react/windows/settings/AISettings.tsx
  app/services/platform-apps/api/modules/vision.ts
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.62
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

bump OSN (macos_avcapture replaces av_capture_input)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix test selector
  app/components-react/windows/Settings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix global search highlight
  app/components-react/shared/SearchablePages.m.less
  app/components-react/shared/SearchablePages.tsx
  app/components-react/windows/Settings.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for multistream and custom destination tests.
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix settings content margin
  app/components-react/windows/Settings.m.less
Owners: @yusukess, @kechino

Fix more tests
  test/helpers/modules/dual-output.ts
  test/helpers/modules/settings/settings.ts
  test/regular/recording.ts
  test/regular/replay-buffer.ts
  test/regular/settings/audio.ts
  test/regular/settings/hotkeys.ts
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Change Twitch dual stream go live check, add logs, and update diag.
  app/services/diagnostics.ts
  app/services/dual-output/dual-output.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for diag report.
  app/services/diagnostics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for Twitch dual streaming.
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/services/platforms/twitch.ts
  app/services/streaming/streaming.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add logs and failsafe for setting enhanced broadcasting with Twitch dual streaming.
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add enhanced broadcasting to the diag report.
  app/services/diagnostics.ts
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add vision test events and silent updates
  app/components-react/root/TestWidgets.tsx
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Repair recording settings on app start.
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Repair recording settings on app start. (#5614)
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.0-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix unnecessary is live checks.
  app/components-react/root/StartStreamingButton.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for switching desktop to desktop.
  app/components-react/root/StartStreamingButton.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Removed unnecessary error handling.
  app/components-react/root/StartStreamingButton.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Create empty scene collection if there is an error loading collection on app start.
  app/services/scene-collections/scene-collections.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: load issues.
  app/services/diagnostics.ts
  app/services/platform-apps/index.ts
  app/services/scene-collections/scene-collections.ts
  app/services/side-nav/menu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix resize observer loop error.
  app/components-react/sidebar/SideNav.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix resize observer loop error.
  app/components-react/sidebar/SideNav.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for strictnulls.
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Repair recording settings on app start.
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

lint
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Hide AI tab if not in dev mode.
  app/components-react/sidebar/NavTools.tsx
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Hide AI tab if not in dev mode.
  app/components-react/sidebar/NavTools.tsx
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add Twitch dual streaming enhanced broadcast failsafe. (#5612)
  app/services/diagnostics.ts
  app/services/dual-output/dual-output.ts
  app/services/platform-apps/index.ts
  app/services/platforms/twitch.ts
  app/services/scene-collections/scene-collections.ts
  app/services/settings/output/output-settings.ts
  app/services/side-nav/menu.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
