Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @yusukess, @kechino

more
  app/components-react/highlighter/ClipCollections/ClipCollection/ClipCollection.tsx
  app/components-react/highlighter/ClipCollections/ClipCollection/Thumbail.tsx
  app/components-react/highlighter/ImportStream.tsx
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix incorrect recording display error handling.
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming.ts
Owners: @yushinakatani, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix replay buffer error handling.
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming.ts
Owners: @yushinakatani, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix
  app/components-react/highlighter/ImportStream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix twitch VOD track and replay buffer animation.
  app/components-react/root/StudioFooter.tsx
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add default value for recording display toggle.
  app/components-react/windows/go-live/RecordingSwitcher.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update CI scripts (#5469)
  scripts/ci/install.ps1
  scripts/ci/register-agent.ps1
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

detect invalid encoder on macos (#5487)
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.1-preview.3
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Change multistream test accounts to ultra.
  test/data/dummy-accounts.ts
  test/regular/streaming/multistream.ts
  test/regular/streaming/tiktok.ts
  test/regular/streaming/twitter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.42
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: users can stream to their primary
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(multistream): early TikTok grandfathering
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.43
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix inconsistent go live experiences with custom stream settings and dual output
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/sidebar/NavTools.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/settings/Stream.tsx
  app/components-react/windows/settings/Video.tsx
  app/components/windows/settings/Settings.vue.ts
  app/i18n/en-US/settings.json
  app/services/dual-output/dual-output.ts
  app/services/scene-collections/scene-collections.ts
  app/services/streaming/streaming.ts
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

Update osn to v0.25.43 (#5499)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.1-preview.4
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add better logging for mac-virtualcamera clone / compile / copy
  electron-builder/build-mac-virtualcam.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

display console.log from the git clone command
  electron-builder/build-mac-virtualcam.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Code review
  app/services/dual-output/dual-output.ts
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

mac-virtualcamera build agent logging (#5501)
  electron-builder/build-mac-virtualcam.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.2-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

print the exception thrown
  electron-builder/build-mac-virtualcam.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

redirect stdout -> stderr
  electron-builder/build-mac-virtualcam.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix twitch VOD track and replay buffer animation.
  app/components-react/root/StudioFooter.tsx
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Recording tooltip UI.
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/Tooltip.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Dual output recording and replay buffer without streaming always uses the horizontal display.
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

print the stderr if build fails
  electron-builder/build-mac-virtualcam.js
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Correctly update dual output recording state.
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: vods.
  app/services/api/external-api/streaming/streaming.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Print the exception encountered during building the camera extension (#5502)
  electron-builder/build-mac-virtualcam.js
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.2-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Recording tooltip UI.
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/ToolTip.m.less
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/RecordingSwitcher.m.less
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Don't move to video settings when enabling custom rtmp
  app/components-react/windows/settings/Stream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Keep stream settings open
  app/components/windows/settings/Settings.vue.ts
  app/services/app/app.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Recording only fixes and add display to recording history.
  app/components-react/pages/RecordingHistory.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/recording-mode.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

verify audio source is still valid before invoke setMul()
  app/services/scene-collections/nodes/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: logic issues around grandfathering and Ultra (#5495)
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OSN 0.26.0test5, should fix crash on Mac
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @yushinakatani
replace_rules.json @yushinakatani
/.github/CODEOWNERS @yushinakatani

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
