Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

apply fix for realm crash on repeted objects recreate
  app/components/shared/RealmReactive.ts
  app/services/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix last target not showing in Go Live Window.
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/services/platforms/index.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add/remove targets when live with restream.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/components-react/windows/go-live/GoLiveError.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/streaming.json
  app/services/restream.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add shutdown to streaming service.
  app/services/app/app.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Enhanced broadcasting with multistream.
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP
  app/services/platforms/twitch.ts
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Enhanced broadcasting UI changes and restream setup changes.
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/i18n/en-US/streaming.json
  app/services/restream.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Use factory api migration create streaming to create additional streaming contexts.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Enhanced broadcasting with vertical display.
  app/services/platforms/twitch.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Twitch dual stream multistream.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Multistream enhanced broadcasting in dual output mode.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP
  app/services/platforms/twitch.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Dual Output Enhanced Broadcasting single streams displays.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Dual Output Enhanced Broadcast multistream and Dual Output Twitch Dual Stream multistream.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Code cleanup.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Stictnulls fixes.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

use ARCH env variable (#5728)
  scripts/install-native-deps.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(widgets): add "Manage on Web" button
  app/components-react/widgets/common/WidgetLayout.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components/windows/WidgetEditor.vue
  app/components/windows/WidgetEditor.vue.ts
  app/i18n/en-US/common.json
  app/services/widgets/settings/alert-box/index.ts
  app/services/widgets/settings/bit-goal.ts
  app/services/widgets/settings/charity-goal.ts
  app/services/widgets/settings/chat-highlight.ts
  app/services/widgets/settings/credits.ts
  app/services/widgets/settings/donation-goal.ts
  app/services/widgets/settings/donation-ticker.ts
  app/services/widgets/settings/emote-wall.ts
  app/services/widgets/settings/event-list.ts
  app/services/widgets/settings/follower-goal.ts
  app/services/widgets/settings/media-share.ts
  app/services/widgets/settings/poll.ts
  app/services/widgets/settings/spin-wheel.ts
  app/services/widgets/settings/stars-goal.ts
  app/services/widgets/settings/stream-boss.ts
  app/services/widgets/settings/sub-goal.ts
  app/services/widgets/settings/subscriber-goal.ts
  app/services/widgets/settings/superchat-goal.ts
  app/services/widgets/settings/supporter-goal.ts
  app/services/widgets/settings/tip-jar.ts
  app/services/widgets/widgets-api.ts
  app/services/widgets/widgets-config.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Fix last target not showing in Go Live Window. (#5732)
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/services/platforms/index.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Reorder platforms.
  app/services/platforms/index.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove deprecated services
  app/app-services.ts
  app/services/widgets/settings/donation-ticker.ts
  app/services/widgets/settings/emote-wall.ts
  app/services/widgets/settings/event-list.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations common.json (Czech)
  app/i18n/cs-CZ/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Czech)
  app/i18n/cs-CZ/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Danish)
  app/i18n/da-DK/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Danish)
  app/i18n/da-DK/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Dutch)
  app/i18n/nl-NL/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Dutch)
  app/i18n/nl-NL/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Chinese Simplified)
  app/i18n/zh-CN/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Simplified)
  app/i18n/zh-CN/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Chinese Traditional)
  app/i18n/zh-TW/common.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Traditional)
  app/i18n/zh-TW/streaming.json
Owners: @takuhiro-koyama

New translations onboarding.json (Czech)
  app/i18n/cs-CZ/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Danish)
  app/i18n/da-DK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Dutch)
  app/i18n/nl-NL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Simplified)
  app/i18n/zh-CN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Traditional)
  app/i18n/zh-TW/onboarding.json
Owners: @takuhiro-koyama

New translations common.json (French)
  app/i18n/fr-FR/common.json
Owners: @takuhiro-koyama

New translations streaming.json (French)
  app/i18n/fr-FR/streaming.json
Owners: @takuhiro-koyama

New translations common.json (Spanish)
  app/i18n/es-ES/common.json
Owners: @takuhiro-koyama

New translations onboarding.json (French)
  app/i18n/fr-FR/onboarding.json
Owners: @takuhiro-koyama
