Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations audio.json (Chinese Simplified)
  app/i18n/zh-CN/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Chinese Traditional)
  app/i18n/zh-TW/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Vietnamese)
  app/i18n/vi-VN/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Portuguese, Brazilian)
  app/i18n/pt-BR/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Indonesian)
  app/i18n/id-ID/audio.json
Owners: @takuhiro-koyama

New translations audio.json (Thai)
  app/i18n/th-TH/audio.json
Owners: @takuhiro-koyama

Add highlighter banner dismissable.
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/services/dismissables.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Minor component changes.
  app/components-react/root/LiveDock.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/windows/go-live/GoLiveWindow.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Disable enhanced broadcasting with live output editing.
  app/components-react/windows/go-live/LiveOutputEditingCard.tsx
  app/components-react/windows/go-live/StreamShiftCard.tsx
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update translations files.
  app/i18n/en-US/highlighter.json
  app/i18n/en-US/live-output-editing.json
  app/i18n/en-US/live-outputs.json
  app/i18n/en-US/streaming.json
  app/i18n/en-US/twitch.json
  app/i18n/fallback.ts
Owners: @takuhiro-koyama

Add restream errors.
  app/components-react/windows/go-live/GoLiveError.tsx
  app/services/streaming/stream-error.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix common title handling in go live and edit stream windows.
  app/components-react/windows/go-live/CommonPlatformFields.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Prep for custom destination in update checklist.
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-api.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Twitch form disable enhanced broadcasting with live output editing.
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Prep for go live window changes.
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/platforms/PlatformSettingsLayout.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Go live settings (left col) changes.
  app/components-react/windows/go-live/GoLiveSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update stream display selectors only show live display.
  app/components-react/shared/DisplaySelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.11amdt1
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restoresilent drops from merge.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/Spinner.m.less
  app/components-react/shared/Spinner.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/GameSelector.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveInfoBanner.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/SwitcherCard.tsx
  app/i18n/en-US/stream-shift.json
  app/services/diagnostics.ts
  app/services/platforms/kick.ts
  app/styles/loader.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Restoresilent drops from merge.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/Spinner.m.less
  app/components-react/shared/Spinner.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/GameSelector.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveInfoBanner.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/SwitcherCard.tsx
  app/i18n/en-US/stream-shift.json
  app/services/diagnostics.ts
  app/services/platforms/kick.ts
  app/styles/loader.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Improved tests
  app/services/streaming/streaming.ts
  test/regular/encoder-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Service changes and update call error handling.
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Go live module changes.
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Edit stream window UI.
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Service changes and update call error handling.
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Go live module changes.
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Edit stream window UI.
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes from code review.
  app/components-react/windows/go-live/GoLiveInfoBanner.tsx
  app/services/platforms/kick.ts
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add error handling for widget failed to fetch data.
  app/components-react/widgets/common/useWidget.tsx
  app/i18n/en-US/widgets.json
  app/services/widgets/widgets-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix Tip Jar test (runs locally).
  app/components-react/shared/inputs/ImagePickerInput.tsx
  test/helpers/modules/forms/form.ts
  test/helpers/modules/sources.ts
  test/regular/widgets/tip-jar.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add timeout for AI Highlighter test.
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for strictnulls.
  app/components-react/shared/InfoBanner.tsx
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restore doce stream shift toggle enabled.
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix widget goals tests.
  app/components-react/widgets/GenericGoal.tsx
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Feedback from code review.
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/restream.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Code review.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/live-output-editing.json
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Multistream Toggle 2 (#6167)
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/live-output-editing.json
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Allow click on disabled switcher card toggle. (#6144)
  app/components-react/windows/go-live/SwitcherCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove widget hasLoadedSettings.
  app/components-react/widgets/ChatBox.tsx
  app/components-react/widgets/Credits.tsx
  app/components-react/widgets/DonationTicker.tsx
  app/components-react/widgets/EmoteWall.tsx
  app/components-react/widgets/EventList.tsx
  app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/Jar.tsx
  app/components-react/widgets/SponsorBanner.tsx
  app/components-react/widgets/ViewerCount.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add test failure screenshot option.
  test/helpers/webdriver/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
