Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations widget-goal.json (Slovenian)
  app/i18n/sl-SI/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Swedish)
  app/i18n/sv-SE/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Turkish)
  app/i18n/tr-TR/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Chinese Simplified)
  app/i18n/zh-CN/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Chinese Traditional)
  app/i18n/zh-TW/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Vietnamese)
  app/i18n/vi-VN/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Indonesian)
  app/i18n/id-ID/widget-goal.json
Owners: @takuhiro-koyama

New translations widget-goal.json (Thai)
  app/i18n/th-TH/widget-goal.json
Owners: @takuhiro-koyama

Fix superchat goal
  app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix custom fields jank
  app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/common/WidgetLayout.m.less
  app/components-react/widgets/common/WidgetLayout.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix reactivity
  app/components-react/widgets/GenericGoal.m.less
  app/components-react/widgets/GenericGoal.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix existing goal styling
  app/components-react/widgets/GenericGoal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix goal mutation
  app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/common/useWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add error handling
  app/components-react/widgets/GenericGoal.tsx
  app/styles/antd/antd.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

mac-tests & add config to debug tests from vscode
  .vscode/launch.json
  .vscode/tasks.json
  package.json
  test/helpers/api-client.ts
  test/helpers/named-pipe-client.ts
  test/helpers/webdriver/index.ts
  test/helpers/webdriver/runner-utils.ts
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix duration
  app/components-react/widgets/GenericGoal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.7t1
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Comment out color inputs for now
  test/regular/widgets/chat-box.ts
  test/regular/widgets/goals.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations onboarding.json (French)
  app/i18n/fr-FR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Spanish)
  app/i18n/es-ES/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Arabic)
  app/i18n/ar-SA/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Czech)
  app/i18n/cs-CZ/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Danish)
  app/i18n/da-DK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (German)
  app/i18n/de-DE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Hungarian)
  app/i18n/hu-HU/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Italian)
  app/i18n/it-IT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Japanese)
  app/i18n/ja-JP/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Korean)
  app/i18n/ko-KR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Macedonian)
  app/i18n/mk-MK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Dutch)
  app/i18n/nl-NL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Polish)
  app/i18n/pl-PL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese)
  app/i18n/pt-PT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Russian)
  app/i18n/ru-RU/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Slovak)
  app/i18n/sk-SK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Slovenian)
  app/i18n/sl-SI/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Swedish)
  app/i18n/sv-SE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Turkish)
  app/i18n/tr-TR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Simplified)
  app/i18n/zh-CN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Traditional)
  app/i18n/zh-TW/onboarding.json
Owners: @takuhiro-koyama
