Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations common.json (Portuguese, Brazilian)
  app/i18n/pt-BR/common.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese, Brazilian)
  app/i18n/pt-BR/onboarding.json
Owners: @takuhiro-koyama

New translations sources.json (Portuguese, Brazilian)
  app/i18n/pt-BR/sources.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations transitions.json (Portuguese, Brazilian)
  app/i18n/pt-BR/transitions.json
Owners: @takuhiro-koyama

New translations app.json (Portuguese, Brazilian)
  app/i18n/pt-BR/app.json
Owners: @takuhiro-koyama

New translations youtube.json (Portuguese, Brazilian)
  app/i18n/pt-BR/youtube.json
Owners: @takuhiro-koyama

New translations guest-cam.json (Portuguese, Brazilian)
  app/i18n/pt-BR/guest-cam.json
Owners: @takuhiro-koyama

New translations loader.json (Portuguese, Brazilian)
  app/i18n/pt-BR/loader.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Portuguese, Brazilian)
  app/i18n/pt-BR/stream-shift.json
Owners: @takuhiro-koyama

New translations widget-game-pulse.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widget-game-pulse.json
Owners: @takuhiro-koyama

New translations ai.json (Portuguese, Brazilian)
  app/i18n/pt-BR/ai.json
Owners: @takuhiro-koyama

New translations dual-output.json (Portuguese, Brazilian)
  app/i18n/pt-BR/dual-output.json
Owners: @takuhiro-koyama

New translations patreon.json (Portuguese, Brazilian)
  app/i18n/pt-BR/patreon.json
Owners: @takuhiro-koyama

feat(automations): implement AutomationsEmptyState component and enhance EditAutomations with welcome screen and improved layout
  app/components-react/windows/stream-avatar-automations/AutomationEditor.m.less
  app/components-react/windows/stream-avatar-automations/AutomationsEmptyState.m.less
  app/components-react/windows/stream-avatar-automations/AutomationsEmptyState.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.m.less
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomationsFooter.tsx
  app/i18n/en-US/stream-avatar-automations.json
  app/services/dismissables.ts
  app/services/scenes/scene-item.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

refactor(automations): remove unnecessary comments in AutomationEditor, EditAutomations, and PreMadeAutomations for cleaner code
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

refactor(automations): simplify welcome screen logic in EditAutomations component
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Embed widget dashboard settings in the source Properties window
  app/components-react/index.ts
  app/components-react/windows/WidgetSettingsEmbed.tsx
  app/components/shared/ReactComponentList.tsx
  app/services/side-nav/menu-data.ts
  app/services/side-nav/menu.ts
  app/services/sources/sources.ts
  app/services/widgets/widgets-data.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor AutomationEditor and related components
  app/components-react/windows/stream-avatar-automations/ActionEditor.tsx
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/AutomationsAnalytics.ts
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.m.less
  app/components-react/windows/stream-avatar-automations/PreMadeAutomations.tsx
  app/components-react/windows/stream-avatar-automations/TemplatePreview.tsx
  app/components-react/windows/stream-avatar-automations/automationTemplates.ts
  app/components-react/windows/stream-avatar-automations/automations-utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

refactor(automations): streamline ActionEditor by extracting controls into ActionControls component
  app/components-react/hooks/useAgentAppInstalled.ts
  app/components-react/windows/stream-avatar-automations/ActionControls.tsx
  app/components-react/windows/stream-avatar-automations/ActionEditor.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Optimize checking for smart sources.
  app/services/reactive-data/index.ts
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): add AutomationTemplates and AutomationTemplatesFooter components, implement template selection logic and analytics tracking
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/AutomationTemplates.m.less
  app/components-react/windows/stream-avatar-automations/AutomationTemplates.tsx
  app/components-react/windows/stream-avatar-automations/AutomationTemplatesFooter.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/automations-analytics.ts
  app/components-react/windows/stream-avatar-automations/template-applicator.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

refactor(automations): improve conditional rendering for game card subtext in AutomationTemplates component
  app/components-react/windows/stream-avatar-automations/AutomationTemplates.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

YouTube bandwidth probing in AutoConfig 2
  app/components-react/shared/auto-optimizer/AutoOptimizer.m.less
  app/components-react/shared/auto-optimizer/AutoOptimizerResults.tsx
  app/components-react/shared/auto-optimizer/index.ts
  app/components-react/shared/auto-optimizer/presentation.ts
  app/components-react/shared/auto-optimizer/types.ts
  app/components-react/windows/go-live/GoLiveAutoOptimizer.tsx
  app/i18n/en-US/streaming.json
  app/services/auto-config/index.ts
  app/services/auto-config/probe-policy.ts
  app/services/auto-config/topology.ts
  app/services/auto-config/types.ts
  app/services/incremental-rollout.ts
  app/services/platforms/youtube.ts
  app/services/platforms/youtube/auto-optimizer-probe.ts
  app/services/user/index.ts
  test/regular/auto-optimizer-presentation.ts
  test/regular/auto-optimizer-probe-policy.ts
  test/regular/auto-optimizer-topology.ts
  test/regular/youtube-auto-optimizer-probe.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

refactor(automations): enhance visibility handling for scene items in createTemplateSource function
  app/components-react/windows/stream-avatar-automations/template-applicator.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Use ?slobs flag for embedded widget-settings URL
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Apply suggestion from @wesrupert
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Apply suggestions from code review
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Apply suggestion from @wesrupert
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Apply suggestion from @wesrupert
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): implement instructions fetching and update action handling
  app/services/hosts.ts
  app/services/stream-avatar/automations-engine-service.ts
  app/services/stream-avatar/engine/actions.ts
  app/services/stream-avatar/engine/instructions.ts
  app/services/stream-avatar/stream-avatar-api-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix false VC++ redistributable warning (#6021)
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.8-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations settings.json (French)
  app/i18n/fr-FR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Spanish)
  app/i18n/es-ES/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Arabic)
  app/i18n/ar-SA/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Czech)
  app/i18n/cs-CZ/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Danish)
  app/i18n/da-DK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (German)
  app/i18n/de-DE/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Hungarian)
  app/i18n/hu-HU/settings.json
Owners: @takuhiro-koyama
