Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Add variants for dual output toggle component.
  app/components-react/shared/DualOutputToggle.m.less
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/shared/inputs/SwitchInput.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add toggle to editor.
  app/components-react/root/StudioEditor.m.less
  app/components-react/root/StudioEditor.tsx
  app/i18n/en-US/dual-output.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Remove frontend recording encoder validation on save
  app/components-react/windows/settings/ObsSettings.tsx
  app/services/settings/settings.ts
  test/regular/api/output-encoder-metadata.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Test fixes.
  test/helpers/modules/dual-output.ts
  test/regular/settings/hotkeys.ts
  test/regular/streaming/dual-output.ts
  test/regular/streaming/youtube.ts
  test/regular/undo.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes from code review.
  app/components-react/root/StudioEditor.tsx
  app/components-react/shared/DualOutputToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for Dual Output test.
  test/helpers/modules/dual-output.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update obs-studio-node to 0.27.3
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update obs-studio-node to 0.27.3
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restore set onboarding step for v2. (#6069)
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add to youtube form cleanup to prevent state update on unmounted component. (#6068)
  app/components-react/windows/go-live/platforms/YoutubeEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations overlays.json (French)
  app/i18n/fr-FR/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Spanish)
  app/i18n/es-ES/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Arabic)
  app/i18n/ar-SA/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Czech)
  app/i18n/cs-CZ/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Danish)
  app/i18n/da-DK/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (German)
  app/i18n/de-DE/overlays.json
Owners: @takuhiro-koyama

Fix uncontrolled inputs sometimes not updating correctly (#6058)
  app/components-react/obs/ObsForm.tsx
  app/components-react/shared/inputs/inputs.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations overlays.json (Hungarian)
  app/i18n/hu-HU/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Italian)
  app/i18n/it-IT/overlays.json
Owners: @takuhiro-koyama

New translations filters.json (French)
  app/i18n/fr-FR/filters.json
Owners: @takuhiro-koyama

New translations sources.json (French)
  app/i18n/fr-FR/sources.json
Owners: @takuhiro-koyama

New translations streaming.json (French)
  app/i18n/fr-FR/streaming.json
Owners: @takuhiro-koyama

Surface error when failing to set up patreon. (#6074)
  app/services/platforms/base-platform.ts
  app/services/platforms/index.ts
  app/services/platforms/patreon.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations overlays.json (Japanese)
  app/i18n/ja-JP/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Korean)
  app/i18n/ko-KR/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Macedonian)
  app/i18n/mk-MK/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Dutch)
  app/i18n/nl-NL/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Polish)
  app/i18n/pl-PL/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Portuguese)
  app/i18n/pt-PT/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Russian)
  app/i18n/ru-RU/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Slovak)
  app/i18n/sk-SK/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Slovenian)
  app/i18n/sl-SI/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Swedish)
  app/i18n/sv-SE/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Turkish)
  app/i18n/tr-TR/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Chinese Simplified)
  app/i18n/zh-CN/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Chinese Traditional)
  app/i18n/zh-TW/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Vietnamese)
  app/i18n/vi-VN/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Portuguese, Brazilian)
  app/i18n/pt-BR/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Indonesian)
  app/i18n/id-ID/overlays.json
Owners: @takuhiro-koyama

New translations overlays.json (Thai)
  app/i18n/th-TH/overlays.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
