Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

onboarding: remove ability to skip ultra step when shown
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Isolate Dual Output services and refresh retained VOD settings
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix retained stream service ownership and VOD setup errors
  app/services/streaming/streaming.ts
  test/regular/streaming/streaming-service-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix retained stream service ownership and VOD setup errors
  app/services/streaming/streaming.ts
  test/regular/streaming/reconnect-lifecycle.ts
  test/regular/streaming/streaming-service-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): limit automations to a scene
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/i18n/en-US/stream-avatar-automations.json
  app/services/stream-avatar/automations-engine-service.ts
  app/services/stream-avatar/automations-service.ts
  app/services/stream-avatar/engine/automations.ts
  app/services/stream-avatar/engine/validation.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix our of bounds test error
  app/components-react/shared/StreamShiftToggle.tsx
  test/helpers/modules/core.ts
  test/regular/streaming/go-live-window.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(restream): stop multistream chat from wiping itself when Desktop is minimized
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update README.md
  README.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: align share link buttons in multistream mode
  app/components-react/root/ShareStreamLink.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: update platforms step
  app/components-react/modals/onboarding/ConnectMore.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: update steps layout
  app/components-react/modals/onboarding/Common.m.less
  app/components-react/modals/onboarding/ConnectMore.tsx
  app/components-react/modals/onboarding/Devices.tsx
  app/components-react/modals/onboarding/Login.tsx
  app/components-react/modals/onboarding/OBSImport.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/RecordingLogin.tsx
  app/components-react/modals/onboarding/Splash.tsx
  app/components-react/modals/onboarding/Themes.m.less
  app/components-react/modals/onboarding/Themes.tsx
  app/components-react/modals/onboarding/Ultra.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

transitions: refresh OBS form after a property changes
  app/components-react/windows/scene-transitions/TransitionSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

tests: pass SLD_TESTS_SKIP_ONBOARDING through to the app
  test/helpers/webdriver/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: list X as a supported platform in widget copy [Asana: 1218115183690332]
  app/i18n/en-US/sources.json
  app/i18n/en-US/widget-alertbox.json
  app/services/widgets/widgets-data.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: let the primary chat caret open the dropdown [Asana: 1217915916343478]
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: close the reactive data editor after saving [Asana: 1217658023559427]
  app/components-react/windows/reactive-data-editor/ReactiveDataEditorWindow.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: clear per-platform go-live settings on logout [Asana: 1214065473908427]
  app/services/platforms/base-platform.ts
  app/services/platforms/index.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: offer test alerts when logged in with Kick [Asana: 1211264647469370]
  app/services/widgets/widgets-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: keep the Projector menu item when a paired source is selected [Asana: 1211126936172041]
  app/util/menus/EditMenu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav-menu: rename side nav references
  app/app-services.ts
  app/app.g.less
  app/components-react/hooks/useAgentAppInstalled.ts
  app/components-react/index.ts
  app/components-react/nav-menu/AppsNav.tsx
  app/components-react/nav-menu/EditorTabs.tsx
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/nav-menu/NavMenu.m.less
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/NavTools.m.less
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/nav-menu/PlatformIndicator.m.less
  app/components-react/nav-menu/PlatformIndicator.tsx
  app/components-react/pages/PlatformAppStore.tsx
  app/components-react/pages/RecordingHistory.tsx
  app/components-react/pages/VisionLanding.tsx
  app/components-react/pages/layout-editor/TopBar.tsx
  app/components-react/shared/MenuItem.m.less
  app/components-react/shared/MenuItem.tsx
  app/components-react/windows/Main.m.less
  app/components-react/windows/Main.tsx
  app/components-react/windows/settings/Appearance.m.less
  app/components-react/windows/settings/Appearance.tsx
  app/components/custom-source-properties/PlatformAppProperties.vue.ts
  app/services/dismissables.ts
  app/services/highlighter/index.ts
  app/services/layout/index.ts
  app/services/nav-menu/index.ts
  app/services/nav-menu/menu-data.ts
  app/services/nav-menu/menu.ts
  app/services/navigation.ts
  app/services/platform-apps/index.ts
  app/services/protocol-links.ts
  app/services/side-nav/menu-data.ts
  docs/typedoc-monkeypatch.js
  test/helpers/modules/navigation.ts
  test/helpers/modules/settings/settings.ts
  test/regular/obs-importer.ts
  test/regular/settings/hotkeys.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

nav-menu: update collapsing logic
  app/components-react/nav-menu/FeaturesNav.m.less
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/nav-menu/NavMenu.m.less
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/ToolsNav.m.less
  app/components-react/nav-menu/ToolsNav.tsx
  app/components-react/nav-menu/useNavCollapse.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav-menu: update to top-nav layout
  app/components-react/nav-menu/FeaturesNav.m.less
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/nav-menu/NavMenu.m.less
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/MenuItem.m.less
  app/components-react/shared/MenuItem.tsx
  app/components-react/windows/Main.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav-menu: re-add recordings
  app/components-react/windows/settings/Appearance.m.less
  app/components-react/windows/settings/Appearance.tsx
  app/services/nav-menu/menu-data.ts
  app/services/nav-menu/menu.ts
  app/services/recording-mode.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

nav-menu: simplify nav menu feature set
  app/components-react/nav-menu/AppsNav.tsx
  app/components-react/nav-menu/EditorTabs.tsx
  app/components-react/nav-menu/FeaturesNav.tsx
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/pages/PlatformAppStore.tsx
  app/components-react/pages/VisionLanding.tsx
  app/components-react/pages/layout-editor/TopBar.tsx
  app/components-react/windows/settings/Appearance.tsx
  app/components/custom-source-properties/PlatformAppProperties.vue.ts
  app/services/dismissables.ts
  app/services/layout/index.ts
  app/services/nav-menu/menu-data.ts
  app/services/nav-menu/menu.ts
  app/services/navigation.ts
  app/services/platform-apps/index.ts
  app/services/protocol-links.ts
  app/services/usage-statistics.ts
  media/images/chalk-arrow.png
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

nav-menu: rename navtools -> toolsnav
  app/components-react/nav-menu/NavMenu.tsx
  app/components-react/nav-menu/PlatformIndicator.m.less
  app/components-react/nav-menu/ToolsNav.m.less
  app/components-react/nav-menu/ToolsNav.tsx
  app/components-react/root/NotificationsArea.tsx
  app/services/nav-menu/menu-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

nav-menu: build out tools sub section
  app/components-react/nav-menu/NavTools.m.less
  app/components-react/nav-menu/NavTools.tsx
  app/components-react/nav-menu/PlatformIndicator.m.less
  app/components-react/nav-menu/PlatformIndicator.tsx
  app/components-react/root/NotificationsArea.m.less
  app/components-react/root/NotificationsArea.tsx
  app/components-react/root/StudioEditor.m.less
  app/components-react/root/StudioEditor.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/DualOutputControls.m.less
  app/components-react/shared/DualOutputControls.tsx
  app/components-react/shared/DualOutputToggle.m.less
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/shared/inputs/SwitchInput.tsx
  app/i18n/en-US/common.json
  app/i18n/en-US/streaming.json
  app/services/transitions.ts
  media/images/user.png
  test/regular/streaming/dual-output.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Restore screen size test assertion.
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

tests: pass SLD_TESTS_SKIP_ONBOARDING through to the app (#6218)
  test/helpers/webdriver/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: make Go Live channel settings height dynamic to accommodate validation errors
  app/components-react/shared/AnimatedWrapper.m.less
  app/components-react/windows/go-live/CommonPlatformFields.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: align share link buttons in multistream mode
  app/components-react/root/ShareStreamLink.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: ensure consistent icon sizing and alignment in share links
  app/components-react/root/ShareStreamLink.m.less
  app/components-react/root/ShareStreamLink.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: override platform logo sizes in share link buttons
  app/components-react/root/ShareStreamLink.m.less
Owners: @yusukess, @kechino

fix: aggressively enforce consistent icon sizing with !important
  app/components-react/root/ShareStreamLink.m.less
Owners: @yusukess, @kechino

fix: replace ant button with custom div for consistent icon spacing
  app/components-react/root/ShareStreamLink.m.less
  app/components-react/root/ShareStreamLink.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: control font baseline with display: block and explicit margins
  app/components-react/root/ShareStreamLink.m.less
Owners: @yusukess, @kechino

fix: drop unnecessary :global wrapper and !important flags
  app/components-react/root/ShareStreamLink.m.less
Owners: @yusukess, @kechino

fix: cap the title length for YouTube dual streams [Asana: 1213798044978296]
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: guard null default settings in resetStreamSettings for strict null checks
  app/services/platforms/base-platform.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat: add a Screenshot Output hotkey that saves the program output as a PNG [Asana: 1216010475168255]
  app/app-services.ts
  app/i18n/en-US/hotkeys.json
  app/services/hotkeys.ts
  app/services/screenshot.ts
  test/regular/settings/hotkeys.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

fix: discard a new transition when its editor is dismissed without Done [Asana: 1214053971235396]
  app/components-react/windows/scene-transitions/TransitionsTable.tsx
  app/components-react/windows/scene-transitions/index.tsx
  test/regular/transitions.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
