Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations tiktok.json (Chinese Traditional)
  app/i18n/zh-TW/tiktok.json
Owners: @takuhiro-koyama

New translations trovo.json (Chinese Traditional)
  app/i18n/zh-TW/trovo.json
Owners: @takuhiro-koyama

New translations kick.json (Chinese Traditional)
  app/i18n/zh-TW/kick.json
Owners: @takuhiro-koyama

New translations developer.json (Chinese Traditional)
  app/i18n/zh-TW/developer.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Chinese Traditional)
  app/i18n/zh-TW/stream-shift.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations twitter.json (Portuguese, Brazilian)
  app/i18n/pt-BR/twitter.json
Owners: @takuhiro-koyama

New translations facebook.json (Portuguese, Brazilian)
  app/i18n/pt-BR/facebook.json
Owners: @takuhiro-koyama

New translations youtube.json (Portuguese, Brazilian)
  app/i18n/pt-BR/youtube.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Portuguese, Brazilian)
  app/i18n/pt-BR/promotional-copy.json
Owners: @takuhiro-koyama

New translations twitch.json (Portuguese, Brazilian)
  app/i18n/pt-BR/twitch.json
Owners: @takuhiro-koyama

New translations tiktok.json (Portuguese, Brazilian)
  app/i18n/pt-BR/tiktok.json
Owners: @takuhiro-koyama

New translations trovo.json (Portuguese, Brazilian)
  app/i18n/pt-BR/trovo.json
Owners: @takuhiro-koyama

New translations kick.json (Portuguese, Brazilian)
  app/i18n/pt-BR/kick.json
Owners: @takuhiro-koyama

New translations developer.json (Portuguese, Brazilian)
  app/i18n/pt-BR/developer.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Portuguese, Brazilian)
  app/i18n/pt-BR/stream-shift.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Indonesian)
  app/i18n/id-ID/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations twitter.json (Indonesian)
  app/i18n/id-ID/twitter.json
Owners: @takuhiro-koyama

New translations facebook.json (Indonesian)
  app/i18n/id-ID/facebook.json
Owners: @takuhiro-koyama

New translations youtube.json (Indonesian)
  app/i18n/id-ID/youtube.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Indonesian)
  app/i18n/id-ID/promotional-copy.json
Owners: @takuhiro-koyama

New translations twitch.json (Indonesian)
  app/i18n/id-ID/twitch.json
Owners: @takuhiro-koyama

New translations tiktok.json (Indonesian)
  app/i18n/id-ID/tiktok.json
Owners: @takuhiro-koyama

New translations trovo.json (Indonesian)
  app/i18n/id-ID/trovo.json
Owners: @takuhiro-koyama

New translations kick.json (Indonesian)
  app/i18n/id-ID/kick.json
Owners: @takuhiro-koyama

New translations developer.json (Indonesian)
  app/i18n/id-ID/developer.json
Owners: @takuhiro-koyama

New translations stream-shift.json (Indonesian)
  app/i18n/id-ID/stream-shift.json
Owners: @takuhiro-koyama

update OSN to 0.25.68 for virtualcam signals rename into start/stop
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for tests.
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
  test/regular/streaming/dual-output.ts
  test/regular/streaming/instagram.ts
  test/regular/streaming/kick.ts
  test/regular/streaming/multistream.ts
  test/regular/streaming/tiktok.ts
  test/regular/streaming/twitter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Hide the unimplemented AI option on mac settings page
  app/components-react/windows/Settings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for socket events.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/StreamShiftToggle.tsx
  app/services/restream.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Create shared stream shift modal.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/StreamShiftModal.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix logging.
  app/components-react/root/StartStreamingButton.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for tests waiting for go live window loading and dual output.
  test/helpers/modules/streaming.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove socket events from stream shift test.
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove console log.
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Build splash page component
  app/app-services.ts
  app/components-react/modals/onboarding/Common.m.less
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/Splash.tsx
  app/components-react/modals/onboarding/steps.ts
  app/services/onboarding/onboarding-v2.ts
  app/services/realm.ts
  media/chest-deco.webm
  media/chest.webm
  media/webm/kevin_jump.webm
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Dual Output test polishes.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
