Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @yushinakatani
replace_rules.json @yushinakatani
/.github/CODEOWNERS @yushinakatani

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

refactor(sources): add missing groups
  app/services/sources/sources-api.ts
  app/services/sources/sources-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(sources): hardcoded Instant Replay and Icon Library in markup
  app/components-react/windows/source-showcase/SourceGrid.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(sources): naive search on typing
  app/components-react/windows/source-showcase/index.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(sources): replace search with std input for desired style
  app/components-react/windows/source-showcase/index.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Dual output simple streaming.
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(sources): incorrect source type for Custom Icon
  app/components-react/windows/source-showcase/SourceGrid.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update TOS
  BASEAGREEMENT
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update privacy policy
  BASEAGREEMENT
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Simple streaming custom rtmp and dual stream YouTube.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update TOS and Privacy Policy (#5424)
  BASEAGREEMENT
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

インポート警告メッセージの英文付与
  app/components/pages/onboarding_steps/ObsImport.vue.ts
  app/i18n/en-US/onboarding.json
  app/i18n/ja-JP/onboarding.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

added colors
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix audio track assignment.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix typo
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Switch dual youtube to custom.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

attempt to see if it improves the amount of user who has access to highlighter and it is indeed a bug on core
  app/services/incremental-rollout.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Move dual stream to platform service.
  app/services/platforms/index.ts
  app/services/platforms/youtube.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Simplify getting contexts.
  app/services/dual-output/dual-output.ts
  app/services/platforms/base-platform.ts
  app/services/restream.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(sources): decrease default threshold to hide results
  app/components-react/windows/source-showcase/SourceGrid.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor to handle dual YouTube vertical as custom destination.
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/platforms/base-platform.ts
  app/services/platforms/facebook.ts
  app/services/platforms/index.ts
  app/services/platforms/kick.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/trovo.ts
  app/services/platforms/twitter.ts
  app/services/platforms/youtube.ts
  app/services/restream.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(sources): hide panels with no search results
  app/components-react/windows/source-showcase/SourceGrid.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

upgrade napi-build-utils to resolve realm compile issue on Apple Silicon (#5413)
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.29clt1
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

encoders cleanup
  app/services/streaming/streaming.ts
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(sources): hide search on Apps tab
  app/components-react/windows/source-showcase/index.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix tests that restart
  package.json
  test/helpers/modules/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update repositories.json
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(sources): widget headers were not hiding on their tab
  app/components-react/windows/source-showcase/SourceGrid.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix record file types
  app/services/settings/output/output-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Refactor to handle dual YouTube vertical as custom destination."
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/platforms/base-platform.ts
  app/services/platforms/facebook.ts
  app/services/platforms/index.ts
  app/services/platforms/kick.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/trovo.ts
  app/services/platforms/twitter.ts
  app/services/platforms/youtube.ts
  app/services/restream.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[WIP] encoders cleanup (#5426)
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add debounce to recording button.
  app/components-react/root/StudioFooter.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix error from undefined stream start time.
  app/services/performance.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add display to recording noty.
  app/i18n/en-US/notifications.json
  app/services/recording-mode.ts
Owners: @yushinakatani, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor getting mode and display.
  app/services/dual-output/dual-output.ts
  app/services/platforms/base-platform.ts
  app/services/restream.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Change translation string.
  app/i18n/en-US/notifications.json
  app/services/recording-mode.ts
Owners: @yushinakatani, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

GitHub Actionsの実行環境をWindows 2022に更新
  .github/workflows/test.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: ndgrのSimpleNotificationV2 に対応
  .vscode/settings.json
  app/services/nicolive-program/ChatMessage.ts
  app/services/nicolive-program/NdgrCommentReceiver.ts
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

通知メッセージの分類に'supporterRegistered'と'userLevelUp'を追加
  app/services/nicolive-program/ChatMessage/classifier.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

removed import that was added by mistake
  app/services/incremental-rollout.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
