Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

refactor reactive widget settings (WIP)
  app/components-react/widgets/ReactiveWidget.tsx
  app/components-react/widgets/common/useWidget.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetCreateTriggerForm.m.less
  app/components-react/widgets/reactive-widget/ReactiveWidgetCreateTriggerForm.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetGameSettings.m.less
  app/components-react/widgets/reactive-widget/ReactiveWidgetGameSettings.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.m.less
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetTriggerDetails.m.less
  app/components-react/widgets/reactive-widget/ReactiveWidgetTriggerDetails.tsx
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
  app/services/widgets/widget-source.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

refactor reactive widget settings (WIP)
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add css for obs import and login
  app/components-react/modals/onboarding/Common.m.less
  app/components-react/modals/onboarding/Login.tsx
  app/components-react/modals/onboarding/OBSImport.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/Splash.tsx
  media/images/onboarding/ai-highlighter.png
  media/images/onboarding/cloud-backup.png
  media/images/onboarding/isa.png
  media/images/onboarding/multistream.png
  media/images/onboarding/premium-overlays.png
  media/images/onboarding/reactive-overlays.png
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Build out devices form
  app/components-react/modals/onboarding/Devices.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Expand dual output tests.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

rename some types, use .actions
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/windows/reactive-data-editor/ReactiveDataEditorWindow.tsx
  app/components/shared/ReactComponentList.tsx
  app/services/sources/sources.ts
  app/services/vision/index.ts
  app/util/menus/EditMenu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

renaming UserState to ReactiveData
  app/app-services.ts
  app/components-react/windows/reactive-data-editor/ReactiveDataEditorWindow.tsx
  app/services/reactive-data/index.ts
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

moving type back to it's own file, circular reference issue
  app/components-react/windows/reactive-data-editor/ReactiveDataEditorWindow.tsx
  app/components/shared/ReactComponentList.tsx
  app/services/reactive-data/index.ts
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Membership test widget updates sponsors.
  app/services/widgets/widgets-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update membership and member gift goal widgets.
  app/components-react/widgets/useAlertBox.tsx
  app/components-react/windows/source-showcase/SourceGrid.tsx
  app/services/platforms/twitch.ts
  app/services/recent-events.ts
  app/services/streaming/stream-error.ts
  app/services/streamlabels/index.ts
  app/services/websocket.ts
  app/services/widgets/alerts-config.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

adding type file back in
  app/components-react/windows/reactive-data-editor/types.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

not the ideal Realm solution, but it works for the time being. will try new ideas after this commit
  app/components-react/windows/reactive-data-editor/ReactiveDataEditorWindow.tsx
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add details to log for non-JSON response.
  app/util/requests.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.69dsh3
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.69dsh3 (#5682)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.1-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Bump libOBS to 0.25.71 (mac choppy audio fix)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Expand dual output tests. (#5680)
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OSN 0.26.1test2
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Finalize themes page
  app/components-react/modals/onboarding/Login.tsx
  app/components-react/modals/onboarding/OBSImport.tsx
  app/components-react/modals/onboarding/Themes.m.less
  app/components-react/modals/onboarding/Themes.tsx
  app/services/onboarding/onboarding-v2.ts
  app/services/onboarding/theme-metadata.ts
  media/images/onboarding/dual-output.png
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Unify platform api request errors.
  app/services/platforms/facebook.ts
  app/services/platforms/kick.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/trovo.ts
  app/services/platforms/twitch.ts
  app/services/platforms/twitter.ts
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Navigate properly
  app/components-react/modals/onboarding/Themes.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix devices not showing up
  app/components-react/modals/onboarding/Devices.tsx
  app/components-react/modals/onboarding/OBSImport.tsx
  app/components-react/pages/onboarding/HardwareSetup.m.less
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Style ultra page
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/Ultra.m.less
  app/components-react/modals/onboarding/Ultra.tsx
  app/components-react/shared/UltraBox.tsx
  app/services/app/app.ts
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

tab routing, types (WIP)
  app/components-react/widgets/ReactiveWidget.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetCreateTriggerForm.tsx
  app/components-react/widgets/reactive-widget/ReactiveWidgetMenu.tsx
  app/components-react/widgets/reactive-widget/reactiveWidgetRouting.ts
  app/components-react/widgets/reactive-widget/useReactiveWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: dual output editor command tests.
  test/regular/api/dual-output.ts
  test/regular/undo.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for dual output ultra test.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update crash handler to fix memory dump upload
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add some json caching, improve typing
  app/components-react/windows/reactive-data-editor/ReactiveDataEditorWindow.tsx
  app/services/reactive-data/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.73
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update crash handler to fix memory dump upload (#5685)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.73 (#5686)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.1-preview.2
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for dual output scene collection folder undo/redo.
  app/services/dual-output/dual-output.ts
  app/services/editor-commands/commands/create-folder.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add recording login
  app/components-react/modals/onboarding/OBSImport.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/modals/onboarding/RecordingLogin.tsx
  app/components-react/modals/onboarding/Ultra.m.less
  app/services/app/app.ts
  app/services/onboarding/onboarding-v2.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix remove node map entries.
  app/services/dual-output/dual-output.ts
  app/services/editor-commands/commands/copy-nodes.ts
  app/services/editor-commands/commands/create-folder.ts
  app/services/platform-apps/api/modules/scenes.ts
  app/services/scene-collections/scene-collections.ts
  app/services/scene-collections/state.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix nesting scene nodes when creating folder.
  app/services/dual-output/dual-output.ts
  app/services/editor-commands/commands/create-folder.ts
  app/services/scene-collections/scene-collections.ts
  app/services/scene-collections/state.ts
  app/services/scenes/scenes.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix remove folder undo bug.
  app/services/editor-commands/commands/remove-folder.ts
  app/services/editor-commands/commands/remove-nodes.ts
  app/services/selection/global-selection.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix race condition when naming folder.
  app/components-react/editor/elements/SourceSelector.tsx
  app/components-react/windows/NameFolder.tsx
  app/services/dual-output/dual-output.ts
  app/services/scenes/scenes.ts
  app/util/menus/EditMenu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove dual output editor tests WIP.
  test/regular/api/dual-output.ts
  test/regular/undo.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
