Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Fix Auto Optimizer. Enable bandwidth probes across stream configurations
  app/components-react/shared/auto-optimizer/AutoOptimizerResults.tsx
  app/components-react/shared/auto-optimizer/ConnectedAutoOptimizer.tsx
  app/components-react/shared/auto-optimizer/presentation.ts
  app/i18n/en-US/streaming.json
  app/services/auto-optimizer/probe-policy.ts
  app/services/auto-optimizer/probe-resources.ts
  app/services/auto-optimizer/request-builder.ts
  app/services/auto-optimizer/result-acceptance.ts
  app/services/auto-optimizer/result-policy.ts
  app/services/auto-optimizer/stream-setup.ts
  test/regular/auto-optimizer-presentation.ts
  test/regular/auto-optimizer-probe-policy.ts
  test/regular/auto-optimizer-probe-resources.ts
  test/regular/auto-optimizer-request-builder.ts
  test/regular/auto-optimizer-result-acceptance.ts
  test/regular/auto-optimizer-stream-setup.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

fix: drag left-hand layout dividers in the direction of the cursor [Asana: 1218106387756538]
  app/components-react/root/ResizeBar.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: show one heading when OBS splits a settings sub-category [Asana: 1214236759482287]
  app/components-react/obs/ObsForm.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

perf: apply a display's video settings to its OBS context once when establishing it
  app/services/settings-v2/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: read marker hotkey labels through a bound view so renamed markers persist in Settings [Asana: 1218196376255892]
  app/components-react/shared/HotkeyBinding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: persist the Highlighter replay hotkey as soon as it is bound so Settings > Hotkeys shows it [Asana: 1218196376255891]
  app/components-react/highlighter/SettingsView.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: reset the streaming instance count when a Twitch dual-format stream stops [Asana: 1215986725462801]
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: catch YouTube update errors in the Stream Scheduler so Go Live does not spin forever [Asana: 1215733561102742]
  app/components-react/pages/stream-scheduler/useStreamScheduler.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: make the resize bar's complementary inversion opt-in so the left live dock keeps its direction
  app/components-react/editor/layouts/OnePane.tsx
  app/components-react/editor/layouts/Triplets.tsx
  app/components-react/editor/layouts/TwoPane.tsx
  app/components-react/root/ResizeBar.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: list X among the Follower Goal's platforms so X-only users can add the widget its copy now advertises
  app/services/widgets/widgets-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: report a failed scheduler save so Go Live stops instead of opening the Go Live window
  app/components-react/pages/stream-scheduler/useStreamScheduler.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: write OBS form edits back to the section's original index, not its rendered position
  app/components-react/obs/ObsForm.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: reset platform go-live settings on every account-replacing logout path, not only logOut()
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

test: cover discarding a new transition when its editor is dismissed without Done
  test/regular/transitions.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: let the settings watcher persist the reset instead of removing a localStorage key it immediately rewrites
  app/services/platforms/base-platform.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: clear the inspected transition only after the editor modal has closed
  app/components-react/windows/scene-transitions/index.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

perf: stop rendering the preview and drawing the audio meters while the main window is minimized
  app/components-react/editor/elements/mixer/GLVolmeters.tsx
  app/components-react/shared/Display.tsx
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(audio): compare, don't assign, when finding a volmeter channel to unsubscribe
  app/services/audio/audio.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

perf(mixer): stop re-mounting the whole mixer on every re-render
  app/components-react/editor/elements/Mixer.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(automations): address scene limit review feedback
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/services/stream-avatar/automations-engine-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(automations): reset scene-limited cache on scene switch
  app/services/stream-avatar/automations-engine-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Manually merge master into mw_yt_both_rtmp_vertical
  app/services/settings/settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix stream shift disable enhanced broadcasting and clarity refactor. (#6198)
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update Copilot review instructions. (#6197)
  .github/instructions/component-service-calls.instructions.md
  .github/instructions/dual-stream.instructions.md
  .github/instructions/instructions.instructions.md
  .github/instructions/package-dependencies.instructions.md
  .github/instructions/revert-safety.instructions.md
  .github/instructions/rxjs-unsubscribe.instructions.md
  .github/instructions/test-selectors.instructions.md
  .github/instructions/translations.instructions.md
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Implement reconnect logic and token refresh for KevinSupportService (#6203)
  app/services/stream-avatar/kevin-support-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(restream): stop multistream chat from wiping itself when Desktop is minimized (#6215)
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: restore !important flags, keep :global removal
  app/components-react/root/ShareStreamLink.m.less
Owners: @yusukess, @kechino

Update osn: Update obs-studio-node to v0.27.18
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Updated OSN to v0.27.18
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: decrement the streaming instance count as each streaming instance is destroyed [Asana: 1215986725462801]
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: keep other hotkeys bound after setting the replay hotkey, and forget the pending one once a stream ends [Asana: 1218196376255891]
  app/components-react/highlighter/SettingsView.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor: move the clickable caret into PrimaryChatSwitcher behind a caretIcon prop [Asana: 1217915916343478]
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: only uncount streaming instances that were counted on Start [Asana: 1215986725462801]
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.22.0-preview.12
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Isolate Dual Output services and refresh retained VOD settings (#6211)
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
  scripts/repositories.json
  test/regular/streaming/reconnect-lifecycle.ts
  test/regular/streaming/streaming-service-settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix test to assume live editing is active
  app/components-react/shared/StreamShiftToggle.tsx
  test/regular/streaming/go-live-window.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove naive fix attempt changing the directory structure
  test/performance/tests/performance-tests.ts
  test/regular/highlighter.ts
  test/regular/recording.ts
  test/regular/replay-buffer.ts
  test/regular/selective-recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Shutdown video thread before the Scene
  app/services/app/app.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix fatal error for missing bundle when fetching source maps
  updater/bundle-updater.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update Vue sliders to not use util.isString (removed)
  app/components/shared/inputs/SliderInput.vue.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
