Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations dual-output.json (Arabic)
  app/i18n/ar-SA/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Czech)
  app/i18n/cs-CZ/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Danish)
  app/i18n/da-DK/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (German)
  app/i18n/de-DE/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Hungarian)
  app/i18n/hu-HU/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Italian)
  app/i18n/it-IT/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Japanese)
  app/i18n/ja-JP/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Korean)
  app/i18n/ko-KR/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Macedonian)
  app/i18n/mk-MK/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Dutch)
  app/i18n/nl-NL/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Polish)
  app/i18n/pl-PL/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Portuguese)
  app/i18n/pt-PT/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Russian)
  app/i18n/ru-RU/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Slovak)
  app/i18n/sk-SK/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Slovenian)
  app/i18n/sl-SI/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Swedish)
  app/i18n/sv-SE/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Turkish)
  app/i18n/tr-TR/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Chinese Simplified)
  app/i18n/zh-CN/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Chinese Traditional)
  app/i18n/zh-TW/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Vietnamese)
  app/i18n/vi-VN/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Portuguese, Brazilian)
  app/i18n/pt-BR/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Indonesian)
  app/i18n/id-ID/dual-output.json
Owners: @takuhiro-koyama

New translations dual-output.json (Thai)
  app/i18n/th-TH/dual-output.json
Owners: @takuhiro-koyama

Skip Enhnaced Broadcasting test.
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix connection settings reactivity
  app/components-react/windows/scene-transitions/ConnectionSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix destroy enhanced broadcasting instances and error handling.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove check for second signal from dual output ultra test.
  test/helpers/modules/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for strictnulls.
  app/components-react/windows/go-live/GoLiveError.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove dual output from selective recording test.
  test/regular/selective-recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Re-enable Enhanced Broadcasting test.
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Disable enhanced broadcasting test.
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

hide deprecated widgets from source grid
  app/components-react/windows/source-showcase/SourceGrid.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix more settings issues
  app/components-react/windows/scene-transitions/ConnectionSettings.tsx
  app/components-react/windows/scene-transitions/ConnectionsTable.tsx
  app/components-react/windows/scene-transitions/TransitionSettings.tsx
  app/components-react/windows/scene-transitions/TransitionsTable.tsx
  app/components-react/windows/scene-transitions/index.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update youtube.ts
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for dual output and enhanced broadcasting.
  app/components-react/root/StartStreamingButton.tsx
  app/i18n/en-US/dual-output.json
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add YouTube dual stream to test.
  test/regular/streaming/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Re-enable Twitch Enhanced Broadcasting test.
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

renaming
  app/components-react/highlighter/InstallationFlow.tsx
  app/components-react/highlighter/MigrationNotice.tsx
  app/services/highlighter/constants.ts
  app/services/highlighter/index.ts
  app/services/incremental-rollout.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Test add delay.
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix crash for vertical display and enhanced broadcasting.
  app/services/streaming/streaming.ts
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
