Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Fix theme thumbnails in new onboarding
  app/components-react/modals/onboarding/Themes.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show NDI runtime module load notifications
  app/app-services.ts
  app/services/app/app.ts
  app/services/notifications/notifications-api.ts
  app/services/notifications/notifications.ts
  app/services/obs-module-load-notifications-service.ts
  app/services/obs-module-load-notifications.ts
  test/regular/obs-module-load-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OSN version update
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Address CR
  app/components-react/windows/scene-transitions/TransitionSettings.tsx
  app/components-react/windows/scene-transitions/TransitionsTable.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixed eslint
  app/services/obs-module-load-notifications.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix test selector
  test/helpers/modules/forms/list.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Port SceneTransitions to React (#5750)
  app/components-react/index.ts
  app/components-react/shared/ModalLayout.tsx
  app/components-react/windows/scene-transitions/ConnectionSettings.tsx
  app/components-react/windows/scene-transitions/ConnectionsTable.tsx
  app/components-react/windows/scene-transitions/SceneTransitions.m.less
  app/components-react/windows/scene-transitions/TransitionSettings.tsx
  app/components-react/windows/scene-transitions/TransitionsTable.tsx
  app/components-react/windows/scene-transitions/index.tsx
  app/components/ConnectionSettings.tsx
  app/components/TransitionSettings.vue
  app/components/TransitionSettings.vue.ts
  app/components/obs/inputs/AdvancedOutputTabs.vue
  app/components/obs/inputs/AdvancedOutputTabs.vue.ts
  app/components/shared/ReactComponentList.tsx
  app/components/windows/SceneTransitions.vue
  app/components/windows/SceneTransitions.vue.ts
  app/i18n/en-US/transitions.json
  app/services/transitions.ts
  app/services/windows.ts
  test/helpers/modules/forms/list.ts
  test/helpers/webdriver/modals.ts
  test/regular/transitions.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Fix theme thumbnails in new onboarding (#5979)
  app/components-react/modals/onboarding/Themes.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations transitions.json (French)
  app/i18n/fr-FR/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Spanish)
  app/i18n/es-ES/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Arabic)
  app/i18n/ar-SA/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Czech)
  app/i18n/cs-CZ/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Danish)
  app/i18n/da-DK/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (German)
  app/i18n/de-DE/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Hungarian)
  app/i18n/hu-HU/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Italian)
  app/i18n/it-IT/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Japanese)
  app/i18n/ja-JP/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Korean)
  app/i18n/ko-KR/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Macedonian)
  app/i18n/mk-MK/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Dutch)
  app/i18n/nl-NL/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Polish)
  app/i18n/pl-PL/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Portuguese)
  app/i18n/pt-PT/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Russian)
  app/i18n/ru-RU/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Slovak)
  app/i18n/sk-SK/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Slovenian)
  app/i18n/sl-SI/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Swedish)
  app/i18n/sv-SE/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Turkish)
  app/i18n/tr-TR/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Chinese Simplified)
  app/i18n/zh-CN/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Chinese Traditional)
  app/i18n/zh-TW/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Vietnamese)
  app/i18n/vi-VN/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Portuguese, Brazilian)
  app/i18n/pt-BR/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Indonesian)
  app/i18n/id-ID/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Thai)
  app/i18n/th-TH/transitions.json
Owners: @takuhiro-koyama

Fix luma wipe transition
  app/components-react/obs/ObsForm.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/i18n/en-US/transitions.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix luma wipe transition (#5981)
  app/components-react/obs/ObsForm.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/i18n/en-US/transitions.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix float max
  app/components-react/obs/ObsForm.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix float max (#5982)
  app/components-react/obs/ObsForm.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations transitions.json (French)
  app/i18n/fr-FR/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Spanish)
  app/i18n/es-ES/transitions.json
Owners: @takuhiro-koyama

New translations transitions.json (Arabic)
  app/i18n/ar-SA/transitions.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
