Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations widget-sponsor-banner.json (Chinese Simplified)
  app/i18n/zh-CN/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Chinese Traditional)
  app/i18n/zh-TW/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Vietnamese)
  app/i18n/vi-VN/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Portuguese, Brazilian)
  app/i18n/pt-BR/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Indonesian)
  app/i18n/id-ID/widget-sponsor-banner.json
Owners: @takuhiro-koyama

New translations widget-sponsor-banner.json (Thai)
  app/i18n/th-TH/widget-sponsor-banner.json
Owners: @takuhiro-koyama

Add beta badge.
  app/components-react/shared/DismissableBadge.tsx
  app/components-react/shared/StreamShiftToggle.m.less
  app/components-react/shared/StreamShiftToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

feat(vision): added onVisionStateChanged & onVisionGameChanged
  app/services/platform-apps/api/modules/vision.ts
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Stream ends when receiving completed event.
  app/components-react/root/StartStreamingButton.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move kick error.
  app/services/platforms/kick.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix handling YouTube with auto start disabled with stream shift.
  app/i18n/en-US/facebook.json
  app/i18n/en-US/kick.json
  app/i18n/en-US/tiktok.json
  app/i18n/en-US/trovo.json
  app/i18n/en-US/twitch.json
  app/i18n/en-US/twitter.json
  app/i18n/en-US/youtube.json
  app/services/platforms/youtube.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations sources.json (French)
  app/i18n/fr-FR/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Spanish)
  app/i18n/es-ES/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Czech)
  app/i18n/cs-CZ/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Danish)
  app/i18n/da-DK/sources.json
Owners: @takuhiro-koyama

New translations sources.json (German)
  app/i18n/de-DE/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Italian)
  app/i18n/it-IT/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Japanese)
  app/i18n/ja-JP/sources.json
Owners: @takuhiro-koyama

New translations youtube.json (French)
  app/i18n/fr-FR/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Spanish)
  app/i18n/es-ES/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Czech)
  app/i18n/cs-CZ/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Danish)
  app/i18n/da-DK/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (German)
  app/i18n/de-DE/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Italian)
  app/i18n/it-IT/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Japanese)
  app/i18n/ja-JP/youtube.json
Owners: @takuhiro-koyama

New translations sources.json (Korean)
  app/i18n/ko-KR/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Dutch)
  app/i18n/nl-NL/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Polish)
  app/i18n/pl-PL/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Portuguese)
  app/i18n/pt-PT/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Russian)
  app/i18n/ru-RU/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Turkish)
  app/i18n/tr-TR/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Chinese Simplified)
  app/i18n/zh-CN/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Chinese Traditional)
  app/i18n/zh-TW/sources.json
Owners: @takuhiro-koyama

New translations sources.json (Portuguese, Brazilian)
  app/i18n/pt-BR/sources.json
Owners: @takuhiro-koyama

New translations youtube.json (Korean)
  app/i18n/ko-KR/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Dutch)
  app/i18n/nl-NL/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Polish)
  app/i18n/pl-PL/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Portuguese)
  app/i18n/pt-PT/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Russian)
  app/i18n/ru-RU/youtube.json
Owners: @takuhiro-koyama

New translations youtube.json (Turkish)
  app/i18n/tr-TR/youtube.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
