Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

use twitch game_name instead of game id (#5949)
  app/services/highlighter/index.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.28
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "use twitch game_name instead of game id (#5949)"
  app/services/highlighter/index.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "use twitch game_name instead of game id (#5949)" (#5952)
  app/services/highlighter/index.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

surface video-context init failures from establishVideoContext
  app/services/settings-v2/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Reset native mediasoup transceiver on Collab Cam teardown
  app/services/guest-cam/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.28
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Seed horizontal video context with defaults when canvas reads back 0x0
  app/services/settings-v2/default-settings-data.ts
  app/services/settings-v2/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Use 1280x720 (not 1920x1080) for horizontal seed defaults
  app/services/settings-v2/default-settings-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix prettier formatting in seed-defaults block
  app/services/settings-v2/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update recording instance format to current format
  app/services/settings/output/encoder-query.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

osn 0.26.28 + #5941 + #5943 (#5953)
  app/services/guest-cam/index.ts
  app/services/settings-v2/default-settings-data.ts
  app/services/settings-v2/video.ts
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.3-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add null check for getRecordingInstance() result
  app/services/settings/output/encoder-query.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

reverse change from copilot
  app/services/settings/output/encoder-query.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.21.3
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update components.
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/AdvancedSettingsSwitch.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GameSelector.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
  app/components-react/windows/go-live/RecordingSwitcher.m.less
  app/components-react/windows/go-live/Section.tsx
  app/components-react/windows/go-live/Twitter.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

test
  test/regular/api/encoder-query.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Form optimizations and add Twitch missing fields.
  app/components-react/pages/stream-scheduler/StreamScheduler.tsx
  app/components-react/windows/go-live/CustomFieldsCheckbox.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/platforms/FacebookEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/InstagramEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TrovoEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TwitterEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update tests.
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Move stream shift check to go live window.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/i18n/en-US/streaming.json
  app/services/restream.ts
  app/services/settings/settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Recording Switcher styling.
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/windows/go-live/RecordingSwitcher.m.less
  app/components-react/windows/go-live/RecordingSwitcher.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor code into same if statement
  app/services/settings/output/encoder-query.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add UI test to verify correct recording format saved
  test/regular/recording-format-mode-switch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix overlay url regression (#5942)
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix dual output mode and move stream shift check into Go Live window.
  app/components-react/windows/go-live/GoLiveChecklist.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/mk-MK/streaming.json
  app/services/platforms/youtube.ts
  app/services/restream.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Revert "add UI test to verify correct recording format saved"
  test/regular/recording-format-mode-switch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "test"
  test/regular/api/encoder-query.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix update Twitch game.
  app/components-react/windows/go-live/GameSelector.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for AI Highlighter.
  app/components-react/windows/go-live/GameSelector.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update recording instance format to current format (#5954)
  app/services/settings/output/encoder-query.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix update and ai highlighter going live.
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/services/platforms/twitch.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix AI highlighter.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/highlighter/index.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: AI Highlighter test.
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Ai highlighter start/stop.
  app/services/highlighter/index.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

super edge case when highlighter was removed without unregistering protocol
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for stream shift.
  app/components-react/modals.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/i18n/en-US/streaming.json
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Add events and live status to Stream Shift test.
  app/components-react/root/StartStreamingButton.tsx
  app/services/restream.ts
  app/services/websocket.ts
  test/helpers/modules/streaming.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for strictnulls.
  app/services/platforms/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feature flag edge case
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/StreamView.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
