Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations kick.json (Portuguese, Brazilian)
  app/i18n/pt-BR/kick.json
Owners: @takuhiro-koyama

New translations kick.json (Indonesian)
  app/i18n/id-ID/kick.json
Owners: @takuhiro-koyama

WIP: investigate avatar and highlighter replay buffer enabled by default.
  app/components-react/root/StudioFooter.tsx
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[Mac crash fix] do not resize with 0 width/height (#5536)
  app/services/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix YouTube chat not showing when multistreaming.
  app/services/platforms/index.ts
  app/services/platforms/youtube.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

UI polishes.
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/shared/inputs/CheckboxInput.tsx
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/platforms/TikTokEditStreamInfo.m.less
  app/components-react/windows/go-live/platforms/TiktokEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.m.less
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/components-react/windows/go-live/platforms/YouTubeEditStreamInfo.m.less
  app/components-react/windows/go-live/platforms/YoutubeEditStreamInfo.tsx
  app/i18n/en-US/stream-switcher.json
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Refine advanced mode conditional.
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix switcher using multistream platform settings UI.
  app/components-react/windows/go-live/AdvancedSettingsSwitch.tsx
  app/components-react/windows/go-live/DestinationSelector.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

starting race condition
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix event filter
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

do not resize destroyed windows
  app/services/video.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

bump OSN to 0.25.52
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[mac] do not resize a destroyed window (#5539)
  app/services/video.ts
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add method to support A/B testing (#5532)
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Clean up platform logic dealing with lviedock features (#5401)
  app/components-react/root/LiveDock.tsx
  app/services/platforms/base-platform.ts
  app/services/platforms/facebook.ts
  app/services/platforms/index.ts
  app/services/platforms/instagram.ts
  app/services/platforms/kick.ts
  app/services/platforms/tiktok.ts
  app/services/platforms/trovo.ts
  app/services/platforms/twitch.ts
  app/services/platforms/twitter.ts
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Vertical display highlighter support.
  app/components-react/root/StudioFooter.tsx
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Disable vertical recording when using highlighter.
  app/components-react/root/StudioFooter.tsx
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix check for replay buffer instance when stopping replay buffer.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Delete ~/.cache/streamlabs-vision on uninstall
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

re-enable virtualcam / keep provisioning profile disabled (#5524)
  app/services/virtual-webcam.ts
  electron-builder/afterPack.js
  electron-builder/entitlements.plist
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.4-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(vision): expose the module + add methods for avatar
  app/services/platform-apps/api/index.ts
  app/services/platform-apps/api/modules/vision.ts
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Text sources versioning. Fix blurry text
  app/components/obs/inputs/ObsFontSizeSelector.vue.ts
  app/services/sources/sources.ts
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Delete ~/.cache/streamlabs-vision on uninstall (#5540)
  installer.nsh
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add scene collection load time log. (#5535)
  app/services/app/app.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Make sure show/hide hotkeys handle both horizontal and vertical outputs (#5531)
  app/services/hotkeys.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restore Share Stream Link
  app/components-react/root/LiveDock.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Restore Share Stream Link (#5543)
  app/components-react/root/LiveDock.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add styling and hook up service
  app/components-react/index.ts
  app/components-react/windows/MarketingModal.m.less
  app/components-react/windows/MarketingModal.tsx
  app/i18n/en-US/promotional-copy.json
  app/services/announcements.ts
  app/services/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

show warning box if virtual cam is selected on older macos
  app/i18n/en-US/settings.json
  app/services/virtual-webcam.ts
  package.json
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

embed profile + get error code from backend
  app/services/virtual-webcam.ts
  electron-builder/build-mac-virtualcam.js
  electron-builder/entitlements.plist
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix eslint issue
  app/services/virtual-webcam.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

mac-virtualcam: fix invalid code signature + show popup (#5545)
  app/i18n/en-US/settings.json
  app/services/virtual-webcam.ts
  electron-builder/build-mac-virtualcam.js
  electron-builder/entitlements.plist
  package.json
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.4-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations settings.json (French)
  app/i18n/fr-FR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Spanish)
  app/i18n/es-ES/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Czech)
  app/i18n/cs-CZ/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Danish)
  app/i18n/da-DK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (German)
  app/i18n/de-DE/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Italian)
  app/i18n/it-IT/settings.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
