Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Handle new reactive data source.
  app/services/sources/properties-managers/smart-browser-source-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix normaliz url for both new and existing reactive sources.
  app/services/sources/properties-managers/smart-browser-source-manager.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Always show displays in hotkeys.
  app/components-react/shared/HotkeyBinding.tsx
  app/components-react/windows/settings/HotkeyGroup.tsx
  app/components-react/windows/settings/Hotkeys.tsx
  app/services/dual-output/dual-output.ts
  app/services/hotkeys.ts
  app/services/scenes/scenes.ts
  app/services/selection/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix source hotkeys.
  app/components-react/windows/settings/HotkeyGroup.tsx
  app/components-react/windows/settings/Hotkeys.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for strictnulls.
  app/components-react/windows/settings/HotkeyGroup.tsx
  app/services/scenes/scenes.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Removed log.
  app/services/scenes/scenes.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix hotkey filter by display and hotkey test.
  app/components-react/shared/HotkeyBinding.tsx
  app/components-react/windows/settings/HotkeyGroup.tsx
  app/components-react/windows/settings/Hotkeys.tsx
  test/regular/settings/hotkeys.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Remove dual output toggle from video settings."
  app/components-react/windows/settings/Video.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Remove display toggles from scene selector."
  app/components-react/editor/elements/SceneSelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Remove dual output toggle from source selector."
  app/components-react/editor/elements/SourceSelector.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Add display toggles to editor display header."
  app/components-react/root/StudioEditor.m.less
  app/components-react/root/StudioEditor.tsx
  app/i18n/en-US/dual-output.json
  app/i18n/fallback.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Feat/reactive data editor (#5667)
  app/app-services.ts
  app/components-react/index.ts
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.m.less
  app/components-react/windows/reactive-data-editor/ReactiveDataEditor.tsx
  app/components-react/windows/reactive-data-editor/ReactiveDataEditorWindow.tsx
  app/components-react/windows/reactive-data-editor/types.ts
  app/components/shared/ReactComponentList.tsx
  app/i18n/en-US/common.json
  app/index.d.ts
  app/services/reactive-data/index.ts
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/sources/sources.ts
  app/services/vision/index.ts
  app/services/windows.ts
  app/util/dot-tree.ts
  app/util/menus/EditMenu.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Refactor hotkeys to always show dual output displays. (#5765)
  app/components-react/shared/HotkeyBinding.tsx
  app/components-react/windows/settings/HotkeyGroup.tsx
  app/components-react/windows/settings/Hotkeys.tsx
  app/services/dual-output/dual-output.ts
  app/services/hotkeys.ts
  app/services/scenes/scenes.ts
  app/services/selection/index.ts
  test/regular/settings/hotkeys.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations common.json (French)
  app/i18n/fr-FR/common.json
Owners: @takuhiro-koyama

New translations common.json (Spanish)
  app/i18n/es-ES/common.json
Owners: @takuhiro-koyama

New translations common.json (Arabic)
  app/i18n/ar-SA/common.json
Owners: @takuhiro-koyama

New translations common.json (Czech)
  app/i18n/cs-CZ/common.json
Owners: @takuhiro-koyama

New translations common.json (Danish)
  app/i18n/da-DK/common.json
Owners: @takuhiro-koyama

New translations common.json (German)
  app/i18n/de-DE/common.json
Owners: @takuhiro-koyama

New translations common.json (Hungarian)
  app/i18n/hu-HU/common.json
Owners: @takuhiro-koyama

New translations common.json (Italian)
  app/i18n/it-IT/common.json
Owners: @takuhiro-koyama

New translations common.json (Japanese)
  app/i18n/ja-JP/common.json
Owners: @takuhiro-koyama

New translations common.json (Korean)
  app/i18n/ko-KR/common.json
Owners: @takuhiro-koyama

New translations common.json (Macedonian)
  app/i18n/mk-MK/common.json
Owners: @takuhiro-koyama

New translations common.json (Dutch)
  app/i18n/nl-NL/common.json
Owners: @takuhiro-koyama

New translations common.json (Polish)
  app/i18n/pl-PL/common.json
Owners: @takuhiro-koyama

New translations common.json (Portuguese)
  app/i18n/pt-PT/common.json
Owners: @takuhiro-koyama

New translations common.json (Russian)
  app/i18n/ru-RU/common.json
Owners: @takuhiro-koyama

New translations common.json (Slovak)
  app/i18n/sk-SK/common.json
Owners: @takuhiro-koyama

New translations common.json (Slovenian)
  app/i18n/sl-SI/common.json
Owners: @takuhiro-koyama

New translations common.json (Swedish)
  app/i18n/sv-SE/common.json
Owners: @takuhiro-koyama

New translations common.json (Turkish)
  app/i18n/tr-TR/common.json
Owners: @takuhiro-koyama

New translations common.json (Chinese Simplified)
  app/i18n/zh-CN/common.json
Owners: @takuhiro-koyama

New translations common.json (Chinese Traditional)
  app/i18n/zh-TW/common.json
Owners: @takuhiro-koyama

New translations common.json (Vietnamese)
  app/i18n/vi-VN/common.json
Owners: @takuhiro-koyama

New translations common.json (Portuguese, Brazilian)
  app/i18n/pt-BR/common.json
Owners: @takuhiro-koyama

New translations common.json (Indonesian)
  app/i18n/id-ID/common.json
Owners: @takuhiro-koyama

New translations common.json (Thai)
  app/i18n/th-TH/common.json
Owners: @takuhiro-koyama

Fix support settings ui.
  app/components-react/windows/settings/Support.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add display toggles to editor display header.
  app/components-react/root/StudioEditor.m.less
  app/components-react/root/StudioEditor.tsx
  app/i18n/en-US/dual-output.json
  app/i18n/fallback.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama
