Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @yusukess, @kechino

Increase loadtime for skipOnboarding
  test/helpers/modules/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OneCommeRelationのインポート順を整理
  app/services/nicolive-program/nicolive-program.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Single and dual output recording switcher.
  app/components-react/shared/inputs/SwitchInput.m.less
  app/components-react/shared/inputs/SwitchInput.tsx
  app/components-react/windows/go-live/RecordingSwitcher.m.less
  app/components-react/windows/go-live/RecordingSwitcher.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update single and dual output recording switch.
  app/components-react/editor/elements/SceneSelector.tsx
  app/components-react/shared/DisplayToggle.tsx
  app/components-react/shared/inputs/SwitchInput.m.less
  app/components-react/windows/go-live/RecordingSwitcher.m.less
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/i18n/en-US/streaming.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani

go-live flow modal adjustments
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/StreamView.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Copy Library/SystemExtensions folder into base app
  electron-builder/afterPack.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add interfaces, consts, subjects, and getters for recording and replay buffer migration.
  app/services/api/external-api/streaming/streaming.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add go live recording test.
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  test/helpers/modules/core.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

removed unnecessary console logs
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.0-preview.5
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[Highlighter] - performance improvements (#5370)
  app/components-react/highlighter/ClipPreview.tsx
  app/components-react/highlighter/ClipsView.tsx
  app/components-react/highlighter/Export/ExportModal.tsx
  app/components-react/highlighter/PreviewModal.tsx
  app/components-react/highlighter/StreamCard.tsx
  app/components-react/highlighter/StreamCardModal.tsx
  app/components-react/highlighter/StreamView.tsx
  app/components-react/pages/Highlighter.tsx
  app/services/highlighter/highlighter-views.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/highlighter.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(youtube): sync vertical broadcast info with horizontal (#5399)
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove "Developer ID Application: " prefix
  electron-builder/afterPack.js
  electron-builder/beforePack.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fixed styling
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani

fixed missing background in modal
  app/components-react/highlighter/StreamCardModal.tsx
  app/components-react/highlighter/StreamView.m.less
  app/components-react/highlighter/StreamView.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

smaller adjustments
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/StreamView.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/models/game-config.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani

adjusted tiktok position
  app/components-react/highlighter/ImportStream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

cssncleanup
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/StreamView.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Recording go live toggle UI for AI Highlighter.
  app/components-react/shared/ToolTip.m.less
  app/components-react/shared/Tooltip.tsx
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/i18n/en-US/streaming.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

Remove dual output conditional.
  app/components-react/windows/go-live/GoLiveWindow.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move apply prompt to notifications area.
  app/components-react/windows/go-live/GoLiveInfoBanner.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/tiktok.json
  app/services/dismissables.ts
  app/services/platforms/tiktok.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

OneCommeサービス新規作成時にenabledを一時的にfalseに設定するロジックを追加
  app/services/nicolive-program/OneCommeRelation.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix date difference calculation.
  app/services/platforms/tiktok.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix TikTok go live error.
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Move apply prompt to notifications area. (#5407)
  app/components-react/windows/go-live/GoLiveInfoBanner.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/tiktok.json
  app/services/dismissables.ts
  app/services/platforms/tiktok.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

Add interfaces, consts, subjects, and getters for recording and replay buffer migration. (#5404)
  app/services/api/external-api/streaming/streaming.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix TikTok test.
  test/regular/streaming/tiktok.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added overwatch 2
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove return.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  test/regular/streaming/tiktok.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix TikTok go live error. (#5408)
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn to v0.25.28
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OneCommeサービスの接続処理を修正
  app/services/nicolive-program/OneCommeRelation.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add recording to saved go live settings and fix some type errors.
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Convert dual output recording toggles to radio buttons.
  app/components-react/shared/DisplayToggle.tsx
  app/components-react/shared/DualOutputToggle.m.less
  app/components-react/shared/Tooltip.tsx
  app/components-react/shared/inputs/RadioInput.tsx
  app/components-react/windows/go-live/RecordingSwitcher.m.less
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/services/dual-output/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

feat(facebook): update API to v22.0 (#5402)
  app/services/platforms/facebook.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert fix streaming view type errors.
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

[Highlighter] - hype-modal (#5406)
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/StreamCardModal.tsx
  app/components-react/highlighter/StreamView.m.less
  app/components-react/highlighter/StreamView.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani

Hide recording switch in dual output mode.
  app/components-react/windows/go-live/GoLiveWindow.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.0-preview.6
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

console.logを削除
  app/services/nicolive-program/OneCommeRelation.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @yushinakatani
replace_rules.json @yushinakatani
/.github/CODEOWNERS @yushinakatani

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
