Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

New translations promotional-copy.json (Russian)
  app/i18n/ru-RU/promotional-copy.json
Owners: @takuhiro-koyama

New translations tiktok.json (Russian)
  app/i18n/ru-RU/tiktok.json
Owners: @takuhiro-koyama

New translations common.json (Turkish)
  app/i18n/tr-TR/common.json
Owners: @takuhiro-koyama

New translations settings.json (Turkish)
  app/i18n/tr-TR/settings.json
Owners: @takuhiro-koyama

New translations streaming.json (Turkish)
  app/i18n/tr-TR/streaming.json
Owners: @takuhiro-koyama

New translations recent-events.json (Turkish)
  app/i18n/tr-TR/recent-events.json
Owners: @takuhiro-koyama

New translations app.json (Turkish)
  app/i18n/tr-TR/app.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Turkish)
  app/i18n/tr-TR/promotional-copy.json
Owners: @takuhiro-koyama

New translations tiktok.json (Turkish)
  app/i18n/tr-TR/tiktok.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Simplified)
  app/i18n/zh-CN/settings.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Simplified)
  app/i18n/zh-CN/streaming.json
Owners: @takuhiro-koyama

New translations recent-events.json (Chinese Simplified)
  app/i18n/zh-CN/recent-events.json
Owners: @takuhiro-koyama

New translations app.json (Chinese Simplified)
  app/i18n/zh-CN/app.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Chinese Simplified)
  app/i18n/zh-CN/promotional-copy.json
Owners: @takuhiro-koyama

New translations tiktok.json (Chinese Simplified)
  app/i18n/zh-CN/tiktok.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Traditional)
  app/i18n/zh-TW/settings.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Traditional)
  app/i18n/zh-TW/streaming.json
Owners: @takuhiro-koyama

New translations recent-events.json (Chinese Traditional)
  app/i18n/zh-TW/recent-events.json
Owners: @takuhiro-koyama

New translations app.json (Chinese Traditional)
  app/i18n/zh-TW/app.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Chinese Traditional)
  app/i18n/zh-TW/promotional-copy.json
Owners: @takuhiro-koyama

New translations tiktok.json (Chinese Traditional)
  app/i18n/zh-TW/tiktok.json
Owners: @takuhiro-koyama

New translations common.json (Portuguese, Brazilian)
  app/i18n/pt-BR/common.json
Owners: @takuhiro-koyama

New translations settings.json (Portuguese, Brazilian)
  app/i18n/pt-BR/settings.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations recent-events.json (Portuguese, Brazilian)
  app/i18n/pt-BR/recent-events.json
Owners: @takuhiro-koyama

New translations app.json (Portuguese, Brazilian)
  app/i18n/pt-BR/app.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Portuguese, Brazilian)
  app/i18n/pt-BR/promotional-copy.json
Owners: @takuhiro-koyama

New translations tiktok.json (Portuguese, Brazilian)
  app/i18n/pt-BR/tiktok.json
Owners: @takuhiro-koyama

New translations settings.json (Indonesian)
  app/i18n/id-ID/settings.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations recent-events.json (Indonesian)
  app/i18n/id-ID/recent-events.json
Owners: @takuhiro-koyama

New translations app.json (Indonesian)
  app/i18n/id-ID/app.json
Owners: @takuhiro-koyama

New translations promotional-copy.json (Indonesian)
  app/i18n/id-ID/promotional-copy.json
Owners: @takuhiro-koyama

New translations tiktok.json (Indonesian)
  app/i18n/id-ID/tiktok.json
Owners: @takuhiro-koyama

Refactor pages system
  app/components-react/obs/ObsForm.tsx
  app/components-react/windows/Settings.m.less
  app/components-react/windows/Settings.tsx
  app/components-react/windows/settings/AISettings.tsx
  app/components-react/windows/settings/Advanced.tsx
  app/components-react/windows/settings/Appearance.tsx
  app/components-react/windows/settings/Audio.tsx
  app/components-react/windows/settings/Developer.tsx
  app/components-react/windows/settings/Experimental.tsx
  app/components-react/windows/settings/GameOverlay.tsx
  app/components-react/windows/settings/General.tsx
  app/components-react/windows/settings/Mobile.tsx
  app/components-react/windows/settings/Multistreaming.tsx
  app/components-react/windows/settings/Notifications.tsx
  app/components-react/windows/settings/ObsSettings.m.less
  app/components-react/windows/settings/ObsSettings.tsx
  app/components-react/windows/settings/Output.tsx
  app/components-react/windows/settings/SceneCollections.tsx
  app/components-react/windows/settings/Stream.tsx
  app/components-react/windows/settings/Support.tsx
  app/components-react/windows/settings/Ultra.tsx
  app/components-react/windows/settings/Video.tsx
  app/components-react/windows/settings/VirtualWebcam.tsx
  app/components-react/windows/settings/useObsSettings.tsx
  app/components/obs/inputs/GenericFormGroups.vue.ts
  app/services/app/app.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fic imports
  app/components-react/index.ts
  app/components-react/windows/advanced-audio/GlobalSettings.tsx
  app/components/shared/ReactComponentList.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(vision): allow VLC executable to activate process in VisionService
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(vision): enhance VisionInfo to support QA bundle detection for VLC executable
  app/components-react/windows/settings/AISettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix settings navigation
  app/components-react/index.ts
  app/components-react/shared/ModalLayout.tsx
  app/components-react/shared/SearchablePages.tsx
  app/components-react/windows/Settings.m.less
  app/components-react/windows/Settings.tsx
  app/components/shared/ReactComponentList.tsx
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Add debounce to highlighter toggle.
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
