Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations settings.json (Japanese)
  app/i18n/ja-JP/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Korean)
  app/i18n/ko-KR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Dutch)
  app/i18n/nl-NL/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Polish)
  app/i18n/pl-PL/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Portuguese)
  app/i18n/pt-PT/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Russian)
  app/i18n/ru-RU/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Turkish)
  app/i18n/tr-TR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Simplified)
  app/i18n/zh-CN/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Chinese Traditional)
  app/i18n/zh-TW/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Portuguese, Brazilian)
  app/i18n/pt-BR/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Indonesian)
  app/i18n/id-ID/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Arabic)
  app/i18n/ar-SA/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Hungarian)
  app/i18n/hu-HU/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Macedonian)
  app/i18n/mk-MK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Slovak)
  app/i18n/sk-SK/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Slovenian)
  app/i18n/sl-SI/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Swedish)
  app/i18n/sv-SE/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Vietnamese)
  app/i18n/vi-VN/settings.json
Owners: @takuhiro-koyama

New translations settings.json (Thai)
  app/i18n/th-TH/settings.json
Owners: @takuhiro-koyama

Implemented Twitch dual streaming mode
  app/components-react/shared/ToolTip.m.less
  app/components-react/shared/Tooltip.tsx
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/streaming.json
  app/services/platforms/index.ts
  app/services/platforms/twitch.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Change tooltip.
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

use notarytool which is substantially (10x) faster then legacy (#5520)
  electron-builder/afterSign.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor(vision): reorganize imports for better structure and fix URL typo
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add icon to mute chat notifs
  app/components-react/editor/elements/RecentEvents.tsx
  app/services/recent-events.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(vision): don't run in --debug, it will freeze
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

lint(fix): lint this file
  app/util/dot-tree.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

lint(fix): lint
  app/services/platform-apps/api/modules/vision.ts
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

lint(fix): lint
  app/services/sources/sources-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor(slots): reorganize imports for better structure
  app/services/scene-collections/nodes/overlays/slots.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(vision): expose the module + add methods for avatar (#5542)
  app/services/platform-apps/api/index.ts
  app/services/platform-apps/api/modules/vision.ts
  app/services/scene-collections/nodes/overlays/slots.ts
  app/services/sources/sources-data.ts
  app/services/sources/sources.ts
  app/services/vision/index.ts
  app/util/dot-tree.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Change tooltip.
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Disable twitch tooltip for twitch card.
  app/components-react/windows/go-live/DestinationSwitchers.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor system extension logic + display clearer error messaging
  app/i18n/en-US/settings.json
  app/services/virtual-webcam.ts
  package.json
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

some refactoring, mutex fun, and misc race/deadlock tweaks
  app/components-react/windows/settings/Vision.tsx
  app/services/platform-apps/api/modules/vision.ts
  app/services/sources/properties-managers/smart-browser-source-manager.ts
  app/services/vision/index.ts
  app/services/vision/vision-runner.ts
  app/services/vision/vision-updater.ts
  package.json
  scripts/postinstall.js
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix load YouTube switched stream data, theme colors, and add loading spinner.
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/DualOutputToggle.tsx
  app/components-react/shared/StreamSwitcherToggle.tsx
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/shared/inputs/SwitchInput.m.less
  app/components-react/windows/go-live/DestinationSwitchers.m.less
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/services/platforms/youtube.ts
  app/services/restream.ts
  app/themes.g.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix api and fetch
  app/components-react/editor/elements/RecentEvents.tsx
  app/i18n/en-US/recent-events.json
  app/services/recent-events.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Sync settings and recent events
  app/components-react/widgets/ChatBox.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix tests
  app/services/announcements.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor system extension logic + display clearer error messaging (#5547)
  app/i18n/en-US/settings.json
  app/services/virtual-webcam.ts
  package.json
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations settings.json (French)
  app/i18n/fr-FR/settings.json
Owners: @takuhiro-koyama
