Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

Remove temporary frontend test trigger
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Fix stream shift. (#6110)" (#6126)
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/stream-shift.json
  app/services/diagnostics.ts
  app/services/restream.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Fix frontend test artifact extraction (#6125)
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Stop crash handler process before test extraction
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Temporarily run frontend tests on cleanup branch
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove temporary cleanup branch trigger
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Attempt to fix SLID login
  app/components-react/modals/onboarding/Onboarding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Auto Optimizer: allow isolated hardware benchmarks to validate higher resolution
  app/components-react/shared/auto-optimizer/AutoOptimizerResults.tsx
  app/components-react/shared/auto-optimizer/presentation.ts
  app/components-react/shared/auto-optimizer/types.ts
  app/components-react/windows/go-live/GoLiveAutoOptimizer.tsx
  app/i18n/en-US/streaming.json
  app/services/auto-config/index.ts
  app/services/auto-config/probe-policy.ts
  app/services/auto-config/resolution-policy.ts
  app/services/auto-config/types.ts
  app/services/platforms/utils.ts
  app/services/platforms/youtube/auto-optimizer-probe.ts
  app/services/settings-v2/video.ts
  test/regular/auto-optimizer-presentation.ts
  test/regular/auto-optimizer-probe-policy.ts
  test/regular/auto-optimizer-resolution-policy.ts
  test/regular/auto-optimizer-result-policy.ts
  test/regular/platform-request-diagnostics.ts
  test/regular/youtube-auto-optimizer-probe.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Stop crash handler process before test extraction (#6127)
  .github/workflows/tests.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Start slauth fix
  app/components-react/modals/onboarding/Onboarding.tsx
  app/services/onboarding/onboarding-v2.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix SLID
  app/components-react/modals/onboarding/Onboarding.tsx
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add dismissable to AI Highlighter toggle in Edit Stream window.
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/services/dismissables.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix setting expanded in update mode.
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Stop propogation and add aria label.
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/i18n/en-US/highlighter.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Round both corners of radio input with only one button.
  app/components-react/shared/inputs/RadioInput.m.less
Owners: @yusukess, @kechino

Fix string.
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Auto Optimizer: improve probe and cleanup feedback
  app/components-react/shared/auto-optimizer/presentation.ts
  app/i18n/en-US/streaming.json
  app/services/auto-config/index.ts
  app/services/auto-config/types.ts
  test/regular/auto-optimizer-presentation.ts
  test/regular/auto-optimizer-probe-policy.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

create marker with metadata
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/migration/MigrationNotice.tsx
  app/components-react/highlighter/migration/ModalInstallationFlow.tsx
  app/components-react/highlighter/migration/useInstallState.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/highlighter.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for Edit Stream common titles and reset target states, and Go Live stream shift and live output editing toggle states.
  app/components-react/shared/inputs/RadioInput.m.less
  app/components-react/windows/go-live/CommonPlatformFields.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLiveError.tsx
  app/components-react/windows/go-live/LiveOutputEditingCard.tsx
  app/components-react/windows/go-live/StreamShiftCard.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/live-output-editing.json
  app/services/dismissables.ts
  app/services/restream.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix kick games in Edit Stream window.
  app/components-react/windows/go-live/GameSelector.tsx
  app/services/platforms/kick.ts
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Change to do not remind.
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/i18n/en-US/highlighter.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

New translations onboarding.json (French)
  app/i18n/fr-FR/onboarding.json
Owners: @takuhiro-koyama

Edit stream window AI Highlighter dismissable.
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/i18n/en-US/highlighter.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

New translations widget-tip-jar.json (French)
  app/i18n/fr-FR/widget-tip-jar.json
Owners: @takuhiro-koyama

New translations widgets.json (French)
  app/i18n/fr-FR/widgets.json
Owners: @takuhiro-koyama

New translations ai.json (French)
  app/i18n/fr-FR/ai.json
Owners: @takuhiro-koyama

New translations onboarding.json (Spanish)
  app/i18n/es-ES/onboarding.json
Owners: @takuhiro-koyama

New translations widget-tip-jar.json (Spanish)
  app/i18n/es-ES/widget-tip-jar.json
Owners: @takuhiro-koyama

New translations widgets.json (Spanish)
  app/i18n/es-ES/widgets.json
Owners: @takuhiro-koyama

New translations ai.json (Spanish)
  app/i18n/es-ES/ai.json
Owners: @takuhiro-koyama

New translations onboarding.json (Arabic)
  app/i18n/ar-SA/onboarding.json
Owners: @takuhiro-koyama

New translations widget-tip-jar.json (Arabic)
  app/i18n/ar-SA/widget-tip-jar.json
Owners: @takuhiro-koyama

New translations widgets.json (Arabic)
  app/i18n/ar-SA/widgets.json
Owners: @takuhiro-koyama

New translations ai.json (Arabic)
  app/i18n/ar-SA/ai.json
Owners: @takuhiro-koyama

New translations onboarding.json (Czech)
  app/i18n/cs-CZ/onboarding.json
Owners: @takuhiro-koyama

New translations widget-tip-jar.json (Czech)
  app/i18n/cs-CZ/widget-tip-jar.json
Owners: @takuhiro-koyama

New translations widgets.json (Czech)
  app/i18n/cs-CZ/widgets.json
Owners: @takuhiro-koyama

New translations ai.json (Czech)
  app/i18n/cs-CZ/ai.json
Owners: @takuhiro-koyama

New translations onboarding.json (Danish)
  app/i18n/da-DK/onboarding.json
Owners: @takuhiro-koyama

New translations widget-tip-jar.json (Danish)
  app/i18n/da-DK/widget-tip-jar.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
