Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations onboarding.json (Swedish)
  app/i18n/sv-SE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Turkish)
  app/i18n/tr-TR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Simplified)
  app/i18n/zh-CN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Traditional)
  app/i18n/zh-TW/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Vietnamese)
  app/i18n/vi-VN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese, Brazilian)
  app/i18n/pt-BR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Indonesian)
  app/i18n/id-ID/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Thai)
  app/i18n/th-TH/onboarding.json
Owners: @takuhiro-koyama

Release version 1.20.5
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix onboarding bugs
  app/components-react/modals/onboarding/Devices.tsx
  app/components-react/shared/HelpTip.m.less
  app/components-react/windows/Main.m.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

WIP: Factory API migration, everything except streaming service.
  app/components-react/pages/RecordingHistory.tsx
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/DisplayToggle.m.less
  app/components-react/shared/ToolTip.m.less
  app/components-react/shared/Tooltip.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/RecordingSwitcher.m.less
  app/components-react/windows/go-live/RecordingSwitcher.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/i18n/en-US/streaming.json
  app/services/api/external-api/streaming/streaming.ts
  app/services/dual-output/dual-output.ts
  app/services/incremental-rollout.ts
  app/services/recording-mode.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming-view.ts
  app/services/usage-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

WIP: Factory API migration, highlighter.
  app/components-react/highlighter/ClipPreview.m.less
  app/components-react/highlighter/ClipPreview.tsx
  app/components-react/highlighter/ClipTrimmer.tsx
  app/components-react/highlighter/Export/ExportModal.tsx
  app/components-react/highlighter/MiniClipPreview.tsx
  app/components-react/highlighter/RemoveModal.tsx
  app/components-react/highlighter/SettingsView.tsx
  app/components-react/modals.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/services/highlighter/constants.ts
  app/services/highlighter/index.ts
  app/services/highlighter/models/highlighter.models.ts
  app/services/highlighter/models/rendering.models.ts
  app/services/highlighter/rendering/frame-source.ts
  app/services/highlighter/rendering/rendering-clip.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix onboarding bugs (#5717)
  app/components-react/modals/onboarding/Devices.tsx
  app/components-react/shared/HelpTip.m.less
  app/components-react/windows/Main.m.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Disable new onboarding on macos
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.6
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(settings): remove keymap sections that are empty due to search string
  app/components-react/windows/settings/Hotkeys.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

update osn
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP Factory API Migration: Migrate recording and replay buffer with test build.
  app/services/api/external-api/streaming/streaming.ts
  app/services/streaming/streaming.ts
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix auth modal container
  app/components-react/shared/AuthModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: delete works
  app/components-react/root/StudioFooter.tsx
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/services/restream.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Update
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix auth modal container (#5719)
  app/components-react/shared/AuthModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix device dispaly not resizing correctly
  app/components-react/modals/onboarding/Devices.tsx
  app/components-react/pages/onboarding/HardwareSetup.tsx
  app/components-react/shared/Display.tsx
  app/components-react/windows/Main.tsx
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: update osn fix for multicam support
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix chat collapse
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix chat collapse (#5723)
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add WIP UI for add/remove targets and memoize footers.
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveWindow.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Update osn: update osn fix for multicam support (#5722)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.7-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update osn:
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor modal options
  app/components-react/shared/Display.tsx
  app/components-react/windows/Main.tsx
  app/services/onboarding/onboarding-v2.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

revert RunInLoadingMode
  app/services/app/app.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Address CR
  app/services/onboarding/onboarding-v2.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix chat resize
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix(settings): remove keymap sections that are empty due to search string (#5720)
  app/components-react/windows/settings/Hotkeys.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update osn: (#5724)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.7-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Removes restream target while live.
  app/components-react/root/StudioFooter.tsx
  app/components-react/windows/go-live/EditStreamWindow.tsx
  app/components-react/windows/go-live/useGoLiveSettings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix device display not resizing correctly (#5721)
  app/components-react/modals/onboarding/Devices.tsx
  app/components-react/pages/onboarding/HardwareSetup.tsx
  app/components-react/shared/Display.tsx
  app/components-react/windows/Main.tsx
  app/services/app/app.ts
  app/services/onboarding/onboarding-v2.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

OSN 0.26.1test7
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
