Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @yushinakatani
replace_rules.json @yushinakatani
/.github/CODEOWNERS @yushinakatani

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

コメント設定のテキストを更新: 番組作成時の既存コメント削除の説明を明確化
  app/components/CommentSettings.vue
Owners: @yusukess, @kechino

webpack electronターゲットを25から29に更新
  webpack.config.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

GitHub Copilotのコミットメッセージおよびプルリクエスト説明生成の指示を日本語に更新
  .vscode/settings.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Feat/stream avatar debugging (#5380)
  app/app-services.ts
  app/services/app/app.ts
  app/services/platform-apps/api/modules/native-components.ts
  app/services/stream-avatar/avatar-updater.ts
  app/services/stream-avatar/stream-avatar-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

osn version with a fix for transitions in a studio mode
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: always show timeline option for Facebook
  app/components-react/windows/go-live/platforms/FacebookEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Revert "Revert "YouTube dual streaming"" (#5360)
  app/components-react/shared/DisplaySelector.tsx
  app/components-react/windows/go-live/DestinationSwitchers.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/i18n/en-US/streaming.json
  app/services/platforms/youtube.ts
  app/services/settings-v2/video.ts
  app/services/settings/output/output-settings.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani

fix: PoC for horizontal fake fix (#5383)
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

コメント設定: oneCommeのエラー状態を管理し、removeCommentを状態に追加
  app/components/CommentSettings.vue.ts
  app/services/streaming/streaming.ts
  app/services/usage-statistics.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: workaround encoder settings like bitrate not respected in extra output
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor: use constant name for YT vert output
  app/services/platforms/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix: workaround encoder settings like bitrate not respected (#5385)
  app/services/platforms/youtube.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add test identifiers
  app/components-react/obs/ObsForm.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Supporting transition events from obs-node
  app/services/app/app.ts
  app/services/transitions.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

merge fix
  app/services/transitions.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

allow port to be passed in for the vision process
  app/services/platform-apps/api/modules/native-components.ts
  app/services/stream-avatar/stream-avatar-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

chore: Category型を定義して設定に使用
  app/components/windows/Settings.vue.ts
  app/services/protocol-links.ts
  app/services/settings/optimizer.test.ts
  app/services/settings/optimizer.ts
  app/services/settings/settings-api.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Category -> SettingsCategory
  app/components/windows/Settings.vue.ts
  app/services/protocol-links.ts
  app/services/settings/optimizer.ts
  app/services/settings/settings-api.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

delete logic
  app/components-react/highlighter/ClipsViewModal.tsx
  app/components-react/highlighter/RemoveModal.m.less
  app/components-react/highlighter/RemoveModal.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani

case if stream is not available
  app/components-react/highlighter/StreamCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix error message not visible
  app/components-react/highlighter/Export/ExportModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

check if default is different from actuall resolution
  app/components-react/highlighter/Export/ExportModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

removed fragment
  app/components-react/highlighter/Export/ExportModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Added 'you are muted' and 'no signal' audio notys
  app/components-react/root/StudioEditor.tsx
  app/i18n/en-US/sources.json
  app/services/audio/audio.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

Code cleanup
  app/components-react/root/StudioEditor.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

cleanup
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

bump version
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix strict nulls issue
  app/services/platforms/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix strict nulls again
  app/services/platforms/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix strict nulls last time pls
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added simple feedback form with analytics collection for highlighter (#5372)
  app/components-react/highlighter/Export/ExportModal.tsx
  app/components-react/highlighter/StreamCard.tsx
  app/components-react/highlighter/StreamView.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/models/ai-highlighter.models.ts
  app/services/highlighter/models/game-config.models.ts
  app/services/highlighter/models/highlighter.models.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yushinakatani

fix: always show timeline option for Facebook (#5382)
  app/components-react/windows/go-live/platforms/FacebookEditStreamInfo.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

delete logic (#5386)
  app/components-react/highlighter/ClipsViewModal.tsx
  app/components-react/highlighter/RemoveModal.m.less
  app/components-react/highlighter/RemoveModal.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @yushinakatani

[Highlighter] - export settings updates (#5387)
  app/components-react/highlighter/Export/ExportModal.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Added checkbox to clean app data on uninstall (#5348)
  electron-builder/base.config.js
  installer.nsh
  scripts/postinstall.js
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

osn version with a fix for transitions in a studio mode (#5381)
  app/services/app/app.ts
  app/services/transitions.ts
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix form fill selectors
  test/helpers/form-monkey.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Output native errors to console from Visual Studio Code (#5366)
  .vscode/launch.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.19.0-preview.2
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix more form selectors
  test/helpers/modules/settings/settings.ts
  test/helpers/webdriver/forms.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
