Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Code cleanup.
  app/services/restream.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for strictnulls.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix missing key error
  app/components-react/windows/scene-transitions/ConnectionsTable.tsx
  app/components-react/windows/scene-transitions/TransitionsTable.tsx
  app/i18n/en-US/transitions.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix toggling enhanced broadcasting from form.
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/services/platforms/twitch.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add game pulse icon
  app/styles/custom-icons.less
  media/fonts/icomoon.woff
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for and expand Selective Recording test.
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
  test/regular/selective-recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Expanding recording and streaming tests.
  app/services/recording-mode.ts
  app/services/streaming/streaming.ts
  test/helpers/modules/recording.ts
  test/regular/api/streaming.ts
  test/regular/recording.ts
  test/regular/selective-recording.ts
  test/regular/settings/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor structuredclones out of gamepulse
  app/components-react/widgets/game-pulse/GamePulse.helpers.ts
  app/components-react/widgets/game-pulse/GamePulse.types.ts
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add game pulse icon (#5753)
  app/styles/custom-icons.less
  media/fonts/icomoon.woff
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

undo icon for gamepulse (temp)
  app/styles/custom-icons.less
Owners: @yusukess, @kechino

Release version 1.20.9-preview.0
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.9-preview.1
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.9-preview.2
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

crash-handler: fix clipped text on small resolution (#5751)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.20.9
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New Crowdin updates (#5742)
  app/i18n/ar-SA/widgets.json
  app/i18n/cs-CZ/widgets.json
  app/i18n/da-DK/widgets.json
  app/i18n/de-DE/widgets.json
  app/i18n/es-ES/widgets.json
  app/i18n/fr-FR/widgets.json
  app/i18n/hu-HU/widgets.json
  app/i18n/id-ID/widgets.json
  app/i18n/it-IT/widgets.json
  app/i18n/ja-JP/widgets.json
  app/i18n/ko-KR/widgets.json
  app/i18n/mk-MK/widgets.json
  app/i18n/nl-NL/widgets.json
  app/i18n/pl-PL/widgets.json
  app/i18n/pt-BR/widgets.json
  app/i18n/pt-PT/widgets.json
  app/i18n/ru-RU/widgets.json
  app/i18n/sk-SK/widgets.json
  app/i18n/sl-SI/widgets.json
  app/i18n/sv-SE/widgets.json
  app/i18n/th-TH/widgets.json
  app/i18n/tr-TR/widgets.json
  app/i18n/vi-VN/widgets.json
  app/i18n/zh-CN/widgets.json
  app/i18n/zh-TW/widgets.json
Owners: @takuhiro-koyama

extract game pulse initdefaults flow
  app/components-react/widgets/GamePulse.tsx
  app/components-react/widgets/game-pulse/GamePulse.helpers.ts
  app/components-react/widgets/game-pulse/GamePulse.types.ts
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
  app/i18n/en-US/widgets.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Update lodash dependency.
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

rename gamepulse preview fn
  app/components-react/widgets/GamePulse.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components-react/widgets/game-pulse/GamePulse.helpers.ts
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
  app/services/widgets/widget-source.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(multistream): add ultra features page (#5741)
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/ButtonHighlighted.m.less
  app/components-react/shared/ButtonHighlighted.tsx
  app/components-react/shared/Callout.m.less
  app/components-react/shared/Callout.tsx
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/windows/settings/Multistreaming.m.less
  app/components-react/windows/settings/Multistreaming.tsx
  app/i18n/en-US/streaming.json
  app/services/magic-link.ts
  app/styles/colors.less
  app/themes.g.less
  media/images/multistreaming.png
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

move gamepulse consts to consts file
  app/components-react/widgets/GamePulse.tsx
  app/components-react/widgets/game-pulse/GamePulse.helpers.ts
  app/components-react/widgets/game-pulse/GamePulse.types.ts
  app/components-react/widgets/game-pulse/useGamePulseWidget.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations streaming.json (French)
  app/i18n/fr-FR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Spanish)
  app/i18n/es-ES/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Arabic)
  app/i18n/ar-SA/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Czech)
  app/i18n/cs-CZ/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Danish)
  app/i18n/da-DK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (German)
  app/i18n/de-DE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Hungarian)
  app/i18n/hu-HU/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Italian)
  app/i18n/it-IT/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Japanese)
  app/i18n/ja-JP/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Korean)
  app/i18n/ko-KR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Macedonian)
  app/i18n/mk-MK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Dutch)
  app/i18n/nl-NL/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Polish)
  app/i18n/pl-PL/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese)
  app/i18n/pt-PT/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Russian)
  app/i18n/ru-RU/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovak)
  app/i18n/sk-SK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovenian)
  app/i18n/sl-SI/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Swedish)
  app/i18n/sv-SE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Turkish)
  app/i18n/tr-TR/streaming.json
Owners: @takuhiro-koyama
