Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

highlighter: fix possible state change after unmount
  app/components-react/hooks.ts
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Populates stream settings after go live test.
  test/regular/settings/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Migrate the twitch account to the protected mode test.
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Set auto for streaming test destination tests to true for Twitch.
  test/regular/streaming/twitch-stream-destination.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix incorrect tagging on go live window recording switcher.
  app/components-react/windows/go-live/RecordingSwitcher.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove unused import.
  test/regular/settings/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix unprotected mode go live (#6264)
  app/components-react/root/StartStreamingButton.tsx
  app/services/streaming/stream-destination.ts
  app/services/streaming/streaming-view.ts
  test/regular/settings/streaming.ts
  test/regular/streaming/twitch-stream-destination.ts
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update scene-collections cloud-backup test to match current functionality.
  test/regular/services/scene-collections/cloud-backup.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix fetch ingest servers in Stream settings.
  app/components-react/windows/settings/Stream.tsx
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show alert for missing stream key in unprotected mode.
  app/components-react/root/StartStreamingButton.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixes for custom server url and empty key error handling. (#6268)
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/windows/settings/Stream.tsx
  app/services/restream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: update tests to match new ultra step experience
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.19cefsand2
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Temporarily skip highlighter tests.
  test/regular/highlighter.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

go live flow changes
  app/components-react/highlighter/clips/ClipsView.tsx
  app/components-react/highlighter/clips/EditingControls.tsx
  app/components-react/pages/Highlighter.tsx
  app/components-react/windows/go-live/AiHighlighterToggle.m.less
  app/components-react/windows/go-live/AiHighlighterToggle.tsx
  app/components-react/windows/go-live/platforms/TwitchEditStreamInfo.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/constants.ts
  app/services/highlighter/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

small fixes
  app/components-react/highlighter/ManualCaptureSection.tsx
  app/components-react/highlighter/ReplaySection.tsx
  app/components-react/highlighter/clips/ClipsView.tsx
  app/i18n/en-US/highlighter.json
  app/services/highlighter/constants.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

fix asset name
  app/services/highlighter/constants.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix show Twitch unprotected chat.
  app/components-react/root/LiveDock.tsx
  app/components-react/windows/Main.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix show Twitch unprotected chat. (#6271)
  app/components-react/root/LiveDock.tsx
  app/components-react/windows/Main.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Shutdown TransitionsService before Scene & Video shutdown
  app/services/app/app.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Manual merge branch 'master' into staging
  app/components-react/obs/ObsForm.tsx
  app/components-react/root/LiveDock.tsx
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/shared/inputs/inputs.ts
  app/components-react/windows/Main.tsx
  app/components-react/windows/go-live/GoLive.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/settings/Stream.tsx
  app/i18n/en-US/dual-output.json
  app/i18n/en-US/streaming.json
  app/services/platforms/twitch.ts
  app/services/restream.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/stream-destination.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  test/performance/tests/performance-tests.ts
  test/regular/highlighter.ts
  test/regular/recording.ts
  test/regular/replay-buffer.ts
  test/regular/selective-recording.ts
  test/regular/settings/streaming.ts
  test/regular/streaming/live-dock.ts
  test/regular/streaming/multistream.ts
  test/regular/streaming/twitch-stream-destination.ts
  test/regular/streaming/twitch.ts
  test/regular/streaming/unprotected-display-assignment.ts
  test/regular/streaming/unprotected-mode.ts
  test/regular/streaming/unprotected-upgrade.ts
  test/regular/streaming/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

New translations streaming.json (French)
  app/i18n/fr-FR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Spanish)
  app/i18n/es-ES/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Arabic)
  app/i18n/ar-SA/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Czech)
  app/i18n/cs-CZ/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Danish)
  app/i18n/da-DK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (German)
  app/i18n/de-DE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Hungarian)
  app/i18n/hu-HU/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Italian)
  app/i18n/it-IT/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Japanese)
  app/i18n/ja-JP/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Korean)
  app/i18n/ko-KR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Macedonian)
  app/i18n/mk-MK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Dutch)
  app/i18n/nl-NL/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Polish)
  app/i18n/pl-PL/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese)
  app/i18n/pt-PT/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Russian)
  app/i18n/ru-RU/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovak)
  app/i18n/sk-SK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovenian)
  app/i18n/sl-SI/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Swedish)
  app/i18n/sv-SE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Turkish)
  app/i18n/tr-TR/streaming.json
Owners: @takuhiro-koyama

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
