Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Revert due to unmounted component state update error: "Fix uncontrolled inputs sometimes not updating correctly (#6058)"
  app/components-react/obs/ObsForm.tsx
  app/components-react/shared/inputs/inputs.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Bring the 1.21.9 hotfix back into master (#6097)
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix hotkeys test.
  test/regular/settings/hotkeys.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Skip Twitch enhanced broadcasting and dual stream tests.
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Temporarily skip filters tests fixed in another PR.
  test/regular/filters.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Separate and fix go live window tests.
  test/regular/streaming/go-live-window.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Use custom destination for test End Stream stops both dual output streams while vertical recording is active.
  test/regular/streaming/dual-output-end-stream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Temporarily skip alert box tests.
  test/regular/widgets/alertbox.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(upsell): show a regular modal for upselling
  app/components-react/modals.tsx
  app/components-react/shared/Modals.m.less
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.m.less
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/automations-limits.tsx
  app/components-react/windows/stream-avatar-automations/template-applicator.ts
  app/i18n/en-US/stream-avatar-automations.json
  app/services/magic-link.ts
  app/services/usage-statistics.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

feat(automations): enhance limit checking and upsell tracking in automation features
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/automations-analytics.ts
  app/components-react/windows/stream-avatar-automations/automations-limits.tsx
  app/components-react/windows/stream-avatar-automations/template-applicator.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): implement usage meter and enhance automation limits display
  app/components-react/windows/stream-avatar-automations/EditAutomations.m.less
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/i18n/en-US/stream-avatar-automations.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

feat(automations): update ultra_plus tier automation limit to 30
  app/components-react/windows/stream-avatar-automations/automations-limits.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

refactor(automations): remove outdated comment about server enforcement
  app/components-react/windows/stream-avatar-automations/automations-limits.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add ultra comparison table to new onboarding
  app/components-react/modals/onboarding/Ultra.tsx
  app/components-react/shared/UltraComparison.tsx
  app/i18n/en-US/onboarding.json
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Remove debug initialized view
  app/services/onboarding/onboarding-v2.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Adjust styling
  app/components-react/modals/onboarding/Ultra.tsx
  app/components-react/shared/UltraComparison.m.less
  app/components-react/shared/UltraComparison.tsx
  app/i18n/en-US/onboarding.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

feat(automations): implement auto-retry mechanism with max attempts and clear token on logout
  app/services/stream-avatar/automations-service.ts
  app/services/stream-avatar/stream-avatar-api-service.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): add tier parameter to getDashboardMagicLink and update linkToPrime logic
  app/services/magic-link.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(automations): tier-based enable limit + Ultra/Ultra+ upgrade modal (#6099)
  app/components-react/modals.tsx
  app/components-react/shared/Modals.m.less
  app/components-react/windows/stream-avatar-automations/AutomationEditor.tsx
  app/components-react/windows/stream-avatar-automations/EditAutomations.m.less
  app/components-react/windows/stream-avatar-automations/EditAutomations.tsx
  app/components-react/windows/stream-avatar-automations/automations-analytics.ts
  app/components-react/windows/stream-avatar-automations/automations-limits.tsx
  app/components-react/windows/stream-avatar-automations/template-applicator.ts
  app/i18n/en-US/stream-avatar-automations.json
  app/services/magic-link.ts
  app/services/stream-avatar/automations-service.ts
  app/services/stream-avatar/stream-avatar-api-service.ts
  app/services/usage-statistics.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

New translations stream-avatar-automations.json (French)
  app/i18n/fr-FR/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Spanish)
  app/i18n/es-ES/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Arabic)
  app/i18n/ar-SA/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Czech)
  app/i18n/cs-CZ/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Danish)
  app/i18n/da-DK/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (German)
  app/i18n/de-DE/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Hungarian)
  app/i18n/hu-HU/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Italian)
  app/i18n/it-IT/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Japanese)
  app/i18n/ja-JP/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Korean)
  app/i18n/ko-KR/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Macedonian)
  app/i18n/mk-MK/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Dutch)
  app/i18n/nl-NL/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Polish)
  app/i18n/pl-PL/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Portuguese)
  app/i18n/pt-PT/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Russian)
  app/i18n/ru-RU/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Slovak)
  app/i18n/sk-SK/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Slovenian)
  app/i18n/sl-SI/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Swedish)
  app/i18n/sv-SE/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Turkish)
  app/i18n/tr-TR/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Chinese Simplified)
  app/i18n/zh-CN/stream-avatar-automations.json
Owners: @takuhiro-koyama

New translations stream-avatar-automations.json (Chinese Traditional)
  app/i18n/zh-TW/stream-avatar-automations.json
Owners: @takuhiro-koyama
