Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

Minor tests update
  test/regular/streaming/streaming-output-lifecycle.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Release version 1.22.0-preview.10
  package.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Adapt reconnect regression coverage to master live output editing
  test/regular/streaming/reconnect-lifecycle.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Preserve companion outputs during reconnect while streaming (#6182)
  app/services/streaming/streaming-output-lifecycle.ts
  app/services/streaming/streaming.ts
  test/regular/streaming/reconnect-lifecycle.ts
  test/regular/streaming/streaming-output-lifecycle.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

ai: disable features when not logged in
  app/components-react/pages/AILanding.tsx
  app/components-react/windows/settings/AISettings.tsx
  app/i18n/en-US/ai.json
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

onboarding: update tests
  app/services/onboarding/onboarding-v2.ts
  app/services/utils.ts
  test/helpers/modules/onboarding.ts
  test/helpers/webdriver/index.ts
  test/regular/obs-importer.ts
  test/regular/onboarding.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

ai: update vision status when user logs in/out
  app/services/vision/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.14amdt1
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Filter stream encoder options by all enabled platforms
  app/services/settings/output/encoder-query.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for undefined go live window conditional.
  app/components-react/root/StartStreamingButton.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add TODOs.
  app/components-react/windows/settings/Stream.tsx
  app/services/settings/settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Multichat fixes.
  test/helpers/modules/streaming.ts
  test/regular/streaming/twitch.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Add unprotected mode testing.
  test/regular/settings/streaming.ts
  test/regular/streaming/multistream.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove log and fix typo.
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix check for stream type in unprotected mode validation.
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add Kevin AI support chat to the studio footer (#6159)
  app/app-services.ts
  app/components-react/agent/KevinApprovalBubble.m.less
  app/components-react/agent/KevinApprovalBubble.tsx
  app/components-react/agent/KevinSupport.m.less
  app/components-react/agent/KevinSupport.tsx
  app/components-react/agent/kevin-analytics.ts
  app/components-react/agent/support-limits.tsx
  app/components-react/index.ts
  app/components-react/root/StudioFooter.m.less
  app/components-react/root/StudioFooter.tsx
  app/components-react/shared/BrowserView.tsx
  app/components-react/shared/PlatformAppPageView.tsx
  app/components-react/shared/browser-view-rects.ts
  app/components-react/shared/icons/KevinChatIcon.tsx
  app/components-react/shared/icons/SendIcon.tsx
  app/components-react/shared/icons/index.ts
  app/components/shared/ReactComponentList.tsx
  app/i18n/en-US/ai.json
  app/i18n/en-US/stream-avatar-agent.json
  app/i18n/fallback.ts
  app/services/stream-avatar/automations-service.ts
  app/services/stream-avatar/kevin-support-service.ts
  app/services/stream-avatar/stream-avatar-api-service.ts
  app/services/stream-avatar/v2/agent-tools.ts
  app/services/stream-avatar/v2/protocol.ts
  app/services/usage-statistics.ts
  app/services/windows.ts
  app/themes.g.less
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

widgets: port streamboss to react
  app/app-services.ts
  app/components-react/widgets/StreamBoss.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/StreamBoss.vue
  app/components/widgets/StreamBoss.vue.ts
  app/i18n/en-US/widget-stream-boss.json
  app/services/sources/sources.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

widgets: address streamboss pr feedback
  app/components-react/widgets/StreamBoss.tsx
  app/i18n/en-US/widget-stream-boss.json
  app/services/sources/sources.ts
  app/services/widgets/settings/base-goal.ts
  app/services/widgets/settings/stream-boss.ts
  app/services/widgets/widgets-config.ts
  app/services/widgets/widgets-data.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

widgets: remove EAvailableFeatures.reactWidgets
  app/components/windows/WidgetEditor.vue
  app/components/windows/WidgetEditor.vue.ts
  app/services/incremental-rollout.ts
  app/services/sources/sources.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

widgets: port streamboss to react (#5965)
  app/app-services.ts
  app/components-react/widgets/StreamBoss.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/StreamBoss.vue
  app/components/widgets/StreamBoss.vue.ts
  app/components/windows/WidgetEditor.vue
  app/components/windows/WidgetEditor.vue.ts
  app/i18n/en-US/widget-stream-boss.json
  app/services/incremental-rollout.ts
  app/services/sources/sources.ts
  app/services/widgets/settings/base-goal.ts
  app/services/widgets/settings/stream-boss.ts
  app/services/widgets/widgets-config.ts
  app/services/widgets/widgets-data.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

widgets: port spin wheel
  app/app-services.ts
  app/components-react/editor/elements/RecentEvents.tsx
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/widgets/SpinWheel.m.less
  app/components-react/widgets/SpinWheel.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/SpinWheel.vue
  app/components/widgets/SpinWheel.vue.ts
  app/i18n/en-US/widget-spin-wheel.json
  app/services/recent-events.ts
  app/services/sources/sources.ts
  app/services/widgets/settings/spin-wheel.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

widgets: address wheel pr feedback
  app/components-react/widgets/SpinWheel.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

widgets: port spin wheel (#5969)
  app/app-services.ts
  app/components-react/editor/elements/RecentEvents.tsx
  app/components-react/shared/inputs/FormFactory.tsx
  app/components-react/widgets/SpinWheel.m.less
  app/components-react/widgets/SpinWheel.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/SpinWheel.vue
  app/components/widgets/SpinWheel.vue.ts
  app/i18n/en-US/widget-spin-wheel.json
  app/services/recent-events.ts
  app/services/sources/sources.ts
  app/services/widgets/settings/spin-wheel.ts
  app/services/widgets/widgets-config.ts
  app/services/windows.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Fix to use vertical custom destination with YouTube dual stream.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix tooltip placement.
  app/components-react/windows/settings/Stream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update multistream chat name to Multichat
  app/components-react/root/LiveDock.m.less
  app/components-react/root/LiveDock.tsx
  app/i18n/en-US/common.json
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Fix dual output toggle tooltip placement.
  app/components-react/root/StudioEditor.tsx
  app/components-react/shared/DualOutputToggle.m.less
  app/components-react/shared/DualOutputToggle.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Fix setting YouTube scheduled stream title and description.
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: Test fixes for YouTube stream scheduler, currently blocked.
  test/regular/streaming/youtube.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Filter stream encoder options by all enabled platforms
  app/services/settings/output/encoder-query.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix destination routing and Enhanced Broadcasting in unprotected mode
  app/services/platforms/twitch.ts
  app/services/settings/settings.ts
  app/services/streaming/stream-destination.ts
  app/services/streaming/streaming-view.ts
  app/services/streaming/streaming.ts
  scripts/repositories.json
  test/regular/settings/streaming.ts
  test/regular/streaming/multistream.ts
  test/regular/streaming/stream-destination.ts
  test/regular/streaming/unprotected-mode.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Test file rename
  test/regular/streaming/twitch-stream-destination.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix Live Dock rendering without an enabled platform
  app/components-react/root/LiveDock.tsx
  test/regular/streaming/live-dock.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Ignore saved display assignments for unprotected streaming
  app/services/streaming/streaming-view.ts
  test/regular/streaming/unprotected-display-assignment.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Normalize saved common stream settings before unprotected starts
  app/services/streaming/streaming.ts
  test/regular/streaming/unprotected-upgrade.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix live/idle encoder shortcut and empty-intersection fallback
  app/services/settings/output/encoder-query.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.27.15
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Cache confirmed empty encoder results, keep failed queries uncached
  app/services/settings/output/encoder-query.ts
  app/services/settings/settings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Treat an empty no-target encoder query as a failure
  app/services/settings/output/encoder-query.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Distinguish an unqueryable target from one that supports nothing
  app/services/settings/output/encoder-query.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
