Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

pr: update casting streaming service contexts types
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix to check for replay buffer instance before updating.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix check for replay buffer instance.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add streaming type guard.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Surface streaming instance errors to user.
  app/i18n/en-US/streaming.json
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix streaming instance check.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix typings.
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations streaming.json (French)
  app/i18n/fr-FR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Spanish)
  app/i18n/es-ES/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Arabic)
  app/i18n/ar-SA/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Czech)
  app/i18n/cs-CZ/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Danish)
  app/i18n/da-DK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (German)
  app/i18n/de-DE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Hungarian)
  app/i18n/hu-HU/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Italian)
  app/i18n/it-IT/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Japanese)
  app/i18n/ja-JP/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Korean)
  app/i18n/ko-KR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Macedonian)
  app/i18n/mk-MK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Dutch)
  app/i18n/nl-NL/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Polish)
  app/i18n/pl-PL/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese)
  app/i18n/pt-PT/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Russian)
  app/i18n/ru-RU/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovak)
  app/i18n/sk-SK/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Slovenian)
  app/i18n/sl-SI/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Swedish)
  app/i18n/sv-SE/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Turkish)
  app/i18n/tr-TR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Simplified)
  app/i18n/zh-CN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Chinese Traditional)
  app/i18n/zh-TW/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Vietnamese)
  app/i18n/vi-VN/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Portuguese, Brazilian)
  app/i18n/pt-BR/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Indonesian)
  app/i18n/id-ID/streaming.json
Owners: @takuhiro-koyama

New translations streaming.json (Thai)
  app/i18n/th-TH/streaming.json
Owners: @takuhiro-koyama

Migrate performance statistics to factory api.
  app/services/performance.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixed encoder rescale in factory API
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
  test/regular/api/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Use factory api for performance statistics values.
  app/components-react/shared/PerformanceMetrics.tsx
  app/services/performance.ts
  app/services/settings-v2/video.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix show stream scheduler in studio footer.
  app/components-react/root/StudioFooter.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix recording icons visibility.
  app/components-react/windows/go-live/RecordingSwitcher.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

New translations ai.json (French)
  app/i18n/fr-FR/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Spanish)
  app/i18n/es-ES/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Arabic)
  app/i18n/ar-SA/ai.json
Owners: @takuhiro-koyama
