Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations ai.json (French)
  app/i18n/fr-FR/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Spanish)
  app/i18n/es-ES/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Arabic)
  app/i18n/ar-SA/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Czech)
  app/i18n/cs-CZ/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Danish)
  app/i18n/da-DK/ai.json
Owners: @takuhiro-koyama

New translations ai.json (German)
  app/i18n/de-DE/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Hungarian)
  app/i18n/hu-HU/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Italian)
  app/i18n/it-IT/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Japanese)
  app/i18n/ja-JP/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Korean)
  app/i18n/ko-KR/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Macedonian)
  app/i18n/mk-MK/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Dutch)
  app/i18n/nl-NL/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Polish)
  app/i18n/pl-PL/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Portuguese)
  app/i18n/pt-PT/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Russian)
  app/i18n/ru-RU/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Slovak)
  app/i18n/sk-SK/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Slovenian)
  app/i18n/sl-SI/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Swedish)
  app/i18n/sv-SE/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Turkish)
  app/i18n/tr-TR/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Chinese Simplified)
  app/i18n/zh-CN/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Chinese Traditional)
  app/i18n/zh-TW/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Vietnamese)
  app/i18n/vi-VN/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Portuguese, Brazilian)
  app/i18n/pt-BR/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Indonesian)
  app/i18n/id-ID/ai.json
Owners: @takuhiro-koyama

New translations ai.json (Thai)
  app/i18n/th-TH/ai.json
Owners: @takuhiro-koyama

Update osn: Update obs-studio-node to v0.26.10
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add metadata
  app/components-react/widgets/StreamBoss.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add react component
  app/components-react/widgets/StreamBoss.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add config
  app/components-react/widgets/StreamBoss.tsx
  app/services/widgets/widgets-config.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Hook up goal state
  app/components-react/widgets/GenericGoal.tsx
  app/components-react/widgets/StreamBoss.tsx
  app/services/widgets/settings/stream-boss.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Hook up window
  app/components-react/widgets/StreamBoss.tsx
  app/components-react/widgets/common/WidgetWindow.tsx
  app/components/widgets/StreamBoss.vue
  app/components/widgets/StreamBoss.vue.ts
  app/services/sources/sources.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Enable/disable performance mode with display toggles.
  app/components-react/sidebar/FeaturesNav.tsx
  app/services/customization.ts
  app/services/dual-output/dual-output.ts
  app/services/transitions.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Clear key and server when enabling/disabling protected mode
  app/components-react/windows/settings/Stream.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix prettier error.
  app/services/dual-output/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Pass saved streaming encoder settings to Factory API video encoder
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Merge branch 'master' into staging
  app/components-react/editor/elements/SceneSelector.tsx
  app/components-react/root/StudioEditor.m.less
  app/components-react/root/StudioEditor.tsx
  app/components-react/sidebar/FeaturesNav.tsx
  app/i18n/en-US/dual-output.json
  app/i18n/fallback.ts
  app/services/customization.ts
  app/services/dual-output/dual-output.ts
  app/services/transitions.ts
  test/helpers/modules/dual-output.ts
  test/regular/streaming/dual-output.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

chore(ai): add impression metric
  app/components-react/pages/AILanding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix apply encoder settings to video encoder instance when recording without streaming.
  app/services/settings/output/output-settings.ts
  app/services/streaming/streaming.ts
  test/regular/recording.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.9
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix recording formats
  app/components-react/windows/go-live/useGoLiveSettings.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
