Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

added styling to installation flow
  app/components-react/highlighter/HypeWrapper.m.less
  app/components-react/highlighter/ImportStream.tsx
  app/components-react/highlighter/MigrationNotice.m.less
  app/components-react/highlighter/StreamView.m.less
  app/components-react/highlighter/StreamView.tsx
  app/components-react/highlighter/migration/InstallationFlow.tsx
  app/components-react/highlighter/migration/MigrationNotice.tsx
  app/components-react/highlighter/migration/SectionHeader.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update bundlemon to v4
  .github/workflows/bundlemon.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix missing id.
  .github/workflows/bundlemon.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix missing id.
  .github/workflows/bundlemon.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update token.
  app/components-react/highlighter/Export/StorageUpload.tsx
  app/components-react/pages/onboarding/Connect.m.less
  app/components-react/pages/onboarding/Connect.tsx
  app/components-react/shared/PlatformButton.m.less
  app/components-react/windows/Main.m.less
  app/components-react/windows/Main.tsx
  app/components-react/windows/settings/Stream.tsx
  app/i18n/en-US/onboarding.json
  app/services/user/auth-module.ts
  app/services/user/index.ts
  test/helpers/webdriver/user.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Restore revoke token.
  app/services/user/auth-module.ts
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

WIP: error handling invalid encoder.
  app/i18n/en-US/streaming.json
  app/services/streaming/stream-error.ts
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Specify.
  .github/workflows/bundlemon.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Upgrade bundlemon.
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove ids.
  .github/workflows/bundlemon.yml
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

ai code from replay playground
  app/components-react/highlighter/MigrationNotice.m.less
  app/components-react/highlighter/migration/FeatureCarousel.tsx
  app/components-react/highlighter/migration/InstallationFlow.tsx
  app/components-react/highlighter/migration/MigrationNotice.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

added styling
  app/components-react/highlighter/MigrationNotice.m.less
  app/components-react/highlighter/migration/InstallationFlow.tsx
  app/services/highlighter/constants.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Upgrade bundlemon version.
  .github/workflows/bundlemon.yml
  package.json
  yarn.lock
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

re-structuring + style cleanup
  app/components-react/highlighter/MigrationNotice.m.less
  app/components-react/highlighter/migration/FeatureCarousel.tsx
  app/components-react/highlighter/migration/InstallationFlow.tsx
  app/components-react/highlighter/migration/MigrationNotice.tsx
  app/components-react/highlighter/migration/ModalInstallationFlow.tsx
  app/components-react/highlighter/migration/PageInstallationFlow.tsx
  app/components-react/highlighter/migration/useInstallState.ts
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

feat(ai): add widget when selected
  app/components-react/pages/AILanding.tsx
  app/i18n/en-US/ai.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

pr(ai): fix lint
  app/components-react/pages/AILanding.tsx
  app/i18n/en-US/ai.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

pr(ai): address feedback
  app/components-react/pages/AILanding.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

add virtual web cam to apps shutdown sequence
  app/services/app/app.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

fix source selection for virtual web cam
  app/components-react/windows/settings/VirtualWebcam.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Patreon integration.
  app/app-services.ts
  app/components-react/modals/onboarding/ConnectMore.tsx
  app/components-react/modals/onboarding/Login.tsx
  app/components-react/pages/onboarding/Connect.tsx
  app/components-react/pages/onboarding/ThemeSelector.tsx
  app/components-react/root/LiveDock.tsx
  app/components-react/root/ShareStreamLink.tsx
  app/components-react/shared/ConnectButton.tsx
  app/components-react/shared/PlatformButton.tsx
  app/components-react/shared/PlatformLogo.m.less
  app/components-react/shared/PlatformLogo.tsx
  app/components-react/shared/StreamShiftToggle.tsx
  app/components-react/sidebar/NavTools.tsx
  app/components-react/sidebar/PlatformIndicator.m.less
  app/components-react/windows/go-live/GoLiveSettings.tsx
  app/components-react/windows/go-live/PlatformSettings.tsx
  app/components-react/windows/go-live/PrimaryChatSwitcher.tsx
  app/components-react/windows/go-live/platforms/PatreonEditStreamInfo.tsx
  app/components-react/windows/settings/Stream.tsx
  app/i18n/en-US/common.json
  app/i18n/en-US/patreon.json
  app/i18n/en-US/streaming.json
  app/i18n/fallback.ts
  app/services/platforms/index.ts
  app/services/platforms/patreon.ts
  app/services/restream.ts
  app/services/settings/streaming/stream-settings.ts
  app/services/streaming/streaming-api.ts
  app/services/streaming/streaming.ts
  app/services/user/auth-module.ts
  app/services/user/index.ts
  app/services/widgets/settings/stream-boss.ts
  app/themes.g.less
  media/images/platforms/patreon-logo-black.png
  media/images/platforms/patreon-logo-white.png
  test/data/dummy-accounts.ts
  test/regular/streaming/patreon.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino, @takuhiro-koyama

Fix spacing and prevent blank UI screens.
  app/components-react/pages/onboarding/Connect.tsx
  app/components-react/pages/onboarding/Onboarding.tsx
  app/components-react/windows/Main.m.less
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

Add select group for QA.
  app/services/user/index.ts
  app/services/utils.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add patreon to connect page.
  app/components-react/pages/onboarding/PrimaryPlatformSelect.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Update osn: Update obs-studio-node to v0.26.17
  scripts/repositories.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Added featureItemComponent
  app/components-react/highlighter/migration/FeatureCarousel.tsx
  app/components-react/highlighter/migration/FeatureItemCard.m.less
  app/components-react/highlighter/migration/FeatureItemCard.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @yusukess, @kechino

corrected constants
  app/services/highlighter/constants.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fixed browser sources settings URL
  app/services/platform-apps/api/modules/sources.ts
  app/services/platform-apps/index.ts
  app/services/platform-apps/source-url.ts
  app/services/sources/properties-managers/platform-app-manager.ts
  test/regular/platform-apps-source-url.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add realm properties hooks to mirror useVuex hook.
  app/components-react/hooks/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor to useRealmProperty and useRealmProperties hooks to prevent re-renders.
  app/components-react/editor/elements/Mixer.tsx
  app/components-react/editor/elements/mixer/MixerItem.tsx
  app/components-react/modals/onboarding/Onboarding.tsx
  app/components-react/pages/AILanding.tsx
  app/components-react/pages/ThemeAudit.tsx
  app/components-react/pages/layout-editor/SideBar.tsx
  app/components-react/root/Banner.tsx
  app/components-react/root/StartStreamingButton.tsx
  app/components-react/root/StudioEditor.tsx
  app/components-react/shared/AddDestinationButton.tsx
  app/components-react/shared/Display.tsx
  app/components-react/shared/ModalLayout.tsx
  app/components-react/shared/PlatformLogo.tsx
  app/components-react/shared/TitleBar.tsx
  app/components-react/shared/UltraIcon.tsx
  app/components-react/sidebar/SideNav.tsx
  app/components-react/windows/AdvancedStatistics.tsx
  app/components-react/windows/MarketingModal.tsx
  app/components-react/windows/Settings.tsx
  app/components-react/windows/WelcomeToPrime.tsx
  app/components-react/windows/notifications/News.tsx
  app/components-react/windows/settings/General.tsx
  app/components-react/windows/settings/Mobile.tsx
  app/components-react/windows/settings/ObsSettings.tsx
  app/components-react/windows/settings/SceneCollections.tsx
  app/components-react/windows/source-showcase/SourceGrid.tsx
  app/components-react/windows/source-showcase/index.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Reduce live dock rerenders and refactor to useRealmProperties.
  app/components-react/root/LiveDock.tsx
  app/components-react/root/ShareStreamLink.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor side nav to reduce re-renders and refactor to useRealmProperties.
  app/components-react/sidebar/FeaturesNav.tsx
  app/components-react/sidebar/NavTools.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Refactor main component to reduce re-renders and refactor to useRealmProperties.
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Add debounce and check resize cleanup to prevent stale values.
  app/components-react/root/Chat.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Remove log.
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix for prettier.
  app/components-react/hooks/realm.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix chat resize bug.
  app/components-react/windows/Main.tsx
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Correctly surface errors to alerts.
  app/i18n/en-US/streaming.json
  app/services/streaming/streaming.ts
Owners: @takuhiro-koyama, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Fix missing stream scheduler.
  app/components-react/root/StudioFooter.tsx
  app/services/streaming/streaming-view.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday

Show correct stream shift confirmation text.
  app/components-react/root/StartStreamingButton.tsx
  app/i18n/en-US/stream-shift.json
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama

Remove dismissable badge z-index.
  app/components-react/shared/DismissableBadge.m.less
Owners: @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino
