Repository streamlabs/desktop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday, @takuhiro-koyama, @yusukess, @kechino

.github/CODEOWNERS:

# code reviewers
* @koizuka @taroc-dw @matsuyuki-a @asaday

# planners
/app/i18n/ @takuhiro-koyama
replace_rules.json @takuhiro-koyama
/.github/CODEOWNERS @takuhiro-koyama

# designers
*.vue @yusukess @kechino
*.html @yusukess @kechino
*.less @yusukess @kechino
*.css @yusukess @kechino
/app/styles/ @yusukess @kechino
/media/images/ @yusukess @kechino

New translations onboarding.json (German)
  app/i18n/de-DE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Hungarian)
  app/i18n/hu-HU/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Italian)
  app/i18n/it-IT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Japanese)
  app/i18n/ja-JP/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Korean)
  app/i18n/ko-KR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Macedonian)
  app/i18n/mk-MK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Dutch)
  app/i18n/nl-NL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Polish)
  app/i18n/pl-PL/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese)
  app/i18n/pt-PT/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Russian)
  app/i18n/ru-RU/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Slovak)
  app/i18n/sk-SK/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Slovenian)
  app/i18n/sl-SI/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Swedish)
  app/i18n/sv-SE/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Turkish)
  app/i18n/tr-TR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Simplified)
  app/i18n/zh-CN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Chinese Traditional)
  app/i18n/zh-TW/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Vietnamese)
  app/i18n/vi-VN/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Portuguese, Brazilian)
  app/i18n/pt-BR/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Indonesian)
  app/i18n/id-ID/onboarding.json
Owners: @takuhiro-koyama

New translations onboarding.json (Thai)
  app/i18n/th-TH/onboarding.json
Owners: @takuhiro-koyama

onboarding: update login dismissible behavior
  app/components-react/nav-menu/ToolsNav.m.less
  app/components-react/nav-menu/ToolsNav.tsx
  app/components-react/shared/HelpTip.m.less
  app/components-react/shared/HelpTip.tsx
Owners: @yusukess, @kechino, @koizuka, @taroc-dw, @matsuyuki-a, @asaday

onboarding: add additional error handling for platform auth
  app/components-react/modals/onboarding/Onboarding.tsx
  app/services/user/index.ts
Owners: @koizuka, @taroc-dw, @matsuyuki-a, @asaday
